
.pu-list-avatar {

  .pu-avatar {
    &__more-item {
      background-color: $primary;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }

  &--inline {
    display: inline-flex;

    > li {
      align-self: center;
      display: inline-flex;

      &:not(:first-child) {
        margin-left: -10px;
      }

      .pu-avatar {
        border: 2px solid white;
      }
    }
  }

  &--reverse {
    direction: rtl;

    > li {
      direction: ltr;
    }
  }
}
