<template>
  <ul :class="rootClasses">
    <li v-if="hasMore && reverse">
      <pu-avatar
        class="pu-avatar__more-item"
        :text="moreItem.text"
        :size="avatarSize * 0.85"
      />
    </li>

    <li v-for="(user, index) in computedUsers" :key="index">
      <pu-avatar
        :text="user.name"
        :src="user.images.avatar_small"
        :size="avatarSize"
      />
    </li>
    <li v-if="hasMore && !reverse">
      <pu-avatar
        class="pu-avatar__more-item"
        :text="moreItem.text"
        :size="avatarSize * 0.85"
      />
    </li>
  </ul>
</template>

<script>
import PuAvatar from '@/components/base/avatar/avatar.vue'

export default {
  name: 'pu-list-avatar',

  components: {
    PuAvatar,
  },

  props: {
    avatarSize: {
      type: Number,
      default: 60,
    },
    direction: {
      type: String,
      default: 'horizontal',
      validator: (v) => ['horizontal', 'vertical'].includes(v),
    },
    users: {
      type: Array,
      required: true,
      default: () => [],
    },
    limit: {
      type: [Number, String],
      default: 0,
      validator: (v) => !Number.isNaN(parseInt(v, 10)),
    },
    reverse: {
      type: Boolean,
      default: false,
    },
    total: {
      type: Number,
      default: 0,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-list-avatar': true,
        'pu-list-avatar--inline': this.direction === 'horizontal',
        'pu-list-avatar--reverse': this.reverse,
      }
    },
    computedUsers() {
      const limit = parseInt(this.limit, 10)
      const users = limit > 0 ? this.users.slice(0, limit) : this.users

      return this.reverse ? users.reverse() : users
    },
    hasMore() {
      return this.total > 0
        ? this.total > this.users.length
        : this.users.length > parseInt(this.limit, 10)
    },
    moreCount() {
      return this.total > 0
        ? this.total - this.users.length
        : this.users.length - this.limit
    },
    moreItem() {
      return {
        text: `+ ${this.moreCount}`,
      }
    },
  },
}
</script>

<style lang="scss">
@import 'list-avatar.scss';
</style>
