<template>
  <pu-form class="pu-modal-partup-attachment" @submit="onSubmit">
    <h3>{{ $t('heading') }}</h3>

    <pu-alert
      v-if="error"
      v-model="error"
      type="error"
      dismissable
      @close="error = null"
    >
      {{ $t(error.key) }}
    </pu-alert>

    <pu-label for="field-name">{{ $t('lbl-name') }}</pu-label>
    <pu-form-control v-model="fields.name" :error="errorField('name')">
      <pu-textfield id="field-name" :placeholder="$t('ph-name')" />
    </pu-form-control>

    <pu-label for="field-url">{{ $t('lbl-url') }}</pu-label>
    <pu-form-control v-model="fields.url" :error="errorField('url')">
      <pu-textfield id="field-url" :placeholder="$t('ph-url')" />
    </pu-form-control>

    <div class="pu-form-tip">
      <p>{{ $t('description') }}</p>
    </div>

    <pu-button type="submit" color="secondary">
      <span>
        {{ $t('btn-submit') }}
      </span>
      <pu-icon name="arrow_right" :size="24" />
    </pu-button>
  </pu-form>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import PuModal from '@/components/base/modal/modal'
import PuAlert from '@/components/base/alert/alert.vue'
import PuForm from '@/components/base/form/form.vue'
import PuFormControl from '@/components/base/input/form-control.vue'
import PuLabel from '@/components/base/label/label.vue'
import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import postAttachment, {
  PostAttachmentData,
  PostAttachmentOptions,
} from '@/data/partup/post-attachment'

import isValid from '@/util/url/is-valid'
import { Attachment } from '@/types/model'
import { Uuid } from '@/types'
import ApiError from '../../../../util/error/api-error'

export default Vue.extend({
  name: 'pu-modal-chat-attach-link',

  components: {
    PuAlert,
    PuForm,
    PuFormControl,
    PuLabel,
    PuTextfield,
  },

  extends: PuModal,

  props: {
    /**
     * link the attachment with activities
     */
    activityIds: {
      type: Array as PropType<Uuid[]>,
      default: () => [],
    },
    /**
     * required when local is false
     */
    partupId: {
      type: String as PropType<Uuid>,
      default: null,
    },
    /**
     * don't post formdata to API but emit directly
     * @property {Boolean} local
     */
    local: {
      type: Boolean,
      default: false,
    },
  },

  data(vm) {
    const fields = vm.initFields()

    return {
      error: null,
      fields,
    }
  },

  computed: {
    errorField() {
      return (field) => {
        return !!this.error?.fields[field]
      }
    },
  },

  created() {
    this.validateProps()
  },

  methods: {
    onSubmit(this: any) {
      const data = this.fields

      if (this.local) {
        if (!isValid(data.url)) {
          this.error = { key: 'error.url-invalid', fields: { url: true } }
        } else {
          this.success(data)
        }
      } else {
        this.post(data)
      }
    },
    async post(this: any, data: PostAttachmentData) {
      const options: PostAttachmentOptions = {
        data,
      }

      if (this.activityIds.length > 0) {
        data.activity = this.activityIds[0]
      }

      try {
        const { data: attachment } = await postAttachment(
          this.partupId,
          options
        )
        this.success(attachment)
      } catch (error) {
        this.error = error
      }
    },
    validateProps(this: any) {
      if (this.local) {
        if (this.activityIds.length > 0) {
          this.$logger.debug(
            'activity ids will be ignored for local attachments'
          )
        }
      } else {
        if (!this.partupId) {
          throw new Error('cannot post an attachment without a partup id')
        }
      }
    },
    initFields(): Pick<Attachment, 'name' | 'url'> {
      const fields = {
        name: null,
        url: null,
      }

      return fields
    },
  },
})
</script>

<i18n src="./modal-partup-attachment.nl.json"></i18n>

<style lang="scss">
@import 'modal-partup-attachment.scss';
</style>
