.pu-modal-partup-attachment {
  $side-margin: 1.334rem;

  padding: 2rem 1rem 5rem;
  position: relative;

  > h3 {
    margin: 0 $side-margin;
  }

  .pu-alert-error {
    margin: 0 -1rem;
  }

  .pu-label {
    margin-top: 1.334rem;
    font-weight: bold;
  }

  > p {
    margin: 1.4rem $side-margin;
  }

  .pu-button {
    position: absolute;
    right: 1.334rem;
    bottom: 1.334rem;
  }

  .pu-form-tip {
    position: relative;
    margin-top: 1.667rem;
    @include goingLarge(medium) {
      width: 20rem;
      margin: 2.667rem 14.334rem -3rem 1.334rem;
    }

    > *:first-child {
      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 20;
        top: -30px;
        left: -10px;
        @include goingLarge(medium) {
//         left: -32px;
//         top: -75px;
        }

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 75'%3E%3Cpath fill='none' d='M0 0h30v75H0z'/%3E%3Cpath fill='%23999' d='M25.843 73.641C10.001 68.434 2.505 56.663 2.524 43.196c.006-13.9 7.879-29.596 22.4-42.076a.498.498 0 11.65.758C11.227 14.204 3.519 29.678 3.525 43.196c.019 13.092 7.142 24.365 22.631 29.495a.501.501 0 01.318.632.497.497 0 01-.631.318z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
//         background-size: 0.334rem 2rem;
        background-position: bottom left;
      }
    }
  }
}

// Should go to its own component, someday, maybe...
// Same exact code present at content-create-work.scss
.pu-form-tip {
  margin: 1rem 1.334rem;
  line-height: 1.5;
  font-style: italic;
  color: $gray-5;

  p {
    max-width: 30rem;
  }
  ul {
    li {
      position: relative;
      padding-left: 1.334rem;
      &:before {
        content: "—";
        position: absolute;
        left: 0;
      }
    }
  }
}

