<template>
  <div :class="rootClasses">
    <input
      ref="input"
      v-bind="inputAttributes"
      @blur="onBlur"
      @change="onInput"
      @focus="onFocus"
    />
    <pu-icon :name="iconName" />
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'
import colorable from '@/mixins/colorable'
import valuable from '@/mixins/valuable'
import { lazyModelFactory } from '@/mixins/lazy-model'

/**
 * Checkbox component
 * @component pu-checkbox
 * @extends PuInputBase @see See [PuInputBase](../_base/input-base.ts)
 */
export default {
  name: 'pu-checkbox',

  extends: PuInputBase,

  mixins: [colorable, valuable, lazyModelFactory('change')],

  /**
   * This component does apply any props not specified as prop directly to it's input
   * @see See computed property inputAttributes
   */
  inheritAttrs: false,

  props: {
    /**
     * Set the checkbox to an indeterminate state
     * @prop indeterminate
     * @type Boolean
     * @default false
     */
    indeterminate: {
      type: Boolean,
      default: false,
    },
  },

  data(vm) {
    return {
      isActive: vm.trueValue ? vm.trueValue === vm.value : Boolean(vm.value),
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-checkbox': true,
        'pu-checkbox--readonly': this.readonly,
        'is-active': this.isActive,
      }
    },
    inputAttributes() {
      return Object.assign(
        {
          'aria-checked': this.indeterminate
            ? 'mixed'
            : this.isActive.toString(),
          checked: this.isActive,
          id: this.id,
          readonly: this.readonly,
          role: 'checkbox',
          type: 'checkbox',
        },
        this.$attrs
      )
    },
    iconName() {
      return this.indeterminate
        ? 'checkbox_indeterminate'
        : this.isActive
        ? 'checkbox_on'
        : 'checkbox_off'
    },
    iconColor() {
      return this.isActive ? this.computedColor : ''
    },
  },

  watch: {
    value: {
      handler(newVal) {
        this.isActive =
          newVal === this.trueValue
            ? true
            : newVal === this.falseValue
            ? false
            : Boolean(newVal)
      },
    },
  },

  methods: {
    /**
     * programatically select this checkbox
     * @public
     * @description this can be used when this component is referenced by `ref="x"`
     */
    select() {
      if (!this.isActive) {
        this.onInput()
      }
    },
    /**
     * programatically de-select this checkbox
     * @public
     * @description this can be used when this component is referenced by `ref="x"`
     */
    deselect() {
      if (this.isActive) {
        this.onInput()
      }
    },
    /**
     * onInput event handler
     * @private
     * @description this handler overrides the virtual base handler
     */
    onInput() {
      /**
       * change event
       * @event change
       * @type {Boolean} new active state
       */
      this.$emit('change', this.getValue(!this.isActive))
    },
    getValue(v) {
      return v
        ? this.hasTrueValue
          ? this.trueValue
          : v
        : this.hasFalseValue
        ? this.falseValue
        : v
    },
    setValue(val) {
      this.lazyValue = val
      this.isActive = this.hasTrueValue
        ? val === this.trueValue
        : this.hasFalseValue
        ? val === this.falseValue
        : !!val
    },
  },
}
</script>

<style lang="scss">
@import 'checkbox.scss';
</style>
