.pu-checkbox {
  position: relative;
  margin-bottom: 0;
  display: inline-flex;

  input {
    @include absoluteFullSize;
    @include unselectable;
    cursor: pointer;
    height: 100%;
    opacity: 0;
  }

  .pu-icon {
    pointer-events: none;
    width: 1.334rem;
    height: 1.334rem;
    border: 2px solid $gray-2;
    border-radius: 8px;
  }

  :focus + .pu-icon {
    border-color: $blue;
    box-shadow: 0 0 10px 0 rgba(0,87,91,0.2);
  }

  input + .pu-icon {
    color: transparent;
  }

  input:checked + .pu-icon {
    color: $blue;
  }

  &.is-disabled {
    input {
      cursor: default;
    }

    .pu-icon {
      color: $gray-6;
    }
  }
}
