<template>
  <time class="pu-date" :datetime="date">
    <slot name="icon">
      <pu-icon v-if="icon" name="time" :size="16" />
    </slot>

    <slot>{{ readableDate }}</slot>
  </time>
</template>

<script>
import DATE_FORMATS from '@/util/date/formats'
import isString from 'lodash/isString'
import parseDate from '@/util/date/parse'

export default {
  name: 'pu-date',

  props: {
    date: {
      required: true,
      validator: (v) => {
        return (
          v === null ||
          v === undefined ||
          typeof v === 'string' ||
          v instanceof Date
        )
      },
    },
    format: {
      type: String,
    },
    icon: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    readableDate() {
      const date = parseDate(this.date)
      if (!date || !date.isValid) {
        return null
      }

      return date.toFormat(DATE_FORMATS[this.format] || DATE_FORMATS['default'])
    },
  },
}
</script>

<style lang="scss">
@import 'date.scss';
</style>
