
.pu-card-partup {
  background-color: $white;
  border-radius: $border-radius;
  position: relative;

  &:hover {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .06);
  }

  > a {
    text-decoration: none;
    color: $black;

    &:visited {
      color: $black;
    }

    &:hover {
      .pu-sticker span {
        display: block;
      }
    }
  }

  .pu-menu-more-options {
    float: right;
    // position: absolute;
    // top: 0;
    // right: 0;
    // color: $white;
  }

  .pu-sticker {
    position: absolute;
    top: -2.4rem;
    left: 1rem;
    display: flex;
    align-items: center;
    z-index: 1;

    strong {
      flex: 0 0 auto;
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 1.5rem;
      background-color: $blue-info;
      color: $white;
      padding-top: 0.8rem;
      font-family: 'Merriweather',serif;
      font-size: 1rem;
      font-style: italic;
      text-align: center;
      text-transform: lowercase;
      transform: rotateZ(-6deg);
    }

    span {
      display: none;
      font-weight: 600;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $blue-info;
      border-bottom: 1.5px solid $blue-info;
    }
  }

  .pu-card {
    &-visual {
      position: relative;
      height: 120px;
      width: 100%;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      p {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-organization {
      span {
        display: inline-block;
        padding: .334rem 1rem;
        background-color: rgba(0,0,0,0.5);
        color: $white !important;
        font-weight: 600;
        text-decoration: none;
      }
    }

    &-title {
      position: relative;
      margin: 0 0 0.334rem;
      padding: 0.667rem 3rem 0 1rem;
      max-width: 100%;

      h2 {
        font-size: 1.334rem;
        font-weight: 600;
/*
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
*/
      }

      .pu-menu-more-options {
        position: absolute;
        top: 0.5rem;
        right: 1rem;

        .content {
          right: -0.667rem;
          left: auto;
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);

          &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            right: 16px;
            top: -16px;
            border: 8px solid transparent;
            border-bottom-color: $white;
          }

          .pu-button {
            font-weight: normal;
            text-align: left;
            width: 100%;
            display: flex; // Also apply on span.pu-button
            align-items: center;

            &:hover {
              background-color: $blue-superlight !important;
            }
          }
        }
      }
    }

    &-result {
      height: 4rem;
      margin: 0.334rem 0;
      padding: 0 1rem;
      line-height: 1.334rem;
      overflow: hidden;
    }

    &-deadline {
      padding: 0.25rem 1rem 0.667rem;
      color: $orange;
      font-weight: 600;
      font-size: 0.8rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  section.content {
    .pu-date {
      display: inline;
    }
  }

  footer {
    border-top: 3px dotted $gray-0;
    padding: 0.334rem 1rem 0.334rem;

    h3 {
      font-size: 1rem;
      line-height: 1.334rem;
      font-weight: 600;
    }

    .pu-team-list-avatar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      ul, a {
        flex: 0 0 auto;
      }

      .pu-list-avatar {
        margin-right: 0.667rem;
      }

      a.pu-button {
        text-decoration: none;
        padding-top: .6rem;
        font-weight: 600;
      }
    }
  }

  &.is-ghost {
    .pu-card {
      &-image,
      &-title,
      &-result {
        background-color: $gray-1;
        display: flex;
      }

      &-image {
        height: 160px;
      }

      &-title {
        height: 1.286rem;
        border-radius: 2px;
        justify-self: flex-start;
        align-self: flex-start;
      }

      &-result {
        height: 80px;
      }
    }
  }
}
