<template>
  <div :class="rootClasses">
    <router-link
      tag="a"
      :to="{
        name: 'partup',
        params: {
          partupSlug: partup.slug,
        },
      }"
    >
      <p v-if="recommendation" class="pu-sticker">
        <strong>Tip!</strong>
        <span>Geselecteerd voor jou</span>
      </p>

      <header>
        <div class="pu-card-visual" :style="partupBannerImage">
          <p class="pu-card-organization">
            <span>{{ partup.organization.name }}</span>
          </p>
        </div>

        <div class="pu-card-title">
          <h2>{{ partup.name }}</h2>

          <template v-if="$scopedSlots['options']">
            <pu-menu ref="menu" class="pu-menu-more-options">
              <template v-slot:activator="{ on }">
                <pu-button flat icon v-on="on">
                  <pu-icon name="more_options" :size="24" />
                </pu-button>
              </template>

              <slot
                name="options"
                :deactivate="() => $refs.menu.deactivate()"
              />
            </pu-menu>
          </template>
        </div>
      </header>

      <section class="content">
        <p class="pu-card-result">{{ partup.result }}</p>
        <p class="pu-card-deadline">
          Loopt tot <pu-date v-if="partup.end_date" :date="partup.end_date" />
        </p>
      </section>

      <footer>
        <h3>Team</h3>
        <div class="pu-team-list-avatar">
          <pu-list-avatar
            :limit="3"
            :avatar-size="46"
            :users="partup.partners_summary.picks"
          />
          <pu-button
            v-if="
              partup.partners_summary.total >
                partup.partners_summary.picks.length
            "
            color="primary"
            small
            :to="{
              name: 'partup-partners',
              params: {
                partupSlug: partup.slug,
              },
            }"
            >Hele team bekijken</pu-button
          >
        </div>
      </footer>
    </router-link>
  </div>
</template>

<script>
import PuListAvatar from '@/components/implementations/list/avatar/list-avatar.vue'
import PuDate from '@/components/base/date/date.vue'

export default {
  name: 'pu-card-partup',

  components: {
    PuListAvatar,
    PuDate,
  },

  props: {
    partup: {
      type: Object,
      required: true,
    },
    recommendation: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-card': true,
        'pu-card-partup': true,
        'is-skeleton': Object.keys(this.partup).length < 1,
      }
    },

    partupBannerImage() {
      return `background-image: url('${this.partup.images.banner}')`
    },
  },
}
</script>

<style lang="scss">
@import 'card-partup.scss';
</style>
