<template>
  <div class="color-palette">
    <h3>{{ scheme }}</h3>
    <ul class="list-colors">
      <li
        v-for="name in colors"
        :key="name"
        ref="items"
        :class="getColorClasses(name)"
      >
        <span class="color-name">
          {{ name }}
        </span>
        <span class="color-value">
          {{ colorValue(name) }}
        </span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
export default {
  name: 'color-palette',

  props: {
    colors: {
      type: Array,
      default: () => [],
    },
    scheme: {
      type: String,
    },
  },

  data() {
    return {
      values: {},
    }
  },

  computed: {
    colorValue() {
      return (name) => {
        return this.values[name]
      }
    },
  },

  mounted() {
    const values = {}

    for (const el of this.$refs.items) {
      const styles = getComputedStyle(el)

      for (const name of this.colors) {
        if (el.classList.contains(name)) {
          values[name] = this.rgb2hex(styles['background-color'])
        }
      }
    }

    this.values = values
  },

  methods: {
    getColorClasses(name) {
      return {
        [name]: true,
      }
    },
    rgb2hex(rgb) {
      rgb = rgb.match(
        /^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i
      )
      return rgb && rgb.length === 4
        ? '#' +
            ('0' + parseInt(rgb[1], 10).toString(16)).slice(-2) +
            ('0' + parseInt(rgb[2], 10).toString(16)).slice(-2) +
            ('0' + parseInt(rgb[3], 10).toString(16)).slice(-2)
        : ''
    },
  },
}
</script>

<style lang="scss">
@include createColorClasses($gray-color-map);
@include createColorClasses($blue-color-map);
@include createColorClasses($orange-color-map);
@include createColorClasses($green-color-map);
@include createColorClasses($red-color-map);

.color-palette {
  $side-spacing: 8px;
  $item-height: 60px;
  $border-radius: 12px;

  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 200px;
  width: 100%;
  margin: 1rem 0;

  h3 {
    background-color: white;
    padding: 0.6rem $side-spacing;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .list-colors {
    > li {
      height: $item-height;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 $side-spacing;

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  .color-value {
    margin-left: auto;
  }
}
</style>
