<template>
  <div :style="styles">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-flex',

  props: {
    align: {
      type: String,
    },
    justify: {
      type: String,
    },
  },

  computed: {
    styles() {
      return {
        display: 'flex',
        'align-items': this.align,
        'justify-content': this.justify,
        height: '100%',
      }
    },
  },
})
</script>

<style lang="scss"></style>
