.pu-modal {
    width: 90%;
    margin: 0 5%;
    background: $white;
    border-radius: 2rem;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.4);

    .pu-modal-shell > & {
      box-shadow: none; // Override box shadow for 'complete your profile' modal overlay...
    }

    > h1 {
      font-size: 1.1rem;
    }

    @include goingLarge(medium) {
      width: 24rem;
      margin: 0;

      > h1 {
        font-size: 1.4rem;
      }
    }

    @include goingLarge(large) {
      width: 30rem;
    }
}



