<template>
  <li
    :class="rootClasses"
    @click="onSelect"
  >
    <slot>
      <!-- <pu-checkbox
        v-if="multiple"
        :disabled="disabled"
        :value="isActive"
      /> -->
      {{text}}
    </slot>
  </li>
</template>

<script>
import {
  get,
} from 'lodash'
import {
  colorable,
  selectable,
} from '@/mixins'

export default {
  name: 'pu-select-list-item',

  mixins: [
    colorable,
    selectable,
    // selectableFactory('select', '_selected', 'value'),
  ],

  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-list-item': true,
        'pu-select-list-item': true,
        'is-disabled': this.disabled,
        'is-active': this.isActive,
      }, this.isActive && this.computedColor)
    },
  },
}
</script>

<style lang="scss">
</style>