@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function map-flatten($map, $delimiter: ' ') {
  $result: '';
  @each $k, $v in $map {
    $result: $result + $delimiter + $v;
  }
  @return unquote($result);
}

$browser-context: 15px;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels/$context * 1em;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function convert-unit($value, $unit) {
  @return strip-unit($value) + map-get(
    (
      'px': 0px,
      'rem': 0rem,
    ),
    $unit
  )
}

@function color-yiq($color, $dark: $text-color-dark, $light: $text-color-light, $tolerance: 150) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @return if($yiq >= $tolerance, $dark, $light);
}
