@mixin absoluteFullSize {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin createColorClasses($map) {
  @each $k, $v in $map {
    .#{unquote($k)} {
      background-color: $v;
      color: color-yiq($color: $v, $tolerance: 200);
    }

    .#{unquote($k)}--text {
      color: $v;
    }
  }
}

@mixin elevation($number, $color: $shadow-color) {
  box-shadow: map-get($shadow-umbra-map, $number) change-color($color, $alpha: $shadow-umbra-opacity),
    map-get($shadow-penumbra-map, $number) change-color($color, $alpha: $shadow-penumbra-opacity),
    map-get($shadow-ambient-map, $number) change-color($color, $alpha: $shadow-ambient-opacity);
}

@mixin goingLarge($width) {
  @if ($width == 'small')  { $width: 22em; }
  @if ($width == 'medium') { $width: 40em; }
  @if ($width == 'large')  { $width: 75em; }
  @if ($width == 'huge')   { $width: 100em; }

  @if (unit($width) == 'px' or unitless($width)) {
    $width: em($width);
  }

  @media (min-width: $width) {
    @content;
  }
}

@mixin goingSmall($width) {
  @if ($width == 'small')  { $width: 21.95em; }
  @if ($width == 'medium') { $width: 39.95em; }
  @if ($width == 'large')  { $width: 74.95em; }
  @if ($width == 'huge')   { $width: 99.95em; }

  @if (unit($width) == 'px' or unitless($width)) {
    $width: em($width);
  }

  @media (max-width: $width) {
    @content;
  }
}

@mixin gridList($col-percent, $row-gap: 24px) {
  $col-width: strip-unit($col-percent);
  $col-amount: floor(100 / $col-width);
  $col-gap: (100 - ($col-amount * $col-width)) / 3;

  display: grid;
  grid-template-rows: repeat(auto-fill);
  grid-row-gap: $row-gap;
  grid-template-columns: repeat(auto-fill, 100%);

  @include goingLarge(medium) {
    grid-template-columns: repeat(auto-fill, 49%);
    grid-column-gap: 2%;
  }

  @include goingLarge(large) {
    grid-template-columns: repeat(auto-fill, percentage($col-width / 100));
    grid-column-gap: percentage($col-gap / 100);
  }
}

@mixin truncate($max-width) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin truncateMultiline($max-height, $max-width: 100%, $line-height: $browser-context, $color: $white) {
  max-height: $max-height;
  max-width: $max-width;
  position: relative;
  overflow: hidden;

  &:after {
    @include psuedo;
    content: '';
    bottom: 0;
    right: 0;
    width: 20px;
    height: $line-height;
    background: linear-gradient(90deg, change-color($color, $alpha: 0) 0%, change-color($color, $alpha: .8) 12%, $color 100%);
  }
}

@mixin pushAuto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin psuedo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin colorable($map) {
  @each $k, $v in $map {
    &.#{$k} {
      @content($color: $v);
    }
  }
}

