.pu-modal-invite {
  height: 95vh;
  min-width: 40vw;
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  border-radius: inherit;

  > h1 {
    margin: 2rem 2rem .6rem;
    padding: 0 2rem 0 0;
  }

  .modal-invite-filter {
    margin: .6rem 1rem;

    .pu-input input {
      border: 0;
    }

    .pu-filter-item + .pu-filter-item {
      flex: 0 0 16rem;
    }

  }

  .modal-invite-content {
    position: relative;
    overflow-y: auto;
    border-radius: inherit;

    h3 {
      margin: 2rem 2rem 0.667rem;
    }


    .user-list {
      padding-top: 40px;
      @include gridList(50%, 50px);
    }

    .partner-list {
      @include gridList(33.3%, 10px);
    }

    .pu-card-user,
    .pu-card-partner {
      margin: 1rem;

      .pu-button-invite {
        &.is-disabled {
          background-color: transparent;
          border: 2px solid currentColor !important;
          color: $success;
        }
      }
    }
  }

  .pu-invite-by-email {
    margin: 0.5rem 0.4rem 1rem;

    button {
      margin: 0 0.4em 0 0.8em;
    }

    strong {
//       color: $orange;
    }
  }

  .pu-invited-by-email {
    padding: 0 2rem;

    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      display: inline-flex;
      align-items: center;
      padding: 0.4rem 1rem 0.4rem 0;

      span {
        margin-left: 0.4rem;
      }
    }
  }

  &-admin {
    .notice {
      padding: 0.667rem 2rem;
      margin-bottom: 1rem;
      background-color: #FDD; //#FFFBAB;
      color: #310; //#302F1D;
      line-height: 1.33;
    }
  }
}
