<template>
  <div :class="rootClasses">
    <h1>Nodig anderen uit voor jouw {{ title }}</h1>

    <div v-if="isAdminInvite" class="notice">
      <p>
        {{ $t('alert.admin-invite') }}
      </p>
    </div>

    <pu-alert
      v-if="error"
      :value="error"
      :message="errorSummary"
      dismissable
      type="error"
      @close="error = null"
    />

    <section class="modal-invite-filter">
      <pu-filter :transform="transform" @change="getRecommendations">
        <pu-filter-item name="q"
          ><pu-search ref="filterSearch" debounce hide-button
        /></pu-filter-item>
        <pu-filter-item
          v-if="isForActivity || isForPartup"
          name="scope"
          value="organization"
        >
          <pu-select :items="selectScopeOptions" item-text="text" />
        </pu-filter-item>
      </pu-filter>
    </section>

    <section class="modal-invite-content">
      <template v-if="!isForActivity">
        <div
          v-if="hasSearchWithoutResults"
          class="pu-invite-by-email user-empty"
        >
          <pu-button
            :loading="isPendingEmail(currentSearch)"
            color="primary"
            small
            @click="inviteByEmail"
          >
            <span>Uitnodiging sturen</span>
          </pu-button>
          <span
            >aan <strong>{{ currentSearch }}</strong></span
          >
        </div>

        <div v-if="showInvitedEmails" class="pu-invited-by-email">
          <h4>Uitgenodigd per e-mail</h4>
          <ul>
            <li v-for="email in invitedEmails" :key="email">
              <pu-icon name="success" :size="24" color="success" />
              <span>{{ email }}</span>
            </li>
          </ul>
        </div>
      </template>

      <template v-if="isForActivity">
        <h3 v-if="recommendedPartners.length">
          Binnen mijn partup:
        </h3>
        <div class="partner-list">
          <pu-card-partner
            v-for="user in recommendedPartners"
            :key="user.uuid"
            :user="user"
          >
            <template slot="actions">
              <pu-button
                v-if="!isUserInvited(user)"
                class="pu-button-invite"
                color="secondary"
                flat
                outline
                :loading="isPendingUser(user)"
                @click="inviteUser(user)"
                ><pu-icon name="person_add" size="24" />
                <span>Uitnodigen</span></pu-button
              >
              <pu-button
                v-else
                class="pu-button-invite"
                color="success"
                disabled
                flat
                outline
                ><pu-icon name="success" size="24" />
                <span>Uitgenodigd</span></pu-button
              >
            </template>
          </pu-card-partner>
        </div>
      </template>

      <h3 v-if="isForActivity && recommendedUsers.length > 0">
        <template v-if="isGlobalSearch">
          Buiten mijn organisatie:
        </template>
        <template v-else>
          Binnen mijn organisatie:
        </template>
      </h3>

      <div class="user-list">
        <pu-card-user
          v-for="user in recommendedUsers"
          :key="user.uuid"
          :user="user"
        >
          <template slot="actions">
            <pu-button
              v-if="!isUserInvited(user)"
              class="pu-button-invite"
              color="secondary"
              flat
              outline
              :loading="isPendingUser(user)"
              @click="inviteUser(user)"
              ><pu-icon name="person_add" size="24" />
              <span>Uitnodigen</span></pu-button
            >
            <pu-button
              v-else
              class="pu-button-invite"
              color="success"
              disabled
              flat
              outline
              ><pu-icon name="success" size="24" />
              <span>Uitgenodigd</span></pu-button
            >
          </template>
        </pu-card-user>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { mapActions, mapState, mapGetters } from 'vuex'
import PuModal from '@/components/base/modal/modal'
import PuAlert from '@/components/base/alert/alert.vue'
import PuCardUser from '@/components/implementations/card/user/card-user.vue'
import PuCardPartner from '@/components/implementations/card/partner/card-partner.vue'
import PuFilter from '@/components/base/filter/filter.vue'
import PuFilterItem from '@/components/base/filter/filter-item.vue'
import PuSearch from '@/components/implementations/input/search/search.vue'
import solicitInvite from '@/data/solicit/invite'
import solicitInviteByEmail from '@/data/solicit/invite-by-email'
import userFindRecommended from '@/data/user/find-recommended'
import { SOLICIT_ENTITIES, Identifiable } from '@/types'
import { composeWithOptions } from '@/util/query'
import lengthBelow from '@/util/query/rules/length-below'
import get from 'lodash/get'
import isNull from 'lodash/isNull'

/* eslint-disable */

export default Vue.extend({
  name: 'pu-modal-invite',

  components: {
    PuAlert,
    PuCardUser,
    PuCardPartner,
    PuFilter,
    PuFilterItem,
    PuSearch,
  },

  /**
   * @extends
   */
  extends: PuModal,

  props: {
    /**
     * The context matching prop `for` until the models are typed.
     * an instance of: Activity, Organization, Partup
     * @prop context
     * @required
     */
    context: {
      type: Object as PropType<Identifiable>,
      required: true,
    },
    /**
     * For which entity will the invite be?
     * @prop entity
     * @required
     */
    entity: {
      type: String as PropType<SOLICIT_ENTITIES>,
      required: true,
    },
    /**
     * Options for invites,
     * these will be included in the invite body.
     * @prop options
     */
    options: {
      type: Object,
      default: () => ({}),
    },
    /**
     * Custom title affix
     * @prop title
     * @default {null}
     */
    title: {
      type: String,
      default: null,
    },
  },

  data(vm) {
    const selectScopeOptions = [
      {
        text: vm.$t('select-option-organization'),
        value: 'organization',
      },
      {
        text: vm.$t('select-option-involvement'),
        value: 'involvement',
      }
    ]

    return {
      invitedEmails: [],
      pendingEmails: [],
      pendingUsers: [],
      query: undefined,
      recommendedUsers: [],
      recommendedPartners: [],
      filterSearch: null,
      error: null,
      selectScopeOptions,
    }
  },

  computed: {
    ...mapGetters(['currentUser']),
    rootClasses() {
      return {
        'pu-modal': true,
        'pu-modal-invite': true,
        'pu-modal-invite-admin': this.isAdminInvite,
      }
    },
    currentSearch() {
      return get(this.query, 'q')
    },
    isGlobalSearch() {
      return !!this.query?.involvement
    },
    errorSummary() {
      if (!this.error) {
        return null
      }

      return this.$t(this.error.field('email') || this.error.key)
    },
    hasOption() {
      return (option) => {
        return !!get(this.options, option)
      }
    },
    hasSearchWithoutResults() {
      return (
        this.currentSearch &&
        Array.isArray(this.recommendedUsers) &&
        this.recommendedUsers.length === 0
      )
    },
    isAdminInvite() {
      return this.isForOrganization && this.hasOption('admin')
    },
    isForActivity() {
      return this.entity === SOLICIT_ENTITIES.activity
    },
    isForOrganization() {
      return this.entity === SOLICIT_ENTITIES.organization
    },
    isForPartup() {
      return this.entity === SOLICIT_ENTITIES.partup
    },
    isEmailInvited() {
      return (email) => {
        return this.invitedEmails.includes(email)
      }
    },
    isUserInvited() {
      return (user) => {
        return user.invited
      }
    },
    isPendingEmail: {
      get() {
        return (email) => {
          return this.pendingEmails.includes(email)
        }
      },
      set(email) {
        const emailIndex = this.pendingEmails.indexOf(email)

        if (emailIndex > -1) {
          this.pendingEmails.splice(emailIndex, 1)
        } else {
          this.pendingEmails.push(email)
        }
      },
    },
    isPendingUser: {
      get() {
        return (user) => {
          return this.pendingUsers.includes(user.uuid)
        }
      },
      set(uuid) {
        const userIndex = this.pendingUsers.indexOf(uuid)

        if (userIndex > -1) {
          this.pendingUsers.splice(userIndex, 1)
        } else {
          this.pendingUsers.push(uuid)
        }
      },
    },
    showInvitedEmails() {
      return this.invitedEmails.length > 0
    },
  },

  methods: {
    async getRecommendations(this: any, query: any = {}) {
      this.query = query

      const params = {
        entity: this.entity,
        entity_uuid: this.context.uuid,
      }

      let partners = [];
      let other = [];

      if (!this.isGlobalSearch && this.isForActivity) {
        const options = {
          query: {
            q: query.q,
            partup: 1,
          },
        }
        try {
          const { data } = await userFindRecommended(params, options)
          partners = data
        } catch (error) {
          this.$logger.error(error)
        }
      }

      try {
        const options = {
          query,
        }

        const { data } = await userFindRecommended(params, options)
        other = data
      } catch (error) {
        this.$logger.error(error)
      }

      partners = partners.filter(({ uuid }) => uuid !== this.currentUser.uuid)
      other = other.filter((user) => {
        return user.uuid !== this.currentUser.uuid &&
          !partners.find(({ uuid }) => uuid === user.uuid)
      })

      this.recommendedPartners = partners
      this.recommendedUsers = other
    },
    async inviteByEmail(this: any) {
      const currentSearch = this.currentSearch

      if (this.isPendingEmail(currentSearch)) {
        return
      }

      if (this.error) {
        this.error = null
      }

      this.isPendingEmail = currentSearch

      try {
        await solicitInviteByEmail(
          {
            entity: this.entity,
            entity_uuid: this.context.uuid,
          },
          {
            data: {
              ...this.options,
              email: currentSearch,
            },
          }
        )

        this.invitedEmails.push(currentSearch)

        this.$refs.filterSearch.setValue(null)
        this.$refs.filterSearch.emitChange()
        this.$refs.filterSearch.focus()
      } catch (error) {
        this.error = error
      } finally {
        this.isPendingEmail = currentSearch
      }
    },
    async inviteUser(this: any, user) {
      if (this.isPendingUser(user)) {
        return
      }

      if (this.error) {
        this.error = null
      }

      this.isPendingUser = user.uuid

      try {
        await solicitInvite(
          {
            entity: this.entity,
            entity_uuid: this.context.uuid,
            user_uuid: user.uuid,
          },
          {
            data: this.options,
          }
        )
        this.$set(user, 'invited', true)
      } catch (error) {
        this.error = error
      } finally {
        this.isPendingUser = user.uuid
      }
    },
    transform: composeWithOptions({
      nullable: true,
      fields: {
        q: {
          exclude: [isNull, lengthBelow(1)],
        },
      },
      transform: (query) => {
        if ('scope' in query) {
          query[query.scope] = 1
          delete query.scope
        }
        return query
      }
    }),
  },
})
</script>

<i18n>
{
  "nl": {
    "select-option-organization": "binnen mijn organisatie",
    "select-option-involvement": "buiten mijn organisatie",
    "alert": {
      "admin-invite": "Let op: mensen die je hier uitnodigt zullen ook admin van de organisatie worden met alle bijbehorende rechten."
    },
    "additive": {
      "invite-email": "uitnodigen per e-mail"
    },
    "error": {
      "solicit": {
        "already_joined": "Deze persoon is al partner in deze partup",
        "already_exists": "Deze persoon is al uitgenodigd of heeft al een verzoek open staan voor deze partup",
        "internal_error": "Er is iets fout gegaan"
      },
      "field": {
        "valid": {
          "invalid_email": "Dit is geen geldig e-mailadres"
        }
      }
    }
  }
}
</i18n>

<style lang="scss">
@import 'modal-invite.scss';
</style>
