.pu-dashboard-content-partups {
  padding-top: 1rem;
  padding-bottom: 0.334rem;

  @include goingLarge(large) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  > h2 {
    padding: 0.334rem 1.334rem;
    font-size: 1.2rem;

    @include goingLarge(large) {
      padding: 0.5rem 2rem;
      font-size: 1.7rem;
    }
  }
  .partup-toggle {
      font-size: 0.9rem;
      @include goingLarge(large) { font-size: 1rem; }

      font-weight: 600;
      border-bottom: 1px solid $blue;
      color: $blue;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: none; // No regulare underline on hover, as we have the bottom border set.
      }
  }


  .gridlist {
    display: grid;
    grid-auto-columns: minmax(320px, 80vw);
    grid-auto-flow: column;
    grid-column-gap: 2vw;
    overflow-x: auto;
    padding: 0.5rem 0 0 0.667rem;
    @include goingLarge(large) {
      padding-left: 0;
    }

    .pu-tile {
  //     height: 207px;

      &.is-ghost {
        align-items: center;
        background-color: rgba(255, 255, 255, .2);
        border-color: $white;
        color: scale-color($color: $accent, $lightness: -16%);
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;

        &:focus,
        &:hover {
          background-color: rgba(255, 255, 255, .3);
        }

        > span {
          margin-top: 0.667rem;
          font-weight: 600;
          text-align: center;
          line-height: 1.5;
        }
        > span + span {
          margin-top: 0;
        }
      }
    }

    @include goingLarge(medium) {
      grid-auto-columns: minmax(280px, 80vw);
    }

    @include goingLarge(large) {
      grid-auto-columns: unset;
      grid-auto-flow: unset;
//       grid-template-columns: repeat(auto-fill, 30%);
      grid-template-columns: repeat(auto-fill, 19.20%);
      grid-column-gap: 1%;
      grid-row-gap: 1rem;
      overflow-x: initial;
      padding: 0.5rem 2rem;
    }
  }
}
