<template>
  <div class="pu-dashboard-content-partups">
    <template v-if="userIsPartnerInPartups">
      <h2>
        {{ $t('heading') }}
        <span
          v-if="totalPartupsCount > collapsedPartupsCount"
          class="partup-toggle"
          @click="isExpanded = !isExpanded"
        >
          <template v-if="!isExpanded">{{
            $t('show-all-partups', { count: totalPartupsCount })
          }}</template>
          <template v-else>{{
            $t('show-important-partups', { count: collapsedPartupsCount })
          }}</template>
        </span>
      </h2>
    </template>

    <div class="gridlist">
      <pu-tile-partup
        v-for="partup in partups"
        :key="partup.uuid"
        :partup="partup"
      />

      <pu-tile
        v-if="$can('organization_partup_create')"
        ghost
        tabindex="0"
        @click="
          $router.push({
            name: 'partup-create',
          })
        "
      >
        <pu-icon name="add" :size="64" />
        <span>{{ $t('button-create-partup') }}</span>
        <span>{{
          $t('button-create-partup-organization', {
            organization: currentOrganization.name,
          })
        }}</span>
      </pu-tile>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import PuTile from '@/components/base/tile/tile.vue'
import PuTilePartup from '@/components/implementations/tile/partup/tile-partup.vue'

export default Vue.extend({
  name: 'pu-dashboard-content-partups',

  components: {
    PuTile,
    PuTilePartup,
  },

  props: {
    partups: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      isExpanded: false,
    }
  },

  watch: {
    isExpanded: {
      handler(newVal) {
        this.$store.commit('views/dashboard/isPartupsCollapsed', {
          value: !newVal,
        })
      },
      immediate: true,
    },
  },

  computed: {
    ...mapGetters(['currentOrganization']),
    ...mapGetters('views/dashboard', [
      'collapsedPartupsCount',
      'totalPartupsCount',
      'userIsPartnerInPartups',
    ]),
  },
})
</script>

<i18n src="./dashboard-content-partups.nl.json"></i18n>

<style lang="scss">
@import 'dashboard-content-partups';
</style>
