<template>
  <div :class="rootClasses">
    <select
      :id="id"
      ref="select"
      :form="form"
      :readonly="readonly"
      :disabled="disabled"
      :value="computedValue"
      @blur="onBlur"
      @focus="onFocus"
      @change="onInput"
    >
      <option
        v-for="(item, index) in items"
        :key="index"
        :value="getValue(item)"
        >&nbsp;&nbsp;{{ getText(item) }}</option
      >
    </select>

    <pu-icon v-show="!disabled" name="select" size="24" />
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'
import get from 'lodash/get'

export default {
  name: 'pu-select',

  extends: PuInputBase,

  props: {
    form: {
      type: String,
    },
    items: {
      type: Array,
      required: true,
    },
    itemText: {
      type: String,
      default: 'text',
    },
    itemValue: {
      type: String,
      default: 'value',
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-select': true,
        'is-disabled': this.disabled,
      }
    },
    computedValue() {
      return this.getValue(
        this.value === undefined ? this.internalValue : this.value
      )
    },
  },

  methods: {
    getText(item) {
      return get(item, this.itemText, item)
    },
    getValue(item) {
      return get(item, this.itemValue, item)
    },
  },
}
</script>

<style lang="scss">
@import 'select.scss';
</style>
