.pu-select {
  position: relative;
  overflow: hidden;
  border-radius: 1.334rem;
  border: 2px solid $gray-1;
  height: 2.667rem;
  padding: 0;
  flex: 1 1 auto;

  .pu-icon {
    position: absolute;
    top: 6px;
    right: 8px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: currentColor;
    font-size: 1rem;
    min-width: 100%;
    text-indent: 1px;
    text-overflow: '';
  }
}
