<template>
  <pu-stepper v-model="step" class="pu-auth-flow-register">
    <div class="pu-stepper__content">
      <pu-stepper-content :step="1">
        <pu-action :action="register" @error="onError" @success="onSuccess">
          <template
            v-slot:default="{
              trigger,
              pending,
            }"
          >
            <pu-form
              id="form-register"
              @submit="
                trigger(email, $refs.password.getValue(), {
                  'custom:terms_of_use': tos,
                })
              "
            >
              <pu-alert-form
                v-if="errorSummary"
                :message="errorSummary"
                type="error"
              />
              <pu-alert-form v-else :message="$t('intro')" type="intro" />

              <fieldset>
                <pu-label for="form-register-email">
                  {{ $t('form.label.email') }}
                </pu-label>
                <pu-form-control v-model="email" :error="errorField('email')">
                  <pu-textfield
                    id="form-register-email"
                    type="email"
                    :placeholder="$t('form.placeholder.email.register')"
                  />
                </pu-form-control>

                <pu-label for="form-register-password">{{
                  $t('form.label.password.register')
                }}</pu-label>
                <pu-form-control :error="errorField('password')">
                  <pu-password
                    id="form-register-password"
                    ref="password"
                    :placeholder="$t('form.placeholder.password.register')"
                  />
                </pu-form-control>
                <p class="password-hint">
                  {{ $t('form.hint.password.register') }}
                </p>

                <pu-form-control v-model="tos" :error="errorField('tos')">
                  <pu-label>
                    <pu-checkbox :value="tos" />
                    <small>
                      {{ $t('tos.prefix') }}
                      <pu-link :to="$globals.TERMS_OF_USE_URL" external>{{
                        $t('tos.terms')
                      }}</pu-link>
                      {{ $t('tos.seperator') }}
                      <pu-link :to="$globals.PRIVACY_STATEMENT_URL" external>{{
                        $t('tos.privacy')
                      }}</pu-link>
                    </small>
                  </pu-label>
                </pu-form-control>
              </fieldset>

              <div class="auth-actions">
                <pu-button
                  color="secondary"
                  :disabled="!tos"
                  :loading="pending"
                  type="submit"
                >
                  <span>{{ $t('form.button.register') }}</span>
                  <pu-icon name="arrow_right" />
                </pu-button>
              </div>

              <footer class="form-footer">
                <pu-button
                  color="primary"
                  flat
                  outline
                  @click="requestFlow(AUTH_ACTIONS.login)"
                >
                  <pu-icon name="arrow_left" />
                  <span>{{ $t('form.button.login') }}</span>
                </pu-button>
                <small>{{ $t('already-account') }}</small>
              </footer>
            </pu-form>
          </template>
        </pu-action>
      </pu-stepper-content>
      <pu-stepper-content :step="2">
        <pu-svg class="auth-envelope" file="auth_envelope.svg" />
        <div class="auth-success">
          <h3>{{ $t('success.header') }}</h3>
          <p>{{ $t('success.description') }}</p>
        </div>
      </pu-stepper-content>
    </div>
  </pu-stepper>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

import register from '@/data/auth/register'

import authFlowBase from '../auth-flow-base'
import PuPassword from '@/components/implementations/input/password/input-password.vue'
import PuStepper from '@/components/base/stepper/stepper.vue'
import PuStepperContent from '@/components/base/stepper/stepper-content.vue'
import { AUTH_ACTIONS } from '@/types'
import CognitoError from '@/util/error/cognito-error'

export default Vue.extend({
  name: 'pu-auth-flow-register',

  components: {
    PuPassword,
    PuStepper,
    PuStepperContent,
  },

  extends: authFlowBase,

  data() {
    return {
      step: 1,
      tos: false,
    }
  },

  computed: {
    ...mapFields({
      email: 'auth.email',
    }),
  },

  methods: {
    register,

    onError(error: CognitoError) {
      this.$emit('error', error)
    },
    onSuccess() {
      this.step = 2
      this.$emit('success')

      this.$nextTick(() => {
        this.clearPassword()
        this.$store.dispatch('auth/setEmailCookie', this.email)
      })
    },
    clearPassword() {
      if (this.$refs.password) {
        this.$refs.password.clearValue()
      }
    },
    resetLocalState() {
      this.step = 1
    },
  },
})
</script>

<i18n src="./auth-flow-register.nl.json"></i18n>

<style lang="scss">
@import 'auth-flow-register';
</style>
