
.pu-input {
  position: relative;
  display: flex;

  input,
  textarea {
    border-width: 2px;
    border-style: solid;
    border-color: $gray-2;
    border-radius: $border-radius;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: normal;
    outline: none;
    padding: 0.667rem 1.3rem;
    min-width: 0;
    color: $black;

    &::placeholder {
      color: $gray-3;
    }
    &:focus::placeholder {
      color: $gray-3;
    }

    &:focus {
      // So this is a temporary measure to prevent the unstyled, rough browser outlines on focus.
      // TODO: design and implement a nicer *and* human-friendly way to allow keyboard users to
      //       know what element has focus while interacting with the platform. The box-shadow
      //       may be sufficient, but we shouldn't count on it as a sole indicator!
      outline: none;
      box-shadow: 0 0 20px 0 rgba(0,87,91,0.2);
    }
  }
}
