<template>
  <div :class="rootClasses">
    <div class="overlay"></div>
    <img
      id="background-image"
      class="branding-background"
      :src="backgroundUrl"
      @load="isBackgroundLoaded = true"
    />
    <pu-modal-auth navigate :step="step" @success="onAuthSuccess" />
    <p class="value-proposition">
      <img class="branding-logo" :src="logoUrl" />
      <strong>
        {{ payoff }}
        <em>{{ $t('welcome', { name }) }}</em>
      </strong>
    </p>
  </div>
</template>

<script lang="ts">
import PuModalAuth from '@/components/implementations/modal/auth/modal-auth.vue'
import organizationBranding from '@/data/organization/branding'
import bootable from '@/mixins/bootable'
import { AUTH_ACTIONS, AuthFormFields } from '@/types'
import { actionToStep } from '@/util/auth'
import get from 'lodash/get'
import camelCase from 'lodash/camelCase'
import Vue from 'vue'
import { mapActions, mapGetters, mapState } from 'vuex'

export default Vue.extend({
  name: 'pu-view-auth',

  components: {
    PuModalAuth,
  },

  data() {
    return {
      loginRedirect: '/dashboard',
      step: null,
      isBackgroundLoaded: false,
    }
  },

  watch: {
    $route: {
      handler({ name, params, query }) {
        const to = name === 'home' ? AUTH_ACTIONS.login : camelCase(name)
        const toStep = actionToStep(to)
        this.step = toStep
      },
      immediate: true,
    },
  },

  created() {
    const { name, params, query } = this.$route
    this.initialize({
      name,
      params,
      query,
    })
  },

  beforeRouteUpdate({ name, params, query }, from, next) {
    if (params.organizationSlug !== from.params.organizationSlug) {
      this.initialize({
        name,
        params,
        query,
      })
    }
    next()
  },

  computed: {
    ...mapGetters(['branding']),
    rootClasses() {
      return {
        'pu-view-auth': true,
        'is-booted': this.isBooted,
        'is-background-loaded': this.isBackgroundLoaded,
      }
    },
    organizationSlug() {
      return this.$route.params.organizationSlug
    },
    backgroundUrl() {
      return get(this.branding, 'images.background', null)
    },
    logoUrl() {
      return get(this.branding, 'images.logo', null)
    },
    payoff() {
      return get(this.branding, 'payoff')
    },
    name() {
      return get(this.branding, 'name')
    },
  },
  methods: {
    ...mapActions(['getBranding']),
    async initialize({ name, params, query }) {
      this.isBackgroundLoaded = false

      if (name === 'login') {
        if (query.redirect) {
          this.loginRedirect = query.redirect
        }
      }
    },
    onAuthSuccess(flow: AUTH_ACTIONS) {
      switch (flow) {
        case AUTH_ACTIONS.login:
          this.$router.push(this.loginRedirect, null, () => {})
          break
        default:
          break
      }
    },
  },
})
</script>

<i18n src="./view-auth.nl.json"></i18n>

<style lang="scss">
@import 'view-auth';
</style>
