.pu-view-auth {
  display: grid;
  position: relative;

  grid-template-rows: 1fr 280px 280px 1fr;
  grid-template-columns: 10vw min-content minmax(min-content, 40vw) 1fr;

  @include goingLarge(medium) {
    height: 100%;
  }

  .branding-background,
  .overlay {
    @include absoluteFullSize;
    transition: 3s linear;
  }

  .branding-background {
    object-fit: cover;
    transition-property: filter;
    z-index: -2;
  }

  .overlay {
    transition-property: opacity;
    background-color: $accent;
    z-index: -1;
  }

  .pu-modal-auth,
  .value-proposition {
    align-self: center;
    grid-row: 2 / 4;
  }

  .pu-modal-auth {
    grid-column: 2;
  }

  .value-proposition {
    grid-column: 3;
    z-index: 1;
    opacity: 0;
    transition: opacity 4s linear;
    color: $blue-superlight;
    font-size: 3rem;
    font-family: "merriweather", serif;
    margin-left: 3rem;
    margin-top: 60px;

    @include goingLarge(large) {
      align-self: flex-end;
      margin-top: 0;
      margin-bottom: 2.667rem;
      line-height: 1;
    }

    .branding-logo {
      height: 6rem;
    }

    strong,
    em {
      display: block;
    }

    strong {
      font-weight: 700;
    }

    em {
      color: $white;
      margin-top: 1rem;
      font-style: normal;
    }
  }

  &.is-background-loaded {
    .branding-background {
      filter: brightness(90%);
    }

    .overlay {
      opacity: .4;
    }

    .value-proposition {
      opacity: 1;
    }
  }

  @include goingSmall(1140) {
    .value-proposition {
      font-size: 2.4rem;
    }
  }

  @include goingSmall(951) {
    .value-proposition {
      font-size: 2rem;
    }
  }

  @include goingSmall(640) {
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr min-content min-content 1fr;

    .pu-modal-auth {
      grid-column: 2;
      grid-row: 2;
      margin: 3vh 0 0;
    }

    .value-proposition {
      margin: 3vh 0;
      grid-column: 2;
      grid-row: 3;
    }
  }
}
