<template>
  <component
    :is="component"
    :class="rootClasses"
    :disabled="disabled"
    v-bind="componentAttrs"
  >
    <slot>{{ to }}</slot>
  </component>
</template>

<script>
import colorable from '@/mixins/colorable'

export default {
  name: 'pu-link',

  mixins: [colorable],

  props: {
    to: {
      type: [Object, String],
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    external: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      defaultColor: 'secondary',
    }
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-link': true,
        'pu-link--disabled': this.disabled,
      })
    },
    component() {
      return this.external ? 'a' : 'router-link'
    },
    componentAttrs() {
      return this.external
        ? {
            href: this.to,
            rel: 'noopener',
            target: '_blank',
          }
        : {
            to: this.to,
          }
    },
  },
}
</script>

<style lang="scss">
@import 'link.scss';
</style>
