.pu-link {
  text-decoration: none;

  .pu-icon {
    display: inline-block;
  }

  &:hover:not(.pu-link--disabled) {
    text-decoration: underline;
  }

  &--disabled {
    pointer-events: none;
  }
}
