
$white:         #ffffff !default;
$black:         #000000 !default;

//Gray
$gray-0-0:      #f5f5f5 !default;
$gray-0:        #f9f9f9 !default;
$gray-0-5:      #f0f0f0 !default;
$gray-1:        #e5e5e5 !default;
$gray-2:        #cccccc !default;
$gray-3:        #b2b2b2 !default;
$gray-4:        #999999 !default;
$gray-5:        #7f7f7f !default;
$gray-6:        #666666 !default;
$gray-7:        #4c4c4c !default;
$gray-7-0:      #310310 !default;
$gray-8:        #333333 !default;
$gray-9:        #191919 !default;

$gray-color-map: () !default;
$gray-color-map: map-merge(
  (
    'gray-0-0': $gray-0-0,
    'gray-0': $gray-0,
    'gray-0-5': $gray-0-5,
    'gray-1': $gray-1,
    'gray-2': $gray-2,
    'gray-3': $gray-3,
    'gray-4': $gray-4,
    'gray-5': $gray-5,
    'gray-6': $gray-6,
    'gray-7': $gray-7,
    'gray-7-0': $gray-7-0,
    'gray-8': $gray-8,
    'gray-9': $gray-9,
  ),
  $gray-color-map
);

// Blue
$blue: #55bec8 !default;
$blue-highlight: #EAF9F9 !default;
$blue-superlight: #d0f4f4 !default;
$blue-lesssuperlight: #a4e6e9 !default; // Partup toolbar left
$blue-lesssuperlightslightlydarker: #8ddde1 !default;  // Partup toolbar right
$blue-dark: #4aa6ae !default;
$blue-info: #008CFF !default;
$blue-verydark: #2C6A6D !default;
$blue-veryverydark: #0B5154 !default;

$blue-color-map: () !default;
$blue-color-map: map-merge(
  (
    'blue': $blue,
    'blue-highlight': $blue-highlight,
    'blue-superlight': $blue-superlight,
    'blue-lesssuperlight': $blue-lesssuperlight,
    'blue-lesssuperlightslightlydarker': $blue-lesssuperlightslightlydarker,
    'blue-dark': $blue-dark,
    'blue-info': $blue-info,
    'blue-verydark': $blue-verydark,
    'blue-veryverydark': $blue-veryverydark
  ),
  $blue-color-map
);

// Orange
$orange:          #fda724 !default;
$orange-light:    #FFDF99 !default;
$orange-gray:     #e59120 !default;

$orange-color-map: () !default;
$orange-color-map: map-merge(
  (
    'orange': $orange,
    'orange-light': $orange-light,
    'orange-gray': $orange-gray
  ),
  $orange-color-map
);

// Green
$green:                 #5fb652 !default;
$green-darker:          #53A43A !default;
$green-lighter:         #80ba6f !default;
$green-messages:        #ecffcc !default;
$green-messages-dark:   #7e9159 !default;
$green-gray:            #dce8b8 !default;

$green-color-map: () !default;
$green-color-map: map-merge(
  (
    'green': $green,
    'green-lighter': $green-lighter,
    'green-darker': $green-darker,
    'green-messages': $green-messages,
    'green-messages-dark': $green-messages-dark,
    'green-gray': $green-gray
  ),
  $green-color-map
);

// Red
$red: #ff5959 !default;
$red-200: #f77f77 !default;
$red-light: #fddfdd !default;
$red-dark: #e43e43 !default;

$red-color-map: () !default;
$red-color-map: map-merge(
  (
    'red': $red,
    'red-light': $red-light,
    'red-dark': $red-dark,
    'red-200': $red-200
  ),
  $red-color-map
);

$purple:        #BE55C8;  // Medium purple for matching tips / profile design details
$purple-dark:   #A34BAF;  // Darker purple for text label next to tips circle





$primary: $blue !default;
$secondary: $orange !default;
$accent: $blue-dark !default;





$theme-color-map: () !default;
$theme-color-map: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
  ),
  $theme-color-map
);

$error: $red !default;
$info: $blue !default;
$success: $green !default;
$warning: $orange !default;

$type-color-map: () !default;
$type-color-map: map-merge(
  (
    'error': $error,
    'info': $info,
    'success': $success,
    'warning': $warning
  ),
  $type-color-map
);



$journey-skip: #F04E47 !default;
$journey-bookmark: #4EB762 !default;
