
$font-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$text-color-dark: $gray-8;
$text-color-light: $gray-0-0;

$heading-map: () !default;
$heading-map: map-merge(
  (
    "h1": (
      "font-size": 2rem,
      "font-weight": 500,
    ),
    "h2": (
      "font-size": 1.7rem,
      "font-weight": 500,
    ),
    "h3": (
      "font-size": 1.4rem,
      "font-weight": 500,
    ),
    "h4": (
      "font-size": 1.1rem,
      "font-weight": 500,
    ),
    "h5": (
      "font-size": .9rem,
      "font-weight": 500,
    ),
    "h6": (
      "font-size": .7rem,
      "font-weight": 500,
    ),
  ),
  $heading-map
)
