<template>
  <section class="pu-partup-partners">
    <div class="pu-grid-list">
      <pu-card-user v-for="user in partners" :key="user.uuid" :user="user" />
    </div>
  </section>
</template>

<script lang="ts">
import PuCardUser from '@/components/implementations/card/user/card-user.vue'
import get from 'lodash/get'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-partup-partners',

  components: {
    PuCardUser,
  },

  computed: {
    partners() {
      return this.$store.getters['views/partup/partners']
    },
  },
})
</script>

<style lang="scss">
@import 'partners.scss';
</style>
