<template>
  <div class="pu-bulletin-first-login">
    <div class="pu-notification">
      <pu-icon name="notification_bell" :size="20" />
    </div>

    <h2>Welkom bij Part-up!</h2>
    <pu-client-html :html="$t('welcome')" />

    <pu-action :action="resolve">
      <template
        v-slot:default="{
          trigger,
          pending,
        }"
      >
        <pu-button
          color="primary"
          icon
          flat
          :loading="pending"
          @click="trigger(bulletin)"
        >
          <pu-icon name="close" size="20" />
        </pu-button>
      </template>
    </pu-action>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import PuClientHtml from '@/components/base/html/client-html.vue'
import baseTemplate from '../base-template'

export default Vue.extend({
  name: 'pu-bulletin-user-welcome',

  components: {
    PuClientHtml,
  },

  extends: baseTemplate,
})
</script>

<i18n src="./welcome.nl.json"></i18n>

<style lang="scss">
@import '../../bulletin';
@import 'welcome';
</style>
