.pu-user-setting-delete {
  max-width: 40rem;
  padding: 4rem 0;

  @include goingLarge(medium) {
    padding-top: 10rem;
  }

  .request-delete-sent {
    display: flex;
    align-items: center;

    .pu-icon {
      margin-right: .6rem;
    }
  }

  > .pu-button {
    margin-top: 1rem;
  }

  .pu-button {
    &--user-delete-confirm {
      color: $white !important;
    }

    &--user-delete-cancel {
      background-color: transparent;
      border-color: transparent;
      color: $primary;
    }
  }
}
