<template>
  <section class="pu-user-setting-delete">
    <h3 class="pu-section-header">{{ $t('heading') }}</h3>

    <p>
{{ $t('introduction') }}
    </p>

    <p v-if="deleteRequested" class="request-delete-sent">
      <pu-icon name="success" color="success" size="24" />
      Je hebt een verzoek gedaan om je account te verwijderen. Wij houden je per
      e-mail op de hoogte.
    </p>

    <pu-dialog-activator
      v-else
      title="Account verwijderen"
      text="Je staat op het punt ons te vragen om je account bij Part-up te verwijderen. Als dit in gang is gezet, kun je dit niet meer ongedaan maken."
      label-success="Ja, mijn account verwijderen"
      label-cancel="Nee, toch maar niet"
      class="pu-dialog-delete-account"
      :success="{
        class: 'pu-button--user-delete-confirm',
        color: 'error',
      }"
      :cancel="{
        class: 'pu-button--user-delete-cancel',
      }"
      @success="deleteUser"
    >
      <pu-button color="error" :loading="isLoading" outline>{{
        $t('button.submit')
      }}</pu-button>
    </pu-dialog-activator>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState } from 'vuex'

export default Vue.extend({
  name: 'pu-user-setting-delete',

  data() {
    return {
      isLoading: false,
      errors: {},
    }
  },

  computed: {
    ...mapState('user', ['deleteRequested']),
  },

  methods: {
    ...mapActions('user', ['requestDelete']),

    async deleteUser() {
      this.isLoading = true
      try {
        await this.requestDelete()
      } catch (error) {
        this.errors.deleteUser = error
      } finally {
        this.isLoading = false
      }
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "heading": "Stoppen met Part-up",
    "introduction": "Wil je helemaal niet meer actief zijn op Part-up, dan kun je ons verzoeken om je account en gegevens te verwijderen volgens de geldende privacyregels (AVG).",
    "button": {
      "submit": "Account verwijderen"
    }
  }
}
</i18n>

<style lang="scss">
@import 'delete.scss';
</style>
