<template>
  <pu-form id="form-activity" class="pu-form-activity" :autofocus="false">
    <div class="row">
      <pu-picker-activity-status
        :value="fields.status"
        :items="activityPickerStatusItems"
        :disabled="!canEdit"
        @change="
          updateActivity({
            fields: {
              status: $event,
            },
            uuid: activity.uuid,
          })
        "
      />

      <pu-content-editable
        tag="h1"
        class="activity-name"
        :can-edit="canEdit"
        :placeholder="placeholder('name')"
        :value="fields.name"
        @save="
          updateActivity({
            done: $event.done,
            fields: {
              name: $event.value,
            },
            uuid: activity.uuid,
          })
        "
      >
        <pu-textfield id="activity-name" :placeholder="placeholder('name')" />
      </pu-content-editable>
    </div>

    <pu-content-editable
      tag="span"
      class="activity-end_date"
      :can-edit="canEdit"
      :placeholder="placeholder('end_date')"
      :value="fields.end_date"
      @save="
        updateActivity({
          done: $event.done,
          fields: {
            end_date: $event.value,
          },
          uuid: activity.uuid,
        })
      "
    >
      <pu-datepicker
        id="activity-end_date"
        :placeholder="placeholder('end_date')"
      />
      <template v-if="fields.end_date" v-slot:content>
        <pu-date :date="fields.end_date" />
      </template>
    </pu-content-editable>

    <pu-label v-if="!!!fields.description" for="activity-description" tag="h3">
      {{ $t('label.description') }}
    </pu-label>
    <pu-content-editable
      tag="p"
      class="activity-description"
      :can-edit="canEdit"
      :placeholder="placeholder('description')"
      :value="fields.description"
      @save="
        updateActivity({
          done: $event.done,
          fields: {
            description: $event.value,
          },
          uuid: activity.uuid,
        })
      "
    >
      <pu-textarea
        id="activity-description"
        :placeholder="placeholder('description')"
        :max-rows="8"
        no-resize
      />
    </pu-content-editable>
  </pu-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import PuDatepicker from '@/components/base/picker/date/date-picker.vue'
import PuPickerActivityStatus from '@/components/base/picker/activity-status/picker-activity-status.vue'
import hasStatus from '@/lib/model/activity/has-status'
import { activityPickerStatusItems } from '@/util'
import pick from 'lodash/pick'
import { nullToNone } from '../../../../../../../util/activity'

export default Vue.extend({
  name: 'pu-form-activity',

  components: {
    PuDatepicker,
    PuPickerActivityStatus,
  },

  props: {
    /**
     * An existing activity
     * @prop activity
     * @type Activity
     * @default {} failsafe
     */
    activity: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      fields: {},
      activityPickerStatusItems,
    }
  },

  computed: {
    canEdit() {
      return this.$can('activity_edit')
    },
    hasStatus() {
      return hasStatus
    },
    placeholder() {
      return (field) => {
        if (!this.canEdit) {
          return null
        }

        return this.$t(`placeholder.${field}`)
      }
    },
  },

  watch: {
    activity: {
      handler(newVal) {
        this.fields = this.formFields(newVal)
      },
      deep: true,
    },
  },

  methods: {
    ...mapActions('views/partup/activities', ['updateActivity']),
    formFields(activity) {
      let fields: any = {}

      if (activity) {
        fields = pick(activity, ['description', 'end_date', 'name', 'status'])
      }

      if ('status' in fields) {
        fields.status = nullToNone(fields.status)
      }

      return fields
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "label": {
      "description": "Beschrijving"
    },
    "placeholder": {
      "description": "Aanvullende informatie",
      "end_date": "Nog geen einddatum ingevuld",
      "name": "Vul de titel van de activiteit in"
    }
  }
}
</i18n>

<style lang="scss">
@import 'form.scss';
</style>
