
.pu-form-activity {

  .row {
    position: relative;
    padding-left: 2.667rem;

    @include goingLarge(large) {
        margin-left: -2.667rem; // Offset back for large screen alignment
    }
  }

  .pu-picker-activity-status {
    left: 1rem;
    position: absolute;
    z-index: 80;
    max-width: 10rem;

    @include goingLarge(large) {
      top: 4px;
    }
  }

  .activity {
    &-name {
      flex: 0 0 90%;

      input {
        padding-left: 10px !important;
      }

      h1 {
        font-size: 1.3rem;
        line-height: 1.3rem;
        font-weight: 600;
      }
    }

    // TO DO: does this selector still exist?
    &-deadline {
      font-size: .9rem;
    }

    &-end_date {
      z-index: 3;

      .pu-date {
        font-size: 0.9rem;
        color: $orange;
        font-weight: 600;
      }
    }

    &-description {
      // margin-top: .8rem;
      min-height: 110px;

      > .component {
        display: flex;
        width: 100%;

        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;

        .pu-input {
          width: 100%;
        }
      }
    }

    &-contributors {
      display: flex;
      align-items: center;

      .pu-button {
        display: inline;
        margin-left: .5rem;
      }
    }
  }

  h3.pu-label {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: .4rem;
  }

  .pu-content-editable {
    &.is-editing {
      > .component:not(.component--content) {
        border: 2px solid $primary;
        // background-color: rgba(255, 255, 255, .8);
      }

      input,
      textarea {
        color: black !important;
      }
    }
  }

  padding: 0 6rem 0 0;

  @include goingLarge(large) {
    padding: 0 8rem 0 2.667rem;

/*
    .pu-status {
      position: absolute;
      left: -1rem;
      top: 0.667rem;
      z-index: 10;
    }
*/

  }
}

