//
//
//  accepts three classnames to differentiate among the visibility levels:
//  .pu-visibility-public
//  .pu-visibility-open
//  .pu-visibility-closed
//
.pu-picker-visibility {
  $row-height: 60px;
  border-radius: $border-radius;
  height: $row-height;
  overflow: hidden;

  .pu-visibility {
    &-public {
      .pu-icon {
        border-color: transparent !important;
      }
    }
    &-open {
      .pu-icon {
        border-style: dashed;
      }
    }
    &-organization {
      .pu-icon {
        border-left-style: solid;
        border-top-style: solid;
        border-right-style: dashed;
        border-bottom-style: dashed;
      }
    }
    &-closed {
      .pu-icon {
        border-style: solid;
      }
    }
  }

  .pu-label {
    margin: 0;
  }

  .pu-radio-group {
    border-radius: inherit;
    display: flex;
    flex-flow: column nowrap;
    transition: transform .12s linear;
    z-index: 99;

    .pu-radio {
      height: $row-height;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-content: center;

      .icon {
        padding: 0.8rem 0.5rem 0;
        flex: 0 0 auto;
      }
      .pu-icon {
        color: $black;
        border-color: $black;
        border-width: 2px;
        border-radius: 100%;
        padding: 3px;
      }
      .content {
        padding: 0 0 0 0.5rem;
        flex: 1 1 auto;

        h4 {
          line-height: 1.33;
          font-size: 1.2rem;
        }

        span {
          display: none;
          font-size: 1rem;
        }
      }

      &:first-of-type {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
      &:last-of-type {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }

    @for $i from 0 through 8 {
      &[data-selected="#{$i}"] {
        transform: translateY(-($i*strip-unit($row-height)) + px);
      }
    }
  }

  &.stateless {
    height: auto;
    overflow: initial;

    .pu-radio-group {
      transition: none;
      transform: none;
    }

    .pu-radio {
      height: auto;
    }
  }

  &.self-closing {
    .pu-radio-group {
      transition: none;
    }
  }

  &.is-active {
    overflow: initial;

    .pu-radio-group {
      background-color: $white;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
    }

    .pu-radio {
      .icon::before {
        @include psuedo;
        // content: "";
        width: 3rem;
        // position: absolute;
        left: 0;
        top: -1px;
        border-top: 2px solid $blue;
      }

      .pu-icon {
        color: $blue;
        border-color: $blue;
      }
      .content {
        padding: 0rem 0 0 0.5rem;

        span {
          display: block;
        }
      }

      &:first-of-type {
        .icon::before {
          border-top: none;
        }
      }

      &.is-active {
        background-color: $blue-highlight;
      }
    }

    &.bounds {
      .pu-radio-group {
        transform: none;
      }
    }
  }

  &:not(.is-disabled) {
    .pu-radio {
      input {
        cursor: pointer;
      }
    }
  }
}
