<template>
  <div :class="rootClasses">
    <pu-radio-group
      ref="radiogroup"
      v-click-outside="{
        condition: () => !stateless && isActive,
        handler: close,
      }"
      :value="internalValue"
      :disabled="disabled"
      @click.native="open"
      @blur="onBlur"
      @change="onInput"
      @focus="onFocus"
    >
      <slot>
        <pu-radio
          v-for="item in items"
          :key="item.key"
          :value="item.value"
          :icon="item.icon"
          :class="`pu-visibility-${item.key}`"
          indeterminate
        >
          <h4>{{ item.label }}</h4>
          <template v-if="isActive" v-slot:description>
            <span>{{ item.description }}</span>
          </template>
        </pu-radio>
      </slot>
    </pu-radio-group>
  </div>
</template>

<script>
import PuRadio from '@/components/base/input/radio/radio'
import PuRadioGroup from '@/components/base/input/radio/radio-group'

import clickOutside from '@/directives/click-outside'
import isNumber from 'lodash/isNumber'
import toStyleUnit from '@/util/css/to-style-unit'
import { lazyModelFactory } from '@/mixins/lazy-model'

export default {
  name: 'pu-picker-visibility',

  mixins: [lazyModelFactory('change')],

  components: {
    PuRadio,
    PuRadioGroup,
  },

  directives: {
    clickOutside,
  },

  props: {
    active: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    selfClosing: {
      type: [Boolean, Number],
      default: false,
    },
    selfClosingDelay: {
      type: Number,
      default: null,
    },
    stateless: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isActive: null,
      hasOpened: false,
      isOutOfBounds: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-picker-visibility': true,
        stateless: this.stateless || null,
        'self-closing': this.selfClosing,
        'is-active': this.stateless ? null : this.isActive,
        'is-disabled': this.disabled,
        bounds: this.isOutOfBounds,
      }
    },
  },

  watch: {
    active: {
      handler(newVal) {
        if (newVal !== this.isActive) {
          this.isActive = newVal
        }
      },
      immediate: true,
    },
  },

  mounted() {
    const rGrpEl = this.$refs.radiogroup.$el
    if (rGrpEl) {
      const rect = rGrpEl.getBoundingClientRect()
      if (rect) {
        if (rect.y - rect.height < 0) {
          this.isOutOfBounds = true
        }
      }
    }
  },

  methods: {
    close() {
      if (this.isActive) {
        if (this.selfClosingDelay !== null) {
          setTimeout(() => {
            this.isActive = false
          }, this.selfClosingDelay)
        } else {
          this.isActive = false
        }

        this.$emit('update:active', false)
      }
    },
    open() {
      if (!this.disabled && !this.isActive) {
        this.isActive = true
        this.$emit('update:active', true)

        if (!this.hasOpened) {
          setTimeout(() => {
            this.hasOpened = true
          }, 0)
        }
      }
    },
    onInput(v) {
      this.internalValue = v

      if (this.hasOpened && this.selfClosing) {
        this.close()
      }
    },
    onBlur(e) {
      this.$emit('blur', e)
    },
    onFocus(e) {
      this.$emit('focus', e)
    },
  },
}
</script>

<style lang="scss">
@import 'picker-visibility.scss';
</style>
