<template>
  <section class="pu-section pu-organization-solicit">
    <section v-if="myInvite">
      <pu-list-item-solicit :value="myInvite" v-on="solicitListeners">
        <template v-if="!loggedIn" v-slot:actions>
          <pu-button
            small
            @click="
              $router.push({
                name: 'login',
                query: {
                  redirect: $route.fullPath,
                },
              })
            "
            >{{ $t('login') }}</pu-button
          >
        </template>
      </pu-list-item-solicit>
    </section>

    <section
      v-if="$can('solicit_request_organization_respond')"
      class="solicit-requests"
    >
      <pu-list-item-solicit
        v-for="solicit in organizationRequests"
        :key="solicit.uuid"
        :value="solicit"
        v-on="solicitListeners"
      />
    </section>

    <section v-if="$can('solicit_request_organization_self')">
      <pu-button
        color="secondary"
        small
        @click="
          solicitRequest({
            entity: SOLICIT_ENTITIES.organization,
            entity_uuid: organization.uuid,
          })
        "
      >
        {{ $t('button.request') }}
      </pu-button>
      <span>{{ $t('request-add') }}</span>
    </section>

    <section v-if="$can('solicit_request_organization_revoke')">
      <p>{{ $t('request-pending') }}</p>
    </section>

    <section
      v-if="$can('#solicit_invite_organization')"
      class="pu-organization-solicit"
    >
      <div class="pu-solicit-actions">
        <div>
          <pu-modal-activator
            for="invite"
            :modal-props="{
              context: organization,
              entity: SOLICIT_ENTITIES.organization,
              title: 'organisatie',
            }"
          >
            <pu-button color="primary" small>
              {{ $t('button.invite') }}
            </pu-button>
          </pu-modal-activator>
          <span>{{ $t('invite-add') }}</span>
        </div>
      </div>
      <div class="supra-actions">
        <div>
          <pu-modal-activator
            for="invite"
            :modal-props="{
              context: organization,
              entity: SOLICIT_ENTITIES.organization,
              title: 'organisatie als admin',
              options: {
                admin: true,
              },
            }"
          >
            <pu-button color="error" small>
              {{ $t('button.invite-admin') }}
            </pu-button>
          </pu-modal-activator>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import PuListItemSolicit from '@/components/implementations/list/solicit/list-item-solicit'
import solicitFindPending from '@/data/solicit/find-pending'
import solicitRequest from '@/data/solicit/request'
import isRequest from '@/lib/model/solicit/is-request'
import isInvite from '@/lib/model/solicit/is-invite'
import isForUser from '@/lib/model/solicit/is-for-user'
import isForEntity from '@/lib/model/solicit/is-for-entity'
import bootable from '@/mixins/bootable'
import filterAnd from '@/util/array/filter-and'
import { SOLICIT_ENTITIES, SOLICIT_TYPES, SOLICIT_ACTIONS } from '@/types'
import filter from 'lodash/filter'
import find from 'lodash/find'
import remove from 'lodash/remove'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'pu-organization-solicit',

  components: {
    PuListItemSolicit,
  },

  inheritAttrs: false,

  props: {
    organization: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      organizationSolicits: [],
      userSolicits: [],
      SOLICIT_ENTITIES,
    }
  },

  watch: {
    'organization.slug': {
      async handler(newVal, oldVal) {
        if (newVal && newVal !== oldVal) {
          try {
            await this.getPendingSolicits()
          } catch (error) {
            this.$logger.error(error)
          }
        }
      },
      immediate: true,
    },
  },

  computed: {
    ...mapGetters(['currentUser', 'loggedIn']),
    ...mapGetters('user', ['hasProfile']),
    /**
     * @description when someone receives an email invite
     * it will contain a solicit uuid of the invite as parameter to the organization page
     */
    solicitUUID() {
      return this.$route.query.solicit
    },
    myInvite() {
      return this.loggedIn
        ? find(
            this.userSolicits,
            filterAnd(isInvite, (s) =>
              isForEntity(
                s,
                SOLICIT_ENTITIES.organization,
                this.organization.uuid
              )
            )
          )
        : this.solicitUUID
        ? {
            for: SOLICIT_ENTITIES.organization,
            organization: this.organization,
            type: SOLICIT_TYPES.invite,
            uuid: this.solicitUUID,
          }
        : null
    },
    myRequest() {
      return find(
        this.userSolicits,
        filterAnd(isRequest, (s) =>
          isForEntity(s, SOLICIT_ENTITIES.organization)
        )
      )
    },
    organizationRequests() {
      return filter(this.organizationSolicits, filterAnd(isRequest))
    },
    solicitListeners() {
      return {
        accept: (v) => {
          this.getPendingSolicits()
          if (this.$listeners.accept) {
            this.$listeners.accept(v)
          }
        },
        reject: (v) => {
          this.removeSolicit(v)
          if (this.$listeners.reject) {
            this.$listeners.reject(v)
          }
        },
      }
    },
  },

  methods: {
    async getPendingSolicits() {
      try {
        if (this.loggedIn) {
          if (this.$can('solicit_list_organization')) {
            const {
              data: organizationSolicits = [],
            } = await solicitFindPending({
              entity: 'organization',
              entity_uuid: this.organization.uuid,
            })

            this.organizationSolicits = organizationSolicits
          }

          if (this.$can('solicit_list')) {
            const { data: userSolicits = [] } = await solicitFindPending({
              entity: 'user',
            })
            this.userSolicits = userSolicits
          }
        }

        if (!this.organizationSolicits) {
          this.organizationSolicits = []
        }
        if (!this.userSolicits) {
          this.userSolicits = []
        }
      } catch (error) {
        this.$logger.error(error)
      }
    },
    async solicitRequest(params) {
      try {
        await solicitRequest(params)
        this.$emit('request')
      } catch (error) {
        this.$logger.error(error)
      }
    },
    removeSolicit(value) {
      this.organizationSolicits = remove(
        this.organizationSolicits,
        ({ uuid }) => uuid === value.uuid
      )
      this.userSolicits = remove(
        this.userSolicits,
        ({ uuid }) => uuid === value.uuid
      )
    },
  },
}
</script>

<i18n>
{
  "nl": {
    "button": {
      "invite": "Anderen uitnodigen",
      "invite-admin": "Anderen uitnodigen als admin",
      "request": "Aansluiten"
    },
    "invite-add": "voor deze organisatie",
    "request-add" : "bij deze organisatie",
    "request-pending": "Je verzoek om aan te sluiten is verzonden!"
  }
}
</i18n>

<style lang="scss">
@import 'solicit.scss';
</style>
