<template>
  <div class="pu-menu">
    <slot
      name="activator"
      :on="{
        click: onActivatorClick,
      }"
    />

    <component :is="transitionComponent" :name="transition">
      <div
        v-show="isActive"
        ref="content"
        v-click-outside="clickOutsideDirective"
        class="content"
        @click="onContentClick"
      >
        <slot />
      </div>
    </component>
  </div>
</template>

<script>
import clickOutside from '@/directives/click-outside'
import toggleable from '@/mixins/toggleable'

export default {
  name: 'pu-menu',

  /** @directive */
  directives: {
    clickOutside,
  },

  /** @mixins */
  mixins: [toggleable],

  props: {
    /**
     * transition component to be used for the dropdown
     *
     * note: make sure the chosen transition is registered to Vue if not the default transition.
     * the default is already globally registered in '_global-components.js'
     * @prop
     */
    transition: {
      type: String,
    },
    closeOnContentClick: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    clickOutsideDirective() {
      return {
        include: () => [this.$el, this.$refs.content],
        condition: () => this.isActive,
        handler: () => this.deactivate(),
      }
    },
    transitionComponent() {
      return this.transition ? 'transition' : 'pu-transition-expand-y'
    },
  },

  watch: {
    isActive: {
      handler(newVal) {
        this.$nextTick(() => {
          if (newVal) {
            this.$emit('activate')
          } else {
            this.$emit('deactivate')
          }
        })
      },
    },
  },

  methods: {
    /**
     * force activation even when disabled
     * @method activate
     * @public
     */
    activate() {
      this.isActive = true
    },
    /**
     * force deactivation
     * @method deactivate
     * @public
     */
    deactivate() {
      this.isActive = false
    },
    /**
     * activator click handler
     * @method onActivatorClick
     * @private
     */
    onActivatorClick(e) {
      if (this.isDisabled) {
        return
      }

      if (e) {
        if ('preventDefault' in e) {
          e.preventDefault()
        }

        if ('stopPropagation' in e) {
          e.stopPropagation()
        }
      }

      this.isActive = !this.isActive
    },
    onContentClick(e) {
      e.stopPropagation()
      if (!e.target.getAttribute('disabled') && this.closeOnContentClick) {
        this.$nextTick(() => {
          this.deactivate()
        })
      }
    },
  },
}
</script>

<style lang="scss">
@import 'menu.scss';
</style>
