html {
  color: $text-color-dark;
  font-family: $font-family;
  font-size: $browser-context;
  font-weight: 500;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@each $heading in "h1" "h2" "h3" "h4" "h5" "h6" {
  #{unquote($heading)} {
    font-size: map-deep-get($heading-map, $heading, "font-size");
    font-weight: map-deep-get($heading-map, $heading, "font-weight");
  }
}

@include createColorClasses($gray-color-map);
@include createColorClasses($blue-color-map);
@include createColorClasses($orange-color-map);
@include createColorClasses($green-color-map);
@include createColorClasses($red-color-map);
@include createColorClasses($theme-color-map);
@include createColorClasses($type-color-map);

$other-color-map: (
  'white': $white,
  'black': $black,
);
@include createColorClasses($other-color-map);

#pu-icons {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pu-grid-list {
  @include gridList(32);
}
