@font-face {
  font-family: "proxima-nova";
  src:
    url("../fonts/proxima-nova/regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/proxima-nova/regular/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/proxima-nova/regular/ProximaNova-Regular.ttf") format("truetype"),
    url("../fonts/proxima-nova/regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-nova";
  src:
    url("../fonts/proxima-nova/italic/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"),
    url("../fonts/proxima-nova/italic/ProximaNova-RegularIt.woff") format("woff"),
    url("../fonts/proxima-nova/italic/ProximaNova-RegularIt.ttf") format("truetype"),
    url("../fonts/proxima-nova/italic/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "proxima-nova";
  src:
    url("../fonts/proxima-nova/semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/proxima-nova/semibold/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/proxima-nova/semibold/ProximaNova-Semibold.ttf") format("truetype"),
    url("../fonts/proxima-nova/semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "proxima-nova";
  src:
    url("../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"),
    url("../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.woff") format("woff"),
    url("../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.ttf") format("truetype"),
    url("../fonts/proxima-nova/semibold-italic/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic;
}

// Import Google Merriweather font
// Todo: include in fonts map (download all versions and reference from fonts.scss file)
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,600,700,700i");
