// Base markdown presentations
// All HTML markup within a block level element
// with the classname 'pu-markdown' will get a
// base markdown treatment, with styles that
// override all specificity levels within other
// components' scss files.

// NOTE:
// - color scheme will depend on parent components,
//   so color and background do *not* use !important.

.pu-markdown {
  font-family: "proxima-nova", sans-serif !important;
  font-size: 1rem !important;
  padding: 0 0 0.1rem;

  // We treat all headings 1-3 as H3 heading
  h1,
  h2,
  h3 {
    margin: 1em 0 0.25em;
    font-size: 1.2em !important;
    font-weight: 600 !important;
  }

  // And all headings 4-6 as a H4,
  // so effectively there are only two heading levels
  // available
  h4,
  h5,
  h6 {
    margin: 1em 0 0;
    font-size: 1em !important;
    font-weight: 600 !important;
  }

  // Force a maximum to line widths to keep legibility.
  p,
  ol,
  ul {
    max-width: 40em;
  }

  p {
    margin: 0 0 0.667rem !important;
    font-style: normal;
    line-height: 1.5 !important;
  }

  li {
    p {
      margin-bottom: 0 !important;
    }
  }

  a {
    font-weight: 600 !important;
    text-decoration: none !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $black;
    color: $black;
  }

  ol {
    margin: 0 0 0.667rem !important;

    li {
      list-style-type: decimal;
      list-style-position: outside !important;
      margin-left: 2em;
      padding-left: 0.5em;
      font-size: 1em !important;
      line-height: 1.5 !important;
    }
  }

  ul {
    margin: 0 0 0.667rem !important;
    padding: 0 !important;
    font-size: 1em !important;

    li {
      position: relative;
      padding: 0 0 0 2.5em !important;
      font-size: 1em !important;
      line-height: 1.5 !important;

      &::before {
        content: "–";
        display: block;
        position: absolute;
        left: 1em;
        font-weight: 600;
        font-size: 1em !important;
      }
    }
  }
}
