* {
  box-sizing: border-box;
}

html, body,
div, span, p,
h1, h2, h3, h4, h5, h6,
fieldset, form, label, legend,
article, aside, header, footer, details, section, summary,
menu, nav,
ol, ul, li,
figure, canvas,
small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

input,
textarea,
button {
  margin: 0;
  padding: 0;
}

button {
  border-width: 0;
  border-style: none;
}

input,
textarea {
  font-family: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
