.t-fade {
  &-enter,
  &-leave,
  &-leave-to {
    opacity: 0;
    position: absolute;
  }
}

.t-slide-x,
.t-slide-x-reverse,
.t-slide-x-caroussel,
.t-slide-x-caroussel-reverse,
.t-slide-y,
.t-slide-y-reverse {
  &-leave-active {
    position: absolute;
  }
}

.t-slide-x,
.t-slide-x {
  &-enter,
  &-leave-to {
    transform: translateX(-100%);
  }
}

.t-slide-x-reverse,
.t-slide-x-reverse {
  &-enter,
  &-leave-to {
    transform: translateX(100%);
  }
}

.t-slide-x-caroussel {
  &-leave-active {
    top: 0;
  }

  &-enter {
    transform: translateX(100%);
  }
  &-leave-to {
    transform: translateX(-100%);
  }
}

.t-slide-x-caroussel-reverse {
  &-leave-active {
    top: 0;
  }

  &-enter {
    transform: translateX(-100%);
  }
  &-leave-to {
    transform: translateX(100%);
  }
}

.t-slide-y,
.t-slide-y {
  &-enter,
  &-leave-to {
    transform: translateY(-100%);
  }
}

.t-slide-y-reverse,
.t-slide-y-reverse {
  &-enter,
  &-leave-to {
    transform: translateY(100%);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.96);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

.t-carousel-journey {
  &-enter,
  &-leave,
  &-leave-to {
    opacity: 0;
    position: absolute;
  }

  &-enter-active {
    animation: bounce-in .6s;
  }
}

.t-list-move {
  &-enter,
  &-leave-to {
    opacity: 0;
  }
  
  &-enter-active {
    transition: opacity 1s;
  }
  &-leave-active {
    transition: all .2s;
  }
  
  &-move {
    transition: transform .6s;
  }
}
