@import "./variables/colors";
@import "./variables/typeface";
@import './variables/elevations';

$browser-context: 15px !default;

$border-radius-small: .8rem;
$border-radius: 1.334rem;
$border-radius-large: 2rem;
$border-width-default: 2px !default;

$border-default: $border-width-default solid;

$toolbar-height: 60px;

$side-spacing: 4vw;
$side-spacing-small: 2vw;
