<template>
  <div
    :class="rootClasses"
  >
    <pu-dropdown
      v-model="isDropdownActive"
      :open-on-click="false"
    >
      <div slot="activator">
        <input
          :value="internalSearch"
          @input="onInput"
        >
      </div>

      <ul>
        <li
          v-for="(item, i) in items"
          :key="i"
        >{{item}}</li>
      </ul>
    </pu-dropdown>

    <div>
      <span
        v-for="(si, i) in selectedItems"
        :key="i"
      >
        <slot name="selection" :item="item">
          <pu-tag
            :text="getText(item)"
            small
          />
        </slot>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'pu-autocomplete',

  data() {
    return {
      isDropdownActive: false,
      lazySearch: '',
      selectedItems: [],
    }
  },

  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-autocomplete': true,
      }
    },
    internalSearch: {
      get() {
        return this.lazySearch
      },
      set(newVal) {
        this.lazySearch = newVal
        this.$emit('update:search', newVal)
      }
    }
  },

  methods: {
    onInput(e) {
      this.internalSearch = e.target.value
    }
  }
}
</script>

<style lang="scss">

</style>
