<template>
  <div :class="rootClasses" v-on="$listeners">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'pu-tile',

  props: {
    ghost: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-tile': true,
        'is-ghost': this.ghost,
      }
    },
  },
}
</script>

<style lang="scss">
@import 'tile.scss';
</style>
