.pu-tile {

  background-color: $white;
  border-radius: $border-radius-small;
//   padding: 12px;

//   @include elevation(3);  // Still need to decide what to do with this

/*
  &.is-ghost {
    border-width: 2px;
    border-style: dashed;
    border-radius: $border-radius;
    border-color: currentColor;
  }
*/
}
