<template>
  <div :class="rCls">
    <component :is="tag" :class="cCls">
      <pu-tag
        v-for="(tag, index) in internalValue"
        :key="tag.uuid || index"
        :text="tag.name"
        :closeable="canEdit"
        :close-callback="() => remove(tag)"
      />

      <div class="input">
        <input
          v-if="showInput"
          id="id"
          ref="input"
          type="text"
          :placeholder="placeholder"
          @blur="onBlur"
          @focus="onFocus"
          @keydown.prevent.stop.enter="() => {}"
          @keyup="addInternal"
        />

        <pu-icon v-if="showInput" name="add" :size="24" @click="addInternal" />
      </div>
    </component>
  </div>
</template>

<script>
import PuInputTagBase from './input-tag-base.js'

export default {
  name: 'pu-content-editable-tag',

  extends: PuInputTagBase,

  props: {
    canEdit: {
      type: Boolean,
      default: false,
    },
    editing: {
      type: Boolean,
      default: void 0,
    },
    tag: {
      type: String,
      required: true,
    },
    forceEdit: {
      type: Boolean,
    },
  },

  data(vm) {
    return {
      isActive: vm.canEdit && vm.editing,
      previousValue: null,
    }
  },

  computed: {
    rCls() {
      return {
        'pu-content-editable': true,
        'pu-content-editable-tag': true,
        'is-active': this.isActive,
        'is-focused': this.isFocused,
      }
    },
    cCls() {
      const ioc = this.isActive ? 'input' : 'content'
      return {
        component: true,
        [`component__${ioc}`]: true,
      }
    },
    showInput() {
      return this.isActive && this.canEdit
    },
    hasValue() {
      return this.internalValue && this.internalValue.length > 0
    },
    isEditForced() {
      return this.editing !== undefined || this.editing !== null
    },
  },

  watch: {
    editing: {
      handler(newVal) {
        if (this.canEdit) {
          this.isActive = newVal
        }
      },
    },
    canEdit: {
      handler(newVal) {
        this.isActive = this.editing
      },
    },
    isActive: {
      handler(newVal) {
        if (newVal !== this.editing) {
          this.$emit('update:editing', newVal)
        }
      },
    },
    value: {
      handler(newVal, oldVal) {
        this.previousValue = this.lazyValue
        this.lazyValue = newVal
      },
      immediate: true,
    },
  },

  methods: {
    activate() {
      if (this.canEdit) {
        this.isActive = true
      }
    },
    deactivate() {
      if (!this.isEditForced) {
        this.isActive = false
      }
    },
    blur() {
      this.onBlur()
    },
    focus() {
      this.onFocus()
    },
    onBlur(e) {
      if (e && this.isFocused) {
        this.$emit('blur', e)
      }
      this.isFocused = false

      if (this.hasValue) {
        this.$emit('save', { value: this.internalValue, done: this.deactivate })
        // this.deactivate()
      }
    },
    onFocus(e) {
      if (!this.canEdit) {
        return
      }

      this.isActive = true
      if (e && !this.isFocused) {
        this.$emit('focus', e)
      }
    },
  },
}
</script>

<style lang="scss">
@import 'content-editable-tag.scss';
</style>
