.pu-content-editable-tag {
  .component {
    padding: 0 !important;
    .input {
      position: relative;
      display: inline-block;

      .pu-icon {
        position: absolute;
        right: 8px;
        top: 8px;
        color: inherit;
      }
    }

    padding: .4rem .7rem;
    align-items: flex-start;

    input {
      min-width: 13rem;
      border-width: 2px;
      border-style: solid;
      border-color: $gray-2;
      border-radius: $border-radius;
      font-size: 1rem;
      line-height: normal;
      outline: none;
      padding: 0.6rem 2rem 0.6rem 1rem;
      min-width: 0;
      color: $black;
      position: relative;

      &::placeholder {
        color: $gray-5;
        font-size: 0.8667rem;
      }
      &:focus::placeholder {
        color: $gray-3;
      }

      &:focus {
        border-color: $blue;
        box-shadow: 0 0 20px 0 rgba(0,87,91,0.2);
      }
    }
  }
}
