.pu-form-control-tag {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 12rem;
    border-style: solid;
    border-radius: $border-radius;
    font-size: 1rem;
    line-height: normal;
    outline: none;
    padding: 0.6rem 2rem 0.6rem 1rem;
    min-width: 0;
    color: $black;
    flex: 0 0 auto;

    &::placeholder {
      color: $gray-5;
      font-size: 0.8667rem;
    }
    &:focus::placeholder {
      color: $gray-3;
    }

    &:focus {
      box-shadow: 0 0 20px 0 rgba(0,87,91,0.2);
    }
  }

  .append-inner .pu-icon {
    display: block;
    position: relative;
    left: -32px;
    top: 8px;
    margin-right: -32px;
  }
}
