<template>
  <div :class="rootClasses">
    <pu-tag
      v-for="(tag, index) in internalValue"
      :key="tag.uuid || index"
      :text="tag.name"
      closeable
      :close-callback="() => remove(tag)"
    />

    <input
      id="id"
      ref="input"
      type="text"
      :placeholder="placeholder"
      @blur="onBlur"
      @focus="onFocus"
      @keydown.prevent.stop.enter="() => {}"
      @keyup="addInternal"
    />
    <figure class="append-inner">
      <pu-icon name="add" :size="24" @click.prevent.stop="addInternal" />
    </figure>
  </div>
</template>

<script>
import PuInputTagBase from './input-tag-base.js'

export default {
  name: 'pu-form-control-tag',

  extends: PuInputTagBase,

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-form-control': true,
        'pu-form-control-tag': true,
        'pu-form-control--error': this.hasError,
        'is-focused': this.isFocused,
      }
    },
  },

  methods: {
    onBlur(e) {
      this.isFocused = false
      this.$emit('blur', e)
    },
    onFocus(e) {
      this.isFocused = true
      this.$emit('focus', e)
    },
  },
}
</script>

<style lang="scss">
@import 'form-control-tag.scss';
</style>
