.pu-input {
  &-tag {
    display: flex;
    flex-flow: column nowrap;

    > div {
      &:first-child {

      }
    }

    figure {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 5px;
      top: 8px;
      cursor: pointer;
    }
  }
}
