<template>
  <div :class="rootClasses">
    <div class="control">
      <input
        ref="input"
        v-bind="inputAttributes"
        @blur="onBlur"
        @focus="onFocus"
        @keydown.enter.prevent="addTag"
      />
      <figure @click="addTag">
        <pu-icon name="add" :size="24" />
      </figure>
    </div>

    <pu-list-tag
      v-if="!hideResult"
      :items="items"
      :closeable="true"
      :close-callback="computedCloseCallback"
    />
  </div>
</template>

<script>
import get from 'lodash/get'
import filter from 'lodash/filter'
import remove from 'lodash/remove'

import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import PuListTag from '@/components/implementations/list/tag/list-tag.vue'

export default {
  name: 'pu-input-tag',

  components: {
    PuListTag,
  },

  extends: PuTextfield,

  model: {
    prop: 'items',
    model: 'change',
  },

  props: {
    items: {
      required: false,
    },
    hideResult: {
      type: Boolean,
      default: false,
    },
    closeCallback: {
      type: Function,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-input-tag': true,
      }
    },
    inputAttributes() {
      return {
        id: this.id,
        type: 'text',
        placeholder: this.placeholder,
        readonly: this.readonly,
      }
    },
    hasAddListener() {
      return Boolean(this.$listeners['add'])
    },
    computedCloseCallback() {
      return this.closeCallback || this.removeTag
    },
  },

  methods: {
    addTag() {
      const value = this.$refs.input.value
      if (!value || value.length === 0) {
        return
      }

      this.$refs.input.value = null

      if (this.hasAddListener) {
        this.$emit('add', value)
      } else {
        const newVal = get(this, 'items', [])
        newVal.push({
          name: value,
        })
        this.$emit('change', newVal)
      }
    },

    removeTag(item) {
      const val = filter(this.items, ({ name }) => name !== item.name)
      this.$emit('change', val)
    },
  },
}
</script>

<style lang="scss">
@import 'input-tag.scss';
</style>
