.pu-partup-board {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;

  .pu-notification-refresh {
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition-property: transform;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 600;
    margin: 0;
    padding: 1rem 1.334rem 0.6rem;
    background-color: $white;
//     border-bottom: 2px solid red;

    .pu-button {
      margin-left: 1rem;
      font-weight: 600;
      font-size: 1rem;
    }

    .pu-icon {
      margin-right: 1rem;
    }
  }

  .pu-board {
    height: 100%;

    .pu-lane {
      height: 100%;
    }
  }

  .header h3 em {
    font-style: normal;
    font-size: 1.2rem;
    color: $orange;

    &::before {
      content: " ";
    }
  }
}
