<template>
  <div class="pu-partup-board">
    <pu-notification
      v-if="refreshBarActive"
      transition="t-slide-y"
      class="pu-notification-refresh"
      :dismissable="false"
    >
      <pu-icon name="notification_bell" size="20" />

      {{ $t('board-changed') }}

      <pu-button small color="blue" @click="refreshBoard">
        {{ $t('button.refresh-board') }}
      </pu-button>
    </pu-notification>

    <pu-board>
      <pu-lane
        v-for="(activities, status) in lanes"
        :key="status"
        v-model="lanes[status]"
        :status="status"
        :disabled="!$can('activity_edit')"
        @add="onAdd"
        @update="onUpdate"
      >
        <div slot="header" class="pu-lane-header">
          <h3>
            {{ $t(`header.${status}`) }}
            <em>{{ countForStatus(status) }}</em>
          </h3>
        </div>

        <pu-card-activity
          v-for="activity in lanes[status]"
          :key="activity.uuid"
          :value="activity"
          :data-id="activity.uuid"
        />
      </pu-lane>
    </pu-board>
  </div>
</template>

<script lang="ts">
import PuBoard from './components/board.vue'
import PuLane from './components/lane.vue'
import PuCardActivity from './components/card.vue'
import { ACTIVITY_STATUS } from '@/types'
import { noneToNull, nullToNone } from '@/util/activity'
import filter from 'lodash/filter'
import sortBy from 'lodash/sortBy'
import reduce from 'lodash/reduce'
import PuNotification from '@/components/base/notification/notification.vue'
import Vue from 'vue'
import { mapActions, mapGetters, mapState } from 'vuex'

export default Vue.extend({
  name: 'pu-view-partup-board',

  components: {
    PuBoard,
    PuLane,
    PuCardActivity,
    PuNotification,
  },

  data() {
    return {
      ACTIVITY_STATUS,
      refreshBarActive: false,
    }
  },

  computed: {
    ...mapGetters('views/partup', ['partupUuid']),
    ...mapGetters('views/partup/activities', ['lanes', 'boardUpdateTimeout']),
    activitiesForStatus() {
      return (status: ACTIVITY_STATUS) => {
        return this.lanes[status]
      }
    },
    countForStatus() {
      return (status: ACTIVITY_STATUS) => {
        return this.activitiesForStatus(status).length
      }
    },
  },

  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('layout/setSectionExpanded', {
        expanded: vm.$store.getters['views/partup/isAnyAsideModuleActive'],
        section: 'aside',
        preference: false,
      })
    })
  },

  watch: {
    partupUuid: {
      handler(newVal) {
        if (newVal) {
          this.initializeBoard()
        }
      },
      immediate: true,
    },
  },

  mounted() {
    this.$socket.subscribe(
      this._uid,
      'update_activity_status_lane',
      this.displayRefreshBar
    )
  },

  beforeDestroy() {
    this.$socket.unsubscribe(this._uid)
  },

  /* eslint-disable camelcase */
  methods: {
    ...mapActions('views/partup/activities', [
      'initializeBoard',
      'updateActivity',
      'getActivities',
    ]),
    onAdd(e) {
      const uuid = e.item.dataset.id
      const status = noneToNull(e.to.dataset.lane)
      const lane_order = this.getNewLaneOrder(e)

      this.updateActivity({
        fields: {
          lane_order,
          status,
        },
        uuid,
      })
    },
    onUpdate(e) {
      const uuid = e.item.dataset.id
      const lane_order = this.getNewLaneOrder(e)

      this.updateActivity({
        fields: {
          lane_order,
        },
        uuid,
      })
    },
    getNewLaneOrder(e) {
      const targetLane = this.lanes[e.to.dataset.lane]

      // 1. set lane order to 0
      let lane_order = 0

      // 2. if there's a next element take the lane order from that element
      const nextEl = targetLane[e.newIndex + 1]
      if (nextEl) {
        lane_order = nextEl.lane_order
      } else {
        // 3. if there's a previous element take that lane order and add 1
        const prevEl = targetLane[e.newIndex - 1]
        if (prevEl) {
          lane_order = prevEl.lane_order + 1
        }
      }

      return lane_order
    },
    /* eslint-enable camelcase */
    displayRefreshBar() {
      if (this.refreshBarActive || this.boardUpdateTimeout) {
        return
      }

      this.refreshBarActive = true
    },
    refreshBoard() {
      this.initializeBoard()
      this.refreshBarActive = false
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "header": {
      "none": "Werkvoorraad",
      "todo": "Te doen",
      "doing": "Aan 't doen",
      "done": "Al gedaan"
    },
    "board-changed": "Er zijn updates voor dit kanbanbord.",
    "button": {
      "refresh-board": "Kanban bijwerken"
    }
  }
}
</i18n>

<style lang="scss">
@import 'board.scss';
</style>
