<template>
  <section class="pu-section pu-organization-members">
    <h2>{{ $t('header') }}</h2>
    <div class="pu-grid-list">
      <pu-card-user
        v-for="member in members"
        :key="member.uuid"
        :user="member"
        role
      >
        <template
          v-if="$can('organization_member_set_role')"
          v-slot:options="{ deactivate }"
        >
          <pu-list>
            <li v-if="hasRole(member, ORGANIZATION_USER_ROLES.admin)">
              <pu-button
                flat
                :loading="isRoleChangePending(member)"
                @click.stop.prevent="
                  changeOrganizationRole(
                    member,
                    ORGANIZATION_USER_ROLES.member,
                    deactivate
                  )
                "
              >
                <span>{{ $t('button.revoke-admin') }}</span>
              </pu-button>
            </li>
            <li v-if="hasRole(member, ORGANIZATION_USER_ROLES.member)">
              <pu-button
                flat
                :loading="isRoleChangePending(member)"
                @click.stop.prevent="
                  changeOrganizationRole(
                    member,
                    ORGANIZATION_USER_ROLES.admin,
                    deactivate
                  )
                "
              >
                <span>{{ $t('button.make-admin') }}</span>
              </pu-button>
            </li>
          </pu-list>
        </template>
      </pu-card-user>
    </div>
  </section>
</template>

<script lang="ts">
import PuCardUser from '@/components/implementations/card/user/card-user.vue'
import changeOrganizationRole from '@/data/user/change-organization-role'
import hasRole from '@/lib/model/user/has-role'
import { ORGANIZATION_USER_ROLES } from '@/types'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-organization-members',

  components: {
    PuCardUser,
  },

  props: {
    organization: {
      type: Object,
      required: true,
    },
    members: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      roleChangePending: {
        /*
          [user_uuid]: boolean,
        */
      } as Record<string, boolean>,
      ORGANIZATION_USER_ROLES,
    }
  },

  computed: {
    isRoleChangePending() {
      return (user: any) => {
        return this.roleChangePending[user.uuid]
      }
    },
  },

  methods: {
    hasRole,
    async changeOrganizationRole(
      user: any,
      role: ORGANIZATION_USER_ROLES,
      done: Function
    ) {
      if (user.role === role) {
        return
      }

      this.setRoleChangePending(user, true)

      try {
        await changeOrganizationRole(
          {
            organizationUuid: this.organization.uuid,
            userUuid: user.uuid,
          },
          {
            data: {
              role,
            },
          }
        )

        this.$set(user, 'role', role)
        this.setRoleChangePending(user, false)
        done()
      } catch (error) {
        this.$logger.error(error)
      }
    },
    setRoleChangePending(user: any, pending: boolean) {
      this.$set(this.roleChangePending, user.uuid, pending)
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "header": "Medewerkers",
    "button": {
      "revoke-admin": "Admin intrekken",
      "make-admin": "Admin maken"
    }
  }
}
</i18n>

<style></style>
