<template>
  <div
    :class="rootClasses"
  >
    <!-- tabindex="0" -->
    <!-- @keydown="onKeyDown" -->
    <pu-dropdown
      v-model="dropdownActive"
    >
      <template slot="activator">
        <slot name="activator">
          <pu-textfield v-bind="inputAttributes" />
        </slot>
      </template>

      <pu-select-list>
        <pu-select-list-item
          v-for="(item, index) in items"
          :key="index"
          :value="item"
          :multiple="multiple"
          :text="getText(item)"
          :disabled="item[itemDisabled]"
          @select="onListItemSelect"
        >
          <slot name="list-item" :item="item" />
        </pu-select-list-item>
      </pu-select-list>

      <!-- <ul class="select-list">
        <li v-for="(item, index) in items" :key="index" class="select-list-item">
          <slot name="item" :item="item">
            {{getText(item)}}
          </slot>
        </li>
      </ul> -->
    </pu-dropdown>
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base.js'
import PuSelectList from '@/components/base/input/select/list/select-list.vue'
import PuSelectListItem from '@/components/base/input/select/list-item/select-list-item.vue'

import {
  assign,
  get,
  isFunction,
} from 'lodash'
import {
  comparable,
  selectable,
} from '@/mixins'

export default {
  name: 'pu-select',

  // inheritAttrs: false,

  // extends: '',

  mixins: [
    comparable,
    selectable,
  ],

  components: {
    PuSelectList,
    PuSelectListItem,
  },

  props: {
    items: {
      type: Array,
      default: () => [],
    },
    itemDisabled: {
      type: [String, Function],
      default: 'disabled',
    },
    itemText: {
      type: [String, Function],
      default: 'text',
    },
    itemValue: {
      type: [String, Function],
      default: 'value',
    },
    limit: {
      type: Number,
      default: 10,
    },
    multiple: {
      type: Boolean,
    },
    returnObject: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      dropdownActive: false,
      selectedIndex: -1,
      selectedItems: [],
    }
  },

  // watch: {
  //   selectedIndex: {
  //     handler(newVal) {
  //       if (newVal === -1) {
  //         if (this.dropdownActive) {
  //           this.dropdownActive = false
  //         }
  //       } else if (!this.dropdownActive) {
  //         this.dropdownActive = true
  //       }
  //     },
  //   }
  // },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-select': true,
        // 'is-active': this.isActive,
      }
    },
    inputAttributes() {
      return assign({
        id: this.id,
        type: 'text',
        placeholder: this.placeholder,
        readonly: this.readonly,
      }, this.$attrs)
    },
    computedItems() {
      return this.limit ? this.items.slice(0, this.limit) : this.items
    },

    isMultiple() {
      return this.multiple || Array.isArray(this.internalValue)
    },
  },

  methods: {
    getText(item) {
      if (isFunction(this.itemText)) {
        return this.itemText(item)
      } else if (Boolean(this.itemText)) {
        return get(item, this.itemText, item)
      }

      return item
    },
    getValue(item) {
      if (isFunction(this.itemValue)) {
        return this.itemValue(item)
      } else if (Boolean(this.itemValue)) {
        return get(item, this.itemValue, item)
      }

      return item
    },

    onKeyDown({ keyCode }) {
    //   switch (keyCode) {
    //     case 'down':
    //       this.selectedIndex += 1
    //       break
    //     case 'up':
    //       this.selectedIndex -= 1
    //       break
    //     default:
    //       break
    //   }
    },

    onListItemSelect(item) {
      console.log('list item selected: ', item)
      if (this.isMultiple) {

      }
      this.dropdownActive = false
    },
  }
}
</script>

<style lang="scss">
  @import "select.scss";
</style>