<template>
  <div :class="rootClasses">
    <component :is="tag" v-if="showInput" class="component component__input">
      <slot />
    </component>

    <component
      :is="tag"
      v-if="showContent"
      class="component component__content"
      :class="componentContentClasses"
      @click="onContentClick"
    >
      <span v-if="!hasValue" v-html="placeholder || '&nbsp;'" />
      <slot name="content">{{ internalValue }}</slot>
    </component>

    <div v-if="hasError && showInput" class="error-controls">
      <pu-icon v-if="hasError" name="error" size="24" color="error" />

      <pu-tooltip v-if="isFocused" class="pu-tooltip-error">
        <ul>
          <li v-for="validation in validations" :key="validation">
            {{ $t(validation) }}
          </li>
        </ul>
      </pu-tooltip>
    </div>
  </div>
</template>

<script>
import isFunction from 'lodash/isFunction'
import PuControlBase from '@/components/base/input/_base/control-base'
import PuTooltip from '@/components/base/tooltip/tooltip'

export default {
  name: 'pu-content-editable',

  components: {
    PuTooltip,
  },

  extends: PuControlBase,

  props: {
    /**
     * Flag to always show the content even if in edit mode
     * @prop always-show-content
     * @type {Boolean}
     * @default false
     */
    alwaysShowContent: {
      type: Boolean,
      default: false,
    },
    /**
     * Decide wether this component may be edited
     * @prop can-edit
     * @type {Boolean}
     * @default true
     */
    canEdit: {
      type: Boolean,
      default: true,
    },
    /**
     * Decide wether this component is in edit mode from the outside
     * @prop editing
     * @type {Boolean}
     * @default void 0
     */
    editing: {
      type: Boolean,
      default: void 0,
    },
    /**
     * Decide which html tag is to be used to wrap the input and content
     * @prop tag
     * @type {String}
     * @required
     */
    tag: {
      type: String,
      required: true,
    },
    /**
     * Used for `hasValue`
     * @prop valueComparator
     * @type {Function}
     * @default {} @see ...
     */
    valueComparator: {
      type: Function,
      default: (v) => {
        if (typeof v === 'string' || Array.isArray(v)) {
          return v.length > 0
        }
        return Boolean(v)
      },
    },
    forceEdit: {
      type: Boolean,
      default: false,
    },
  },

  data(vm) {
    return {
      isActive: vm.canEdit && vm.editing,
      previousValue: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-content-editable': true,
        'is-active': this.isActive,
        'is-focused': this.isFocused,
        'has-error': this.hasError,
      }
    },
    componentContentClasses() {
      return {
        'component--placeholder': !this.hasValue && this.placeholder,
      }
    },
    hasValue() {
      // @TODO: look into other solutions to check when a value is a value,
      // e.g. an empty array can be seen as no value..
      // return Boolean(this.internalValue)

      // What's a proper name for this?
      return this.valueComparator(this.internalValue)
    },
    showInput() {
      return this.isActive && this.canEdit
    },
    showContent() {
      return this.alwaysShowContent || !this.isActive
    },
  },

  watch: {
    editing: {
      handler(newVal) {
        if (newVal) {
          this.activate()
        } else {
          this.deactivate()
        }
      },
    },
    value: {
      handler(newVal, oldVal) {
        this.previousValue = this.lazyValue
        this.lazyValue = newVal
      },
      immediate: true,
    },
    isActive: {
      handler(newVal) {
        if (newVal !== this.editing) {
          this.$emit('update:editing', newVal)
        }
      },
    },
  },

  methods: {
    onBlur(e) {
      this.blur(e)
    },
    onEnter(e) {
      if (this.hasValue) {
        this.$emit('save', {
          value: this.internalValue,
          done: this.deactivate,
        })
      }
    },
    onContentClick(e) {
      this.activate()
      this.$nextTick(() => {
        if (this.input) {
          this.input.focus()
        }
      })
      this.$emit('click')
    },

    focus() {
      this.activate()
      this.$nextTick(() => {
        if (this.input) {
          this.input.focus()
        }
      })
    },
    blur(e) {
      const inputDirty = this.input.isDirty
      this.isFocused = false
      this.$emit('blur', e)

      if (inputDirty) {
        this.$emit('save', {
          value: this.internalValue,
          done: this.deactivate,
        })
      } else {
        this.deactivate()
      }
    },
    activate() {
      if (!this.canEdit || this.isActive) {
        return
      }

      this.isActive = true
      this.$nextTick(() => {
        if (this.input) {
          this.input.setValue(this.internalValue)
        }
      })
    },
    deactivate() {
      if (!this.forceEdit && this.isActive) {
        this.isActive = false
      }
    },
  },
}
</script>

<style lang="scss">
@import 'content-editable.scss';
</style>
