
.pu-content-editable {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .component {
    flex: 1 1 auto;
    min-width: 0;
    border-radius: 1.334rem;

    &__content {
      border-color: transparent;
      border-style: solid;
      border-width: 2px;
      padding: 0.667rem 1.3rem;
    }

    .pu-input {
      input,
      textarea {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        height: inherit;
        line-height: inherit;
        padding: 0.667rem 1.3rem;
//         padding: 0.4rem .7rem;
        margin: 0;
        flex: 1 1 auto;
        width: 100%;
        box-shadow: none;
      }
    }

    .pu-input,
    .pu-picker {
      .control {
        width: 100%;
      }
    }

    // &__content {
    //   border-color: transparent;
    //   border-style: solid;
    //   border-width: 2px;
    //   // padding: .667rem 1.3rem;
    //   padding: .4rem .7rem;
    // }

    &--placeholder {
      color: $gray-4;
    }
  }

  .error-controls {
    position: absolute;
    right: 9px;
    top: 9px;
    display: inline-block;
    z-index: 1;

    .pu-tooltip {
      min-width: 20rem;
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      background: $white;

      position: absolute;
      bottom: 100%;
      right: -9px;
      z-index: 5; // TODO: set up system for modular z-axis stacking of content elements.
      padding: 1rem 1.334rem;
      margin-bottom: 0.8rem;
//       border-radius: $border-radius-small;
//       background: $white;
      color: $black;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -16px;
        right: 13px;
        border: 8px solid transparent;
        border-top-color: $white;
      }

/*
      &-error {
        background-color: $error-red-light;

        &:before {
          border-top-color: $error-red-light;
        }
      }
*/
    }
  }

  &.is-focused {
    z-index: 10;

    .error-controls {
      z-index: 10;
    }
  }

  &.has-error {
    .component {
      &__input {
        input {
          border-color: $error;
        }
      }
    }
  }
}
