.pu-form-control {
  position: relative;

  > .pu-label {
    margin: 0;
    display: inline-flex;

    > *:not(.pu-input):first-of-type {
      margin-left: 6px;
    }
  }

  &.is-focused {
    input,
    textarea {
      border-color: $primary;
    }
  }

  .pu-icon {
    &-error {
      // For future development: make an overview of all cases with an icon in the form control component.
      position: absolute;
      right: 8px;
      top: 8px;
      display: none;
      color: $red-dark;
    }
  }

  &--error {
    input,
    textarea {
      border-color: $red-dark;
      border-color: $red-200;

      &:focus {
        border-color: $red-dark;
      }
    }

    .pu-icon-error {
      display: block;
    }
  }

  .error-controls {
    position: absolute;
    right: 9px;
    top: 9px;
    display: inline-block;
    z-index: 1;

    .pu-tooltip {
      min-width: 20rem;
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      background: $white;

      position: absolute;
      bottom: 100%;
      right: -9px;
      z-index: 5; // TODO: set up system for modular z-axis stacking of content elements.
      padding: 1rem 1.334rem;
      margin-bottom: 0.8rem;
//       border-radius: $border-radius-small;
//       background: $white;
      color: $black;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -16px;
        right: 13px;
        border: 8px solid transparent;
        border-top-color: $white;
      }
    }
  }
}
