<template>
  <div :class="rootClasses">
    <slot />

    <pu-icon v-if="hasError" name="error" size="24" />

    <div v-if="validations.length > 0" class="error-controls">
      <div class="pu-tooltip pu-tooltip-error">
        <ul>
          <li v-for="validation in validations" :key="validation">
            {{ $t(validation) }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import PuControlBase from '@/components/base/input/_base/control-base'

export default {
  name: 'pu-form-control',

  extends: PuControlBase,

  computed: {
    rootClasses() {
      return {
        'pu-form-control': true,
        'is-focused': this.isFocused,
        'pu-form-control--error': this.hasError,
      }
    },
  },
}
</script>

<style lang="scss">
@import 'form-control.scss';
</style>
