<template>
  <div
    :class="rootClasses"
  >
    <pu-label
      v-if="hasLabel"
      :for="id"
      :color="validationState"
    >
      <slot name="label">{{label}}</slot>
    </pu-label>

    <pu-dropdown
      v-model="isDropdownActive"
      ref="dropdown"
    >
      <div
        slot="activator"
        class="pu-select__control"
      >
        <div
          class="pu-select__selections"
        >
          <span
            v-if="isMultiple && inline"
            v-for="(selection, i) in selectedItems"
            :key="i"
          >
            <slot name="selection" :item="selection">
              <pu-tag
                :text="getText(selection)"
                small
              />
            </slot>
          </span>

          <input
            v-bind="inputAttributes"
            ref="input"
          >
        </div>

        <pu-icon
          name="expand_more"
          :size="24"
          :class="selectIconClasses"
        />
      </div>

      <ul
        class="pu-select-list"
      >
        <pu-select-list-item
          v-for="(item, index) in items"
          v-model="selectedItems"
          :key="index"
          :multiple="multiple"
          :value="item"
          :text="getText(item)"
          @select="onListItemClick"
        >
          <slot name="list-item" :item="item" />
        </pu-select-list-item>
      </ul>
    </pu-dropdown>

    <div
      v-if="isMultiple && !inline"
      class="pu-select__selections"
    >
      <span
        v-for="(selection, i) in selectedItems"
        :key="i"
      >
        <slot name="selection" :item="selection">
          <pu-tag
            :text="selection.text"
            small
          />
        </slot>
      </span>
    </div>
  </div>
</template>

<script>
import {
  assign,
  findIndex,
  get,
} from 'lodash'
import {
  comparable,
  selectable,
} from '@/mixins'

import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import PuSelectListItem from './_children/list-item.vue'

export default {
  name: 'pu-select',

  inheritAttrs: false,

  /** @extends */
  extends: PuTextfield,

  /** @mixins */
  mixins: [
    comparable,
  ],

  components: {
    PuSelectListItem,
  },

  data() {
    return {
      isDropdownActive: false,
      // selectedIndex: -1,
      selectedItems: [],
    }
  },

  props: {
    hideSelected: {
      type: Boolean,
    },
    inline: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    itemDisabled: {
      type: [String, Function],
      default: 'disabled',
    },
    itemText: {
      type: [String, Function],
      default: 'text',
    },
    itemValue: {
      type: [String, Function],
      default: 'value',
    },
    max: {
      type: Number,
      default: null,
    },
    multiple: {
      type: Boolean,
    },
    returnObject: {
      type: Boolean,
      default: false,
    },
  },

  watch: {
    // items: {
    //   handler(newVal) {
    //     // this.setSelectedItems()
    //   },
    //   immediate: true,
    // },
    // lazyValue: {
    //   handler(newVal) {
    //     if (!this.valueComparator(newVal, this.selectedItems)) {
    //       this.selectedItems = newVal
    //     }
    //   }
    // },
    selectedItems: {
      handler(newVal) {
        if (this.isMultiple) {
          if (this.returnObject) {
            this.internalValue = newVal
          } else {
            this.internalValue = newVal.map((v) => this.getValue(v))
          }
        } else {
          if (this.returnObject) {
            this.internalValue = newVal
          } else {
            this.internalValue = this.getValue(newVal)
          }
        }
      },
      deep: true,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-select': true,
        'pu-select--inline': this.inline,
        'is-active': this.isActive,
      }
    },
    selectIconClasses() {
      return {
        'is-active': this.isActive,
      }
    },
    inputAttributes() {
      return assign({},
        {
          id: this.id,
          type: this.type,
          disabled: this.isDisabled,
          value: (!this.isMultiple && this.internalValue) || '',
          placeholder: !this.isDirty && this.placeholder,
          readonly: this.isMultiple || this.readonly,
        },
        this.$attrs,
      )
    },
    isDirty() {
      return Boolean(this.internalValue || this.isActive)
    },
    isMultiple() {
      return Boolean(this.multiple || Array.isArray(this.internalValue))
    },
  },

  methods: {
    getText(item) {
      return get(item, `${this.itemText}`, get(item, 'text', item))
    },
    getValue(item) {
      return get(item, `${this.itemValue}`, get(item, 'value', this.getText(item)))
    },
    onListItemClick(e) {
      this.isDropdownActive = false
    }
  },
}
</script>

<style lang="scss">
  @import "select.scss";
</style>
