
.pu-select {
  // grid-template-rows: auto auto auto auto;
  max-width: 350px;

  .pu-label {
    grid-row: 1;
    margin-bottom: 4px;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
  }

  .activator {
    grid-row: 2;

    .pu-select__control {
      border: 1px solid grey;
      border-radius: .334rem;
      border-color: grey;
      display: flex;
      align-items: center;

      .pu-select__selections {
        padding: 9px 10px;
        align-items: center;
      }

      input {
        background-color: inherit;
        border: none;
        border-radius: inherit;
        flex: 1 1;
        font-size: 1rem;
        line-height: 1.35rem;
        outline: none;
        // padding: 9px 10px;
        min-width: 0px;
        pointer-events: none;
      }
    }

    .pu-icon-dropdown {
      transition: transform .17s linear;

      &.is-active {
        transform: rotate(180deg);
        transform-origin: center center 0;
      }
    }
  }

  .content {
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;

    .pu-select__list {
      border: 1px solid grey;
      border-top: none;
      border-radius: .334rem;
      margin-top: -6px;
      padding-top: 10px;

      .pu-list-item {
        padding: 10px 16px;
        cursor: pointer;

        &:first-child {
          padding-top: 16px;
        }
        &:last-child {
          padding-bottom: 16px;
        }

        &.is-selected {
          background: lightgray;
        }
      }
    }
  }

  &.is-active {
    .activator {
      .pu-select {
        &__control {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  &__selections {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    grid-row: 3;
  }


  &--inline {
    .pu-select {
      &__selections {
        // position: absolute;
        // width: 100%;
        grid-row: 2;
      }
    }
  }
}