<template>
  <figure :class="rootClasses">
    <svg v-if="symbol" xmlns="http://www.w3.org/2000/svg">
      <use :xlink:href="computedSvgPath"></use>
    </svg>
    <img v-else :src="computedSvgPath" />
  </figure>
</template>

<script lang="ts">
import colorable from '@/mixins/colorable'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-svg',

  mixins: [colorable],

  props: {
    file: {
      type: String,
      required: true,
    },
    symbol: {
      type: [Boolean, String],
      required: false,
      default: 'root',
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor(
        {
          'pu-svg': true,
        },
        this.color
      )
    },
    computedSvgPath() {
      const id = this.symbol ? `#${this.symbol}` : ''
      return this.$globals.images.getPublicImageUrl(`${this.file}${id}`)
    },
  },
})
</script>

<style lang="scss">
@import 'svg.scss';
</style>
