<template>
  <p class="pu-tip" :class="rootClasses">
    <strong>
      <slot name="figure">
        {{ figure }}
      </slot>
    </strong>
    <component
      :is="computedComponent"
      v-bind="computedAttrs"
      class="pu-tip-text"
    >
      <slot />
    </component>
  </p>
</template>

<script lang="ts">
import Vue from 'vue'
import colorable from '@/mixins/colorable'

export default Vue.extend({
  name: 'pu-tip',

  mixins: [colorable],

  props: {
    figure: {
      default: 'Tip!',
      required: false,
    },
    to: {
      type: Object,
      required: false,
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'is-link': !!this.to,
      })
    },
    computedComponent() {
      return this.to ? 'router-link' : 'span'
    },
    computedAttrs() {
      const attrs: any = {}

      if (this.to) {
        attrs.to = this.to
      }

      return attrs
    },
  },
})
</script>

<style lang="scss">
@import 'tip.scss';
</style>
