/*
.pu-tip {
  align-items: center;
  display: inline-flex;

  &-text {
    margin-left: 6px;
    color: currentColor;
  }

  .pu-avatar {
    padding: 6px;

    > span {
      color: $white;
    }
  }
}
*/

.pu-tip {
  display: flex;
  align-items: center;

  strong {
    flex: 0 0 auto;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 1.5rem;
//     background-color: $blue-info;
    background-color: currentColor;
    color: $white;
    padding-top: 0.8rem;
    font-family: 'Merriweather',serif;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    transform: rotateZ(-6deg);
  }

  span, a {
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
//     color: $blue-info;
    color: currentColor;
  }
  a {
    text-decoration: none;
//     border-bottom: 1px solid $blue-info;
    border-bottom: 1px solid currentColor;
  }
}
