.pu-picker-activity-status {
  $row-height: 32px;
  height: $row-height;
  overflow: hidden;

  .pu-radio-group {
    display: flex;
    flex-flow: column nowrap;
//     transition: transform .12s linear;
    border-radius: $border-radius;

    .pu-radio {
      height: $row-height;
      position: relative;
      align-items: center;
      padding: 6px;
      margin: 0;
      display: flex;

      .icon {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
      }

      .content {
        display: none;
      }
    }

    @for $i from 0 through 8 {
      &[data-selected="#{$i}"] {
        transform: translateY(-($i*strip-unit($row-height)) + px);
      }
    }
  }

  .pu-activity-status {
    &-none,
    &-todo,
    &-doing,
    &-done {
      .pu-icon {
        border: 2px solid $blue;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        color: $accent;
      }
    }

    &-none {
      .pu-icon {
        color: $white;
        border-color: $gray-1;
        border-width: 1px;
      }
    }

    &-todo {
      .pu-icon {
        color: $white;
      }
    }
  }

  &.is-active {
    overflow: initial;

    .pu-radio-group {
      z-index: 99;
      background-color: $white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);

      .pu-radio {
        .content {
          display: initial;
          margin: 0 4px 0 2px;
          padding: 0px 6px;
          font-weight: 400;
        }
      }
    }

    &.out-of-bounds {
      .pu-radio-group {
        transform: none;
      }
    }
  }

  &:not(.is-disabled) {
    .pu-radio {
      input {
        cursor: pointer;
      }
    }
  }
}
