<template>
  <div :class="rootClasses">
    <pu-radio-group
      ref="radiogroup"
      v-click-outside="{
        condition: () => !stateless && isActive,
        handler: close,
      }"
      :value="internalValue"
      :disabled="disabled"
      @click.native="open"
      @blur="onBlur"
      @change="onInput"
      @focus="onFocus"
    >
      <slot>
        <pu-radio
          v-for="item in items"
          :key="item.key"
          :value="item.value"
          :icon="item.icon"
          :class="`pu-activity-status-${item.key}`"
          indeterminate
        >
          <span>{{
            $t(`picker-activity-status-radio-content-${item.key}`)
          }}</span>
        </pu-radio>
      </slot>
    </pu-radio-group>
  </div>
</template>

<script>
import PuRadio from '@/components/base/input/radio/radio'
import PuRadioGroup from '@/components/base/input/radio/radio-group'
import { lazyModelFactory } from '@/mixins/lazy-model'
import clickOutside from '@/directives/click-outside'

export default {
  name: 'pu-picker-activity-status',

  mixins: [lazyModelFactory('change')],

  components: {
    PuRadio,
    PuRadioGroup,
  },

  directives: {
    clickOutside,
  },

  props: {
    active: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    stateless: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isActive: false,
      isOutOfBounds: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-picker-activity-status': true,
        'is-active': this.isActive,
        'is-disabled': this.disabled,
        stateless: this.stateless || null,
        'out-of-bounds': this.isOutOfBounds,
      }
    },
  },

  watch: {
    active: {
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          this.isActive = newVal
        }
      },
      immediate: true,
    },
  },

  methods: {
    checkBounds() {
      const radioGroup = this.$refs.radiogroup
      if (radioGroup) {
        const el = radioGroup.$el
        if (el) {
          const rect = el.getBoundingClientRect()
          if (rect) {
            this.isOutOfBounds = rect.y - rect.height < 0
          } else {
            this.isOutOfBounds = false
          }
        }
      }
    },
    close() {
      if (this.isActive) {
        this.isActive = false
        this.$emit('update:active', false)
      }
    },
    open(e) {
      e.stopPropagation()
      if (!this.disabled && !this.isActive) {
        this.checkBounds()
        this.isActive = true
        this.$emit('update:active', true)
      }
    },
    onInput(v) {
      this.internalValue = v
      this.close()
    },
    onBlur(e) {
      this.$emit('blur', e)
    },
    onFocus(e) {
      this.$emit('focus', e)
    },
  },
}
</script>

<style lang="scss">
@import 'picker-activity-status.scss';
</style>
