<template>
  <div :class="rootClasses">
    <pu-dashboard-organization-invite @accept="organizationSolicitAccept" />

    <pu-bulletin scope="organization" type="welcome" />
    <pu-bulletin scope="user" type="welcome" />
    <pu-bulletin scope="organization" type="involvement" />

    <pu-dashboard-solicit @accept="refreshAllData" />

    <pu-dashboard-content-partups
      v-if="userIsPartnerInPartups || $can('organization_partup_create')"
      :partups="filteredPartups"
    />

    <pu-dashboard-activities
      v-if="userIsContributingToActivities"
      :activities="activities"
    />

    <pu-dashboard-journeys />
  </div>
</template>

<script lang="ts">
import { mapActions, mapGetters } from 'vuex'
import PuDashboardContentPartups from './partups/dashboard-content-partups.vue'
import PuDashboardOrganizationInvite from './solicit/organization-invite/dashboard-organization-invite.vue'
import PuDashboardSolicit from './solicit/solicit.vue'
import PuDashboardJourneys from './journey/journeys.vue'
import PuBulletin from '@/components/modules/bulletin/bulletin'

import ability from '@/mixins/ability'
import mixins from '@/util/vue/mixins'

export default mixins(
  ability({
    attribute: 'currentOrganization',
  })
).extend({
  name: 'pu-view-content-dashboard',

  components: {
    PuBulletin,
    PuDashboardActivities: () => import('./activities/activities.vue'),
    PuDashboardContentPartups,
    PuDashboardOrganizationInvite,
    PuDashboardSolicit,
    PuDashboardJourneys,
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.getData()
    })
  },

  watch: {
    hasProfile: {
      handler(newVal: boolean) {
        if (newVal === false) {
          this.openProfileModal()
        }
      },
      immediate: true,
    },
  },

  computed: {
    ...mapGetters(['currentOrganization', 'currentUser']),
    ...mapGetters('user', ['hasProfile', 'userOrganizations']),
    ...mapGetters('views/dashboard', [
      'activities',
      'filteredPartups',
      'userIsContributingToActivities',
      'userIsPartnerInPartups',
    ]),
    rootClasses() {
      return {
        'pu-view-content-dashboard': true,
        'is-first-login': this.isFirstLogin,
      }
    },
    isFirstLogin() {
      return (
        this.currentUser !== undefined &&
        this.currentUser.organizations !== undefined &&
        this.currentUser.organizations.length === 0
      )
    },
  },

  methods: {
    ...mapActions('views/dashboard', ['getActivities', 'getPartups']),
    ...mapActions('user', ['getUser']),
    ...mapActions(['setDefaultOrganizationContext']),
    getData() {
      this.getActivities()
      this.getPartups()
    },
    async refreshAllData() {
      await this.getUser()
      this.getData()
    },
    openProfileModal() {
      this.$modal.open('user-profile', {
        onCancel: this.onProfileModalCancel,
        onSuccess: this.getData(),
      })
    },
    onProfileModalCancel() {
      if (!this.hasProfile) {
        this.openProfileModal()
      }
    },
    async organizationSolicitAccept(solicit) {
      await this.refreshAllData()
      this.setDefaultOrganizationContext(solicit.organization)
    },
  },
})
</script>

<style lang="scss">
@import 'content.scss';
</style>
