<template>
  <pu-list>
    <slot />
  </pu-list>
</template>

<script lang="ts">
import Vue from 'vue'
import findIndex from 'lodash/findIndex'

export default Vue.extend({
  name: 'pu-accordion-summary',

  provide() {
    return {
      accordion: this,
    }
  },

  data() {
    return {
      items: [],
      expanded: [],
    }
  },

  methods: {
    register(VNode) {
      const VNodeIndex = this.items.push(VNode) - 1
      this.expanded[VNodeIndex] = null
    },
    unregister(VNode) {
      const vnodeIndex = this.findVNodeIndex(VNode.uid)

      if (vnodeIndex > -1) {
        this.items.splice(vnodeIndex, 1)
        this.expanded.splice(vnodeIndex, 1)
      }
    },
    panelClick(uid) {
      const vnodeIndex = this.findVNodeIndex(uid)
      const expanded = Array(this.expanded.length).fill(false)
      expanded[vnodeIndex] = !this.expanded[vnodeIndex]
      this.expanded = expanded
      this.updateNodes()
    },
    reset() {
      this.expanded = Array(this.expanded.length).fill(null)
      this.updateNodes()
    },
    findVNodeIndex(uid) {
      return findIndex(this.items, (panel: any) => panel._uid === uid)
    },
    updateNodes(expanded = this.expanded) {
      let i = 0

      for (; i < this.items.length; i += 1) {
        const VNode = this.items[i]
        VNode.toggle(expanded[i])
      }
    },
  },
})
</script>

<style lang="scss"></style>
