.pu-tile-content-summary-empty {
  // Matching enhance profile tip
  .pu-tip {
    strong {
      background-color: $purple;
    }

    span, a {
      color: $purple-dark;
    }

    a {
      border-bottom-color: $purple-dark;
    }
  }

}
