<template>
  <div class="pu-tile-content-summary-empty">
    <p>{{ $t('intro') }}</p>
    <h4>{{ $t('header') }}</h4>
    <p>{{ $t('description', { count: matchCount }) }}</p>
    <pu-tip
      :figure="`${matchCount}%`"
      :to="{
        name: 'user-profile',
        params: {
          userSlug: currentUser.slug,
        },
      }"
    >
      Profiel aanvullen
    </pu-tip>
  </div>
</template>

<script lang="ts">
import PuTip from '@/components/base/tip/tip.vue'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-tile-summary-content-empty',

  components: {
    PuTip,
  },

  computed: {
    ...mapGetters(['currentUser']),
  },

  data() {
    return {
      matchCount: 45,
    }
  },
})
</script>

<i18n>
{
  "nl": {
    "intro": "Vervelend dat we geen toffe activiteiten voor je hebben op het moment. Dat kan vast beter, en daar kun je ons bij helpen!",
    "header": "Jouw matchprofiel",
    "description": "Je profiel staat nu op {count}% matchkwaliteit. Als je je profiel aanvult, kunnen we activiteiten beter laten aansluiten op je talenten."
  }
}
</i18n>

<style lang="scss">
@import 'tile-content-empty.scss';
</style>
