<template>
  <li class="pu-tile-summary-content-activity" :class="rootClasses">
    <h4>{{ activity.name }}</h4>

    <div v-if="detail" class="pu-tile-activity-detail">
      <p>
        {{
          $t('affordance.request_partup.description', {
            partup: value.data.partup.name,
          })
        }}
      </p>

      <p v-if="hasPendingRequest">
        {{ $t('pending-request-for-partup') }}
      </p>

      <pu-action
        v-else-if="hasAffordance(value, 'request_partup')"
        :action="handleRequest"
        @error="hasError = true"
        @success="hasSuccess = true"
      >
        <template
          v-slot:default="{
            error,
            trigger,
            pending,
            success,
          }"
        >
          <div v-if="success" class="pu-action-success">
            <span>{{ $t('affordance.request_partup.success') }}</span>
          </div>
          <div v-else-if="error" class="pu-action-error">
            <span>{{ $t('affordance.request_partup.error') }}</span>
          </div>
          <div v-else class="pu-solicit-join-partup">
            <pu-button color="orange" small :loading="pending" @click="trigger">
              {{ $t('affordance.request_partup.button-trigger') }}
            </pu-button>
            <span>{{ $t('affordance.request_partup.button-additive') }}</span>
          </div>
        </template>
      </pu-action>
    </div>

    <div>
      <template v-if="detail">
        <pu-button
          flat
          class="pu-action-trigger pu-action-trigger-return_to_overview"
          @click="handleBack"
        >
          <pu-icon name="arrow_left" :size="48" />
          <span>{{ $t('back') }}</span>
        </pu-button>
      </template>
      <template v-else>
        <pu-icon
          v-if="hasSuccess"
          name="success"
          color="green"
          :size="30"
          absolute
        />
        <pu-icon
          v-else-if="hasError"
          name="error"
          color="red"
          :size="30"
          absolute
        />

        <pu-action
          v-else
          :action="handleAction"
          @error="hasError = true"
          @success="hasSuccess = true"
        >
          <template
            v-slot:default="{
              pending,
              trigger,
            }"
          >
            <pu-button
              color="orange"
              class="pu-action-trigger"
              small
              :loading="pending"
              @click="trigger"
            >
              {{ $t('do-activity') }}
            </pu-button>
          </template>
        </pu-action>
      </template>
    </div>
  </li>
</template>

<script lang="ts">
import { registerableInject } from '@/mixins/registerable'
import { CarouselCard } from '@/types'
import hasAffordance from '@/util/matching/has-affordance'
import some from 'lodash/some'
import Vue, { PropType } from 'vue'
import { mapActions, mapGetters } from 'vuex'
import mixins from '@/util/vue/mixins'

export default mixins(
  registerableInject(
    'accordion',
    'pu-tile-summary-content-activity',
    'pu-accordion'
  )
).extend({
  name: 'pu-tile-summary-content-activity',

  props: {
    value: {
      type: Object as PropType<CarouselCard>,
      required: true,
    },
  },

  data() {
    return {
      detail: false,
      hasError: false,
      hasSuccess: false,
      isExpanded: false,
      isHidden: false,
    }
  },

  mounted() {
    this.accordion.register(this)
  },

  beforeDestroy() {
    this.accordion.unregister(this)
  },

  computed: {
    ...mapGetters('findAwesomeWork', ['hasPendingRequestForPartup']),
    activity() {
      return this.value.data.activity
    },
    rootClasses() {
      return {
        'is-collapsed': !this.isExpanded,
        'is-hidden': this.isHidden,
      }
    },
    isChild() {
      return !!this.accordion
    },
    hasPendingRequest() {
      return (
        this.hasPendingRequestForPartup(this.value.data.partup) ||
        hasAffordance(this.value, 'revoke_request_partup')
      )
    },
  },

  methods: {
    ...mapActions('findAwesomeWork', [
      'activityContribute',
      'solicitAccept',
      'solicitRequestPartup',
    ]),
    toggle(expanded) {
      if (expanded) {
        this.isExpanded = true
      } else if (expanded === null) {
        this.isExpanded = false
        this.isHidden = false
      } else {
        this.isHidden = true
      }
    },
    handleAction() {
      if (this.hasAffordance(this.value, 'accept_invite')) {
        this.solicitAccept({ item: this.value })
      } else if (this.hasAffordance(this.value, 'contribute')) {
        this.activityContribute(this.value)
      } else {
        if (this.isChild) {
          this.accordion.panelClick(this._uid)
        }
        this.detail = true
      }
    },
    handleBack() {
      if (this.isChild) {
        this.accordion.reset()
      }

      // when there's an existing request consider the action successful
      if (this.hasPendingRequest) {
        this.hasSuccess = true
      }

      this.detail = false
    },
    handleRequest() {
      this.solicitRequestPartup(this.value)
    },
    hasAffordance,
  },
})
</script>

<i18n>
{
  "nl": {
    "back": "Terug naar overzicht",
    "do-activity": "Tof, ga ik doen!",
    "pending-request-for-partup": "Je hebt al een verzoek open staan om partner te worden van deze partup.",
    "affordance": {
      "request_partup": {
        "button-trigger": "Aansluiten",
        "button-additive": "bij deze partup",
        "description": "We zien dat je nog niet in de partup ‘{partup}’ zit. Dat is nodig om deze activiteit op te pakken.",
        "error": "Het aansluitverzoek is niet gelukt",
        "success": "Je verzoek om aan te sluiten is verzonden"
      }
    }
  }
}
</i18n>

<style lang="scss">
@import 'tile-content-activity.scss';
</style>
