<template>
  <div class="pu-activity-solicit">
    <!-- Start with my pending solicits for this activity -->
    <pu-list class="pu-activity-solicit-list-pending">
      <pu-list-item-solicit
        v-for="request in requests"
        :key="request.uuid"
        :value="request"
        class="pu-list-item-solicit-activity"
        @accept="handleRequests"
        @reject="handleRequests"
      />
    </pu-list>

    <div class="pu-activity-solicit-actions">
      <pu-list-avatar
        v-if="contributors.length"
        :users="contributors"
        :limit="5"
      />

      <template v-if="!hasContributor(selectedActivity, currentUser)">
        <template v-if="$can('activity_add_contributor_self')">
          <pu-button
            class="pu-button-action"
            color="secondary"
            small
            :loading="actionPending('contribute')"
            @click="contributeActivity(selectedActivity)"
          >
            {{ $t('button.contribute') }}
          </pu-button>
        </template>
        <template v-else-if="myInvite">
          <pu-list-item-solicit
            :value="myInvite"
            :display-context="false"
            @accept="reloadActivityAndSolicits"
            @reject="reloadActivityAndSolicits"
          />
        </template>
        <template v-else-if="myRequest">
          {{ $t('request-pending') }}
        </template>
        <template v-else-if="$can('solicit_request_activity_self')">
          <pu-action
            :action="solicitRequest"
            @success="reloadActivityAndSolicits"
            @reject="reloadActivityAndSolicits"
          >
            <template
              v-slot:default="{
                pending,
                trigger,
              }"
            >
              <pu-button
                class="pu-button-action"
                color="secondary"
                small
                :loading="pending"
                @click="
                  trigger({
                    entity: 'activity',
                    entity_uuid: selectedActivity.uuid,
                  })
                "
              >
                {{ $t('button.contribute-request') }}
              </pu-button>
            </template>
          </pu-action>
          <span>{{ $t('request-as-guest') }}</span>
        </template>
      </template>

      <template v-if="$can('#solicit_invite_activity')">
        <pu-modal-activator
          for="invite"
          :modal-props="{
            context: selectedActivity,
            entity: 'activity',
            title: 'activiteit',
          }"
        >
          <pu-button class="pu-button-action" color="primary" small>
            {{ $t('button.invite') }}
          </pu-button>
        </pu-modal-activator>
        <span>
          <template v-if="hasContributor(selectedActivity, currentUser)">{{
            $t('invite-as-contributor')
          }}</template>
          <template v-else>{{ $t('invite-as-partner') }}</template>
        </span>
      </template>

      <pu-menu
        v-if="hasContributor(selectedActivity, currentUser)"
        transition="transition"
        transition-name="t-fade"
        class="pu-contributors-more-menu"
        close-on-content-click
      >
        <template v-slot:activator="{ on }">
          <pu-button icon v-on="on">
            <pu-icon name="more_options" :size="24" color="primary" />
          </pu-button>
        </template>

        <pu-list>
          <li>
            <pu-button
              color="error"
              outline
              small
              :loading="actionPending('stopContribute')"
              @click="stopContributeActivity(selectedActivity)"
            >
              {{ $t('button.stop-contribute') }}
            </pu-button>
            <span>{{ $t('stop-contribute-info') }}</span>
          </li>
        </pu-list>
      </pu-menu>
    </div>
    <!-- END .pu-activity-solicit-actions -->
  </div>
</template>

<script lang="ts">
import get from 'lodash/get'
import { mapActions, mapGetters } from 'vuex'
import hasContributor from '@/lib/model/activity/has-contributor'
import solicitRequest from '@/data/solicit/request'
import PuListItemSolicit from '@/components/implementations/list/solicit/list-item-solicit.vue'
import PuListAvatar from '@/components/implementations/list/avatar/list-avatar.vue'
import isForUser from '@/lib/model/solicit/is-for-user'
import { isForActivity } from '@/lib/model/solicit/is-for-entity'
import isRequest from '@/lib/model/solicit/is-request'
import ability from '@/mixins/ability'
import mixins from '@/util/vue/mixins'

export default mixins(
  ability({
    attribute: 'selectedActivity',
  })
).extend({
  name: 'pu-activity-solicit',

  components: {
    PuListItemSolicit,
    PuListAvatar,
  },

  computed: {
    ...mapGetters(['currentUser']),
    ...mapGetters('views/partup', ['partup']),
    ...mapGetters('views/partup/activities', [
      'selectedActivity',
      'actionPending',
    ]),
    myInvite() {
      return this.$store.getters['solicit/myInviteForActivity'](
        this.selectedActivity?.uuid
      )
    },
    myRequest() {
      return this.$store.getters['solicit/myRequestForActivity'](
        this.selectedActivity?.uuid
      )
    },
    requests() {
      return this.$store.getters['solicit/requestsForActivity'](
        this.partup?.uuid,
        this.selectedActivity?.uuid
      )
    },
    contributors() {
      return get(this.selectedActivity, 'contributors', [])
    },
  },

  mounted() {
    this.$socket.subscribe(this._uid, 'solicit_accept', (solicit) => {
      if (isForActivity(solicit, this.selectedActivity?.uuid)) {
        if (isRequest(solicit)) {
          if (isForUser(solicit, this.currentUser)) {
            // when I'm viewing this activity and my request is accepted it is nice that I see
            // myself as contributor right away.
            this.getActivity(this.selectedActivity)
          }
        }
      }
    })
    this.$socket.subscribe(this._uid, 'solicit_reject', (solicit) => {
      if (isForActivity(solicit, this.selectedActivity?.uuid)) {
        if (isRequest(solicit)) {
          if (isForUser(solicit, this.currentUser)) {
            // when I'm viewing this activity and my request is rejected it is nice that I see
            // the button to request again.
            this.getActivity(this.selectedActivity)
          }
        }
      }
    })
  },

  beforeDestroy() {
    this.$socket.unsubscribe(this._uid)
  },

  methods: {
    ...mapActions('solicit', ['getUserSolicits', 'getSolicitsForPartup']),
    ...mapActions('views/partup', ['getPartup']),
    ...mapActions('views/partup/activities', [
      'getActivity',
      'contributeActivity',
      'stopContributeActivity',
    ]),
    hasContributor,
    solicitRequest,

    async reloadActivityAndSolicits() {
      await this.getActivity(this.selectedActivity)
      this.getUserSolicits()
    },
    async handleRequests() {
      this.getSolicitsForPartup(this.partup?.uuid)
    },
  },
})
</script>

<i18n src="./solicit.nl.json"></i18n>

<style lang="scss">
@import 'solicit.scss';
</style>
