.pu-activity-solicit-list-pending {
  width: 100%;
  margin-bottom: 1.334rem;

  .solicit-content {
    padding-left: 0.667rem;
  }

  .pu-list-item-solicit {
    &-activity {
      padding: 0.4rem 0;

      @include goingSmall(medium) {
        flex-wrap: wrap;
        margin-bottom: 1.334rem;
      }

      .pu-link {
        &.user {
          color: black !important;
          display: flex;
          align-items: center;
          font-weight: 600;

          .pu-avatar {
            display: inline-block;
            flex: 0 0 auto;
          }

          span {
            display: inline;
            margin: 0 10px;
            border-bottom: 2px solid $black;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &--disabled {
          color: $black;
          margin-top: .334rem;
          font-weight: bold;
        }
      }


      .solicit-content {
        padding-left: 0.667rem;

        @include goingSmall(medium) {
          margin-top: -0.667rem;
          padding-left: 4.667rem;
        }
      }

      .solicit-actions {
        @include goingSmall(medium) {
          margin-left: 0;
          margin-top: 0.667rem;
          padding-left: 4.667rem;

          .pu-button {
            margin-left: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

.pu-activity-solicit-actions {
  display: flex;
  align-items: center;

  .pu-button-action {

    + .pu-button-action {
      margin-left: 6px;
    }

    + span {
      font-size: .8867rem;
      margin-left: .6rem;
    }
  }

  .pu-contributors-more-menu {
    margin-left: 1.2rem;

    .pu-icon {
      padding: 2px;
    }

    .content {
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      background: $white;
      bottom: 3rem;
      right: auto !important;
      left: -60px;
      padding: 1rem 1.334rem;

      li {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;

        .pu-button {
          font-weight: 600;

          + span {
            display: block;
            margin-left: .6rem;
            font-size: .9rem;
            white-space: nowrap;
          }
        }
      }

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -16px;
        right: auto !important;
        left: 70px;
        border: 8px solid transparent;
        border-top-color: $white;
      }
    }
  }
}
