<template>
  <article class="pu-view-partup-activity">
    <header>
      <pu-link :to="previousRoute">
        <pu-icon name="keyboard_backspace" :size="24" />
        {{ $t('back-to-activities') }}
      </pu-link>
    </header>

    <div class="options">
      <pu-menu
        v-if="$can('activity_delete')"
        ref="menu"
        transition="transition"
        transition-name="t-fade"
        class="pu-activity-more-menu"
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <pu-button flat icon color="blue" class="pu-button-options" v-on="on">
            <pu-icon name="more_options" :size="24" />
          </pu-button>
        </template>

        <pu-list>
          <li>
            <pu-button @click="duplicateActivity(selectedActivity)">
              {{ $t('duplicate-activity') }}
            </pu-button>
          </li>
          <li>
            <pu-dialog-activator
              title="Activiteit verwijderen"
              text="Weet je zeker dat je deze activiteit wilt verwijderen?"
              label-success="Ja, verwijderen"
              label-cancel="Nee, laat maar staan"
              class="pu-dialog-delete-activity"
              :success="{
                class: 'pu-button--activity-delete-confirm',
                color: 'error',
              }"
              :cancel="{
                class: 'pu-button--activity-delete-cancel',
              }"
              @success="activityDelete"
            >
              <pu-button class="pu-button-lookout">{{
                $t('delete-activity.activator')
              }}</pu-button>
            </pu-dialog-activator>
          </li>
        </pu-list>
      </pu-menu>

      <pu-link :to="{ name: 'partup' }" class="close-activity-detail">
        <pu-icon name="close" :size="24" color="primary" />
      </pu-link>
    </div>

    <div class="pu-activity-detail-main">
      <div v-if="isDuplicated" class="pu-duplicated-alert">
        <span>{{ $t('activity-duplicated-alert') }}</span>
      </div>

      <pu-activity-form :activity="selectedActivity" />

      <div v-if="selectedActivity" class="activity-contributors">
        <div>
          <pu-activity-solicit />
        </div>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { mapActions, mapGetters } from 'vuex'
import get from 'lodash/get'
import PuActivitySolicit from './solicit/solicit.vue'
import PuActivityForm from './form/form.vue'
import PuListAvatar from '@/components/implementations/list/avatar/list-avatar.vue'
import createForPartup from '@/data/activity/create-for-partup'
import ability from '@/mixins/ability'
import mixins from '@/util/vue/mixins'
import pick from 'lodash/pick'

export default mixins(
  ability({
    attribute: 'selectedActivity',
  })
).extend({
  name: 'pu-view-activity',

  components: {
    PuActivitySolicit,
    PuActivityForm,
    PuListAvatar,
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.initialize({
        uuid: to.params.activityUuid,
      })
    })
  },

  beforeRouteUpdate(to, from, next) {
    this.initialize({
      uuid: to.params.activityUuid,
    })
    next()
  },

  beforeRouteLeave(to, from, next) {
    next()
    this.selectActivity(null)
  },

  computed: {
    ...mapGetters('views/partup', ['partup']),
    ...mapGetters('views/partup/activities', ['selectedActivity']),
    previousRoute() {
      const name =
        this.$route.query.from === 'board' ? 'partup-board' : 'partup'

      return {
        name,
      }
    },
    contributors() {
      return get(this.selectedActivity, 'contributors', [])
    },
    isDuplicated() {
      return !!this.$route.query.duplicated
    },
  },

  methods: {
    ...mapActions('views/partup/activities', [
      'getActivity',
      'deleteActivity',
      'selectActivity',
    ]),
    initialize({ uuid }) {
      this.selectActivity(uuid)
      this.getActivity({ uuid })
    },
    async activityDelete() {
      await this.deleteActivity(this.selectedActivity)
      this.$router.push(this.previousRoute)
    },
    async duplicateActivity(activity) {
      const fields = pick(activity, ['name', 'description'])

      for (const [k, v] of Object.entries(fields)) {
        if (v === null || v === undefined) {
          delete fields[k]
        }
      }

      const { data } = await createForPartup(this.partup, {
        data: fields,
      })

      this.$refs.menu.deactivate()
      this.$router.push({
        name: 'partup-activity',
        params: {
          activityUuid: data.uuid,
        },
        query: {
          duplicated: true,
        },
      })
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "delete-activity": {
      "activator": "Activiteit verwijderen"
    },
    "duplicate-activity": "Activiteit kopiëren",
    "back-to-activities": "Alle activiteiten",
    "activity-duplicated-alert": "Kopie"
  }
}
</i18n>

<style lang="scss">
@import 'activity.scss';
</style>
