@keyframes hideduplicate {
    0%   { opacity: 1; height: 1.667rem; padding-top: 0.334rem; }
   80%   { opacity: 1; height: 1.667rem; padding-top: 0.334rem; }
   90%   { opacity: 0.2; height: 1.667rem; padding-top: 0.334rem; }
  100%   { opacity: 0; height: 0; padding-top: 0; }
}



.pu-view-partup-activity {
  background-color: $white;
  position: relative;
  height: 100%;
  overflow-y: auto;

  > header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    background: $gray-0;
    height: 2.667rem;

    .pu-link {
      color: $blue;

      &:first-child {
        align-items: center;
        display: flex;
        margin-right: auto;
        font-weight: 600;

        .pu-icon {
          margin-right: .667rem;
        }
      }
    }
  }

  > .options {
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    position: absolute;
    right: 1.667rem;
    top: 4.2rem;
    z-index: 90;

    .pu-activity-more-menu {
      position: relative;
      z-index: 99;
    }
  }

  .pu-button-options {
    width: 34px;
    margin-right: 1rem;
    padding: 0; // Overrule padding for standard button -- TODO: should be fixed in general buttons scss
  }

  //  This UI element is present in activity detail view as well, may be good one to
  //  include in component/pattern design library?
  .pu-activity-more-menu {
    .content {
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      background: $white;
      top: -2rem;
      right: 4.5rem;
      z-index: 100;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: -16px;
        top: 32px;
        border: 8px solid transparent;
        border-left-color: $white;
      }

      li {
        color: $black;
        border-top: 2px dotted $blue-superlight;

        &:first-child {
          border-top: 0;

          .pu-button {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }

        &:last-child {
          .pu-button {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }

        .pu-button {
          font-weight: normal;
          text-align: left;
          width: 100%;
          display: flex; // Also apply on span.pu-button
          align-items: center;
          border-radius: 0;
          background-color: $white;

          &:hover {
            background-color: $blue-superlight !important;
          }

          &.pu-button-lookout:hover {
            background-color: $red-light !important;
          }

        }

        span {
          display: block;
          white-space: nowrap;
        }
      }
    }
  }

  .pu-duplicated-alert {
    display: block;
    overflow: hidden;
    width: 5rem;
    height: 1.667rem;
    margin-left: 4rem;
    padding: 0.334rem 0 0;
    border-radius: 5px;
    background-color: $blue-dark;
    color: $white;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.4;
    text-align: center;
    opacity: 0;
    animation: hideduplicate 5s ease forwards;
  }



  > .pu-activity-detail-main {
    position: relative;
    margin: 0;
    padding: 1rem 0;
  }

  .activity-contributors {
//     padding: .667rem 2rem 0;
    border-top: 2px dotted $gray-0-5;


    padding: .667rem 2rem 0 3.334rem;

    @include goingLarge(large) {
        padding: .667rem 2rem 0 3.334rem;
    }


    > h4 {
      margin: 0;
      font-weight: 600;
    }

    > div {
      display: flex;
      margin-top: .4rem;

      .pu-list-avatar {
        margin-right: 1.2rem;
      }

      .pu-activity-solicit {
        width: 100%;
      }
    }

    .pu-contributors-more-menu {
      margin-left: 1.2rem;
      display: inline-block;

      .pu-icon {
        padding: 2px;
      }

      .content {
        border-radius: 1rem;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        background: $white;
        bottom: 3rem;
        right: -15px;
        padding: 1rem 1.334rem;

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          bottom: -16px;
          right: 23px;
          border: 8px solid transparent;
          border-top-color: $white;
        }

        li {
          align-items: center;
          display: flex;
          flex-flow: row nowrap;

          .pu-button {
            font-weight: 600;

              + span {
              display: block;
              margin-left: .6rem;
              font-size: .9rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
