<template>
  <component :is="component" class="pu-list" v-bind="componentAttrs">
    <slot />
    <slot name="empty" />
  </component>
</template>

<script>
import transitionable from '@/mixins/transitionable'

export default {
  name: 'pu-list',

  mixins: [transitionable],

  computed: {
    component() {
      return this.transition ? 'transition-group' : 'ul'
    },
    componentAttrs() {
      const obj = {}

      if (this.transition) {
        obj.tag = 'ul'
        obj.name = this.transition
      }

      return obj
    },
  },
}
</script>

<style lang="scss"></style>
