.pu-list-item-solicit {
  background-color: $white;
  border-radius: $border-radius-small;
  display: flex;
  margin: 8px 0;
  padding: 6px 12px;
  align-items: center;
  min-height: 60px;

  .solicit-content {
    flex: 1 1 auto;

    h3 {
      font-size: 1rem;
      line-height: 1.2;
    }

    .pu-date {
      margin-top: 0.334rem;
      font-size: .8rem;
      color: $orange;
      font-weight: 600;
      letter-spacing: 0.05em;
    }
  }

  .solicit-actions {
    flex: 0 0 auto;
    margin-left: auto;

    .pu-button {
      margin-left: .5rem;
    }
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.pu-view-partup .pu-list-item-solicit {
  border-radius: 0;
  padding: 0;

  .pu-avatar {
    border: 2px solid $white;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}
