<template>
  <li class="pu-list-item-solicit">
    <pu-link
      v-if="displayAvatar"
      :to="{
        name: 'user-profile',
        params: {
          userSlug: getSlug(user),
        },
        query: {
          solicit: value.uuid,
        },
      }"
      class="user"
    >
      <pu-avatar :src="getAvatar(user)" :text="getName(user)" :size="60" />
      <span>{{ getName(user) }}</span>
    </pu-link>

    <component
      :is="contentComponent"
      v-bind="$attrs"
      :value="value"
      :link="link"
      :display-context="displayContext"
      class="solicit-content"
    >
      <template v-slot:header>
        <slot name="header" />
      </template>

      <slot />
    </component>

    <div class="solicit-actions">
      <slot name="actions" v-bind="actionHandlers">
        <pu-button
          v-for="action in allowedActions"
          :key="action"
          v-bind="solicitActionButtonProps[action]"
          :disabled="actionDisabled(action)"
          :loading="actionPending(action)"
          @click="actionHandlers[action]"
          >{{ $t(`list-item-solicit-modal-action-${action}`) }}</pu-button
        >
      </slot>
    </div>
  </li>
</template>

<script lang="ts">
import { mapGetters } from 'vuex'
import solicitBase from './solicit-base'
import solicitActionable from '@/components/base/solicit/mixins/actionable'
import isForUser from '@/lib/model/solicit/is-for-user'
import getAvatar from '@/lib/model/user/get-avatar'
import getName from '@/lib/model/user/get-name'
import getSlug from '@/lib/model/user/get-slug'
import { SOLICIT_ACTIONS } from '@/types'
import mixins from '@/util/vue/mixins'

const solicitActionButtonProps = {
  [SOLICIT_ACTIONS.accept]: {
    color: 'success',
    small: true,
  },
  [SOLICIT_ACTIONS.reject]: {
    color: 'error',
    small: true,
  },
}

export default mixins(solicitActionable).extend({
  name: 'pu-list-item-solicit',

  inheritAttrs: false,

  extends: solicitBase,

  components: {
    PuSolicitContentActivity: () => import('./content/content-activity.vue'),
    PuSolicitContentPartup: () => import('./content/content-partup.vue'),
    PuSolicitContentOrganization: () =>
      import('./content/content-organization.vue'),
  },

  data() {
    return {
      solicitActionButtonProps,
    }
  },

  computed: {
    ...mapGetters(['currentUser']),
    contentComponent() {
      return `pu-solicit-content-${this.value.for}`
    },
    user() {
      return this.value?.user
    },
    displayAvatar() {
      return !isForUser(this.value, this.currentUser) && !!getSlug(this.user)
    },
  },

  methods: {
    getAvatar,
    getName,
    getSlug,
  },
})
</script>

<style lang="scss">
@import 'list-item-solicit.scss';
</style>
