<template>
  <div class="pu-view-content-overview-user">
    <pu-filter-search
      id="filter-overview-user"
      :transform="transform"
      :query-map="{
        search: 'q',
      }"
      @change="getUsers"
    />

    <section class="pu-grid-list">
      <pu-card-user
        v-for="user in users"
        :key="user.uuid"
        :user="user"
        :recommendation="user.recommended"
      />
    </section>
  </div>
</template>

<script lang="ts">
import PuCardUser from '@/components/implementations/card/user/card-user.vue'
import PuFilterSearch from '@/components/implementations/filter/search/filter-search.vue'
import userFind from '@/data/user/find'
import userFindForOrganization from '@/data/user/find-for-organization'
import { composeWithOptions } from '@/util/query'
import lengthBelow from '@/util/query/rules/length-below'
import isNull from 'lodash/isNull'
import Vue from 'vue'
import { mapGetters } from 'vuex'

const transform = composeWithOptions({
  fields: {
    q: {
      exclude: [isNull, lengthBelow(1)],
    },
  },
})

export default Vue.extend({
  name: 'pu-user-overview',

  components: {
    PuFilterSearch,
    PuCardUser,
  },

  data() {
    return {
      users: [],
    }
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.getUsers()
    })
  },

  computed: {
    ...mapGetters(['currentOrganization']),
  },

  methods: {
    async getUsers(query) {
      const options: any = {}

      if (query) {
        options.query = query
      }

      try {
        if (this.currentOrganization) {
          const params = {
            uuid: this.currentOrganization.uuid,
          }

          if (!query) {
            options.query = {}
          }

          Object.assign(options.query, {
            order: 'recommended',
          })

          const { data } = await userFindForOrganization(params, options)
          this.users = data
        } else {
          const { data } = await userFind(options)
          this.users = data
        }
      } catch (error) {
        this.$logger.error(error)
      }
    },
    transform,
  },
})
</script>

<style lang="scss">
@import 'content.scss';
</style>
