.pu-badge {
  position: relative;

  .badge {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.8rem;
    color: $white;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
