<template>
  <div :class="rootClasses">
    <slot />
    <transition :name="transition" :mode="mode">
      <figure v-show="isActive" :class="badgeClasses" :style="badgeStyles">
        <span><slot name="badge"/></span>
      </figure>
    </transition>
  </div>
</template>

<script>
import colorable from '@/mixins/colorable'
import positionable from '@/mixins/positionable'
import toggleable from '@/mixins/toggleable'
import transitionable from '@/mixins/transitionable'

export default {
  name: 'pu-badge',

  mixins: [colorable, positionable, toggleable, transitionable],

  computed: {
    rootClasses() {
      return {
        'pu-badge': true,
      }
    },
    badgeClasses() {
      return this.setBackgroundColor({
        badge: true,
      })
    },
    badgeStyles() {
      return {
        bottom: this.bottom,
        left: this.left,
        right: this.right,
        top: this.top,
      }
    },
  },
}
</script>

<style lang="scss">
@import 'badge.scss';
</style>
