.pu-progress-linear {
  display: flex;
  position: relative;
  align-items: center;

  .underlay,
  .overlay {
    background-color: currentColor;
    height: 100%;
    border-radius: 1rem;
  }

  .underlay {
    opacity: .3;
    flex: 1 1 auto;
    display: inline-flex;
    box-sizing: content-box;
  }

  .count {
    flex: 0 0 auto;
    margin-left: 8px;
    font-size: 1.2rem;
  }

  &.--outline {
    .underlay {
      border: 1px solid currentColor;
      opacity: 1;
      background-color: transparent;
    }
  }
}
