<template>
  <figure :class="rootClasses" v-bind="rootAttributes">
    <span v-if="total > 0" class="underlay">
      <span class="overlay" :style="overlayStyles" />
    </span>

    <span v-if="total" class="count"
      >{{ value || 0 }}&#8202;/&#8202;{{ total || 0 }}</span
    >
  </figure>
</template>

<script lang="ts">
import colorable from '@/mixins/colorable'
import toStyleUnit from '@/util/css/to-style-unit'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-progress-linear',

  mixins: [colorable],

  props: {
    height: {
      type: Number,
      default: 14,
    },
    outline: {
      type: Boolean,
      default: true,
    },
    total: {
      type: Number,
    },
    value: {
      type: Number,
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-progress-linear': true,
        '--outline': this.outline,
      })
    },
    rootAttributes() {
      return {
        'aria-valuemin': 0,
        'aria-valuemax': this.total || 100,
        'aria-valuenow': this.value,
        role: 'progressbar',
        style: {
          height: toStyleUnit(this.height),
          'border-radius': toStyleUnit(this.height / 2),
        },
        'data-progress': this.normalizedValue,
        'data-total': this.total,
      }
    },
    overlayStyles() {
      return {
        width: toStyleUnit(this.normalizedValue, '%'),
      }
    },
    normalizedValue() {
      return this.total
        ? 100 / (this.total / this.value)
        : this.value < 0
        ? 0
        : this.value > 100
        ? 100
        : parseInt(this.value, 10)
    },
  },
})
</script>

<style lang="scss">
@import 'linear.scss';
</style>
