.pu-search {
  align-content: center;
  position: relative;

  input {
    border-color: transparent;
    // border: 0;
    width: 100%;
    padding: 0.667rem 1rem;
  }

  .control {
    background-color: white;
  }

  .pu-button {
    position: absolute;
    right: 0;
    top: 5px;
  }
}