<template>
  <div :class="rootClasses">
    <input
      ref="input"
      type="search"
      v-bind="$attrs"
      @keyup="onInput"
      @keydown.enter="emitChange"
      v-on="computedListeners"
    />

    <slot
      v-if="!hideButton"
      name="append-action"
      :on="{
        click: emitChange,
      }"
    >
      <pu-button type="submit" class="pu-search-submit" @click="emitChange"
        >zoeken</pu-button
      >
    </slot>
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'
import debounce from 'lodash/debounce'
import focusable from '@/mixins/focusable'
import { lazyModelFactory } from '@/mixins/lazy-model'
import { registerableInject } from '@/mixins/registerable'

export default {
  name: 'pu-search',

  extends: PuInputBase,

  inheritAttrs: false,

  props: {
    debounce: {
      type: [Boolean, Number],
      default: false,
    },
    hideButton: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-search': true,
      }
    },
    computedListeners() {
      const copy = Object.assign({}, this.$listeners)
      delete copy['change']
      return copy
    },
  },

  methods: {
    focus() {
      if (this.$refs.input) {
        this.$refs.input.focus()
      }
    },

    emitChange() {
      this.$emit('change', this.internalValue)
    },

    onInput(e) {
      const val = e.target.value
      if (val === this.lazyValue) {
        return
      }
      if (this.debounce) {
        this.debouncedSearch(val)
      } else {
        this.internalValue = val
      }
    },

    debouncedSearch: debounce(function(q) {
      this.internalValue = q
    }, 250),

    setValue(val) {
      this.$refs.input.value = val === undefined ? null : val
      this.lazyValue = val
    },
  },
}
</script>

<style lang="scss">
@import 'search.scss';
</style>
