.pu-stepper {
  overflow: hidden;
  position: relative;

  &__header {
    position: relative;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .pu-stepper {
      &-step {
        align-items: center;
        display: inline-flex;
        padding: .6rem;
      }
    }
  }

  &__content {
    position: relative;  
  }

  &.is-booted {
    .pu-stepper-content {
      will-change: transition;
      transition: .3s linear;
    }
  }
}