<template>
  <transition :name="computedTransition">
    <div v-show="isActive" :class="rootClasses">
      <slot />
    </div>
  </transition>
</template>

<script>
import transitionable from '@/mixins/transitionable'
import { registerableInject } from '@/mixins/registerable'

export default {
  name: 'pu-stepper-content',

  mixins: [
    transitionable,
    registerableInject('stepper', 'pu-stepper-content', 'pu-stepper'),
  ],

  props: {
    step: {
      type: Number,
      required: true,
    },
    transition: {
      type: String,
      default: 't-slide-x-caroussel',
    },
  },

  data() {
    return {
      isActive: false,
      isReverse: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-stepper-content': true,
        'is-active': this.isActive,
      }
    },
    computedTransition() {
      return this.isReverse ? `${this.transition}-reverse` : this.transition
    },
  },

  mounted() {
    this.stepper.register(this)
  },

  beforeDestroy() {
    this.stepper.unregister(this)
  },

  methods: {
    toggle(step, reverse = false) {
      this.isActive = this.step === step
      this.isReverse = reverse
    },
  },
}
</script>

<style lang="scss"></style>
