<template>
  <div :class="rootClasses">
    <slot />
  </div>
</template>

<script>
import remove from 'lodash/remove'
import { registerableProvide } from '@/mixins/registerable'

export default {
  name: 'pu-stepper',

  mixins: [registerableProvide('stepper')],

  provide() {
    return {
      stepClick: this.stepClick,
    }
  },

  props: {
    value: {
      required: false,
    },
  },

  data(vm) {
    return {
      inputValue: null,
      isBooted: false,
      steps: [],
      content: [],
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-stepper': true,
        'is-booted': this.isBooted,
      }
    },
  },

  watch: {
    inputValue: {
      handler(newVal, oldVal) {
        for (const step of this.steps) {
          step.toggle(newVal)
        }

        const reverse = newVal < oldVal
        for (const content of this.content) {
          content.toggle(newVal, reverse)
        }

        this.$emit('input', newVal)
        oldVal && (this.isBooted = true)
      },
    },
    value: {
      handler(newVal) {
        this.$nextTick(() => {
          this.inputValue = newVal
        })
      },
    },
  },

  mounted() {
    const step = this.value
    if (step) {
      this.inputValue = step
    }
  },

  methods: {
    stepClick(step) {
      this.$nextTick(() => {
        this.inputValue = step
      })
    },

    register(childVNode) {
      const name = childVNode.$options.name

      if (name === 'pu-stepper-step') {
        this.steps.push(childVNode)
      } else if (name === 'pu-stepper-content') {
        this.content.push(childVNode)
      }
    },
    unregister(childVNode) {
      const name = childVNode.$options.name

      if (name === 'pu-stepper-step') {
        remove(this.steps, (stepVnode) => stepVnode._uid === childVNode._uid)
      } else if (name === 'pu-stepper-content') {
        remove(
          this.content,
          (contentVNode) => contentVNode._uid === childVNode._uid
        )
      }
    },
  },
}
</script>

<style lang="scss">
@import 'stepper.scss';
</style>
