<template>
  <span :class="rootClasses" @click="clickStep">
    <slot />
  </span>
</template>

<script>
import { registerableInject } from '@/mixins/registerable'

export default {
  name: 'pu-stepper-step',

  mixins: [registerableInject('stepper', 'pu-stepper-step', 'pu-stepper')],

  inject: ['stepClick'],

  props: {
    complete: {
      type: Boolean,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    step: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      isActive: false,
      isInactive: true,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-stepper-step': true,
        'pu-stepper-step--editable': this.editable,
        'is-active': this.isActive,
        'is-completed': this.complete,
        'is-inactive': this.isInactive,
      }
    },
  },

  watch: {
    step: {
      handler(newVal) {
        this.toggle(newVal)
      },
    },
  },

  mounted() {
    this.stepper.register(this)
  },

  beforeDestroy() {
    this.stepper.unregister(this)
  },

  methods: {
    clickStep(e) {
      e.stopPropagation()

      this.$emit('click', e)

      if (this.editable) {
        this.stepClick(this.step)
      }
    },
    toggle(step) {
      this.isActive = this.step === step
      this.isInactive = this.step > step
    },
  },
}
</script>

<style lang="scss"></style>
