<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :class="rootClasses"
    :style="rootStyles"
    :height="computedSize"
    :width="computedSize"
    @click="onClick"
  >
    <use :xlink:href="computedSvgPath"></use>
  </svg>
</template>

<script>
import get from 'lodash/get'
import colorable from '@/mixins/colorable'
import positionable from '@/mixins/positionable'
import toStyleUnit from '@/util/css/to-style-unit'

export default {
  name: 'pu-icon',

  mixins: [colorable, positionable],

  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: [String, Number],
      default: null,
    },
    outline: {
      type: Boolean,
      default: false,
    },
    round: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-icon': true,
        [`pu-icon-${this.computedName}`]: true,
        'pu-icon--clickable': Boolean(this.$listeners.click),
        'has-outline': this.outline,
        'has-round': this.round,
        absolute: this.absolute,
        relative: !this.absolute,
      })
    },
    rootStyles() {
      return {
        top: this.top,
        right: this.right,
        left: this.left,
        bottom: this.bottom,
      }
    },
    computedName() {
      if (this.name != null) {
        return this.name
      }
      return null
    },
    computedSize() {
      return toStyleUnit(this.size)
    },
    computedSvgPath() {
      return `#pu-icon-${this.computedName}`
    },
  },

  methods: {
    onClick(e) {
      this.$emit('click', e)
    },
  },
}
</script>

<style lang="scss">
@import 'icon.scss';
</style>
