.pu-icon {
  @include unselectable;
  display: block;
  fill: currentColor;
  pointer-events: none;
  box-sizing: content-box;

  &.has-outline {
    border: 2px solid currentColor;
    padding: .334rem;
  }

  &.has-round {
    border-radius: 50%;
    padding: .334rem;
  }

  &--clickable {
    cursor: pointer;
    pointer-events: all;
  }
}
