<template>
  <div class="pu-find-awesome-work-journey relative">
    <pu-progress-circular
      v-if="actionPending('findMatchingActivities')"
      indeterminate
    />

    <pu-carousel-journey v-else :items="items">
      <template v-slot:default="{ item }">
        <component
          :is="component(item)"
          :value="item"
          v-bind="componentAttrs(item)"
          v-on="componentListeners(item)"
        />
      </template>
    </pu-carousel-journey>
  </div>
</template>

<script lang="ts">
import PuCarouselJourney from '@/components/implementations/caroussel/journey/carousel.vue'
import PuTileActivity from './tile-activity.vue'
import PuTileSummary from './tile-summary.vue'

import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-find-awesome-work-journey',

  components: {
    PuCarouselJourney,
    PuTileActivity,
    PuTileSummary,
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.initialize()
    })
  },

  beforeRouteLeave(to, from, next) {
    this.reset()
    next()
  },

  computed: {
    ...mapGetters('findAwesomeWork', [
      'actionPending',
      'items',
      'mayWalkAgain',
    ]),
  },

  methods: {
    ...mapActions('findAwesomeWork', ['initialize', 'startNextWalk', 'reset']),
    component(item) {
      return `pu-tile-${item.type === 'card' ? 'activity' : 'summary'}`
    },
    componentAttrs(item) {
      switch (item.type) {
        case 'card':
          return {}
        case 'summary':
          return {
            canMore: this.mayWalkAgain,
          }
        default:
          break
      }
    },
    componentListeners(item) {
      switch (item.type) {
        case 'card':
          return {}
        case 'summary':
          return {
            done: this.done,
            more: this.startNextWalk,
          }
        default:
          break
      }
    },
    async done() {
      this.$router.push({
        name: 'find-awesome-work',
      })
    },
  },
})
</script>

<style lang="scss">
@import 'journey.scss';
@import 'tile.scss';
</style>
