main.pu-route-find-awesome-work-journey {
  > header {
    color: $white;

    > div {
      padding: 1rem 1.334rem;
    }

  }

  > section {
    height: 100%;
  }
}
.pu-find-awesome-work-journey {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  > .pu-link {
    display: inline;
    flex: 0 0 auto;
  }
}
