<template>
  <pu-tile class="pu-tile-summary">
    <div class="pu-tile-header">
      <h3>
        <pu-icon name="journey_bookmark" />
        {{
          $tc('heading', bookmarks.length, {
            count: $t(`numbers.${bookmarks.length}`),
          })
        }}
      </h3>

      <p v-if="!isEmpty">{{ $t('anythinginteresting') }}</p>
    </div>

    <pu-tile-summary-content-empty v-if="isEmpty" />

    <pu-accordion v-else class="pu-tile-content">
      <pu-tile-summary-content-activity
        v-for="(carouselCard, index) in bookmarks"
        :key="index"
        :value="carouselCard"
      />
    </pu-accordion>

    <div class="pu-tile-actions">
      <div class="pu-action-negative">
        <pu-button @click="$emit('done')">
          <span>{{ $t('button.done') }}</span>
        </pu-button>
      </div>
      <div v-if="canMore" class="pu-action-positive">
        <pu-button @click="$emit('more')">
          <span>{{ $t('button.more') }}</span>
        </pu-button>
      </div>
    </div>
  </pu-tile>
</template>

<script lang="ts">
import PuAccordion from './summary/accordion.vue'
import PuTileSummaryContentActivity from './summary/tile-content-activity.vue'
import PuTileSummaryContentEmpty from './summary/tile-content-empty.vue'
import PuTile from '@/components/base/tile/tile.vue'
import { CarouselSummary } from '@/types'
import Vue, { PropType } from 'vue'

export default Vue.extend({
  name: 'pu-tile-summary',

  components: {
    PuAccordion,
    PuTile,
    PuTileSummaryContentActivity,
    PuTileSummaryContentEmpty,
  },

  props: {
    value: {
      type: Object as PropType<CarouselSummary>,
      required: true,
    },
    canMore: {
      type: Boolean,
      default: true,
    },
  },

  computed: {
    bookmarks() {
      return this.value.data || []
    },
    isEmpty() {
      return this.bookmarks.length < 1
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "button": {
      "do-activity": "Tof, ga ik doen",
      "done": "Ik ben klaar voor nu",
      "more": "Toon meer suggesties",
      "request-activity": "Aansluiten"
    },
    "heading": "Je hebt geen activiteiten bewaard | Je hebt nu {count} activiteit bewaard | Je hebt nu {count} activiteiten bewaard",
    "anythinginteresting": "Zit er iets tussen om nu al op te pakken?"
  }
}
</i18n>

<style lang="scss"></style>
