<template>
  <pu-tile>
    <div class="pu-tile-header">
      <img :src="headerImg" alt="" />
      <span>{{ partupName }}</span>
    </div>

    <div class="pu-tile-content">
      <h2>{{ activity.name }}</h2>

      <pu-date :date="activity.end_date" />

      <p>{{ activity.description }}</p>

      <div
        v-if="hasAffordance(value, 'accept_invite')"
        class="pu-solicit-invite"
      >
        <p>{{ $t('solicit_intro') }}</p>

        <pu-action :action="solicitAccept">
          <template
            v-slot:default="{
              pending,
              trigger,
            }"
          >
            <pu-button
              color="orange"
              small
              :loading="pending"
              @click="
                trigger({
                  item: value,
                  next: true,
                })
              "
            >
              {{ $t('button-trigger-solicit-accept') }}
            </pu-button>
          </template>
        </pu-action>
      </div>
    </div>

    <div class="pu-tile-actions">
      <div class="pu-action-negative">
        <pu-action :action="skip">
          <template
            v-slot:default="{
              trigger,
            }"
          >
            <pu-button @click="trigger">
              <pu-icon name="journey_skip" />
              <span>{{ $t('button-trigger-skip') }}</span>
            </pu-button>
          </template>
        </pu-action>
      </div>
      <div class="pu-action-positive">
        <pu-action :action="activityBookmark">
          <template
            v-slot:default="{
              trigger,
            }"
          >
            <pu-button @click="trigger(value)">
              <pu-icon name="journey_bookmark" />
              <span>{{ $t('button-trigger-bookmark') }}</span>
            </pu-button>
          </template>
        </pu-action>
      </div>
    </div>
  </pu-tile>
</template>

<script lang="ts">
import PuTile from '@/components/base/tile/tile.vue'
import hasAffordance from '@/util/matching/has-affordance'
import get from 'lodash/get'
import Vue, { PropType } from 'vue'
import { mapActions } from 'vuex'
import { CarouselCard } from '@/types'

export default Vue.extend({
  name: 'pu-tile-activity',

  components: {
    PuTile,
  },

  props: {
    value: {
      type: Object as PropType<CarouselCard>,
      required: true,
    },
  },

  computed: {
    headerImg() {
      return get(this.value.data, 'partup.images.banner', null)
    },
    partupName() {
      return get(this.partup, 'name', null)
    },
    activity() {
      return get(this.value.data, 'activity', null)
    },
    partup() {
      return get(this.value.data, 'partup', null)
    },
    solicit() {
      return get(this.value.data, 'solicit', null)
    },
  },

  methods: {
    ...mapActions('findAwesomeWork', [
      'activityBookmark',
      'skip',
      'solicitAccept',
    ]),
    hasAffordance,
  },
})
</script>

<i18n>
{
  "nl": {
    "solicit_intro": "Je bent uitgenodigd voor deze activiteit.",
    "button-trigger-bookmark": "Ja, interessant",
    "button-trigger-skip": "Sla deze over",
    "button-trigger-solicit-accept": "Tof, ga ik doen!"
  }
}
</i18n>

<style lang="scss"></style>
