$slide-border-radius: 1.334rem;

.pu-carousel-journey {
  .pu-tile {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: $black;
    background-color: $white;
    border-radius: $slide-border-radius;
    box-shadow: 0 0 60px rgba(0,0,0,0.2);
    padding: 0 0 10rem;

    &-header {
      width: 100%;
      position: relative;
      padding-top: 25%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top-left-radius: $slide-border-radius;
        border-top-right-radius: $slide-border-radius;
      }

      span {
        display: block;
        padding: 0.667rem 1rem;
        background-color: rgba(0,0,0,0.5);
        color: $white !important;
        font-weight: 600;
        text-decoration: none;
        position: absolute;
        left: 0;
        bottom: 0;

      }
    }

    &-content {
      padding: 1rem 1rem 0;

      h2 {
        margin: 0 0 0.25rem;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.2;
      }

      p {
        color: $gray-6;
        line-height: 1.334;
        max-width: 20rem;
      }
    }

    .pu-date {
      color: $orange;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      margin: 1rem 0;
    }

    .pu-solicit-invite {
      p {
        margin: 1.334rem 0 0.667rem;
        color: $black;
      }
    }

    &-actions {
      display: flex;
      height: 8rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 3px dotted $gray-1;

      > div {
        flex: 0 0 50%;
        justify-content: center;
        align-content: center;
      }

      .pu-button {
        background: $white;
        width: 100%;
        height: 100%;
        border-radius: 0;
//         padding: 1.667rem 0 0;

        > span {
          flex-direction: column;
          font-weight: 600;
          border-bottom: 0 !important;
        }
      }

      .pu-icon {
        display: block;
        width: 2.667rem;
        height: 3rem;
        margin: 0 auto 0.667rem;
      }
    }

    .pu-action-negative {
      border-right: 3px dotted $gray-1;

      .pu-button {
        color: $journey-skip;
        border-bottom-left-radius: $slide-border-radius;

        span {
          padding-bottom: 2px;
          border-bottom: 1px solid $journey-skip;
        }

        &:hover,
        &:focus {
          background-color: lighten($journey-skip, 37%);
          color: darken($journey-skip, 5%);
        }
      }
    }

    .pu-action-positive {
      .pu-button {
        border-bottom-right-radius: $slide-border-radius;
        color: $journey-bookmark;

        &:hover,
        &:focus {
          background-color: lighten($journey-bookmark, 45%);
          color: darken($journey-bookmark, 5%);
        }

        span {
          padding-bottom: 2px;
          border-bottom: 1px solid $journey-bookmark;
        }
      }
    }
  }

  .pu-tile-summary {
    .pu-tile-header {
      padding: 1.667rem 1.334rem 0;
    }
    h3 {
      max-width: 18rem;
      position: relative;
      padding-left: 3.334rem;
      color: $journey-bookmark;
      font-weight: 600;

      .pu-icon {
        display: block;
        width: 2.667rem;
        height: 3rem;
        position: absolute;
        left: -0.2rem;
        top: -0.6rem;
      }
    }
    h4 {
      font-weight: 600;
      font-size: 1.2rem;
    }
    p {
      margin: 1rem 0;
      line-height: 1.2;
    }

    .pu-button {
      font-weight: 600;
    }

    .pu-tile-content {
      padding: 0;

      li {
        min-height: 2.667rem;
        border-top: 3px dotted $gray-0-5;
        padding: 0;
        position: relative;

        &.is-collapsed {
          &:last-child {
            border-bottom: 3px dotted $gray-0-5;
          }

          .pu-action-trigger,
          .pu-icon-success,
          .pu-icon-error {
            position: absolute;
            top: 0.667rem;
            right: 1.334rem;
          }

          h4 {
            font-size: 1.1rem;
            padding: 0.667rem 12rem 0.667rem 1.334rem;
          }
        }
      }

      h4 {
        padding: 1rem 1.334rem 0 1.334rem;
      }

      &-summary-empty {
        padding: 1rem 1.334rem 0 1.334rem;
      }
    }

    .pu-solicit-join-partup {
      .pu-button + span {
        margin-left: 0.334rem;
      }
    }

    .pu-tile-activity-detail {
      border-bottom: 3px dotted $gray-0-5;
      padding: 0 1.334rem 1.334rem;
    }

    .pu-action-trigger-return_to_overview {
      margin-top: 0.667rem;
    }

    .pu-tile-actions {
      border: 0;
      height: 5rem;

      .pu-action-negative {
        border: 0;
      }
    }
  }

  .pu-sticker {
    display: flex;
    align-items: center;

    strong {
      flex: 0 0 auto;
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 1.5rem;
      background-color: $blue-info;
      color: $white;
      padding-top: 0.8rem;
      font-family: 'Merriweather',serif;
      font-size: 1rem;
      font-style: italic;
      text-align: center;
      text-transform: lowercase;
      transform: rotateZ(-6deg);
    }

    span {
      display: none;
      font-weight: 600;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $blue-info;
      border-bottom: 1.5px solid $blue-info;
    }
  }
}
