.pu-partup-solicit {

  > .solicit-requests {
    padding-top: 0.5rem;
  }

  .pu-list-item-solicit {
    &-partup {
      background: transparent;
      padding: 0.4rem 0;

      @include goingSmall(medium) {
        flex-wrap: wrap;
        margin-bottom: 1.334rem;
      }


      .pu-link {
        &.user {
          color: black !important;
          display: flex;
          align-items: center;
          font-weight: 600;

          .pu-avatar {
            display: inline-block;
            flex: 0 0 auto;
          }

          span {
            display: inline;
            margin: 0 10px;
            border-bottom: 2px solid $black;
          }

          &:hover {
            text-decoration: none;
          }
        }

        &--disabled {
          color: $black;
          margin-top: .334rem;
          font-weight: bold;
        }
      }

      .solicit-content {
        padding-left: 0.667rem;

        @include goingSmall(medium) {
          margin-top: -0.667rem;
          padding-left: 4.667rem;
        }
      }

      .solicit-actions {
        @include goingSmall(medium) {
          margin-left: 0;
          margin-top: 0.667rem;
          padding-left: 4.667rem;

          .pu-button {
            margin-left: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  .partup {
    &-partners {
      display: flex;
      align-items: center;
      margin: .8rem 0px;
    }
  }

  .pu-list-pending-activity-requests {
    li {
      margin: 0.667rem 0;
    }
  }

  .pu-solicit-actions {
    margin: 0 .4rem 0 .8rem;

    .pu-button + span {
      margin-left: 0.4rem; // Whitespace in between invite button and extra text.
    }
  }
}
