<template>
  <section class="pu-section pu-partup-solicit">
    <pu-list
      v-if="$can('solicit_request_partup_respond')"
      class="solicit-requests"
    >
      <pu-list-item-solicit
        v-for="solicit in requests"
        :key="solicit.uuid"
        :value="solicit"
        :link="false"
        class="pu-list-item-solicit-partup"
        v-on="$listeners"
      />
    </pu-list>

    <div class="partup-partners">
      <pu-list-avatar :users="partners" :total="partners.length" :limit="3" />

      <div class="pu-solicit-actions">
        <template v-if="$can('#solicit_invite_partup')">
          <pu-modal-activator
            for="invite"
            :modal-props="{
              context: partup,
              entity: 'partup',
              title: 'partup',
            }"
          >
            <pu-button small color="primary">
              {{ $t('button.invite-other') }}
            </pu-button>
          </pu-modal-activator>
          <span>{{ $t('for-partup') }}</span>
        </template>

        <template v-if="myInvite">
          <pu-action :action="resolve">
            <template
              v-slot:default="{
                trigger,
                pending,
              }"
            >
              <pu-button
                color="secondary"
                small
                :loading="pending"
                @click="
                  trigger({
                    action: SOLICIT_ACTIONS.accept,
                    solicit: myInvite,
                  })
                "
              >
                {{ $t('button.invite-accept') }}
              </pu-button>
            </template>
          </pu-action>
          <span>{{ $t('for-partup') }}</span>
        </template>

        <template v-else-if="$can('solicit_request_partup_self')">
          <pu-action :action="request">
            <template
              v-slot:default="{
                trigger,
                pending,
              }"
            >
              <pu-button
                small
                color="secondary"
                :loading="pending"
                @click="trigger"
              >
                {{ $t('button.request') }}
              </pu-button>
            </template>
          </pu-action>
          <span>{{ $t('by-partup') }}</span>
        </template>

        <template v-if="$can('solicit_request_partup_revoke')">
          {{ $t('request-pending') }}
        </template>

        <pu-list
          v-if="myActivityRequests.length"
          class="pu-list-pending-activity-requests"
        >
          <li>
            <p
              v-for="myActivityRequest in myActivityRequests"
              :key="myActivityRequest.uuid"
            >
              Je hebt je aangemeld voor
              {{ myActivityRequest.activity.name }}
            </p>
          </li>
        </pu-list>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import PuListAvatar from '@/components/implementations/list/avatar/list-avatar.vue'
import PuListItemSolicit from '@/components/implementations/list/solicit/list-item-solicit.vue'
import solicitRequest from '@/data/solicit/request'
import solicitResolve from '@/data/solicit/resolve'
import { SOLICIT_ACTIONS, SOLICIT_ENTITIES } from '@/types'
import { isForActivity } from '@/lib/model/solicit/is-for-entity'
import filterAnd from '@/util/array/filter-and'

export default Vue.extend({
  name: 'pu-partup-solicit',

  components: {
    PuListAvatar,
    PuListItemSolicit,
  },

  inheritAttrs: false,

  data() {
    return {
      SOLICIT_ACTIONS,
      SOLICIT_ENTITIES,
    }
  },

  computed: {
    ...mapGetters('views/partup', ['partners', 'partupUuid', 'partup']),
    myInvite() {
      return this.$store.getters['solicit/myInviteForPartup'](this.partup?.uuid)
    },
    myActivityRequests() {
      return this.$store.getters['solicit/myRequests'].filter(
        filterAnd(
          (s) => isForActivity(s),
          (s) => (s as any).partup.uuid === this.partup?.uuid
        )
      )
    },
    requests() {
      return this.$store.getters['solicit/requestsForPartup'](this.partup?.uuid)
    },
  },

  methods: {
    async request() {
      await solicitRequest({
        entity: SOLICIT_ENTITIES.partup,
        // eslint-disable-next-line
        entity_uuid: this.partup.uuid,
      })
      this.$emit('request')
    },
    async resolve(params) {
      await solicitResolve(params)
      this.$emit(params.action)
    },
  },
})
</script>

<i18n src="./solicit.nl.json"></i18n>

<style lang="scss">
@import 'solicit.scss';
</style>
