<template>
  <div :class="rootClasses">
    <h3 class="title">{{ title }}</h3>
    <p class="text">{{ text }}</p>
    <footer class="actions">
      <pu-button v-bind="cancel" @click="$emit('cancel')">{{
        labelCancel
      }}</pu-button>
      <pu-button v-bind="success" @click="$emit('success')">{{
        labelSuccess
      }}</pu-button>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'pu-dialog',

  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    labelSuccess: {
      type: String,
      default: 'Ok',
    },
    labelCancel: {
      type: String,
      default: 'Annuleer',
    },
    success: {
      type: Object,
      default: () => void 0,
    },
    cancel: {
      type: Object,
      default: () => void 0,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-dialog': true,
      }
    },
  },
}
</script>

<style lang="scss">
@import 'dialog.scss';
</style>
