.pu-dialog {
  width: 80%;
  margin: 0 10%;
  background: $white;
  border-radius: 2rem;
  box-shadow: 0 0 60px 0 rgba(0,0,0,0.4);

  @include goingLarge(600) {
    width: 30rem;
    margin: 0;
  }

  .title {
    padding: 1rem 1.334rem;
  }

  .text {
    min-height: 60px;
    padding: 0 1.334rem;
  }

  .actions {
    padding: 0 1.334rem 1.334rem;
  }
}
