<template>
  <pu-form id="form-partup-backlog" @submit="createPartup(internalValue)">
    <pu-form-control
      :value="internalValue.name"
      :error-messages="errorField('name')"
      @change="
        updateField({
          key: 'name',
          value: $event,
        })
      "
    >
      <pu-textfield
        id="form-partup-backlog-field-name"
        class="field-name"
        :placeholder="$t('placeholder.name')"
      />
    </pu-form-control>
  </pu-form>
</template>

<script lang="ts">
import { mapActions, mapGetters } from 'vuex'

import { lazyModelFactory } from '@/mixins/lazy-model'
import mixins from '@/util/vue/mixins'
import { PartupFormData } from '../../types'

export default mixins(lazyModelFactory('change')).extend({
  name: 'pu-form-partup-backlog',

  data(vm) {
    const lazyValue = vm.formValues(vm.value)

    return {
      lazyValue,
    }
  },

  computed: {
    ...mapGetters('createWork', ['actionError', 'actionSuccess']),
    isSuccess() {
      return this.actionSuccess('createPartup')
    },
    errorField() {
      const error = this.actionError('createPartup')
      return (field) => {
        return error && this.$t(error.field(field))
      }
    },
  },

  methods: {
    ...mapActions('createWork', ['createPartup', 'resolveAction']),
    updateField(this: any, e) {
      this.lazyValue[e.key] = e.value
      this.internalValue = this.lazyValue
      this.resolveAction('createPartup')
    },
    formValues(data: PartupFormData) {
      let val: PartupFormData

      if (data) {
        val = data
      } else {
        val = {
          name: null,
        }
      }

      return val
    },
  },
})
</script>

<i18n src="./locales/nl-form.json"></i18n>
