<template>
  <div :class="rootClasses">
    <div v-if="$slots['prepend']" class="pu-input-slot-prepend">
      <slot name="prepend" />
    </div>

    <div v-if="$slots['prepend-inner']" class="pu-input-slot-prepend-inner">
      <slot name="prepend-inner" />
    </div>

    <input
      ref="input"
      v-bind="inputAttributes"
      @blur="onBlur"
      @focus="onFocus"
      @input="onInput"
      @keydown.enter="onEnter"
      v-on="computedListeners"
    />

    <div v-if="$slots['append-inner']" class="pu-input-slot-append-inner">
      <slot name="append-inner" />
    </div>

    <div v-if="$slots['append']" class="pu-input-slot-append">
      <slot name="append" />
    </div>
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'

/**
 * Textfield component
 * @component pu-textfield
 * @extends PuInputBase @see See [PuInputBase](../_base/input-base)
 */
export default {
  name: 'pu-textfield',

  extends: PuInputBase,

  props: {
    /**
     * input type
     * @prop type
     * @type {String}
     * @default text
     */
    type: {
      type: String,
      default: 'text',
    },
    /**
     * placeholder text
     * @prop placeholder
     * @type {String}
     * @default void 0
     */
    placeholder: {
      type: String,
      default: void 0,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-textfield': true,
      }
    },
    inputAttributes() {
      return {
        id: this.id,
        type: this.type,
        placeholder: this.placeholder,
        readonly: this.readonly,
        disabled: this.disabled,
        value: this.internalValue,
      }
    },
    computedListeners() {
      const copy = Object.assign({}, this.$listeners)
      delete copy['change']
      delete copy['input']
      return copy
    },
  },
}
</script>

<style lang="scss">
@import 'textfield.scss';
</style>
