<template>
  <article :class="rootClasses">
    <router-link
      :to="{
        name: 'partup',
        params: {
          partupSlug: partup.slug,
        },
      }"
    >
      <pu-link
        v-if="organization"
        :disabled="!organization.slug"
        :to="{
          name: 'organization',
          params: {
            organizationSlug: organization.slug,
          },
        }"
        class="tile-header"
        >{{ organization.name }}</pu-link
      >

      <div class="tile-main">
        <h2>{{ partup.name }}</h2>

        <small class="activity-progress">{{
          $tc('activity-progress', partup.activities_summary.total === 0)
        }}</small>
        <pu-progress-linear
          :height="6"
          :value="partup.activities_summary.status.done"
          :total="partup.activities_summary.total"
          color="secondary"
        />

        <pu-list-avatar
          :avatar-size="46"
          :limit="3"
          :users="partup.partners_summary.picks"
          :total="partup.partners_summary.total"
        />
      </div>

      <div class="tile-footer">
        <pu-date :date="partup.end_date" class="deadline" />
      </div>
    </router-link>
  </article>
</template>

<script>
import PuDate from '@/components/base/date/date.vue'
import PuListAvatar from '@/components/implementations/list/avatar/list-avatar.vue'
import PuProgressLinear from '@/components/base/progress/linear/linear.vue'

export default {
  name: 'pu-tile-partup',

  components: {
    PuDate,
    PuListAvatar,
    PuProgressLinear,
  },

  props: {
    partup: {
      type: Object,
      required: true,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-tile': true,
        'pu-tile-partup': true,
      }
    },
    organization() {
      return (
        this.partup && {
          name: this.partup.organization.name,
          slug: this.partup.organization.slug,
        }
      )
    },
    progressClasses() {
      return {
        progress: true,
        'show-abs': this.partup.activities_summary.total > 0,
        'no-data': this.partup.activities_summary.total === 0,
      }
    },
  },
}
</script>

<i18n>
{
  "nl": {
    "activity-progress": "Nog geen activiteiten | Activiteiten afgerond"
  }
}
</i18n>

<style lang="scss">
@import 'tile-partup.scss';
</style>
