
.pu-tile-partup {
  a {
    display: block;
    position: relative;
    text-decoration: none;
    color: $black;
    background-color: $white;
    z-index: 10;

    border-radius: 1.334rem;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);

    &:not(.tile-header) {
      &:hover,
      &:focus {
//         box-shadow: 0 4px 18px 0 rgba(0,0,0,0.15);
      }
    }
  }

  .tile {
    &-header {
      background-color: $gray-0;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      padding: .5rem .7rem;
    }

    &-main {
      padding: 0 .7rem;

      h2 {
        @include truncateMultiline(2.66em, $line-height: 1.33rem);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.33;
        height: 2.66em;
        margin: .5rem 0;
        word-wrap: break-word;
      }

      .pu-list-avatar {
        margin: .6rem 0;
      }

      .activity-progress {
        margin: .125rem 0 1.25rem .3rem;
        font-size: .8rem;
        color: $gray-4;
        font-weight: 600;
        line-height: 1.25;
      }

      .pu-progress-linear {
        .count {
          color: $gray-8;
        }
      }
    }

    &-footer {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      text-align: right;
      padding: .4rem .7rem;
    }
  }

  .pu-date {
    color: $gray-3;
    font-size: 1rem;
    display: inline;
  }
}

// PROGRESS BAR
// For now as a 'global' scss set-up
// TODO: move to the proper global scss file
// .progress {
//   padding-right: 4em;

//   h3 {
//     margin: 0.125em 0;
//     font-size: 0.8rem;
//     color: $gray-4;
//     font-weight: bold;
//     line-height: 1.25;
//   }

//   .progress-total {
//     display: block;
//     width: 100%;
//     height: auto;
//     border: 2px solid $orange;
//     border-radius: 0.5em;
//   }

//   .progress-current {
//     display: block;
//     height: 0.4rem;
//     background-color: $orange;
//   }

//   &.show-abs {
//     position: relative;

//     .progress-abs {
//       position: absolute;
//       right: 0;
//       bottom: -0.35rem;
//       font-size: 1.25rem;
//     }
//   }

//   &.no-data {
//     .progress-total {
//       border-color: $gray-1;
//     }
//     .progress-current {
//       background-color: $white;
//     }
//     .progress-abs {
//       display: none;
//     }
//   }
// }
