
.pu-form-login {
  display: flex;
  flex-direction: column;

  // INTRO AND ERROR SUMMARY
  // should be transferred to generic form scss file?
  .pu-form-intro {
    padding: 0.667rem 2.667rem;
    margin-bottom: 1rem;
    line-height: 1.33;

    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      line-height: 1.33;
    }
  }

  .pu-forgot-password {
    color: $orange;
    color: $blue-dark;
    display: inline-block;
    position: relative;
    top: -0.334rem;
    margin-left: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $blue-dark;
    }
  }



  .pu-primary-action {
    min-height: 20rem;
    flex: 1 0 auto;

    .pu-button {
      margin: 1rem 0 1.667rem;
      float: right;
    }

    &:after {
      content: '';
      height: 0;
      display: table;
      clear: both;
    }
  }
}
