<template>
  <pu-form
    id="form-login"
    :class="rootClasses"
    ref="form"
    @submit="login"
  >
    <div v-if="(form.contains_errors != false) && form.errors.summary" class="pu-form-intro--error">
        {{form.errors.summary}}
    </div>
    <div v-if="!form.contains_errors.email && !form.contains_errors.password" class="pu-form-intro">
        <p>Log in met je e-mailadres en wachtwoord.</p>
    </div>

    <div class="pu-primary-action">
      <pu-label for="login-email">{{form.labels.email}}</pu-label>
      <pu-form-control
         v-model="form.fields.email"
        :error="emailContainsError"
      >
        <pu-textfield
          id="login-email"
          type="email"
          :value="form.fields.email"
          :placeholder="form.placeholders.email"
        />
      </pu-form-control>

      <pu-label for="login-password">{{form.labels.password}}</pu-label>
      <pu-form-control
        :error="passwordContainsError"
      >
        <pu-password
          id="login-password"
          :placeholder="form.placeholders.password"
          ref="password"
        />
      </pu-form-control>

      <span class="pu-forgot-password" @click="onForgotPassword">Wachtwoord vergeten?</span>

      <pu-button
        type="submit"
        class="pu-button--icon"
        color="secondary"
        :loading="isSubmitting"
      >
        <span>Inloggen</span>
        <pu-icon
          name="arrow_right"
        />
      </pu-button>
    </div>

    <div class="pu-secondary-action">
      <p>Nog geen account?</p>
      <pu-button
        class="pu-button"
        icon
        outline
        color="primary"
        @click="onNoAccount"
      >
        <span>Registreren</span>
        <pu-icon
          name="arrow_right"
        />
      </pu-button>
    </div>
  </pu-form>
</template>

<script>
import PuForm from '@/components/base/form/form.vue'
import PuLabel from '@/components/base/label/label.vue'
import PuFormControl from '@/components/base/input/form-control.vue'
import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import PuPassword from '@/components/implementations/input/password/input-password.vue'

export default {
  name: 'pu-form-login',

  components: {
    PuForm,
    PuLabel,
    PuFormControl,
    PuTextfield,
    PuPassword,
  },

  data() {
    return {
      form: {
        contains_errors: {
          email: false,
          password: false,
        },
        errors: {
          summary: null,
        },
        errors_map: {
          'null failed with error': {
            message: 'Zonder wachtwoord kun je niet inloggen.',
            fields: { email: false, password: true },
          },
          'username cannot be empty': {
            message: 'Zonder jouw e-mailadres kun je niet inloggen.',
            fields: { email: true, password: false },
          },
          'incorrect username or password': {
            message: 'Dit e-mailadres of wachtwoord is ongeldig.',
            fields: { email: true, password: true },
          },
          'user does not exist': {
            message: 'Het lijkt erop dat je e-mailadres een typfout bevat.',
            fields: { email: true, password: false },
          },
        },
        fields: {
          email: null,
        },
        labels: {
          email: 'E-mailadres',
          password: 'Wachtwoord',
        },
        placeholders: {
          email: 'Bijv. welkom@part-up.com',
          password: 'Staat de caps-lock uit?',
        },
        validations: {
          form: [],
        },
      },
      isSubmitting: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-form': true,
        'pu-form-login': true,
        'pu-form-contains-errors': this.form.contains_errors.email || this.form.contains_errors.password,
      }
    },
    emailContainsError() {
      return this.form.contains_errors.email
    },
    passwordContainsError() {
      return this.form.contains_errors.password
    },
  },

  methods: {
    async login() {
      this.isSubmitting = true

      try {
        const success = await this.$store.dispatch('user/login', {
          email: this.form.fields.email,
          password: this.$refs.password.getValue(),
        })
        this.$refs.password.clearValue()
        this.$emit('success')
      } catch (error) {
        this.parseError(error.message ? error.message : error)
        this.$logger.error(error)
        this.$emit('error', error)
      } finally {
        this.isSubmitting = false
      }
    },
    onForgotPassword() {
      this.$emit('cancel', {
        type: 'forgot-password',
      })
    },
    onNoAccount() {
      this.$emit('cancel', {
        type: 'register',
      })
    },
    parseError(error) {
      var error_test_string = error.toLowerCase()
      var error_message = 'Het inloggen is niet gelukt. Probeer het opnieuw.'
      var error_fields = { email: false, password: false }

      for (var error_key in this.form.errors_map) {
        if (error_test_string.indexOf(error_key) > -1) {
          error_message = this.form.errors_map[error_key].message
          error_fields = this.form.errors_map[error_key].fields
        }
      }

      this.form.errors.summary = error_message
      this.form.contains_errors.email = error_fields.email
      this.form.contains_errors.password = error_fields.password
      this.$logger.error('Nu in error_fields: ' + error_fields)
    },
  },
}
</script>

<style lang="scss">
@import "form-login.scss";
</style>
