<template>
  <div class="pu-auth-flow-register-confirm">
    <pu-progress-circular v-if="pending" color="primary" indeterminate />

    <div v-else>
      <pu-alert-form type="info">
        <p>{{ $t('success-p1') }}</p>
        <p>{{ $t('success-p2') }}</p>
      </pu-alert-form>

      <div class="form-footer">
        <pu-button
          color="primary"
          flat
          outline
          @click="requestFlow(AUTH_ACTIONS.login)"
        >
          <span>{{ $t('form.button.login') }}</span>
          <!-- <pu-icon name="arrow_right" /> -->
        </pu-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'
import authFlowBase from '../auth-flow-base'
import registerConfirm from '@/data/auth/register-confirm'
import { AUTH_ACTIONS } from '@/types'
import CognitoError from '@/util/error/cognito-error'

export default Vue.extend({
  name: 'pu-modal-auth-flow-register-confirm',

  extends: authFlowBase,

  data() {
    return {
      pending: true,
    }
  },

  watch: {
    flow: {
      async handler(toFlow: AUTH_ACTIONS) {
        if (toFlow === AUTH_ACTIONS.registerConfirm) {
          this.pending = true

          try {
            await registerConfirm(this.cognitoUserId, this.verificationCode)

            this.onSuccess()
            this.pending = false
          } catch (error) {
            this.onError(error)
            this.pending = false
          }
        }
      },
      immediate: true,
    },
  },

  computed: {
    ...mapState('auth', ['cognitoUserId', 'verificationCode']),
  },

  methods: {
    onError(error: CognitoError) {
      this.$emit('error', error)

      if (error.key.includes('already-confirmed')) {
        this.requestFlow(AUTH_ACTIONS.login)
      }

      if (
        error.key.includes('code-expired') ||
        error.key.includes('code-invalid')
      ) {
        this.requestFlow(AUTH_ACTIONS.registerResend)
      }
    },
    onSuccess() {
      this.$emit('success')
    },
  },
})
</script>

<i18n src="./auth-flow-register-confirm.nl.json"></i18n>

<style lang="scss">
@import 'auth-flow-register-confirm';
</style>
