.pu-auth-flow-register-confirm {
  display: flex;
  flex-flow: column nowrap;

  .pu-form-intro {
    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      line-height: 1.33;
    }

    &--success {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $blue-superlight;
      color: $blue-dark;
      line-height: 1.33;
    }
  }

  .pu-progress-circular {
    align-self: center;
    margin: 1rem;
  }

  .pu-primary-action {
    padding: 0 1.334rem;

    .pu-button {
      margin: 1rem 0 1.667rem;
    }
  }

  .pu-form-intro--error +
  .pu-primary-action {
    .pu-button {
      float: right;
    }
  }
}
