<template>
  <div :class="rootClasses">
    <pu-button
      class="pu-button-filter activator"
      color="accent"
      flat
      icon
      @click="isActive = true"
    >
      <span>Filteren</span>
      <pu-icon name="filter" :size="24" outline round />
    </pu-button>
    <transition name="t-fade">
      <pu-filter
        v-if="isActive"
        :query-map="queryMap"
        :transform="transform"
        closeable
        @change="$emit('change', $event)"
        @close="isActive = false"
      >
        <pu-filter-item name="search" class="pu-block-filter">
          <pu-search debounce hide-button @keydown.escape="onEscape" />
        </pu-filter-item>
      </pu-filter>
    </transition>
  </div>
</template>

<script>
import PuFilter from '@/components/base/filter/filter.vue'
import PuFilterItem from '@/components/base/filter/filter-item.vue'
import PuSearch from '@/components/implementations/input/search/search.vue'
import { lazyModelFactory } from '@/mixins/lazy-model'

export default {
  name: 'pu-filter-search',

  components: {
    PuFilter,
    PuFilterItem,
    PuSearch,
  },

  mixins: [lazyModelFactory('change')],

  props: {
    active: {
      type: Boolean,
      default: false,
    },
    id: {
      type: String,
    },
    queryMap: {
      type: Object,
    },
    transform: {
      type: Function,
      default: (v) => v,
    },
  },

  data(vm) {
    return {
      isActive: vm.active,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-filter-search': true,
        'is-active': this.isActive,
      }
    },
  },

  methods: {
    onEscape(e) {
      if (!e.target.value || e.target.value.length < 1) {
        this.isActive = false
      }
    },
  },
}
</script>

<style lang="scss">
@import 'filter-search.scss';
</style>
