.pu-filter-search {
  display: flex;
  justify-content: flex-end;
  position: relative;

/*
  @include goingLarge(960) {
    margin: 0 -1.334rem 0 -2.667rem;
  }
*/

  .pu-filter {
    transition: .4s ease;
    position: absolute;
  }

  .pu-button {
    &-filter {
      right: 0;
    }

    .pu-icon {
      padding: .42rem;
    }

    &.activator {
      padding: 0;
    }
  }
}
