.pu-card-user {
  background-color: $white;
  margin-top: 48px;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06) /*, 0px 2px 4px 0px rgba(0, 0, 0, .12) */;

  .pu-menu-more-options {
    position: absolute;
    top: 0;
    right: 0;

    .pu-button {
      padding: 7px 14px;
    }

    > .content {
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      background: $white;
      top: 3rem;
      right: -12px;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -16px;
        right: 28px;
        border: 8px solid transparent;
        border-bottom-color: $white;
      }

      .pu-button {

        span {
          display: block;
          white-space: nowrap;
        }
      }


      .pu-list {
        li {
          border-bottom: 2px dotted $blue-superlight;

          button:hover {
            background-color: $blue-superlight;
          }
        }
        li:first-child {
          button {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }
        li:last-child {
          border-bottom: 0;

          button {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }

      }
    }
  }

  .user-role {
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius/2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $success;
    color: $white !important;
    padding: 1rem 1rem 0.8rem 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .03), 0 0 40px 0 rgba(0, 0, 0, .1) /*, 0px 2px 4px 0px rgba(0, 0, 0, .12) */;
  }

  header {
    position: relative;
  }

  .pu-sticker {
    position: absolute;
    top: -2.4rem;
    left: 50%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    z-index: 1;

    strong {
      flex: 0 0 auto;
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 1.5rem;
      background-color: $blue-info;
      color: $white;
      padding-top: 0.8rem;
      font-family: 'Merriweather',serif;
      font-size: 1rem;
      font-style: italic;
      text-align: center;
      text-transform: lowercase;
      transform: rotateZ(-6deg);
    }
  }

  section {
    margin: 0;
  }

  .pu-headline {
    margin: 0.5rem 0;

    span {
      display: inline-block;
      padding: 0.334rem 1rem;
      background-color: $green-lighter;
      color: $white;
      font-weight: 600;
    }
  }

  .pu-description, .pu-list-keywords {
    padding: 0.334rem 1rem;
  }

  .pu-actions {
    padding: 0 1rem 0.667rem;

    .pu-button--flat {
      padding: 0;
      font-size: 0.8rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .pu-icon-fika_24x30 {
      height: 2rem;
    }
  }

  h1 {
    padding: 60px 1rem 0.667rem;
    font-weight: 600;
    font-size: 1.334rem;
    line-height: 1.2rem;

    .pu-avatar {
      width: 96px;
      height: 96px;
      position: absolute;
      top: -48px;
      left: 50%;
      margin-left: -48px;
    }
  }

  .pu-link {
    * {
      color: $black;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .pu-actions {
    margin-top: auto;
  }
}
