<template>
  <article :class="rootClasses">
    <pu-link :to="{ name: 'user-profile', params: { userSlug: user.slug } }">
      <p v-if="recommendation" class="pu-sticker">
        <strong>Tip!</strong>
      </p>

      <template v-if="role && hasRole(user, 'admin')">
        <span class="user-role">
          {{ $t(user.role) }}
        </span>
      </template>

      <header>
        <h1>
          <pu-avatar
            :size="96"
            :src="getAvatar(user, 'medium')"
            :text="getName(user)"
          />
          {{ getName(user) }}
        </h1>

        <template v-if="$scopedSlots['options']">
          <pu-menu ref="menu" class="pu-menu-more-options">
            <template v-slot:activator="{ on }">
              <pu-button flat icon v-on="on">
                <pu-icon name="more_options" :size="24" />
              </pu-button>
            </template>
            <slot name="options" :deactivate="() => $refs.menu.deactivate()" />
          </pu-menu>
        </template>
      </header>

      <section class="pu-description">
        <p>{{ user.description }}</p>
      </section>

      <section class="pu-list-keywords" title="vaardigheden">
        <pu-list-tag :items="user.keywords" :limit="5" />
      </section>
    </pu-link>

    <section class="pu-actions">
      <slot name="actions" />
    </section>
  </article>
</template>

<script lang="ts">
import PuAvatar from '@/components/base/avatar/avatar.vue'
import PuListTag from '@/components/implementations/list/tag/list-tag.vue'
import getAvatar from '@/lib/model/user/get-avatar'
import getName from '@/lib/model/user/get-name'
import hasRole from '@/lib/model/user/has-role'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-card-user',

  components: {
    PuAvatar,
    PuListTag,
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
    recommendation: {
      type: Boolean,
      default: false,
    },
    role: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-card': true,
        'pu-card-user': true,
      }
    },
  },

  methods: {
    getAvatar,
    getName,
    hasRole,
  },
})
</script>

<i18n>
{
  "nl": {
    "admin": "Admin",
    "member": "Member"
  }
}
</i18n>

<style lang="scss">
@import 'card-user.scss';
</style>
