<template>
  <div class="pu-view-content-partup">
    <router-view />
  </div>
</template>

<script lang="ts">
import { mapActions, mapGetters } from 'vuex'
import ability from '@/mixins/ability'
import mixins from '@/util/vue/mixins'

export default mixins(
  ability({
    attribute: 'partup',
  })
).extend({
  name: 'pu-view-content-partup',

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.initialize({
        slug: to.params.partupSlug,
        solicit: to.query.solicit,
      })
    })
  },

  async beforeRouteUpdate(to, from, next) {
    if (to.params.partupSlug !== from.params.partupSlug) {
      await this.reset()
      this.initialize({
        slug: to.params.partupSlug,
        solicit: to.query.solicit,
      })
    }
    next()
  },

  mounted() {
    this.$socket.subscribe(this._uid, 'update_activity', this.onActivityChanged)
  },

  // use `beforeDestroy` instead of `beforeRouteLeave`
  // the latter is triggered twice when the target page redirects.
  beforeDestroy() {
    this.reset()
    this.$socket.unsubscribe(this._uid)
  },

  watch: {
    partupUuid: {
      handler(newVal) {
        if (newVal) {
          this.$nextTick(() => {
            if (this.$can('solicit_list_partup')) {
              this.$store.dispatch('solicit/getSolicitsForPartup', newVal)
            }
          })
        }
      },
      immediate: true,
    },
  },

  computed: {
    ...mapGetters('layout', ['isSectionExpanded']),
    ...mapGetters('views/partup', ['partup', 'partupUuid']),
  },

  methods: {
    ...mapActions('layout', ['loadPreferences']),
    ...mapActions('views/partup', [
      'initialize',
      'reset',
      'activateAsideModule',
      'deactivateAsideModule',
    ]),
    ...mapActions('views/partup/activities', ['onActivityChanged']),
  },
})
</script>

<style lang="scss">
@import 'content.scss';
</style>
