<template>
  <div class="pu-modal-partup-leave">
    <h2>{{ $t('heading') }}</h2>

    <template v-if="error">
      <div class="pu-leave-alert">
        <pu-icon name="error" :size="20" />

        <p>{{ $t('something-went-wrong') }}</p>
      </div>

      <pu-button
        flat
        class="pu-button-underline pu-leave-action-cancel"
        @click="cancel"
      >
        {{ $t(stayButtonMessage) }}
      </pu-button>
    </template>

    <template v-else-if="isBooted">
      <p>{{ $t(headingMessage) }}</p>

      <h3>{{ partup.name }}</h3>

      <div v-if="!isLastPartner && isContributor" class="pu-leave-alert">
        <pu-icon name="error" :size="20" />

        <i18n path="contributor" tag="p">
          <template v-slot:activity>
            <b>{{
              $tc('contributor-count', activities.length, {
                count: activities.length,
              })
            }}</b>
          </template>
        </i18n>
      </div>

      <p class="pu-leave-question">{{ descriptionMessage }}</p>

      <pu-button
        flat
        class="pu-button-underline pu-leave-action-cancel"
        @click="cancel"
      >
        {{ $t(stayButtonMessage) }}
      </pu-button>

      <pu-action
        v-if="!isLastPartner"
        :action="leavePartup"
        @success="success"
        @error="error = true"
      >
        <template
          v-slot:default="{
            pending,
            trigger,
          }"
        >
          <pu-button
            :loading="pending"
            class="pu-leave-action-confirm"
            primary
            color="red"
            @click="trigger(partup)"
          >
            {{ $t('button-leave') }}
          </pu-button>
        </template>
      </pu-action>
    </template>

    <pu-progress-circular v-else indeterminate />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import findForPartup from '@/data/activity/find-for-partup'
import findPartners from '@/data/partup/find-partners'
import leavePartup from '@/data/partup/leave'
import PuModal from '@/components/base/modal/modal'
import bootable from '@/mixins/bootable'

export default Vue.extend({
  name: 'pu-modal-partup-leave',

  extends: PuModal,

  mixins: [bootable],

  props: {
    partup: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      activities: [],
      partners: [],
      error: null,
    }
  },

  created() {
    this.$emit('config', { persistent: true })
    this.$i18n.locale = 'nl'

    Promise.all([
      this.getActivities(this.partup),
      this.getPartners(this.partup),
    ])
      .catch((error) => {
        this.error = error
      })
      .finally(() => {
        this.isBooted = true
      })
  },

  computed: {
    ...mapGetters(['currentUser']),
    isLastPartner() {
      return (
        this.partners.length === 1 &&
        this.partners.findIndex(
          (partner) => partner.uuid === this.currentUser.uuid
        ) > -1
      )
    },
    isContributor() {
      return this.activities.length > 0
    },
    headingMessage() {
      return this.isLastPartner ? 'heading-info-last-partner' : 'heading-info'
    },
    descriptionMessage() {
      return this.isLastPartner
        ? this.$t('description-last-partner')
        : this.isContributor
        ? this.$tc('description-is-contributor', this.activities.length)
        : this.$t('description')
    },
    stayButtonMessage() {
      return this.error
        ? 'button-stay-error'
        : this.isLastPartner
        ? 'button-stay-last-partner'
        : 'button-stay'
    },
  },

  methods: {
    leavePartup,
    async getActivities(partup) {
      const { data: activities = [] } = await findForPartup(partup, {
        query: {
          contributor: 1,
        },
      })

      this.activities = activities
    },
    async getPartners(partup) {
      const { data: partners = [] } = await findPartners(partup)

      this.partners = partners
    },
  },
})
</script>

<i18n src="./locales/nl-modal-partup-leave.json"></i18n>

<style lang="scss">
@import 'modal-partup-leave';
</style>
