.pu-modal-partup-leave {
  width: 20rem;

  @include goingLarge(medium) {
    width: 24rem;
  }

  padding: 2rem 2rem 1.334rem;

  h2 {
    margin-bottom: 1.334rem;
    font-size: 1.5rem;
  }

  h3 {
    margin: 1rem 0;
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 600;
  }

  p {
    line-height: 1.33;
  }

  .pu-leave-alert {
    min-height: 3rem;
    position: relative;
    margin: 1.334rem 0;
    padding: 0 3.334rem;
    line-height: 1.2;

    .pu-icon {
      width: 1.334rem;
      height: 1.334rem;
      position: absolute;
      left: 0;
      top: 0;
      color: $red;
      border: 2px solid $red;
      border-radius: 1.334rem;
      padding: 0.4rem;
    }
  }

  .pu-leave-question {
    margin: 1rem 0 2rem;
  }

  .pu-button-underline {
    margin-left: -1.334rem;

    span {
      font-weight: 600;
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }

  .pu-leave-action-confirm {
    font-weight: 600;
    color: $white;
  }
}
