<template>
  <pu-stepper v-model="step" class="pu-auth-flow-forgot-password">
    <div class="pu-stepper__content">
      <pu-stepper-content :step="1">
        <pu-action
          :action="forgotPassword"
          @error="onError"
          @success="onSuccess"
        >
          <template
            v-slot:default="{
              trigger,
              pending,
            }"
          >
            <pu-form id="form-forgot-password" @submit="trigger(email)">
              <pu-alert-form
                v-if="errorSummary"
                :message="errorSummary"
                type="error"
              />
              <pu-alert-form v-else :message="$t('intro')" type="intro" />

              <fieldset>
                <pu-label for="forgot-password-email">
                  {{ $t('form.label.email') }}
                </pu-label>
                <pu-form-control v-model="email" :error="errorField('email')">
                  <pu-textfield id="forgot-password-email" />
                </pu-form-control>
              </fieldset>

              <div class="auth-actions">
                <pu-button color="secondary" :loading="pending" type="submit">
                  <span>{{ $t('button.submit') }}</span>
                  <pu-icon name="arrow_right" />
                </pu-button>
              </div>

              <footer class="form-footer">
                <pu-button
                  color="primary"
                  flat
                  outline
                  @click="requestFlow(AUTH_ACTIONS.login)"
                >
                  <pu-icon name="arrow_left" />
                  <span>{{ $t('form.button.login') }}</span>
                </pu-button>
              </footer>
            </pu-form>
          </template>
        </pu-action>
      </pu-stepper-content>

      <pu-stepper-content :step="2">
        <pu-svg class="auth-envelope" file="auth_envelope.svg" />
        <div class="auth-success">
          <h3>{{ $t('success.header') }}</h3>
          <p>{{ $t('success.description') }}</p>
        </div>
      </pu-stepper-content>
    </div>
  </pu-stepper>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapFields } from 'vuex-map-fields'

import forgotPassword from '@/data/auth/forgot-password'

import authFlowBase from '../auth-flow-base'
import PuStepper from '@/components/base/stepper/stepper.vue'
import PuStepperContent from '@/components/base/stepper/stepper-content.vue'
import { AUTH_ACTIONS } from '@/types'
import CognitoError from '@/util/error/cognito-error'

export default Vue.extend({
  name: 'pu-auth-flow-forgot-password',

  components: {
    PuStepper,
    PuStepperContent,
  },

  extends: authFlowBase,

  data() {
    return {
      step: 1,
    }
  },

  watch: {
    flow: {
      handler(toFlow) {
        if (toFlow === AUTH_ACTIONS.forgotPassword && this.step !== 1) {
          this.resetLocalState()
        }
      },
      immediate: true,
    },
  },

  computed: {
    ...mapFields({
      email: 'auth.email',
    }),
  },

  methods: {
    forgotPassword,

    onError(error: CognitoError) {
      this.$emit('error', error)

      if (error.key.includes('user-not-confirmed')) {
        this.requestFlow(AUTH_ACTIONS.registerResend)
      }
    },
    onSuccess() {
      this.$store.dispatch('auth/setEmailCookie', this.email)
      this.step = 2
      this.$emit('success')
    },
    resetLocalState() {
      this.step = 1
    },
  },
})
</script>

<i18n src="./auth-flow-forgot-password.nl.json"></i18n>
