<template>
  <div class="pu-find-awesome-work-overview">
    <pu-filter-search
      :query-map="{
        search: 'q',
      }"
      :transform="transform"
      @change="getPartups"
    />

    <section class="pu-grid-list">
      <pu-card-partup
        v-for="partup in partups"
        :key="partup.uuid"
        :partup="partup"
        :recommendation="partup.recommended"
      />
    </section>
  </div>
</template>

<script lang="ts">
import PuFilterSearch from '@/components/implementations/filter/search/filter-search.vue'
import PuCardPartup from '@/components/implementations/card/partup/card-partup.vue'
import partupFindForOrganization from '@/data/partup/find-for-organization'
import partupFind from '@/data/partup/find'
import { composeWithOptions } from '@/util/query'
import lengthBelow from '@/util/query/rules/length-below'
import isNull from 'lodash/isNull'
import Vue from 'vue'
import { mapGetters } from 'vuex'

const transform = composeWithOptions({
  fields: {
    q: {
      exclude: [isNull, lengthBelow(1)],
    },
  },
})

export default Vue.extend({
  name: 'pu-find-awesome-work-overview',

  components: {
    PuFilterSearch,
    PuCardPartup,
  },

  data() {
    return {
      partups: [],
    }
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.getPartups()
    })
  },

  computed: {
    ...mapGetters(['currentOrganization']),
  },

  methods: {
    async getPartups(query) {
      const options: any = {}

      if (query) {
        options.query = query
      }

      try {
        if (this.currentOrganization) {
          const params = {
            uuid: this.currentOrganization.uuid,
          }

          if (!query) {
            options.query = {}
          }

          Object.assign(options.query, {
            order: 'recommended',
          })

          const { data } = await partupFindForOrganization(params, options)
          this.partups = data
        } else {
          const { data } = await partupFind(options)
          this.partups = data
        }
      } catch (error) {
        this.$logger.error(error)
      }
    },
    transform,
  },
})
</script>

<style lang="scss">
@import 'overview.scss';
</style>
