<template>
  <div :class="rootClasses">
    <input
      ref="input"
      v-bind="inputAttributes"
      @blur="onBlur"
      @change="onInput"
      @focus="onFocus"
    />

    <div class="track" :class="switchColor" />
    <div class="thumb" :class="switchColor" />
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'
import colorable from '@/mixins/colorable'

/**
 * Switch component
 * @component pu-switch
 * @extends PuInputBase @see See [PuInputBase](../_base/input-base)
 */
export default {
  name: 'pu-switch',

  extends: PuInputBase,

  mixins: [colorable],

  /**
   * This component does apply any props not specified as prop directly to it's input
   * @see See computed property inputAttributes
   */
  inheritAttrs: false,

  data() {
    return {
      defaultColor: 'secondary',
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-switch': true,
        'pu-switch--readonly': this.readonly,
        'is-active': this.isActive,
      }
    },
    inputAttributes() {
      return Object.assign(
        {
          'aria-checked': this.isActive.toString(),
          checked: this.isActive,
          id: this.id,
          readonly: this.readonly,
          role: 'checkbox',
          type: 'checkbox',
        },
        this.$attrs
      )
    },
    switchColor() {
      return this.isActive ? this.computedColor : ''
    },
    isActive() {
      return Boolean(this.value)
    },
  },

  methods: {
    /**
     * programatically select this switch
     * @public
     * @description this can be used when this component is referenced by `ref="x"`
     */
    select() {
      if (!this.isActive) {
        this.onInput()
      }
    },
    /**
     * programatically de-select this switch
     * @public
     * @description this can be used when this component is referenced by `ref="x"`
     */
    deselect() {
      if (this.isActive) {
        this.onInput()
      }
    },
    /**
     * onSwipeLeft gesture handler
     * @private
     */
    onSwipeLeft() {
      this.deselect()
    },
    /**
     * onSwipeRight gesture handler
     * @private
     */
    onSwipeRight() {
      this.select()
    },

    /**
     * onKeydown event handler
     * @private
     */
    onKeydown({ keyCode }) {
      // @TODO: use a good keycode lib, this doesn't work atm..
      switch (keyCode) {
        case 'left':
          this.deselect()
          break
        case 'right':
          this.select()
          break
        default:
          break
      }
    },
    /**
     * onInput event handler
     * @private
     * @description overrides the virtual base handler
     */
    onInput() {
      /**
       * change event
       * @event change
       * @type {Boolean} new active state
       */
      this.$emit('change', !this.isActive)
    },
  },
}
</script>

<style lang="scss">
@import 'switch.scss';
</style>
