
.pu-switch {
  align-items: center;
  display: flex;
  height: 24px;
  margin-right: 6px;
  position: relative;
  width: 38px;

  input {
    @include absoluteFullSize;
    @include unselectable;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    opacity: 0;
  }
  
  .track {
    background-color: currentColor;
    color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    height: 14px;
    left: 2px;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: calc(50% - 7px);
  }

  .thumb {
    background-color: currentColor;
    color: $white;
    border-radius: 50%;
    height: 20px;
    pointer-events: none;
    position: relative;
    width: 20px;

    transition: all .2s linear;
    transition-property: transform, box-shadow;

    box-shadow: -1px 3px 1px -2px rgba(0, 0, 0, 0.2),
    -1px 2px 2px 0px rgba(0, 0, 0, 0.14),
    -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  &.is-active {
    .thumb {
      transform: translateX(16px);

      box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2),
      1px 2px 2px 0px rgba(0, 0, 0, 0.14),
      1px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
