<template>
  <div id="pu-portal-dialog" :class="rootClasses">
    <pu-dialog v-if="dialog" v-bind="dialog.props" v-on="dialog.listeners" />
  </div>
</template>

<script>
import PuDialog from '../dialog.vue'

export default {
  name: 'pu-dialog-portal',

  components: {
    PuDialog,
  },

  data() {
    return {
      dialog: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-portal': true,
        'pu-portal-dialog': true,
        'is-active': !!this.dialog,
      }
    },
  },

  mounted() {
    this.$dialog.on('open', this.open)
  },
  beforeDestroy() {
    this.$dialog.off('open', this.open)
  },

  methods: {
    async open(options) {
      if (this.dialog) {
        return
      }
      this.dialog = this.createDialog(options)
    },
    createDialog(options = {}) {
      return this.applyActions(
        {
          props: {
            title: options.title,
            text: options.text,
            labelSuccess: options.labelSuccess,
            labelCancel: options.labelCancel,
          },
        },
        options
      )
    },
    applyActions(dialog, options) {
      const { props = {}, onSuccess, onCancel } = options

      Object.assign(dialog.props, {
        cancel: props.cancel,
        success: props.success,
      })

      const listeners = {}
      listeners.success = () => {
        this.dialog = null
        onSuccess && onSuccess()
      }
      listeners.cancel = () => {
        this.dialog = null
        onCancel && onCancel()
      }
      return Object.assign(dialog, {
        listeners,
      })
    },
  },
}
</script>

<style lang="scss">
@import 'dialog-portal.scss';
</style>
