<template>
  <div class="pu-view-content-find-awesome-work">
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-content-find-awesome-work',
})
</script>

<style lang="scss"></style>
