<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Part-up</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Part-up doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="root"></div>

    <!-- built files will be auto injected -->

    <!-- fix for nomodule support in safari 10.1, see https://gist.github.com/samthor/64b114e4a4f539915a95b91ffd340acc -->
    <script>(function() {
      var d = document;
      var c = d.createElement('script');
      if (!('noModule' in c) && 'onbeforeload' in c) {
        var s = false;
        d.addEventListener('beforeload', function(e) {
          if (e.target === c) {
            s = true;
          } else if (!e.target.hasAttribute('nomodule') || !s) {
            return;
          }
          e.preventDefault();
        }, true);
    
        c.type = 'module';
        c.src = '.';
        d.head.appendChild(c);
        c.remove();
      }
    }());</script>
    <!-- display a message to all browsers that we do not support -->
    <script src="/nomodule.js" nomodule></script>

  </body>
</html>
