
.pu-radio {
  min-height: 24px;
  margin: 0;
  display: flex;
  align-items: center;

  .icon {
    height: inherit;
    vertical-align: top;
  }

  input {
    @include absoluteFullSize;
    @include unselectable;
    height: inherit;
    opacity: 0;
  }

  .pu-icon {
    pointer-events: none;
  }
}