<template>
  <pu-label :class="rootClasses" :for="id">
    <div class="icon">
      <input
        ref="input"
        class="radio-input"
        v-bind="inputAttributes"
        @change="onInput"
        @focus="onFocus"
        @blur="onBlur"
      />

      <pu-icon :name="iconName" :size="24" />
    </div>
    <div class="content"><slot /><slot name="description" /></div>
  </pu-label>
</template>

<script>
import colorable from '@/mixins/colorable'
import { registerableInject } from '@/mixins/registerable'

import PuLabel from '@/components/base/label/label'

/**
 * Radio component
 * @component pu-radio
 * @description this is a special component as it doesn't extend PuInputBase
 * but it has nearly identical attributes
 * the reason why this can't extend PuInputBase is because of registerableInject,
 * and this component also does not want a custom model.
 */
export default {
  name: 'pu-radio',

  /**
   * This component does apply any props not specified as prop directly to it's input
   * @see See computed property inputAttributes
   */
  inheritAttrs: false,

  mixins: [
    colorable,
    registerableInject('radiogroup', 'pu-radio', 'pu-radio-group'),
  ],

  components: {
    PuLabel,
  },

  props: {
    /**
     * @prop icon
     * @type {String}
     * @description custom icon for radio
     */
    icon: {
      type: String,
      default: 'radio',
    },
    /**
     * @prop id
     * @type {String}
     * @description set the id for the html input node
     */
    id: {
      type: String,
    },
    /**
     * @prop id
     * @type {Boolean}
     * @description don't use _on & _off variants of icon
     */
    indeterminate: {
      type: Boolean,
      default: false,
    },
    /**
     * @prop value
     * @type {any}
     * @description the value this radio represents when chosen
     */
    value: {
      required: false,
    },
    /**
     * @prop readonly
     * @type {Boolean}
     * @default false
     * @description set the input's readonly state
     */
    readonly: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      // This is a data attribute instead of a computed property so the radiogroup can set it's value
      isActive: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-radio': true,
        'pu-radio--readonly': this.readonly,
        'is-active': this.isActive,
      }
    },
    inputAttributes() {
      return Object.assign(
        {
          'aria-checked': this.isActive.toString(),
          checked: this.isActive,
          id: this.id,
          name:
            this.radiogroup.name ||
            (this.radiogroup.uid ? `pu-radio-${this.radiogroup.uid}` : false),
          role: 'radio',
          type: 'radio',
          readonly: this.readonly,
          value: this.value,
        },
        this.$attrs
      )
    },
    iconName() {
      return this.indeterminate
        ? this.icon
        : `${this.icon}_${this.isActive ? 'on' : 'off'}`
    },
  },

  mounted() {
    this.radiogroup.register(this)
  },

  beforeDestroy() {
    this.radiogroup.unregister(this)
  },

  // Most of these methods are a copy of @see ../_base/input-base
  methods: {
    /**
     * Programatically blur the input node
     * @method blur
     * @public
     * @description this can be used when this component is referenced by`ref="x"`
     */
    blur() {
      this.$refs.input.blur()
    },
    /**
     * Programatically focus the input node
     * @method focus
     * @public
     * @description this can be used when this component is referenced by `ref="x"`
     */
    focus() {
      this.$refs.input.focus()
    },
    /**
     * onBlur event handler
     * @method onBlur
     * @private
     * @param {BlurEvent} e blur event
     */
    onBlur(e) {
      /**
       * blur event
       * @event blur
       * @type {BlurEvent}
       */
      this.$emit('blur', e)
    },
    /**
     * onFocus event handler
     * @method onFocus
     * @private
     * @param {FocusEvent} e focus event
     */
    onFocus(e) {
      /**
       * Focus event
       * @event focus
       * @type {FocusEvent}
       */
      this.$emit('focus', e)
    },
    /**
     * onInput event handler
     * @method onInput
     * @private
     * @param {Event} e input event
     */
    onInput(e) {
      /**
       * Change event
       * @event change
       * @type {any} the value prop for this radio
       */
      this.$emit('change', this.value)
    },
  },
}
</script>

<style lang="scss">
@import 'radio.scss';
</style>
