<template>
  <div :class="rootClasses" :data-selected="selectedIndex">
    <!-- @slot default slot -->
    <slot />
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'
import remove from 'lodash/remove'
import comparable from '@/mixins/comparable'
import { registerableProvide } from '@/mixins/registerable'

/**
 * Radiogroup component
 * @component pu-radio-group
 * @extends PuInputBase
 * @see See [PuInputBase](../_base/input-base)
 */
export default {
  name: 'pu-radio-group',

  extends: PuInputBase,

  mixins: [comparable, registerableProvide('radiogroup')],

  props: {
    /**
     * Name for this radiogroup
     * @prop name
     * @type {String}
     * @default void 0
     */
    name: {
      type: String,
      default: void 0,
    },
  },

  data() {
    return {
      radios: [],
      selectedIndex: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-radio-group': true,
      }
    },
  },

  watch: {
    value: {
      handler(newVal) {
        this.setActiveRadio(newVal)
      },
    },
  },

  methods: {
    /**
     * Set the active radio by matching value
     * @method setActiveRadio
     * @public
     * @param {any} radioValue
     * @see See [valueComparator](~src/mixins/comparable)
     */
    setActiveRadio(radioValue) {
      for (let i = 0; i < this.radios.length; i += 1) {
        const radio = this.radios[i]
        const isActive = this.valueComparator(radioValue, radio.value)
        if (isActive) {
          this.selectedIndex = i
        }

        radio.isActive = isActive
      }
    },

    /**
     * Register a radio to this radiogroup
     * @method register
     * @private
     * @param {VNode} radio component
     * @description exposed to any child component and is to be called by a radio component
     */
    register(radio) {
      radio.$on('blur', this.onBlur)
      radio.$on('focus', this.onFocus)
      radio.$on('change', this.onInput)

      this.radios.push(radio)
      this.setActiveRadio(this.internalValue)
    },
    /**
     * Unregister a radio to this radiogroup
     * @method unregister
     * @private
     * @param {VNode} radio component
     * @description exposed to any child component and is to be called by a radio component
     */
    unregister(radio) {
      radio.$off('blur', this.onBlur)
      radio.$off('focus', this.onFocus)
      radio.$off('change', this.onInput)

      remove(this.radios, (r) => this.valueComparator(r, radio))
    },
    /**
     * Handles the blur event from the child radio
     * @method onBlur
     * @private
     * @override @see See ~src/mixins/focusable.js
     * @param {BlurEvent} blur event
     */
    onBlur(e) {
      // only blur when no other radio is the new focus
      if (
        !e.relatedTarget ||
        !e.relatedTarget.classList.contains('radio-input') ||
        !e.target.classList.contains('radio-input')
      ) {
        this.isFocused = false

        /**
         * blur event
         *
         * @event blur
         * @type {BlurEvent}
         */
        this.$emit('blur', e)
      }
    },
    /**
     * Handles the change event from the child radio
     * @method onInput
     * @private
     * @override @see See [PuInputBase](../_base/input-base.ts)
     * @param {any} radio 'change' value
     */
    onInput(radioValue) {
      this.setActiveRadio(radioValue)
      /**
       * Change event
       *
       * @event change
       * @type {any} radio 'change' value
       */
      this.$emit('change', radioValue)
    },
  },
}
</script>

<style lang="scss"></style>
