.pu-filter {
  align-items: center;
  border: 2px solid $accent;
  border-radius: $border-radius;
  display: flex;
  width: 100%;
  background-color: $white;
  transition: .4s ease;

  .pu-icon-close {
    margin-left: 6px;
    margin-right: 6px;
    color: $accent;
  }

  .pu-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
  }

  .pu-filter-item {
    flex: 1 1 auto;

    .pu-input {
      border-color: transparent;
      margin: 0;
      width: 100%;

      input {
        padding: 0.6rem 1.3rem; // 0.6rem instead of 0.667 prevents weird 1px/2px rendering bug in border.
      }

      input,
      textarea,
      select {
        border: 0; // No border on inputs themselves, is covered by surrounding filter box.

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .pu-block-filter {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 8px;
      width: 2px;
      bottom: 0;
      left: 0;
      background-color: $accent;
    }
  }

  .pu-button {
    height: 30px;
    margin-right: 4px;
    color: white;
  }
}
