<template>
  <div v-if="!hidden" class="pu-filter-item">
    <slot />
  </div>
</template>

<script lang="ts">
import PuControlBase from '@/components/base/input/_base/control-base'
import { registerableInject } from '@/mixins/registerable'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-filter-item',

  extends: PuControlBase,

  mixins: [registerableInject('filter', 'pu-filter-item', 'pu-filter')],

  props: {
    hidden: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      required: true,
    },
  },

  mounted() {
    this.filter.register(this)
  },

  beforeDestroy() {
    this.filter.unregister(this)
  },
})
</script>

<style lang="scss"></style>
