<template>
  <div class="pu-filter">
    <template v-if="closeable">
      <slot
        name="close"
        :on="{
          click: close,
        }"
      >
        <pu-icon name="close" :size="24" @click="close" />
      </slot>
    </template>

    <pu-form :id="id" @submit="emitChange">
      <slot />

      <slot name="submit">
        <pu-button class="button-submit" color="primary" type="submit" small
          >filteren</pu-button
        >
      </slot>
    </pu-form>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import disposable from '@/mixins/disposable'
import { registerableProvide } from '@/mixins/registerable'

export default Vue.extend({
  name: 'pu-filter',

  mixins: [disposable, registerableProvide('filter')],

  props: {
    id: {
      type: String,
      default: null,
    },
    queryMap: {
      type: Object as PropType<{
        [key: string]: string
      }>,
      default: null,
    },
    transform: {
      type: Function,
      default: (v) => v,
    },
    closeable: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      filters: {
        /*
          [vnode._uid]: {
            name,
            node,
            unwatch,
          }
        */
      },
      lazyValue: undefined,
    }
  },

  computed: {
    internalValue: {
      get() {
        return this.lazyValue
      },
      set(v) {
        this.lazyValue = v
        this.emitChange()
      },
    },
  },

  mounted() {
    this.$nextTick(() => {
      this.emitChange()
    })
  },

  beforeDestroy() {
    this.disposed = true
  },

  methods: {
    close() {
      this.$emit('close')
    },
    emitChange() {
      this.$emit(
        'change',
        this.transform(Object.assign({}, this.internalValue))
      )
    },
    register(vnode) {
      const filter: any = {
        name: vnode.name,
        node: vnode,
      }

      if (this.queryMap && filter.name in this.queryMap) {
        filter.name = this.queryMap[filter.name]
      }

      filter.unwatch = this.watchFilterItem(vnode, filter.name)

      this.filters[vnode._uid] = filter
      // don't trigger a change for every registering component, instead,
      // trigger a change in the mounted hook which will be invoked after all children have registered.
      this.ensureLazyValueIsObject()
      this.lazyValue[filter.name] = vnode.getValue()
    },
    unregister(vnode) {
      const filter = this.filters[vnode._uid]

      if (!filter) {
        return this.$logger.debug("can't unregister filter.")
      }

      filter.unwatch()

      this.$delete(this.filters, vnode._uid)

      // don't trigger changes when this component is about to be destroyed
      if (!this.disposed) {
        this.ensureLazyValueIsObject()
        const current = this.internalValue
        delete current[filter.name]
        this.internalValue = current
      }
    },
    watchFilterItem(vnode, name) {
      return vnode.$watch(
        'internalValue',
        (val) => {
          this.ensureLazyValueIsObject()
          const current = this.internalValue
          current[name] = val
          this.internalValue = current
        },
        {
          deep: true,
        }
      )
    },
    ensureLazyValueIsObject() {
      if (!this.lazyValue) {
        this.lazyValue = {}
      }
    },
  },
})
</script>

<style lang="scss">
@import 'filter.scss';
</style>
