.pu-modal-auth {
  $footer-height: 80px;
  $side-spacing: 2.667rem;
  $side-spacing-half: 1.334rem;

  position: relative;
  width: 330px;

  .partup-logo {
    color: $primary;
    height: 3rem;
    margin: 1.667rem 0 1rem 2.334rem;
    width: 10rem;
  }

  .auth-envelope {
    height: 120px;
    width: 120px;
    margin: 0 auto 14px;
  }

  .pu-link {
    color: $primary;
  }

  [class*="pu-alert-form"] {
    line-height: 1.33;
    padding: .667rem $side-spacing;
  }

  .pu-form {
    > fieldset {
      margin: 1rem $side-spacing-half 0;
    }

    .pu-form-control {
      margin-bottom: 1rem;
    }
  }

  .form-footer {
    align-items: center;
    display: flex;
    height: $footer-height;
    margin: 0 $side-spacing-half;

    .pu-button {
      font-weight: 600;

      &.--flat {
        background-color: $white;
      }
    }

    > small {
      line-height: 1.25;
      padding: 0 1.334rem;
    }
  }

  .auth-actions {
    display: flex;
    margin: 1rem $side-spacing-half 2rem;

    .pu-button[type="submit"] {
      margin-left: auto;
    }
  }

  .auth-success {
    background-color: $white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 0 $side-spacing 1.4rem;

    p {
      margin-top: 0.334rem;
      line-height: 1.334rem;
    }
  }

  .auth-success-description {
    padding: 1rem 1rem 2rem;
    text-align: center;
  }

  .auth-primary-action {
    margin: 1.6rem $side-spacing 2rem;
  }

  > footer {
    background-color: $blue-superlight;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: $footer-height;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
}
