<template>
  <div class="pu-modal pu-modal-auth">
    <pu-svg file="logo_name.svg" color="primary" class="partup-logo" />

    <!-- footer placed before so no z-index tricks are required -->
    <footer v-show="isStep(1, 2)" />

    <pu-stepper v-model="lazyValue">
      <div class="pu-stepper__content">
        <pu-stepper-content :step="1">
          <pu-modal-auth-flow-login
            @success="onSuccess"
            @error="error"
            @request="onRequest"
          />
        </pu-stepper-content>

        <pu-stepper-content :step="2">
          <pu-modal-auth-flow-register
            @success="onSuccess"
            @error="error"
            @request="onRequest"
          />
        </pu-stepper-content>

        <pu-stepper-content :step="3">
          <pu-modal-auth-flow-register-confirm
            @success="onSuccess"
            @error="error"
            @request="onRequest"
          />
        </pu-stepper-content>

        <pu-stepper-content :step="4">
          <pu-modal-auth-flow-register-resend
            @success="onSuccess"
            @error="error"
            @request="onRequest"
          />
        </pu-stepper-content>

        <pu-stepper-content :step="5">
          <pu-modal-auth-flow-forgot-password
            @success="onSuccess"
            @error="error"
            @request="onRequest"
          />
        </pu-stepper-content>

        <pu-stepper-content :step="6">
          <pu-modal-auth-flow-forgot-password-submit
            @success="onSuccess"
            @error="error"
            @request="onRequest"
          />
        </pu-stepper-content>
      </div>
    </pu-stepper>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { PropValidator } from 'vue/types/options'
import { mapActions, mapState } from 'vuex'
import kebabCase from 'lodash/kebabCase'
import PuModal from '@/components/base/modal/modal'
import PuModalAuthFlowForgotPassword from './flows/forgot-password/auth-flow-forgot-password.vue'
import PuModalAuthFlowForgotPasswordSubmit from './flows/forgot-password-submit/auth-flow-forgot-password-submit.vue'
import PuModalAuthFlowLogin from './flows/login/auth-flow-login.vue'
import PuModalAuthFlowRegister from './flows/register/auth-flow-register.vue'
import PuModalAuthFlowRegisterConfirm from './flows/register-confirm/auth-flow-register-confirm.vue'
import PuModalAuthFlowRegisterResend from './flows/register-resend/auth-flow-register-resend.vue'
import PuStepper from '@/components/base/stepper/stepper.vue'
import PuStepperContent from '@/components/base/stepper/stepper-content.vue'
import PuSvg from '@/components/base/image/svg/svg.vue'
import { AUTH_ACTIONS, AuthFormFields } from '@/types'
import { actionToStep, stepToAction } from '@/util/auth'
import { lazyModelFactory } from '@/mixins/lazy-model'
import mixins from '@/util/vue/mixins'

export default mixins(lazyModelFactory('change', 'step')).extend({
  name: 'pu-modal-auth',

  extends: PuModal,

  components: {
    PuModalAuthFlowForgotPassword,
    PuModalAuthFlowForgotPasswordSubmit,
    PuModalAuthFlowLogin,
    PuModalAuthFlowRegister,
    PuModalAuthFlowRegisterConfirm,
    PuModalAuthFlowRegisterResend,
    PuStepper,
    PuStepperContent,
    PuSvg,
  },

  props: {
    /**
     * Start the modal with the specified flow,
     * this is easier to use than step when using this modal as popup modal.
     * @prop {AUTH_ACTIONS} action
     */
    start: {
      type: String as PropType<AUTH_ACTIONS>,
    } as PropValidator<AUTH_ACTIONS.login | AUTH_ACTIONS.register>,
    /**
     * Use route navigation for directing to a new flow
     * @prop {Boolean} navigate
     */
    navigate: {
      type: Boolean,
      default: false,
    },
  },

  data(vm) {
    return {
      AUTH_ACTIONS,
      lazyValue: vm.step || actionToStep(vm.start),
    }
  },

  watch: {
    flow: {
      handler(toFlow) {
        if (toFlow !== null) {
          const step = actionToStep(toFlow)

          if (step !== this.lazyValue) {
            this.lazyValue = step
          }
        }
      },
      immediate: true,
    },
    step: {
      handler(toStep, fromStep) {
        if (toStep !== fromStep) {
          const to = stepToAction(toStep)
          const formData = this.formDataFromRouteInfo()

          this.resolve({
            to,
            formData,
          })
        }
      },
      immediate: true,
    },
  },

  computed: {
    ...mapState('auth', ['flow']),
    isStep() {
      return (...steps) => steps.includes(this.lazyValue)
    },
  },

  methods: {
    ...mapActions('auth', ['error', 'resolve']),
    onSuccess(this: any, flow: AUTH_ACTIONS) {
      const current = flow || this.flow
      // console.log('modal auth success current flow:', current)
      this.$emit('success', current)
    },
    onRequest(this: any, to: AUTH_ACTIONS) {
      if (this.navigate) {
        this.navigateToFlow(to)
      } else {
        this.resolve({
          to,
        })
      }
    },
    navigateToFlow(toFlow: AUTH_ACTIONS) {
      this.$router.push({
        name: kebabCase(toFlow),
      })
    },
    formDataFromRouteInfo() {
      const { params, query } = this.$route

      let formData: Partial<AuthFormFields>

      if (params.cognitoUserId) {
        if (!formData) {
          formData = {}
        }
        formData.cognitoUserId = params.cognitoUserId
      }

      if (query.code) {
        if (!formData) {
          formData = {}
        }
        formData.verificationCode = (query.code as unknown) as number
      }

      return formData
    },
  },
})
</script>

<style lang="scss">
@import 'modal-auth';
</style>
