[class*='pu-bulletin'] {
  position: relative;
  padding: 0.5rem 2rem 1.5rem;

  h2 {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.33;
    position: relative;
    z-index: 10;
  }

  > .pu-notification {
    width: 2.667rem;
    height: 2.667rem;
    position: absolute;
    left: 1rem;
    top: -1.334rem;
    border-radius: 1.334rem;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .pu-icon {
      flex: 0 0 20px;
    }
  }

  > .pu-button {
    width: 2.667rem;
    height: 2.667rem;
    position: absolute;
    right: 1.334rem;
    top: 1.334rem;
    z-index: 20;
    border-radius: 1.334rem;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .pu-icon {
      flex: 0 0 20px;
    }
  }
}
