<template>
  <div class="pu-view-content-user-profile">
    <pu-user-profile-partups v-if="partups" :user="user" :partups="partups" />
  </div>
</template>

<script lang="ts">
import { mapActions, mapGetters } from 'vuex'
import ability from '@/mixins/ability'
import mixins from '@/util/vue/mixins'
import PuUserProfilePartups from './partups/partups.vue'

export default mixins(
  ability({
    attribute: 'user',
  })
).extend({
  name: 'pu-view-content-user-profile',

  components: {
    PuUserProfilePartups,
  },

  computed: {
    ...mapGetters('views/userProfile', ['user', 'partups']),
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.initialize({
        slug: to.params.userSlug,
        solicit: to.query.solicit,
      })
    })
  },

  async beforeRouteUpdate(to, from, next) {
    next()
    if (to.params.userSlug !== from.params.userSlug) {
      await this.reset()
    }
    this.initialize({
      slug: to.params.userSlug,
      solicit: to.query.solicit,
    })
  },

  beforeDestroy() {
    this.reset()
  },

  methods: {
    ...mapActions('views/userProfile', ['initialize', 'reset']),
  },
})
</script>

<style lang="scss">
@import 'content.scss';
</style>
