.pu-view-aside-partup {
  @include goingLarge(medium) {
    background: linear-gradient(95deg, $gray-0-5 0%, $gray-0 15%, $gray-0 100%);
    overflow-y: hidden;
    overflow-x: visible;
  }

  .pu-form-tip {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0 3.334rem 4rem 1.334rem;
    bottom: 3.116rem;

/*
    @include goingLarge(medium) {
      bottom: 3.334rem;
      padding-bottom: 3.334rem;
    }
*/

    p {
      font-style: italic;
      line-height: 1.5;
    }

    > *:first-child {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 0;

/*
        @include goingLarge(medium) {
          left: -0.667rem;
        }
*/

        z-index: 20;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 75'%3E%3Cpath fill='none' d='M0 0h30v75H0z'/%3E%3Cpath fill='%23999' d='M25.843 73.641C10.001 68.434 2.505 56.663 2.524 43.196c.006-13.9 7.879-29.596 22.4-42.076a.498.498 0 11.65.758C11.227 14.204 3.519 29.678 3.525 43.196c.019 13.092 7.142 24.365 22.631 29.495a.501.501 0 01.318.632.497.497 0 01-.631.318z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        @include goingLarge(medium) {
          width: 30px;
        }
      }
    }
  }
}
