<template>
  <aside class="pu-view-aside-partup">
    <keep-alive>
      <transition name="t-fade" appear>
        <pu-partup-chat
          v-if="$can('partup_message_list') && isChatActive"
          :partup-uuid="partupUUID"
          :activity-uuid="activityUUID"
          :solicit-uuid="solicit"
        />

        <pu-partup-attachments
          v-else-if="$can('partup_attachment_list') && isAttachmentsActive"
          :partup-id="partupUUID"
          :activity-id="activityUUID"
        />

        <pu-summary v-else-if="partupUUID" :partup-id="partupUUID" />
      </transition>
    </keep-alive>
  </aside>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import ability from '@/mixins/ability'

import PuSummary from './summary.vue'

export default Vue.extend({
  name: 'pu-view-aside-partup',

  components: {
    PuPartupAttachments: () => import('./attachments/attachments.vue'),
    PuPartupChat: () => import('./chat/chat.vue'),
    PuSummary,
  },

  mixins: [
    ability({
      attribute: 'partup',
    }),
  ],

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.decideAsideExpanded(to)
    })
  },

  beforeRouteUpdate(to, from, next) {
    this.decideAsideExpanded(to)
    next()
  },

  computed: {
    ...mapGetters('views/partup', ['partup', 'solicit', 'isAsideModuleActive']),
    ...mapGetters('views/partup/activities', ['selectedActivity']),
    activityUUID() {
      return this.selectedActivity?.uuid || null
    },
    partupUUID() {
      return this.partup?.uuid || null
    },
    isAttachmentsActive() {
      return this.isAsideModuleActive('attachments')
    },
    isChatActive() {
      return this.isAsideModuleActive('chat')
    },
  },

  methods: {
    decideAsideExpanded(to) {
      let expanded = true

      switch (to.name) {
        case 'partup':
        case 'partup-activity':
          expanded = true
          break
        case 'partup-board':
        case 'partup-partners':
          expanded = this.$store.getters['views/partup/isAnyAsideModuleActive']
          break
      }

      this.$store.dispatch('layout/setSectionExpanded', {
        expanded,
        section: 'aside',
        preference: false,
      })
    },
  },
})
</script>

<style lang="scss">
@import 'aside.scss';
</style>
