.pu-aside-summary {
  padding: 4.334rem 1.334rem 0;

  h3 {
    padding-left: 4rem;
    font-weight: 600;
  }

  .pu-list {
    margin: 1rem 0;
    border-top: 1px solid $gray-1;

    li {
      border-bottom: 1px solid $gray-1;
      padding: 0.334rem 0;
    }
  }

  [class*='pu-button-show'] {
    display: block;
    min-height: 4rem;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    padding: 0 0 0 4rem;
    font-size: 1.125rem;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 3rem;
      height: 3rem;
      position: absolute;
      left: 0.2rem;
      top: 0.6rem;
      background-size: 2.4rem;
      background-repeat: no-repeat;
    }
  }
  .pu-button-show-chat::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='30' viewBox='0.001 0 32 30'%3E%3Cpath fill='none' d='M.001 0h32v30h-32z'/%3E%3Cpath fill='%23ECFFCC' d='M26.001 8H6a6.012 6.012 0 00-6 6v9.999a6.015 6.015 0 006 6h20.001a6.012 6.012 0 005.998-6h.002V14a6.012 6.012 0 00-6-6z'/%3E%3Cpath fill='none' stroke='%237E9159' stroke-width='2' stroke-linecap='round' d='M6.075 14.292h15.016M6.075 19h20.36M6.075 23.707h11.199'/%3E%3C/svg%3E");
  }
  .pu-button-show-attachments::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='30'%3E%3Cpath fill='none' d='M0 0h32v30H0z'/%3E%3Cpath fill='%23FFFBAB' d='M25.999 7.999H6a6.012 6.012 0 00-6 6V24a6.009 6.009 0 006 5.998h19.999a6.01 6.01 0 006-5.998V13.999a6.013 6.013 0 00-6-6z'/%3E%3Cpath fill='%23BBB' d='M24.963 3.058a4.996 4.996 0 00-6.22 3.352l-.002.004-4.014 13.402v.001l-.001.006v.003a2.925 2.925 0 00-.127.858 3.004 3.004 0 003.002 2.998h.005a2.998 2.998 0 002.868-2.136v-.003l2.301-7.688a1 1 0 00-1.916-.574l-2.302 7.69a1.002 1.002 0 01-1.246.669 1.002 1.002 0 01-.67-1.236v-.007l.001-.002L20.657 6.99l.002-.003v-.001a3.002 3.002 0 012.87-2.141 3.007 3.007 0 013.002 3.003c0 .058-.01.118-.013.177a5.96 5.96 0 011.962.519 5.005 5.005 0 00-3.517-5.486z'/%3E%3C/svg%3E");
  }

  @include goingSmall(medium) {
    padding-top: 8rem;

    h3 {
      display: none;
    }

    [class*='pu-button-show'] {
      span {
        display: none;
      }

      padding: 0;
    }
  }

}
