<template>
  <div class="pu-aside-summary">
    <h3>{{ $t('in-this-partup') }}</h3>
    <pu-list>
      <li v-if="$can('partup_message_list')">
        <pu-badge :value="unreadCount" color="red" top="0" left="-12px">
          <template v-slot:badge>{{ unreadCount }}</template>

          <pu-button class="pu-button-show-chat" @click="activate('chat')">
            <span>{{ $t('messages') }}</span>
          </pu-button>
        </pu-badge>
      </li>
      <li v-if="$can('partup_attachment_list')">
        <pu-button
          class="pu-button-show-attachments"
          @click="activate('attachments')"
        >
          <span>{{ $t('attachments') }}</span>
        </pu-button>
      </li>
    </pu-list>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Uuid } from '@/types'
import ability from '@/mixins/ability'

export default Vue.extend({
  name: 'pu-aside-partup-summary',

  mixins: [
    ability({
      attribute: 'partup',
    }),
  ],

  props: {
    partupId: {
      type: String as PropType<Uuid>,
      required: true,
    },
  },

  computed: {
    unreadCount() {
      return this.$store.getters['chat/unreadCountForPartup'](this.partupId)
    },
  },

  methods: {
    activate(name) {
      this.$store.dispatch('views/partup/activateAsideModule', name)
    },
  },
})
</script>

<i18n src="./summary.nl.json"></i18n>

<style lang="scss">
@import 'summary.scss';
</style>
