<template>
  <pu-form
    class="pu-modal-solicit-resolve"
    @submit="
      success({
        action,
        message: form.fields.message,
        value,
      })
    "
  >
    <pu-label for="solicit-message" tag="h3">{{
      form.labels.message
    }}</pu-label>
    <div class="pu-primary-action">
      <pu-form-control v-model="form.fields.message">
        <pu-textarea
          id="solicit-message"
          :placeholder="form.placeholders.message"
          :rows="5"
          :max-rows="10"
          no-resize
        />
      </pu-form-control>
    </div>
    <div class="pu-secondary-action">
      <pu-button type="submit" color="success">Verzenden</pu-button>
    </div>
  </pu-form>
</template>

<script>
import PuModal from '@/components/base/modal/modal.js'
import { SOLICIT_ACTIONS } from '@/types'

export default {
  name: 'pu-modal-solicit-resolve',

  extends: PuModal,

  props: {
    action: {
      type: String,
      required: true,
      validator: (v) => Object.values(SOLICIT_ACTIONS).includes(v),
    },
    value: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      form: {
        fields: {
          message: null,
        },
        labels: {
          message: 'Opmerking',
        },
        placeholders: {
          message: 'Als je wilt kun je hier een opmerking plaatsen (optioneel)',
        },
      },
    }
  },
}
</script>

<style lang="scss">
@import 'modal-solicit-resolve.scss';
</style>
