.pu-password {
  .append-inner {
    position: absolute;
    right: 10px;
    top: 9px;

    .pu-icon {
      display: block;
    }

    + span {
      left: auto !important;
      right: 40px !important;
    }
  }
}