<template>
  <div :class="rootClasses">
    <input
      ref="input"
      v-bind="inputAttributes"
      v-on="inputListeners"
      @blur="onBlur"
      @focus="onFocus"
      @input="$emit('change', null)"
    />
    <figure v-show="!hasError" class="append-inner" :title="passwordTitle">
      <pu-icon
        :name="passwordIcon"
        :size="24"
        @click="passwordVisible = !passwordVisible"
      />
    </figure>
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'

/**
 * Password component
 * @component pu-password
 */
export default {
  name: 'pu-password',

  extends: PuInputBase,

  props: {
    placeholder: {
      type: String,
    },
  },

  data(vm) {
    return {
      passwordVisible: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-password': true,
      }
    },
    passwordIcon() {
      return this.passwordVisible ? 'visibility_on' : 'visibility_off'
    },
    passwordTitle() {
      return this.passwordVisible
        ? 'Klik om je wachtwoord leesbaar te maken.'
        : 'Klik om je wachtwoord te verbergen.'
    },
    inputAttributes() {
      return {
        id: this.id,
        placeholder: this.placeholder,
        disabled: this.disabled,
        type: this.passwordVisible ? 'text' : 'password',
      }
    },
    inputListeners() {
      const copy = Object.assign({}, this.$listeners)
      delete copy['change']
      delete copy['input']
      return copy
    },
  },

  watch: {
    value: {
      handler(newVal) {
        if (typeof newVal === 'string' && newVal.length) {
          if (this.$refs.input) {
            this.$refs.input.value = newVal
          } else {
            this.$nextTick(() => {
              this.$refs.input.value = newVal
            })
          }
        }
      },
      immediate: true,
    },
  },

  methods: {
    getValue() {
      if (this.$refs.input) {
        return this.$refs.input.value
      }
    },
    clearValue() {
      if (this.$refs.input) {
        this.$refs.input.value = null
      }
    },
  },
}
</script>

<style lang="scss">
@import 'input-password.scss';
</style>
