<template>
  <div :class="rootClasses">
    <div :class="headerClasses">
      <pu-icon name="expand_more" :size="28" @click="activate" />
      <slot name="header" />
    </div>

    <pu-transition-expand-y>
      <div v-show="isActive" :class="contentClasses">
        <slot />
      </div>
    </pu-transition-expand-y>
  </div>
</template>

<script>
import PuTransitionExpandY from '@/components/base/transition/expand-y'
import isUndefined from 'lodash/isUndefined'
import toggleable from '@/mixins/toggleable'
import { registerableInject } from '@/mixins/registerable'

export default {
  name: 'pu-expansion-panel',

  mixins: [toggleable, registerableInject('accordion')],

  props: {
    onlyOpenOnIconClick: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-expansion-panel': true,
        'is-active': this.isActive,
        'is-disabled': this.isDisabled,
      }
    },
    headerClasses() {
      return {
        'pu-expansion-panel__header': true,
      }
    },
    contentClasses() {
      return {
        'pu-expansion-panel__content': true,
      }
    },

    isDisabled() {
      return this.isChild
        ? this.accordion.disabled || this.disabled
        : this.disabled
    },
    isReadonly() {
      return this.isChild
        ? this.accordion.readonly || this.readonly
        : this.readonly
    },

    isChild() {
      return Boolean(this.accordion)
    },
  },

  beforeMount() {
    if (this.isChild) {
      this.accordion.register(this)
    }
  },
  beforeDestroy() {
    if (this.isChild) {
      this.accordion.unregister(this)
    }
  },

  methods: {
    toggle(active) {
      if (this.isActive === active) {
        return
      }

      this.isActive = !isUndefined(active) ? active : !this.isActive
    },

    activate() {
      if (this.isChild) {
        this.accordion.panelClick(this._uid)
      } else {
        this.toggle()
      }
    },
  },
}
</script>

<style lang="scss">
@import 'expansion-panel.scss';
</style>
