
.pu-expansion-panel {
  border-radius: $border-radius;

  &__header {
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    flex-direction: row;
    padding: .2rem;

    h3 {
      font-size: 1.3rem;
    }

    .pu-icon {
      &-expand_more {
        transform: rotate(-90deg);
        transition: .2s linear;
        transition-property: transform;

        margin-right: 6px;
      }
    }
  }

  &__content {
    display: flex;
    transition: .2s linear;

    > *:first-child {
      flex: 1;
    }
  }

  &.is-active {
    .pu-icon {
      &-expand_more {
        transform: rotate(0deg);
      }
    }
  }
}