<template>
  <div id="page" v-smart-scroll class="pu-layout-default">
    <pu-toolbar-app :class="appToolbarClasses" />

    <pu-toolbar-search v-model="toolbarSearchActive" />

    <main :class="routeClasses">
      <slot name="header" />

      <slot name="toolbar" />

      <section>
        <slot />

        <slot name="aside" />
      </section>

      <pu-navigation-user />
    </main>
  </div>
</template>

<script lang="ts">
import smartScroll from '@/directives/smart-scroll'
import PuToolbarApp from '@/components/modules/toolbar/app/app.vue'
import PuToolbarSearch from '@/components/modules/toolbar/search/search.vue'
import PuNavigationUser from '@/components/modules/navigation/user/user.vue'
import { LAYOUT_DEFAULT_SECTIONS } from '@/types'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-layout-default',

  components: {
    PuToolbarApp,
    PuToolbarSearch,
    PuNavigationUser,
  },
  directives: {
    smartScroll,
  },
  computed: {
    ...mapGetters('layout', ['isSectionExpanded']),
    ...mapGetters(['currentOrganization']),
    ...mapGetters('views/partup', ['partup', 'isAsideModuleActive']),
    routeClasses() {
      return {
        [`pu-route-${this.$route.name}`]: true,
        'aside-is-expanded': this.isSectionExpanded(
          LAYOUT_DEFAULT_SECTIONS.aside
        ),
        'header-is-expanded': this.isSectionExpanded(
          LAYOUT_DEFAULT_SECTIONS.header
        ),
        'user-navigation-is-expanded-on-mobile': this.isSectionExpanded(
          LAYOUT_DEFAULT_SECTIONS.userNavigationMobile
        ),
        'user-navigation-is-collapsed': !this.isSectionExpanded(
          LAYOUT_DEFAULT_SECTIONS.userNavigation
        ),
        'chat-is-active': this.isAsideModuleActive('chat'),
        'attachments-is-active': this.isAsideModuleActive('attachments'),
        'is-first-login': this.isFirstLogin,
      }
    },
    isFirstLogin() {
      return !this.currentOrganization
    },
    appToolbarClasses() {
      return {
        'user-navigation-is-collapsed': !this.isSectionExpanded(
          LAYOUT_DEFAULT_SECTIONS.userNavigation
        ),
      }
    },
    toolbarSearchActive: {
      get() {
        return this.$store.state.searchToolbarActive
      },
      set(v) {
        this.$store.commit('searchToolbarActive', v)
      },
    },
  },
})
</script>

<style lang="scss">
@import 'layout-default.scss';
</style>
