/*
@include goingSmall(medium) {
  .pu-layout-modal > main {
    padding-top: 2rem;
  }
}
*/

@include goingLarge(medium) {
  html,
  body,
  #app {
    height: 100%;
  }


  .pu-layout-modal > main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

