<template>
  <div id="page" class="pu-layout-modal">
    <main :class="routeClasses">
      <slot />
    </main>
  </div>
</template>

<script>
export default {
  name: 'pu-layout-modal',

  computed: {
    routeClasses() {
      return {
        [`pu-route-${this.$route.name}`]: true,
      }
    },
  },
}
</script>

<style lang="scss">
@import 'layout-modal.scss';
</style>
