html, body {
    margin: 0;
    padding: 0;
    font-family: 'proxima-nova',sans-serif;
    font-size: 15px; /* Somehow this doesn't trigger a root of 15px for breakpoints in media queries - so we have to calculate those from 16px base size. */
}



/*  ============================
 *
 *  BASE RESPONSIVE TYPOGRAPHY
 *  TODO: should go elsewhere in code...
 *
 *  ============================
 *
 */
h1 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;

  @include goingLarge(large) {
    font-size: 2rem;
    font-weight: 400;
  }
}




/*  BASE LAYOUT, MOBILE SCREENS
 *  portrait mainly
 *  0 - 640 px
 *  0 - 40  em
 */
.pu-layout-default > main {
//     width: 100%;
    min-height: 100vh;
    padding-top: 8rem;
    background: linear-gradient(to bottom, rgba(85,190,200,0.5) 0, rgba(85,190,200,0) 20rem, transparent 100%);

  > header {
      width: 100%;
      position: absolute;
      top: 0;
      padding-top: 4rem;
      overflow: hidden;

      > div {
          height: 4rem;
//           padding: 0;
          background-color: rgba(85,190,200,0.85); // Title/content-editable area
          transition: height .4s ease;
      }

      /* FOR TESTING */
      &::before {
        content: "SMALL SCREENS : BASE";
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: 0.5rem 4rem;
        font-size: 0.8rem;
        letter-spacing: 2px;
        background-color: lightgreen;
        color: brown;
        box-sizing: border-box;
        opacity: 0;
        pointer-events: none;
      }
      /* END FOR TESTING */
  }


  @include goingSmall(large) {
    &.pu-route-partup-create,
    &.header-is-expanded {
        > header {
          z-index: 105;  // Lift partup header above the toolbar menu on small screens.
          min-height: 100%;

          > div {
            height: 100%;
          }
        }
    }
  }

  > section {
      position: relative;
      min-height: 100%;
  }

}

/* ROUTE SPECIFICS */
main.pu-route-partup {
  height: 100vh;
}
main.pu-route-partup-activity,
main.pu-route-partup-board {
  height: 100vh; // Force height of kanban board and activity detail to fill out screen.

  > section {
    height: 100%;
  }
}

main[class*='pu-route-partup'] {
  > header > div {
    background-color: $blue;

    @include goingLarge(large) {
      background-color: rgba(85,190,200,0.85); // Title/content-editable area
    }
  }

  > section {
      display: flex;  // This display flex is needed
  }
}
/*
main[class*='pu-route-dashboard'] {
  padding-top: 22rem;

  > header > div {
    height: 18rem;
    background-color: rgba(85,190,200,1); // Title/content-editable area
  }
}
*/
main[class*='pu-route-user'] {
  padding-top: 8rem;

  > header > div {
    height: 4rem;
    padding: 0.6rem 1rem;
    background-color: $blue;

    @include goingLarge(large) {
      background-color: rgba(85,190,200,0.85); // Title/content-editable area
    }
  }
}
main.pu-route-create-work {
  > section {
      display: flex;
      flex-direction: column;

      @include goingLarge(medium) {
        flex-direction: row;
      }
  }
}
main.pu-route-organization {
    padding-top: 14rem;

    > header > div {
        background-color: rgba(0,0,0,0.5);
        height: 10rem;
    }
}
main.pu-route-user-profile {
    padding-top: 18rem;

    > header > div {
        height: 14rem;
    }
}
main.pu-route-home {
  padding-top: 0;
  background: transparent;
}

.pu-view-content-partup {
  padding-top: 2rem;
}



/* SCROLLABLES */
/* Make sure all parent elements up to [main] have a robust height set */
.pu-scrollable {
    display: block;
    height: 100%;
    overflow: auto;
    margin: 0;
}



/*  *******************************
 *
 *  APP TOOLBAR MAIN LAYOUT
 *
 *  *******************************
 */
 .pu-toolbar-app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 4rem;
  padding: 0 0.8rem;
  transition: top 0.3s linear;

  @include goingLarge(large) {
    padding: 0 2rem;
  }
  @include goingLarge(huge) {
    padding: 0 4rem;
  }
}

.scrolling-down {
  .pu-toolbar-app {
    top: -4rem;
  }
}
.scrolling-up {
  .pu-toolbar-app {
    background-color: rgba(85,190,200,0.9);
    top: 0;
  }
}



/*  *******************************
 *
 *  USER MENU
 *
 *  *******************************
 */
.pu-navigation-user {
    position: fixed;
    left: 100vw;
    top: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    transition: left 0.3s ease-in, width 0.3s ease-in;
    background: $gray-0;

    .pu-avatar {
        width: 3.2rem;
        height: 3.2rem;
        position: fixed;
        right: 1.6rem;
        top: 2rem;
        z-index: 40;
        margin: -1.6rem 0 0 -1.6rem;
        overflow: initial;

        img {
          display: block;
          width: 100%;
          border-radius: 50%;
          border: 2px solid $gray-0;
        }

        .pu-badge {
          z-index: 90;
          position: absolute;
          top: 0.8rem;
          left: 1.2rem;
          width: 100%;

          .badge {
            top: 0;
            right: 0;
          }
        }

        &::after {
          content: "";
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          left: 3.6rem;
          top: 1.6rem;
          z-index: -1;
          margin: -0.8rem 0 0 -0.8rem;
          border-radius: 0.8rem;
          background-color: $gray-0;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6.979 13.71a1.001 1.001 0 010-1.418l4.312-4.312a.998.998 0 011.415 0l4.313 4.312v.003a1 1 0 010 1.415 1.003 1.003 0 01-1.415-.003l-3.605-3.604-3.604 3.604a.998.998 0 01-1.416.003z'/%3E%3C/svg%3E%0A");
          background-position: center center;
          transition: transform 0.5s 0.1s ease;
        }
    }
}
@include goingSmall(large) {
    .pu-navigation-user {
        width: 40vw;

        nav {
            width: 40vw;
            padding-top: 4rem;
        }

        .pu-avatar::after {
            transform: rotate(-90deg);
        }
    }

    .user-navigation-is-expanded-on-mobile {
        .pu-navigation-user {
            left: 60vw;
            width: 40vw;

            .pu-avatar::after {
                transform: rotate(90deg);
            }
        }
    }
}
@include goingSmall(medium) {
    .pu-navigation-user {
        width: 80vw;

        nav {
            width: 80vw;
            height: 100%;
            overflow-y: scroll;
        }
    }

    .user-navigation-is-expanded-on-mobile {
        .pu-navigation-user {
            left: 20vw;
            width: 80vw;

            nav {
              width: 80vw;
            }
         }
    }
}
@include goingLarge(large) {
    .pu-navigation-user {
        display: block;
        width: 16rem;
        right: 2rem;
        bottom: 0;
        left: auto;
        overflow: visible; // No hidden overflow to allow badges to extend beyond navigation
        padding-top: 11.33rem;
        transition: opacity 0.3s 0.2s ease, width 0.3s ease, top 0.4s ease;
        background: transparent;

        nav {
            background-color: $gray-0;
            display: block;
            height: 100%;
            width: 16rem;
            position: relative;
            transition: opacity 0.3s 0.2s ease;
            overflow: visible;
            overflow-y: scroll;
        }

        .pu-avatar {
            width: 4rem;
            height: 4rem;
            margin: -2rem 0 0 -2rem;
            position: fixed;
            right: 12rem;
            top: 8.4rem;
            z-index: 100;
            transition: top 0.3s ease, right 0.3s ease;
            cursor: pointer;

            &::after {
                left: 2rem;
                top: 4.3rem;
                transform-origin: center -1.7rem;
            }

            .pu-badge {
              top: 1.1rem;
              left: 1.1rem;
            }

        }
    }

    /* TOGGLE VISIBILITY OF USER NAV */
    .user-navigation-is-collapsed {
        .pu-navigation-user {
            width: 0;
            left: auto;

            nav {
              opacity: 0;
              pointer-events: none;
            }

            .pu-avatar {
              right: 1rem;


              &::after {
                transform: rotate(-90deg);
              }
            }
        }
    }
}




/*  *******************************
 *
 *  TOOLBAR OF VIEW
 *
 *  *******************************
 */
[class*='pu-view-toolbar'] {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    height: 3rem;
}

@include goingLarge('large') {
    [class*='pu-view-toolbar'] {
        padding-left: 2rem;
        padding-right: 18rem;
        z-index: 10;
        transition: padding 0.4s ease;

        ul {
            height: 3rem;
        }
    }
}



/*  *******************************
 *
 *  CONTENT AREA AND ASIDE BLOCKS
 *
 *  *******************************
 */

// These declarations form a bit of a challenge,
// as we're starting to use them outside of the partup views (e.g. create work journey)
// needs some refactoring, to bring in robustness and flexibility
[class*='pu-view-content'] {
    width: 100%;
    height: 100%;
    background-color: $gray-0;
}
[class*='pu-view-aside'] {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    overflow: visible;
}
.pu-view-content-partup {
    padding-right: 20%;
}
.pu-view-aside-partup {
    width: 20%;
}

.aside-is-expanded [class*='pu-view-aside'] { display: block; }


@include goingSmall(medium) {
  .pu-route-partup,
  .pu-route-partup-activity {
    [class*='pu-view-aside'] {
      .pu-partup-chat,
      .pu-attachments {
        width: 100vw;
        position: absolute;
        right: 0;
        z-index: 95;
        background-color: $gray-0-5;
      }
    }

    &.chat-is-active,
    &.attachments-is-active {
      .pu-view-toolbar-partup {
        .pu-button-group {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    section {
      background-color: $gray-0;
    }
  }

  .pu-route-partup-board,
  .pu-route-partup-partners {
    [class*='pu-view-content'] {
      padding-right: 0;
    }
  }
}


/* MEDIUM SCREENS */
@include goingLarge('medium') {

  /* FOR TESTING */
  .pu-layout-default > main > header::before {
        content: "MEDIUM SCREENS : 40 EM // 640 PX";
        background-color: lightblue;
        color: darkblue;
    }
  /* END FOR TESTING */

    .pu-view-content-partup {
      padding-top: 3rem;
    }

    .pu-view-aside-create-work {
      width: 40%;
    }


    [class*='pu-view-aside'] {
      position: relative;
      top: auto;
      right: auto;
      width: 30%;
      background-color: $gray-0;
    }

    [class*='pu-view-content'] {
      padding-right: 0;
    }

    [class*='pu-route-partup'] {
      > section {
        height: 100%;
      }

      &.aside-is-expanded {
        .pu-view-content-partup {
          width: 70%;
        }
      }
    }
}



/* LARGE SCREENS */
@include goingLarge('large') {

    /* FOR TESTING */
    .pu-layout-default > main > header::before {
        content: "LARGE SCREENS : 75 EM // 1200 PX";
        background-color: lightpink;
        color: purple;
    }
    /* END FOR TESTING */

    .pu-layout-default > main {
//         width: 100%;
        height: 100vh;
        padding-top: 11.33rem;
        position: relative;
        transition: padding .4s ease;

        > header {
            padding: 4.667rem 18rem 0 2rem;
            transition: padding 0.4s ease;
            overflow: hidden;

            > div {
                height: 6.667rem;
                background-color: rgba(85,190,200,0.85);
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                transition: height .4s ease;
            }
        }

        > section {
            padding-left: 2rem;
            padding-right: 18rem;
//             background: rgba(255,255,255,0.6);  /* Branded Part-up accounts */
            background: $white;  /* White overlay for basic Part-up accounts */
            transition: padding 0.4s ease;
            height: auto;
        }


        // VERSIONS OF THE HEADER
        &.pu-route-user-profile {
            padding-top: 26.667rem;

            > header > div {
                height: 22rem;
            }
        }
        &.pu-route-user-settings {
            > header > div {
                padding: 1rem 2rem;
            }

          > section {
            height: 100%;
          }
        }

        &.pu-route-organization {
            padding-top: 14.667rem;

            > header > div {
                background-color: rgba(0,0,0,0.2);
                height: calc(10rem + 2px);
                margin: -2px -2px 0;
                border: 2px solid $white;
                border-bottom: 0;
            }
        }
        &[class*='pu-route-partup'] {
          > section {
            height: 100%;
          }
        }
        &.pu-route-partup-create {
            padding-top: 44.667rem;

            > header > div {
                height: 40rem;
//                 background-color: rgba(85,190,200,0.9);
            }
        }
        &.pu-route-home {
          padding-top: 0;
        }


    }

    .pu-toolbar-app {
        padding-right: 18rem;
        transition: padding 0.3s ease;

        &.user-navigation-is-collapsed {
            padding-right: 6rem;
        }
    }

    /* Content and aside blocks */
    [class*='pu-view-content'] {
        flex: 1 0 70%;
        transition: width 0.4s ease;
        height: auto;
    }
    .pu-view-content-dashboard {
      padding-top: 3rem;
    }
    .pu-view-content-partup {
      padding-top: 3rem;
    }
    .pu-route-partup {
      .pu-view-content-partup {
        height: 100%;
      }
      .pu-partup-activities {
        height: 100%;
        overflow: auto;
      }
    }
    .pu-route-partup-partners {
      .pu-view-content-partup {
        height: 100%;
      }

      .pu-partup-partners {
        height: 100%;
        overflow: auto;
      }
    }
    [class*='pu-view-aside'] {
        flex: 0 0 30%;
        padding-top: 3rem;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        height: 100%;
    }


    // FOLDABLE USER NAV
    .pu-layout-default > main.user-navigation-is-collapsed {
        > header,
        > section,
        [class*='pu-view-toolbar'] {
            padding-right: 6rem;
        }
    }

    // FOLDABLE HEADER
    .pu-layout-default > main.header-is-expanded {
        &[class*='pu-route-partup'] {
          padding-top: 25.667rem;

          > header > div {
            overflow: auto;
              height: 21rem;
          }
        }

        &.pu-route-partup-create {
            padding-top: 44.667rem;

            > header > div {
                height: 40rem;
            }
        }
        &.pu-route-organization {
            padding-top: 26.667rem;

            > header > div {
                height: calc(22rem + 2px);
            }
        }
    }

    /*  ROUTE KANBAN BOARD specifics */
    [class*='pu-route-partup'] {
        > section {
            height: 100%;
        }
    }
}



@include goingLarge('huge') {

    /* FOR TESTING */
    .pu-layout-default > main > header::before {
        content: "HUGE SCREENS : 100 EM // 1600 PX";
        background-color: brown;
        color: lightpink;
    }
    /* END FOR TESTING */


    .pu-layout-default > main {
        &.user-navigation-is-collapsed {
            > header,
            > section,
            [class*='pu-view-toolbar'] {
                padding-right: 8rem;
            }
        }
    }
    .pu-toolbar-app {
        padding-right: 20rem;

        &.user-navigation-is-collapsed {
            padding-right: 8rem;
        }
    }
}

