<template>
  <div
    v-click-outside="clickOutsideDirective"
    :class="rootClasses"
    @keydown.stop.escape="cancel"
  >
    <slot />

    <pu-icon v-if="!persistent" name="close" :size="24" @click="cancel" />
  </div>
</template>

<script>
import clickOutside from '@/directives/click-outside'
import toggleable from '@/mixins/toggleable'

export default {
  name: 'pu-modal-shell',

  directives: {
    clickOutside,
  },

  mixins: [toggleable],

  props: {
    persistent: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      animateActive: false,
      animateTimeout: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-modal-shell': true,
        'pu-modal-shell--animated': this.animateActive,
      }
    },
    clickOutsideDirective() {
      return {
        include: () => [this.$el],
        condition: () => this.isActive,
        handler: this.cancel,
      }
    },
  },

  methods: {
    success(payload) {
      this.$emit('success', payload)
    },
    cancel(payload) {
      if (this.persistent) {
        this.animatePersist()
        return
      }
      this.$emit('cancel', payload)
    },

    animatePersist() {
      this.animateActive = false

      this.$nextTick(() => {
        this.animateActive = true
        clearTimeout(this.animateTimeout)
        this.animateTimeout = setTimeout(() => {
          this.animateActive = false
        }, 150)
      })
    },
  },
}
</script>

<style lang="scss">
@import 'modal-shell.scss';
</style>
