.pu-modal-shell {
  background-color: $white;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  
  > .pu-icon-close {
    position: absolute;
    top: 14px;
    right: 1.334rem;
  }

  &.is-active {
    transition: box-shadow .1s linear;
    box-shadow: 0px 1px 6px -2px rgba(0,0,0, .2), 0px 2px 24px 6px rgba(0,0,0, .3);
  }

  &--animated {
    transform: scale(1.014, 1.014);
    transition: transform .15s linear;
  }

  @include goingLarge(400) {
    border-radius: 2rem;
    max-height: 95%;
    max-width: 20rem;
  }

  @include goingLarge(700) {
    max-height: 95%;
    max-width: 95%;
  }
}
