.pu-view-header-overview-partup {
  > div {
    padding: 1rem 1.334rem;

    @include goingLarge(large) {
      padding: 1rem 2rem;
    }
  }

  h1 {
    color: $white; // TODO: maybe this should be in a more general sass file.
  }
}
