<template>
  <figure
    :class="rootClasses"
    :style="rootStyles"
    :title="text"
    v-on="$listeners"
  >
    <slot>
      <img v-if="imageUrl" :src="imageUrl" :alt="text" :aria-label="text" />

      <span v-else-if="hasText">{{ computedText }}</span>

      <pu-icon v-else name="person" :size="fallbackIconSize" />
    </slot>
    <slot name="badge" />
  </figure>
</template>

<script>
import colorable from '@/mixins/colorable'
import toStyleUnit from '@/util/css/to-style-unit'

export default {
  name: 'pu-avatar',

  mixins: [colorable],

  props: {
    size: {
      type: [String, Number],
      default: null,
      validator: (v) => !Number.isNaN(parseInt(v, 10)),
    },
    src: {
      type: String,
    },
    text: {
      type: String,
    },
    placeholder: {
      type: String,
    },
  },

  computed: {
    rootClasses() {
      return this.setBackgroundColor({
        'pu-avatar': true,
        'pu-avatar--placeholder': !this.hasImage && this.hasPlaceholder,
      })
    },
    rootStyles() {
      if (!this.size) {
        return
      }

      const size = toStyleUnit(this.size)
      return {
        'font-size': toStyleUnit(this.size / 2.5),
        height: size,
        width: size,
      }
    },
    fallbackIconSize() {
      return this.size / 1.4
    },
    computedText() {
      return this.makeAvatarName(this.text.split(' '))
    },
    hasImage() {
      return Boolean(this.src)
    },
    hasPlaceholder() {
      return Boolean(this.placeholder)
    },
    hasText() {
      return (this.text || '').length > 0
    },
    imageUrl() {
      return this.hasImage
        ? this.src
        : this.hasPlaceholder
        ? this.placeholder
        : false
    },
  },

  methods: {
    makeAvatarName(words = [], name = '') {
      if (words.length === 0) {
        return name
      }
      const word = words.shift()
      return this.makeAvatarName(words, `${name}${word.substr(0, 1)}`)
    },
  },
}
</script>

<style lang="scss">
@import 'avatar.scss';
</style>
