
.pu-avatar {
  @include unselectable;
  align-items: center;
  background-color: scale-color($color: #295b5f, $alpha: -80%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
  }

  &--placeholder {
    > img {
      height: 50%;
      width: 50%;
    }
  }
}
