.pu-list {
  &-tag {
    display: inline-flex;
    flex-flow: row wrap;

    > li {
      margin: 4px 8px 4px 0px;
      display: inline-flex;
      align-content: center;
    }

    &--vertical {
      display: initial;

      > li {
        display: list-item;
      }
    }
  }
}