<template>
  <ul :class="rootClasses">
    <li v-for="(keyword, index) in computedItems" :key="keyword.uuid || index">
      <slot :keyword="keyword">
        <pu-tag
          :small="small"
          :color="color"
          :closeable="closeable"
          :close-callback="() => closeCallback(keyword)"
          >{{ keyword.name }}</pu-tag
        >
      </slot>
    </li>
    <li v-if="excessItemCount > 0">
      <pu-tag :small="small" color="accent">+{{ excessItemCount }}</pu-tag>
    </li>
  </ul>
</template>

<script>
import PuTag from '@/components/base/tag/tag.vue'

import colorable from '@/mixins/colorable'

export default {
  name: 'pu-list-tag',

  components: {
    PuTag,
  },

  mixins: [colorable],

  props: {
    items: {
      type: Array,
      default: () => [],
    },
    small: {
      type: Boolean,
      default: false,
    },
    limit: {
      type: Number,
      default: 0,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
    closeable: {
      type: Boolean,
      default: false,
    },
    closeCallback: {
      type: Function,
      default: () => () => void 0,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-list': true,
        'pu-list-tag': true,
      }
    },
    computedItems() {
      return this.limit > 0 ? this.items.slice(0, this.limit) : this.items
    },
    excessItemCount() {
      return this.limit && this.limit < this.items.length
        ? this.items.length - this.limit
        : null
    },
  },
}
</script>

<style lang="scss">
@import 'list-tag.scss';
</style>
