
.pu-picker-date {
  .vdp-datepicker {

    &__calendar {
      color: $gray-8;

      .cell {
        &.day {
          &:hover {
            border-color: $secondary !important;
          }
        }

        &.selected {
          background-color: $secondary;
          color: $white;
        }
      }
    }
  }
}