<template>
  <div v-click-outside="clickOutsideDirective" :class="rootClasses">
    <div :class="controlClasses">
      <vuejs-datepicker
        ref="picker"
        :value="internalValue"
        :format="formatDate"
        :language="language"
        :placeholder="computedPlaceholder"
        use-utc
        @selected="onInput"
        @opened="onOpened"
        @closed="onClosed"
      />
    </div>
  </div>
</template>

<script>
import vuejsDatepicker from 'vuejs-datepicker'
import PuPicker from '@/components/base/picker/picker.js'

import DateTime from 'luxon/src/datetime'
import { nl } from 'vuejs-datepicker/dist/locale'

import clickOutside from '@/directives/click-outside'

import get from 'lodash/get'

export default {
  name: 'pu-datepicker',

  components: {
    vuejsDatepicker,
  },

  directives: {
    clickOutside,
  },

  extends: PuPicker,

  props: {
    format: {
      type: String,
      default: 'DATE_SHORT',
    },
    pickerAttributes: {
      type: Object,
    },
    placeholder: {
      type: String,
    },
    openOnFocus: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      language: nl,
      isActive: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-picker': true,
        'pu-picker-date': true,
      }
    },
    controlClasses() {
      return {
        control: true,
      }
    },
    clickOutsideDirective() {
      return {
        include: () => [
          this.$el,
          this.$refs.picker.$el,
          ...this.$refs.picker.$children.map((child) => child.$el),
        ],
        condition: () => Boolean(this.isActive),
        handler: this.onClosed,
      }
    },
    computedPlaceholder() {
      return this.placeholder || ''
    },
    inputEl() {
      if (this.$refs.picker) {
        return this.$refs.picker.$children[0].$el.children[0]
      }
      return null
    },
  },

  mounted() {
    if (this.openOnFocus && this.inputEl) {
      this.inputEl.addEventListener('focus', this.handleAutoOpen)
    }
  },

  beforeDestroy() {
    if (this.openOnFocus && this.inputEl) {
      this.inputEl.removeEventListener('focus', this.handleAutoOpen)
    }
  },

  methods: {
    formatDate(date) {
      return DateTime.fromJSDate(date).toLocaleString(DateTime[this.format])
    },
    onInput(e) {
      this.internalValue = e
    },
    onOpened(e) {
      this.isActive = true
    },
    onClosed(e) {
      this.isActive = false
      this.$emit('blur', e)
    },
    focus() {
      this.isActive = true
      // The only way to open this picker
      const input = this.$refs.picker.$children[0].$el.children[0]
      input.focus()
      input.click()
    },
    blur() {
      const input = this.$refs.picker.$children[0].$el.children[0]
      input.blur()
    },
    handleAutoOpen() {
      this.inputEl.click()
    },
  },
}
</script>

<style lang="scss">
@import 'date-picker.scss';
</style>
