<template>
  <header class="pu-view-header-partup">
    <div>
      <div v-if="!isCreating" class="content-editable-controls">
        <pu-button
          v-if="isEditing"
          flat
          icon
          class="pu-button-options"
          @click="isEditing = false"
        >
          <pu-icon name="success_mark" :size="24" />
        </pu-button>

        <pu-menu
          v-else-if="$can('partup_edit')"
          transition="transition"
          transition-name="t-fade"
          class="pu-partup-more-menu"
          close-on-content-click
        >
          <template v-slot:activator="{ on }">
            <pu-button
              flat
              icon
              class="pu-button-options"
              v-on="on"
              @click="isExpanded = true"
            >
              <pu-icon name="more_options" :size="24" round />
            </pu-button>
          </template>

          <pu-list>
            <li v-if="!isCreating && $can('partup_edit')">
              <pu-button flat @click="isEditing = !isEditing"
                >Partup bewerken</pu-button
              >
            </li>
            <li v-if="$can('partup_partner_delete_self')">
              <pu-modal-activator
                for="partup-leave"
                :modal-props="{ partup }"
                @success="handleLeave"
              >
                <pu-button flat>
                  {{ $t('button-open-modal-partup-leave') }}
                </pu-button>
              </pu-modal-activator>
            </li>
            <li v-if="$can('partup_delete')">
              <pu-dialog-activator
                title="Partup verwijderen"
                text="Dit kan NIET ongedaan worden gemaakt. Weet je zeker dat je deze partup wilt verwijderen?"
                label-success="Ja, verwijderen"
                label-cancel="Nee, toch maar houden"
                class="pu-dialog-delete-partup"
                :success="{
                  class: 'pu-button--partup-delete-confirm',
                  color: 'error',
                }"
                :cancel="{
                  class: 'pu-button--partup-delete-cancel',
                }"
                @success="partupDelete"
              >
                <span class="pu-button pu-button--flat"
                  ><span>Deze partup verwijderen</span></span
                >
              </pu-dialog-activator>
            </li>
          </pu-list>
        </pu-menu>

        <div class="control">
          <pu-button icon @click="isExpanded = !isExpanded">
            <pu-icon name="arrow_up" :size="24" outline round />
          </pu-button>
        </div>
      </div>

      <pu-alert
        v-if="errorSummary"
        :value="true"
        :message="errorSummary"
        type="error"
        dismissable
        border="left"
        @close="closeError"
      />

      <pu-form id="form-partup" :autofocus="isCreating" @submit="submit">
        <div class="image-container" :style="backgroundImage" />

        <pu-form-control
          class="field-image_url"
          :value="fields.image_url"
          :error-messages="errorField('image_url')"
          @change="
            update({
              value: $event,
              field: 'image_url',
            })
          "
        >
          <pu-picker-storage
            id="partup-image"
            level="public"
            accept="image/jpg,image/jpeg,image/png,image/gif"
            :path="imageUploadUrl"
            :disabled="!canEdit"
          >
            <template v-slot:activator="{ pending }">
              <pu-button
                v-if="isEditing"
                :loading="pending"
                class="pu-partup-choose-image"
              >
                Afbeelding kiezen
              </pu-button>
            </template>
          </pu-picker-storage>
        </pu-form-control>

        <div class="field-name">
          <pu-label
            v-if="isCreating || canEdit"
            class="pu-label-name"
            for="partup-name"
          >
            {{ $t('label.name') }}
          </pu-label>
          <pu-content-editable
            tag="h1"
            class="field-name"
            :can-edit="canEdit"
            :editing="isEditing"
            :force-edit="isEditing"
            :placeholder="placeholder('name')"
            :value="fields.name"
            :error-messages="errorField('name')"
            @save="
              update({
                ...$event,
                field: 'name',
              })
            "
          >
            <pu-textfield id="partup-name" :placeholder="placeholder('name')" />
          </pu-content-editable>
        </div>

        <div class="field-visibility">
          <pu-label v-if="isCreating" for="partup-visibility">
            {{ $t('label.visibility') }}
          </pu-label>
          <pu-picker-visibility
            v-if="isCreating || partup"
            :disabled="!canEdit"
            :items="visibilityOptions"
            :value="fields.visibility"
            self-closing
            @change="
              update({
                value: $event,
                field: 'visibility',
              })
            "
          />
        </div>

        <div v-if="isEditing" class="field-request-option">
          <pu-form-control
            :value="fields.request_option"
            @change="
              update({
                value: $event,
                field: 'request_option',
              })
            "
          >
            <pu-checkbox
              id="partup-request_option"
              :true-value="PARTUP_ALLOW_SOLICIT_REQUEST.open"
              :false-value="PARTUP_ALLOW_SOLICIT_REQUEST.closed"
            />
            <pu-label for="partup-request_option">
              {{ $t('label.request-option') }}
            </pu-label>
          </pu-form-control>

          <p class="pu-form-tip">
            {{ $t('form-tip.request-option') }}
          </p>
        </div>

        <div class="field-organization">
          <template v-if="isCreating">
            <pu-label for="partup-organization">
              {{ $t('label.organization') }}
            </pu-label>
            <pu-form-control
              :value="fields.organization_uuid"
              @change="
                update({
                  value: $event,
                  field: 'organization_uuid',
                })
              "
            >
              <pu-select
                :items="userOrganizations"
                item-text="name"
                item-value="uuid"
                :disabled="userOrganizations.length < 2"
              />
            </pu-form-control>
          </template>
          <pu-link
            v-else
            id="partup-organization"
            class="pu-link-organization"
            :disabled="!organization.slug"
            :to="{
              name: 'organization',
              params: {
                organizationSlug: organization.slug,
              },
            }"
            >{{ organization.name }}</pu-link
          >
        </div>

        <div class="field-end_date">
          <pu-label v-if="isCreating || canEdit">
            {{ $t('label.end_date') }}
          </pu-label>
          <pu-content-editable
            tag="p"
            :placeholder="placeholder('end_date')"
            :can-edit="canEdit"
            :editing="isEditing"
            :force-edit="isEditing"
            :value="fields.end_date"
            :error-messages="errorField('end_date')"
            @save="
              update({
                ...$event,
                field: 'end_date',
              })
            "
          >
            <pu-datepicker
              id="partup-end_date"
              :placeholder="placeholder('end_date')"
            />
            <template v-slot:content>
              <pu-date :date="fields.end_date" />
            </template>
          </pu-content-editable>
        </div>

        <div class="field-result">
          <pu-label v-if="isCreating || canEdit">
            {{ $t('label.result') }}
          </pu-label>
          <pu-content-editable
            tag="p"
            :placeholder="placeholder('result')"
            :can-edit="canEdit"
            :editing="isEditing"
            :force-edit="isEditing"
            :value="fields.result"
            :error-messages="errorField('result')"
            @save="
              update({
                ...$event,
                field: 'result',
              })
            "
          >
            <pu-textarea
              id="partup-result"
              :max-rows="6"
              :placeholder="placeholder('result')"
              :rows="6"
              no-resize
            />
          </pu-content-editable>
        </div>

        <div class="field-keywords">
          <pu-label v-if="isCreating || canEdit" class="label-keywords">
            {{ $t('label.keywords') }}
          </pu-label>
          <pu-content-editable-tag
            tag="p"
            class="field-keywords"
            :can-edit="canEdit"
            :editing="isEditing"
            :force-edit="isEditing"
            :placeholder="placeholder('keywords')"
            :value="fields.keywords"
            @change="
              update({
                value: $event,
                field: 'keywords',
              })
            "
          />
          <p v-if="isCreating || canEdit" class="pu-form-tip">
            {{ $t('form-tip.keywords') }}
          </p>
        </div>

        <footer v-if="isCreating">
          <pu-button
            outline
            class="cancel"
            color="primary"
            type="button"
            @click="$router.back()"
            >Annuleren</pu-button
          >

          <pu-button
            class="submit"
            color="secondary"
            type="submit"
            :loading="actionPending('create')"
          >
            <span>Partup aanmaken</span>
            <pu-icon name="arrow_right" :size="24" />
          </pu-button>
        </footer>
      </pu-form>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters, mapState } from 'vuex'
import PuContentEditableTag from '@/components/implementations/input/tag/content-editable-tag.vue'
import PuDatepicker from '@/components/base/picker/date/date-picker.vue'
import PuPickerStorage from '@/components/base/picker/file/storage.vue'
import PuPickerVisibility from '@/components/base/picker/visibility/picker-visibility.vue'
import ability from '@/mixins/ability'
import { PARTUP_VISIBILITY, PARTUP_ALLOW_SOLICIT_REQUEST } from '@/types'
import { visibilityOptions } from '@/util'
import get from 'lodash/get'
import defaults from 'lodash/defaults'
import pick from 'lodash/pick'
import { convertPartupRequestOption } from '@/util'

export default Vue.extend({
  name: 'pu-partup-header',

  components: {
    PuContentEditableTag,
    PuDatepicker,
    PuPickerStorage,
    PuPickerVisibility,
  },

  mixins: [
    ability({
      attribute: 'partup',
    }),
  ],

  data(vm: any) {
    return {
      fields: {},
      isEditing: false,
      visibilityOptions: visibilityOptions('partup', PARTUP_VISIBILITY),
      PARTUP_ALLOW_SOLICIT_REQUEST,
    }
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.isEditing = to.name === 'partup-create'
    })
  },

  watch: {
    partup: {
      handler(newVal) {
        this.fields = this.formFields(newVal)
      },
      immediate: true,
    },
    currentOrganizationUuid: {
      handler(newVal) {
        if (this.isCreating && newVal) {
          this.$set(this.fields, 'organization_uuid', newVal)
        }
      },
    },
    isEditing: {
      handler(newVal) {
        if (newVal && !this.isExpanded) {
          this.isExpanded = true
        }
      },
    },
    fields: {
      // due to the limitation of uploading images for a partup
      // the image will be cleared when you select a different organization
      handler(newVal, oldVal) {
        if (
          newVal &&
          oldVal &&
          oldVal.organization_uuid &&
          newVal.organization_uuid !== oldVal.organization_uuid
        ) {
          // eslint-disable-next-line
          this.fields.image_url = null
        }
      },
    },
  },

  computed: {
    ...mapGetters(['currentOrganization']),
    ...mapState(['currentOrganizationUuid']),
    ...mapGetters('views/partup', [
      'actionPending',
      'actionSuccess',
      'actionError',
      'partup',
    ]),
    ...mapGetters('user', ['userOrganizations']),
    backgroundImage() {
      return `background-image:url('${this.partupImage}')`
    },
    canEdit() {
      return !!(
        this.isEditing &&
        (this.isCreating
          ? // @TODO: To accomodate this permission the ability requires updating whenever an organization is selected..
            true // this.$can('organization_partup_create')
          : this.$can('partup_edit'))
      )
    },
    error() {
      return this.isCreating
        ? this.actionError('create')
        : this.actionError('update')
    },
    errorField() {
      return (field) => {
        return get(this.error, `fields.${field}`, '')
      }
    },
    errorSummary() {
      return this.$t(get(this.error, 'key', null))
    },
    imageUploadUrl() {
      return this.isCreating
        ? `partups/organization/${this.fields.organization_uuid}`
        : this.partup
        ? `partups/${this.partup.uuid}`
        : null
    },
    isCreating() {
      return this.$route.name === 'partup-create'
    },
    isExpanded: {
      get() {
        if (this.isCreating) {
          return true
        }

        return this.$store.getters['layout/isSectionExpanded']('header')
      },
      set(v) {
        if (this.isCreating || !this.partup || !this.partup.uuid) {
          return
        }

        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          section: 'header',
          view: 'partup',
          uuid: this.partup.uuid,
        })
      },
    },
    organization() {
      return get(this.partup, 'organization', {})
    },
    partupImage() {
      return get(
        this.fields,
        'image_url',
        this.$globals.images.getPublicImageUrl('partup_create_placeholder.svg')
      )
    },
    placeholder() {
      return (field) => {
        return this.isCreating || this.canEdit
          ? this.$t(`placeholder.${field}`)
          : null
      }
    },
  },

  methods: {
    ...mapActions('views/partup', [
      'createPartup',
      'deletePartup',
      'getPartup',
      'updateField',
      'resolveError',
    ]),
    async submit(this: any) {
      if (!this.isCreating) {
        return
      }

      await this.createPartup(this.fields)
      this.$nextTick(() => {
        this.$router.push({
          name: 'partup',
          params: {
            partupSlug: this.partup.slug,
          },
        })
      })
    },
    update(this: any, { field, value, done }) {
      if (this.isCreating) {
        this.$set(this.fields, field, value)
        done && done()
      } else {
        this.updateField({ field, value, done })
      }
    },
    async partupDelete(this: any) {
      await this.deletePartup()
      this.$router.push({
        name: 'dashboard',
      })
    },
    formFields(this: any, partup) {
      let fields: any = {}

      if (partup) {
        fields = pick(partup, [
          'end_date',
          'keywords',
          'name',
          'result',
          'visibility',
          'request_option',
        ])

        // eslint-disable-next-line
        fields.organization_uuid = get(partup, 'organization.uuid', null)
        // eslint-disable-next-line
        fields.image_url = get(
          partup,
          'images.banner',
          get(partup, 'images.square', null)
        )
      }

      fields = defaults(fields, {
        visibility: PARTUP_VISIBILITY.organization,
        request_option: PARTUP_ALLOW_SOLICIT_REQUEST.open,
      })

      if (this.isCreating && this.currentOrganization) {
        // eslint-disable-next-line
        fields.organization_uuid = this.currentOrganization.uuid
      }

      return fields
    },
    closeError(this: any) {
      const action = this.isCreating ? 'create' : 'update'

      this.resolveError(action)
    },
    handleLeave(this: any) {
      switch (this.partup.visibility) {
        case PARTUP_VISIBILITY.closed:
          this.$router.push({ name: 'dashboard' })
          break
        default:
          this.$router.go(0)
          break
      }
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "button-open-modal-partup-leave": "Uit deze partup stappen",

    "label": {
      "end_date": "Loopt tot",
      "keywords": "Trefwoorden",
      "name": "Titel van deze partup",
      "result": "Doel en resultaat van de partup",
      "organization": "Draagt bij aan de doelen van",
      "visibility": "Hoe open is deze partup?",
      "request-option": "Aansluitverzoeken toelaten"
    },

    "form-tip": {
      "keywords": "Kies 2 tot 8 trefwoorden waarop jouw partup vindbaar moet zijn.",
      "request-option": "Je kunt altijd iemand uitnodigen"
    },

    "placeholder": {
      "end_date": "Kies je deadline",
      "keywords": "Typ een term + enter",
      "name": "Jouw part-up titel",
      "result": "Wat wil je bereiken?"
    },

    "error": {
      "request": {
        "invalid_arguments": "Een of meer velden zijn leeg. Vul je deze nog even in?"
      }
    },

    "value": {
      "missing": "Het veld {field} is een vereist veld"
    }
  }
}
</i18n>

<style lang="scss">
@import 'header.scss';
</style>
