.pu-view-header-partup {
  color: $white;

  > div {
      position: relative;
  }

  .pu-icon-arrow_up {
    color: $white;
    border-color: $white;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .content-editable-controls {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    z-index: 20;
    display: flex;
    flex-wrap: nowrap;

    .control .pu-button.--icon {
      padding: 0;
    }

    @include goingLarge(large) {
      position: absolute;
      top: 2rem;
      right: 0;
      display: flex;
      flex-wrap: nowrap;

      .control {
        margin-right: 1rem;
      }
    }
  }

  .pu-button-options {
    width: 34px;
    margin-right: 1rem;
    padding: 0; // Overrule padding for standard button -- TODO: should be fixed in general buttons scss
    color: $white;
    border: 2px solid $white;
    background: transparent !important;
  }

  //  This UI element is present in activity detail view as well, may be good one to
  //  include in component/pattern design library?
  .pu-partup-more-menu {
    .content {
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      background: $white;
      top: -1.5rem;
      right: 5rem;
      z-index: 100;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: -16px;
        top: 32px;
        border: 8px solid transparent;
        border-left-color: $white;
      }

      li {
        color: $black;
        border-top: 2px dotted $blue-superlight;

        &:first-child {
          border-top: 0;

          .pu-button {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }

        &:last-child {
          .pu-button {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }

        .pu-button {
          font-weight: normal;
          text-align: left;
          width: 100%;
          display: flex; // Also apply on span.pu-button
          align-items: center;
          border-radius: 0;
          background-color: $white;

          &:hover {
            background-color: $blue-superlight !important;
          }
        }

        span {
          display: block;
          white-space: nowrap;
        }
      }
    }
  }

  .pu-form {
    display: grid;
    width: 100%;
    grid-template-columns: 0 100% 0;
    position: relative;
    z-index: 1;

    .pu-input {
      margin: 0;
    }

    .pu-description {
      display: block;
      margin: 0 1rem;
      font-size: 0.9rem;
    }

    input,
    textarea {
      color: $white;

      &::placeholder,
      &:focus::placeholder {
        color: scale-color($white, $lightness: -5%);
      }
    }

    .image-container {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;

      &:after {
        @include absoluteFullSize;
        content: '';
        z-index: 0;
        background-color: rgba(scale-color($color: $accent, $lightness: -20%), .36);
      }
    }


    label {
      margin-top: 0.4rem;
      font-weight: 600;
    }

    .pu-form-control,
    .pu-content-editable {
      margin: 0 0 .4rem;

      input,
      textarea {
        background: transparent;
        border-color: $white;
      }
      select {
        background-color: initial;
      }
    }

    .pu-form-tip {
      font-style: italic;
      font-size: 1rem;
      line-height: 1.2;
    }

    [class^="field"] {
      z-index: 2;
    }

    .field {
      &-name {
        grid-column: 2;
        grid-row: 1;

        &.pu-content-editable {
          margin-right: 3rem;
        }

        h1.component__content {
          min-height: 3rem;
          padding: 0.334rem 1.3rem;
          line-height: 1.1;
        }
      }

      &-organization {
        grid-column: 2;
        grid-row: 3;
        z-index: 9;
        padding: 0.334rem 1.334rem 0.667rem;

        .pu-input {
          margin-left: 6px;
        }

        .is-disabled {
          border-color: transparent !important;
        }

        .pu-link {
          border-bottom: 1px solid $white;
          font-weight: 600;
          letter-spacing: .1em;
          text-decoration: none;
          text-transform: uppercase;
          color: $white;

          justify-self: flex-start;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }

      &-request-option {
        grid-column: 2;
        grid-row: 4;

        .pu-form-control {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          padding: 0.667rem 1.334rem;

          @include goingLarge(large) {
            padding: 0.667rem 1rem 0;
          }
        }

        .pu-checkbox {
          flex: 0 0 auto;
          padding-right: 0.667rem;

          .pu-icon {
            border-color: $white;
          }

          &.is-active {
            .pu-icon {
              color: $white;
            }
          }
        }

        .pu-checkbox + .pu-label {
          flex: 1 1 auto;
          line-height: 1.3;
        }

        .pu-form-tip {
          margin: -0.667rem 0 1.667rem 3.667rem;
        }

      }

      &-result {
        grid-row: 6;
        grid-column: 2;
      }

      &-end_date {
        grid-row: 5;
        grid-column: 2;
        z-index: 10;

        .has-error {
          z-index: 5;
        }
      }

      &-visibility {
        grid-column: 2;
        grid-row: 2;
        z-index: 20;
      }

      &-keywords {
        grid-row: 7;
        grid-column: 2;

        .pu-form-tip {
          margin: 0 1.334rem 1rem;
        }
      }

      &-image_url {
        grid-column: 2;
        grid-row: 8;

        .pu-picker-storage {
          height: 100%;
        }
      }
    }

    .pu-picker-visibility {
      margin: 0 1rem;
      overflow: hidden;
      width: 20rem;
      z-index: 20;

      label {
        margin: 0;
        font-size: 1rem;
        text-transform: none;
        letter-spacing: 0;
      }

      .pu-radio-group .pu-radio .pu-icon {
        color: $white;
        border-color: $white;
      }

      &.is-active {
        overflow: visible;
        color: $black;

        .pu-radio-group {
          width: 30rem;
          z-index: 20;
        }

        .pu-radio-group .pu-radio .pu-icon {
          color: $blue;
          border-color: $blue;
        }
      }
    }

    > footer {
      display: flex;
      grid-row: 9;
      grid-column: 2;
      margin: .6rem 0 1rem 0;

      .pu-button {
        margin-right: 1rem;
      }
    }




    @include goingLarge(large) {
      grid-template-columns: 0 40% 30% 30% 0;
      grid-template-rows: repeat(5, min-content);
      margin: 0;

      .image-container {
        margin: 0;
        grid-column: 4 / 5;
        grid-row: 1 / 4;
        position: absolute;
        width: 100%;
        height: 100%;
        border-top-right-radius: 2rem;
        overflow: hidden;
      }

      .field {
        &-name {
          grid-row: 1;
          grid-column: 2 / 4;
          padding: 0.4rem 0.667rem;

          &.pu-content-editable {
            margin-right: 0;
          }
        }

        &-visibility {
          grid-column: 2;
          grid-row: 2;
          padding: 0 1rem 0.5rem;
          z-index: 20;

          &.is-active {
            width: 500px;
            max-width: 100vw;

            .pu-radio-group {
              z-index: 20;
            }
          }
        }

        &-end_date {
          grid-column: 2;
          grid-row: 3;
          padding: 0 1rem 0.5rem;
          z-index: 10;
        }

        &-organization {
          grid-column: 2;
          grid-row: 4;
          padding: 0.334rem 1rem 1.334rem 0.667rem;
          z-index: 9;

          .pu-select {
            border-color: $white;
          }

          .pu-link {
            margin-left: 1.667rem;
            align-self: center;
//             margin: 0.5rem 0 0.667rem;
          }
        }

        &-request-option {
          grid-column: 3;
          grid-row: 2;

          .pu-form-tip {
            margin: -0.167rem 0 0.667rem 3.167rem;
          }
        }

        &-image_url {
          grid-column: 4;
          grid-row: 1 / 4;
          width: 100%;
          height: 100%;
          margin: 0;

          .pu-button {
            position: absolute;
            bottom: .6rem;
            left: 1rem;
            pointer-events: none;
          }
        }



        &-result {
          grid-column: 2;
          grid-row: 5;
          padding: 0 1rem 0.5rem;
          z-index: 8;
        }


        &-keywords {
          grid-column: 3;
          grid-row: 3 / 6;
          padding: 0 1rem 0.5rem 0;

          .pu-form-tip {
            margin: -0.4rem 1.334rem 0;
          }
        }
      }

      > footer {
        grid-column: 4;
        grid-row: 5;
        align-items: flex-end;
        display: flex;
        margin: 0;
        padding: 0 0 0.5rem 0;
      }
    }
  }
}

.header-is-expanded {
  .pu-icon-arrow_up {
    transform: rotate(0);
  }

  @include goingSmall(medium) {
    .pu-view-header-partup .field-name.pu-content-editable {
        padding-top: 3rem;
    }
  }
}
