<template>
  <header :class="rootClasses">
    <div>
      <div
        v-if="backgroundUrl"
        class="background-img"
        :style="{
          'background-image': `url('${backgroundUrl}')`,
        }"
      />

      <div class="content-editable-frame">
        <pu-form id="organization-form">
          <div class="content-editable-controls">
            <div v-if="$can('organization_edit')" class="control">
              <pu-icon
                :name="isEditing ? 'close' : 'edit'"
                :size="24"
                :outline="!isEditing"
                round
                color="white"
                @click="isEditing = !isEditing"
              />
            </div>

            <div class="control">
              <pu-button
                icon
                outline
                color="white"
                @click="isExpanded = !isExpanded"
              >
                <pu-icon name="arrow_up" :size="24" />
              </pu-button>
            </div>
          </div>

          <pu-picker-visibility
            v-if="organization"
            class="field-visibility"
            :disabled="!canEdit"
            :value="fields.visibility"
            :items="visibilityOptions"
            self-closing
            @change="
              updateField({
                field: 'visibility',
                value: $event,
              })
            "
          />

          <h1 class="name">{{ name }}</h1>

          <pu-content-editable
            tag="p"
            class="field-payoff"
            :value="fields.payoff"
            :placeholder="placeholder('payoff')"
            :editing="isEditing"
            :force-edit="isEditing"
            :can-edit="canEdit"
            @save="
              updateField({
                ...$event,
                field: 'payoff',
              })
            "
          >
            <pu-label
              v-if="isEditing"
              class="pu-label-org-payoff"
              for="organization-payoff"
            >
              {{ $t('label.payoff') }}
            </pu-label>
            <pu-textfield
              id="organization-payoff"
              :placeholder="placeholder('payoff')"
            />
          </pu-content-editable>

          <pu-content-editable
            tag="p"
            class="field-introduction"
            :value="fields.introduction"
            :placeholder="placeholder('introduction')"
            :editing="isEditing"
            :force-edit="isEditing"
            :can-edit="canEdit"
            @save="
              updateField({
                ...$event,
                field: 'introduction',
              })
            "
          >
            <pu-label
              v-if="isEditing"
              class="pu-label-org-intro"
              for="organization-introduction"
            >
              {{ $t('label.introduction') }}
            </pu-label>
            <pu-textarea
              id="organization-introduction"
              :placeholder="placeholder('introduction')"
              :rows="7"
              :max-rows="10"
              no-resize
            />
          </pu-content-editable>

          <img class="field-logo_url" :src="logoUrl" />
        </pu-form>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import PuPickerVisibility from '@/components/base/picker/visibility/picker-visibility.vue'
import ability from '@/mixins/ability'
import { ORGANIZATION_VISIBILITY } from '@/types'
import { visibilityOptions } from '@/util'
import get from 'lodash/get'
import pick from 'lodash/pick'

export default Vue.extend({
  name: 'pu-view-header-organization',

  components: {
    PuPickerVisibility,
  },

  mixins: [
    ability({
      attribute: 'organization',
    }),
  ],

  data() {
    return {
      fields: {},
      isEditing: null,
      visibilityOptions: visibilityOptions(
        'organization',
        ORGANIZATION_VISIBILITY
      ),
    }
  },

  watch: {
    organization: {
      handler(newVal) {
        this.fields = this.formFields(newVal)
      },
    },
    isEditing: {
      handler(newVal) {
        if (newVal) {
          if (!this.isExpanded) {
            this.isExpanded = true
          }
        } else {
          this.isExpanded = false
        }
      },
    },
  },

  computed: {
    ...mapGetters('views/organization', ['organization']),
    rootClasses() {
      return {
        'pu-view-header-organization': true,
        'is-editing': this.isEditing,
        'is-expanded': this.isExpanded,
      }
    },
    isExpanded: {
      get() {
        return this.$store.getters['layout/isSectionExpanded']('header')
      },
      set(v) {
        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          section: 'header',
          view: 'organization',
          uuid: this.organization.uuid,
        })
      },
    },
    canEdit() {
      return this.isEditing && this.$can('organization_edit')
    },
    backgroundUrl() {
      return get(this.organization, 'images.background')
    },
    logoUrl() {
      return get(this.organization, 'images.logo')
    },
    name() {
      return get(this.organization, 'name')
    },
    placeholder() {
      return (field) => {
        if (this.organization) {
          return this.$t(`placeholder.${field}`)
        }

        return null
      }
    },
  },

  methods: {
    ...mapActions('views/organization', ['getOrganization', 'updateField']),
    formFields(organization) {
      let fields: any = {}

      if (organization) {
        fields = pick(organization, ['introduction', 'payoff', 'visibility'])
      }

      return fields
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "label": {
      "introduction": "Over ons",
      "payoff": "Onze pay-off"
    },
    "placeholder": {
      "introduction": "Introductietekst",
      "payoff": "Waardepropositie"
    }
  }
}
</i18n>

<style lang="scss">
@import 'header.scss';
</style>
