.pu-view-header-organization {
  position: relative;

  .background-img {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
  }

  .content-editable-frame {
    position: relative;
  }

  .pu-form {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: repeat(5, min-content);
    padding: 0 1rem 1rem;
    color: $white;
  }

  .pu-picker-visibility {
    &.is-active {
      color: $black;
    }
  }

  .content-editable-controls {
    grid-row: 1;
    grid-column: 2;
    // margin: .6rem 1rem 0 0;
    display: flex;
    align-items: center;

    .pu-button {
      margin-left: 10px;

      & .--icon {
        border: 2px solid $white;
        color: $white;
      }
    }

    .pu-icon-arrow_up {
      transition: transform .2s linear;
      transform: rotate(180deg);
      padding: 4px;
    }
  }

  &.is-expanded {
    .pu-icon-arrow_up {
      transform: rotate(0);
    }
  }

  .name {
    grid-column: 1 / 3;
    grid-row: 3;
//     justify-self: center;
    margin: .4rem 0;
  }

  .field {
    &-payoff,
    &-introduction {
      margin: .4rem 1.4rem 0 0;

      [class*='pu-label'] {
        display: block;
        margin: 0.4rem;
        padding-left: 1rem;
      }
    }

    &-visibility {
      grid-row: 1;
      grid-column: 1;
//       margin-left: 1rem;
    }

    &-payoff {
      grid-row: 4;
      grid-column: 1 / 3;
    }

    &-introduction {
      grid-row: 5;
      grid-column: 1 / 3;
      min-height: 144px;
    }

    &-logo_url {
      grid-row: 2;
      grid-column: 1 / 3;
//       min-height: 8rem;
//       justify-self: center;
//       margin: .4rem 0;
//       min-width: 8rem;
    }

    &-background_url {
      grid-column: 1;
      grid-row: 4;
    }
  }

  .pu-content-editable {
    &.is-active {
      textarea,
      input {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }


  @include goingLarge(medium) {
    .pu-form {
      grid-template-columns: 50% 40% 10%;
      grid-template-rows: repeat(4, min-content);
//       border-radius: 2rem;
      padding: 1rem 1.334rem;
      color: $white;
    }

    .content-editable-controls {
      grid-row: 1;
      grid-column: 3;
      display: flex;
      justify-content: flex-end;
    }

    .name {
      grid-column: 1;
      grid-row: 1;
      padding: 0.4rem 0.667rem;
    }

    .field {
      &-visibility {
        grid-column: 1;
        grid-row: 2;

//         margin: 10px 10px 0 10px;
      }

      &-payoff {
        grid-row: 3;
        grid-column: 2;
//         margin-top: 1.8rem;
      }

      &-introduction {
        grid-row: 3;
        grid-column: 1;
        min-height: intrinsic;
      }

      &-logo_url {
        grid-row: 1 / 3;
        grid-column: 2;
        width: 50%;
        max-width: 12rem;
        max-height: 4rem;
        align-self: center;
      }
    }
  }
}
