<template>
  <div v-if="invites.length" class="pu-dashboard-organization-invite">
    <pu-list>
      <pu-list-item-organization-invite
        v-for="invite in invites"
        :key="invite.uuid"
        :value="invite"
        v-on="$listeners"
      />
    </pu-list>
  </div>
</template>

<script>
import Vue from 'vue'
import PuListItemOrganizationInvite from './list-item-organization-invite'
import { isForOrganization } from '@/lib/model/solicit/is-for-entity'

export default Vue.extend({
  name: 'pu-dashboard-organization-invite',

  components: {
    PuListItemOrganizationInvite,
  },

  inheritAttrs: false,

  computed: {
    invites() {
      return this.$store.getters['solicit/myInvites'].filter(isForOrganization)
    },
  },
})
</script>
