.pu-list-item-organization-invite {
/*
  padding: 1rem;
  border-radius: $border-radius-small;
*/

  display: flex;
  flex-direction: column;
//   background-color: $blue-superlight;
  background-color: #a4e6e9;

  > div {
    flex: 0 0 100%;
  }

  .pu-organization-invite-contents {
    padding: 0.5rem 2rem 1.5rem;
    position: relative;


    .pu-notification {
      width: 2.667rem;
      height: 2.667rem;
      position: absolute;
      left: 1rem;
      top: -1.334rem;
      border-radius: 1.334rem;
      background-color: $white;
      background-color: #a4e6e9;
      display: flex;
      justify-content: center;
      align-items: center;

      .pu-icon {
        flex: 0 0 20px;
      }
    }
  }

  .pu-organization-visual {
    background-size: cover;
    background-position: bottom center;

    .pu-gradient-overlay {
      height: 100%;
//       background: linear-gradient(105deg, $blue-superlight 0, $blue-superlight 10%, transparent 90%, transparent 100%);
      background: linear-gradient(105deg, #a4e6e9 0, #a4e6e9 10%, transparent 90%, transparent 100%);
      display: flex;
      justify-content: center;
    }

    .pu-organization-logo {
      flex: 0 0 auto;
      align-self: center;
      max-height: 10rem;
    }
  }

  .pu-organization-solicit-actions {
    padding: 1.334rem 0 1rem;

    button {
      margin-right: 1rem;
    }
  }

  h2 {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.33;
    position: relative;
    z-index: 10;
  }

  p {
    line-height: 1.33;
  }


  @include goingLarge(960) {
    // Setup for medium and large screen sizes...

    flex-direction: row;
    align-items: stretch;

    > div {
      flex: 0 0 50%;
    }


  }


}
