<template>
  <li class="pu-list-item-organization-invite">
    <div class="pu-organization-invite-contents">
      <div class="pu-notification">
        <pu-icon name="notification_bell" size="20" />
      </div>

      <h2>Uitnodiging van {{ organization.name }}</h2>

      <pu-api-html :html="userInvitationHTML" class="pu-markdown" />

      <div class="pu-organization-solicit-actions">
        <pu-button
          v-for="action in allowedActions"
          :key="action"
          :disabled="actionDisabled(action)"
          :loading="actionPending(action)"
          v-bind="buttonProps(action)"
          @click="actionHandlers[action]"
        >
          {{ actionMessage(action) }}
        </pu-button>
      </div>
    </div>
    <div
      class="pu-organization-visual"
      :style="organizationBackgroundImageStyle"
    >
      <div class="pu-gradient-overlay">
        <img class="pu-organization-logo" :src="organization.logoUrl" />
      </div>
    </div>
  </li>
</template>

<script lang="ts">
import PuApiHtml from '@/components/base/html/api-html.vue'
import solicit from '@/components/base/solicit/solicit'
import solicitActionable from '@/components/base/solicit/mixins/actionable'
import { SOLICIT_ACTIONS } from '@/types'
import get from 'lodash/get'
import pick from 'lodash/pick'
import Vue from 'vue'

const btnProps = {
  [SOLICIT_ACTIONS.accept]: {
    color: 'success',
    small: true,
  },
  [SOLICIT_ACTIONS.reject]: {
    color: 'error',
    small: true,
  },
}

export default Vue.extend({
  name: 'pu-list-item-organization-invite',

  components: {
    PuApiHtml,
  },

  extends: solicit,

  mixins: [solicitActionable],

  computed: {
    message() {
      return get(
        this.value,
        'organization.solicited_user_invitation',
        this.$t('default-welcome')
      )
    },
    userInvitationHTML() {
      return get(
        this.value,
        'organization.solicited_user_invitation_html',
        this.$t('default-welcome')
      )
    },
    organization() {
      const computed = {}

      if (!this.value.organization) {
        return computed
      }

      const logoUrl = this.value.organization.images.logo
      const backgroundUrl = this.value.organization.images.background

      Object.assign(computed, pick(this.value.organization, ['name', 'slug']), {
        backgroundUrl,
        logoUrl,
      })

      return computed
    },
    organizationBackgroundImageStyle() {
      return 'background-image:url(' + this.organization.backgroundUrl + ');'
    },
  },

  methods: {
    buttonProps(action) {
      return btnProps[action] || {}
    },
    actionMessage(action) {
      return this.$t(`list-item-organization-invite-dashboard-${action}`)
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "default-welcome": "<p>Dit is de <em>default welcome message</em>!</p>"
  }
}
</i18n>

<style lang="scss">
@import 'list-item-organization-invite.scss';
</style>
