<template>
  <li>
    <pu-link
      :to="{
        name: 'admin-organization-form',
        params: {
          organizationUuid: organization.uuid,
        },
      }"
    >
      {{ organization.name }}
    </pu-link>

    <pu-menu
      ref="inviteMenu"
      transition="t-fade"
      class="pu-menu-invite"
      @activate="onMenuActivate"
    >
      <template v-slot:activator="{ on }">
        <pu-button icon class="pu-button-action" v-on="on">
          <pu-icon name="person_add" />
        </pu-button>
      </template>

      <pu-list class="pu-list-invite">
        <li>
          <pu-form
            @submit="
              inviteByEmail({
                admin: true,
                email: fields.email,
              })
            "
          >
            <pu-label>{{ $t('label.invite') }}</pu-label>
            <pu-form-control v-model="fields.email">
              <pu-textfield
                ref="emailField"
                type="email"
                :placeholder="placeholder('invite')"
                @keydown.escape="closeMenu"
              />
            </pu-form-control>
          </pu-form>
        </li>
      </pu-list>
    </pu-menu>

    <pu-button
      :to="{
        name: 'organization',
        params: {
          organizationSlug: organization.slug,
        },
      }"
      icon
      class="pu-button-action"
    >
      <pu-icon name="link" />
    </pu-button>
  </li>
</template>

<script>
import adminOrganizationInviteByEmail from '@/data/admin/organization/invite-by-email'

export default {
  name: 'pu-organization-list-item',

  props: {
    organization: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      fields: {},
    }
  },

  computed: {
    placeholder() {
      return (field) => {
        if (!field) {
          return null
        }

        return this.$t(`placeholder.${field}`)
      }
    },
  },

  methods: {
    async inviteByEmail({ admin, email }) {
      try {
        await adminOrganizationInviteByEmail(
          {
            entity: 'organization',
            uuid: this.organization.uuid,
          },
          {
            data: {
              admin,
              email,
            },
          }
        )
        this.fields = {}

        window.alert('geslaagd')
      } catch (error) {
        window.alert(error.message)
      }
    },
    closeMenu() {
      if (this.$refs.inviteMenu) {
        this.$refs.inviteMenu.deactivate()
      }
    },
    onMenuActivate() {
      this.$refs.emailField.focus()
    },
  },
}
</script>

<i18n>
{
  "nl": {
    "label": {
      "invite": "Nodig iemand uit per email om admin te worden van deze organisatie"
    },
    "placeholder": {
      "invite": "E-mailadres"
    }
  }
}
</i18n>

<style lang="scss"></style>
