<template>
  <main class="pu-view-partup-create">
    <!-- <pu-partup-header :create="create" :partup="partup" /> -->
  </main>
</template>

<script>
// import PuPartupHeader from '@/components/views/partup/_modules/header/partup-header.vue'
import ability from '@/mixins/ability'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'pu-view-partup-create',

  mixins: [
    ability({
      attribute: 'currentOrganization',
    }),
  ],

  // components: {
  //   PuPartupHeader,
  // },

  created() {
    this.$store.commit('partup/SET_CREATE', {
      create: true,
    })
  },

  computed: {
    ...mapState('partup', ['create', 'partup']),
    ...mapGetters(['currentOrganization']),
  },
}
</script>

<style lang="scss">
@import 'content.scss';
</style>
