<template>
  <form
    :class="rootClasses"
    v-bind="rootAttributes"
    @submit.prevent="onSubmit"
  >
    <slot />
  </form>
</template>

<script>
import { assign, filter, remove } from 'lodash'
import {
  registerableProvide,
  validatable,
} from '@/mixins'

export default {
  name: 'pu-form',

  inheritAttrs: false,

  mixins: [
    registerableProvide('form'),
  ],

  data() {
    return {
      inputs: [],
      errors: {},
      watchers: [],
    }
  },

  mounted() {
    if (this.autofocus && this.inputs.length) {
      this.inputs[0].focus()
    }

    if (this.filter) {
      this.filter.register(this)
    }
  },

  beforeDestroy() {
    if (this.filter) {
      this.filter.unregister(this)
    }
  },

  props: {
    value: {
      type: Boolean,
    },

    lazyValidation: {
      type: Boolean,
      default: false,
    },

    autofocus: {
      type: Boolean,
      default: true,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-form': true,
      }
    },
    rootAttributes() {
      return assign({
        novalidate: true,
      }, this.$attrs)
    },
  },

  watch: {
    errors: {
      handler() {
        const errors = Object.values(this.errors).includes(true)
        this.$emit('input', !errors)
      },
      deep: true,
    }
  },

  methods: {

    register(input) {
      const unwatch = this.watchInput(input)
      this.inputs.push(input)
      this.watchers.push(unwatch)
    },

    unregister(input) {
      const found = this.inputs.find((x) => x._uid === input._uid)

      if (!found) {
        return
      }

      const unwatch = this.watchers.find((watcher) => watcher._uid === found._uid)
      if (unwatch.valid) {
        unwatch.valid()
      }
      if (unwatch.shouldValidate) {
        unwatch.shouldValidate()
      }

      remove(this.watchers, (watcher) => watcher._uid === found._uid)
      remove(this.inputs, (x) => x._uid === found._uid)
      this.$delete(this.errors, found._uid)
    },

    watchInput(input) {
      
      const watch = (input) => {
        return input.$watch('hasError', (newVal) => {
          this.$set(this.errors, input._uid, newVal)
        }, {
          immediate: true
        })
      }

      const watcher = {
        _uid: input._uid,
        valid: undefined,
        shouldValidate: undefined,
      }

      if (this.lazyValidation) {
        watcher.shouldValidate = input.$watch('shouldValidate', (v) => {
          if (v && !Object.prototype.hasOwnProperty(this.errors, input._uid)) {
            watcher.valid = watch(input)
          }
        })
      } else {
        watcher.valid = watch(input)
      }

      return watcher
    },

    validate() {
      let valid = true
      // for (let input of this.inputs) {
      //   if (!input.validate(true)) {
      //     valid = false
      //   }
      // }
      return valid
    },

    reset() {
      for (let input of this.inputs) {
        input.reset()
      }

      if (this.lazyValidation) {
        this.clearStoredErrors()
      }
    },

    resetValidation() {
      for (let input of this.inputs) {
        input.resetValidation()
      }

      if (this.lazyValidation) {
        this.clearStoredErrors()
      }
    },

    onSubmit(e) {
      e.preventDefault()
      this.$emit('submit', e)
    },

    /**
     * @private
     */
    clearStoredErrors() {
      // So it runs after isResetting (which also has a timeout)
      setTimeout(() => {
        this.errors = {}
      }, 0)
    }
  }
}
</script>

<style lang="scss">
  @import "form.scss";
</style>
