<template>
  <div class="pu-add-attachment">
    <pu-modal-activator
      :for="$globals.modals.partupAttachment"
      :modal-props="modalProps"
      @success="addToCache"
    >
      <pu-button flat>
        <pu-icon name="add" color="primary" />
        <span>Bijlage toevoegen</span>
      </pu-button>
    </pu-modal-activator>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-add-attachment',

  inject: ['attachments'],

  computed: {
    modalProps() {
      const { activityId, partupId } = this.attachments

      const props: any = {
        partupId,
      }

      if (activityId) {
        props.activityIds = [activityId]
      }

      return props
    },
  },

  methods: {
    addToCache(attachment) {
      this.attachments.cache.set(attachment)
    },
  },
})
</script>
