.pu-attachments {
  height: 100%;
  padding: 2rem 0 4rem;

  @include goingLarge(medium) {
    padding-top: 0;
  }

  .pu-list-attachments {
    height: 100%;
    overflow-y: scroll;
  }

  .pu-add-attachment {
    position: absolute;
    bottom: 0;
    padding: 0.667rem 1rem;

    .pu-button {
      padding-left: 0.667rem;
      background-color: $white;
      color: $blue;
      border-radius: 1.334rem;

      .pu-icon + span {
        margin-left: 0.667rem;
        color: $blue-dark;
      }
    }
  }
}
