<template>
  <div class="pu-attachments">
    <pu-list-attachments v-if="!zeroAttachments" :attachments="cache.value" />

    <div v-if="$can('partup_attachment_create') && zeroAttachments && loaded" class="pu-form-tip">
      <p>{{ $t('form-tip') }}</p>
    </div>

    <pu-add-attachment v-if="$can('partup_attachment_create')" />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import findAttachments, {
  FindAttachmentsOptions,
} from '@/data/partup/find-attachments'
import postAttachment, {
  PostAttachmentData,
  PostAttachmentOptions,
} from '@/data/partup/post-attachment'
import { Uuid } from '@/types/common'
import { Attachment } from '@/types/model'
import ObjectCache from '@/util/store/cache/object-cache'

import PuAddAttachment from './add-attachment.vue'
import PuListAttachments from './list-attachments.vue'

export default Vue.extend({
  name: 'pu-partup-attachments',

  components: {
    PuAddAttachment,
    PuListAttachments,
  },

  props: {
    activityId: {
      type: String as PropType<Uuid>,
      default: null,
    },
    partupId: {
      type: String as PropType<Uuid>,
      required: true,
    },
  },

  data() {
    const cache = new ObjectCache<Attachment>()
    const loaded = false

    return {
      cache,
      loaded,
    }
  },

  provide() {
    const { cache, get } = this
    const attachments = {
      cache,
      get,
    }

    Object.defineProperty(attachments, 'activityId', {
      get: () => this.activityId,
    })

    Object.defineProperty(attachments, 'partupId', {
      get: () => this.partupId,
    })

    return {
      attachments,
    }
  },

  computed: {
    zeroAttachments() {
      return this.cache && this.cache.value.length === 0
    },
  },

  watch: {
    partupId: {
      handler(newId, oldId) {
        if (newId !== oldId) {
          this.$nextTick(() => {
            this.get()
          })
        }
      },
      immediate: true,
    },
    activityId: {
      handler() {
        this.$nextTick(() => {
          this.get()
        })
      },
    },
  },

  methods: {
    async get() {
      const options: FindAttachmentsOptions = {}

      if (this.activityId) {
        options.query = {
          activity: this.activityId,
        }
      }

      const { data } = await findAttachments(this.partupId, options)
      this.cache.clear()
      this.cache.set(...data)
      this.loaded = true
    },
  },
})
</script>

<i18n src="./attachments.nl.json"></i18n>

<style lang="scss">
@import 'attachments.scss';
</style>
