<template>
  <transition-group
    tag="pu-list"
    class="pu-list-attachments"
    name="t-list-move"
  >
    <pu-list-item-attachment
      v-for="attachment in attachments"
      :key="attachment.uuid"
      :attachment="attachment"
      v-bind="$attrs"
    />
  </transition-group>
</template>

<script lang="ts">
import Vue from 'vue'

import PuListItemAttachment from './list-item-attachment.vue'

export default Vue.extend({
  name: 'pu-list-attachments',

  components: {
    PuListItemAttachment,
  },

  inheritAttrs: false,

  props: {
    attachments: {
      type: Array,
      default: () => [],
    },
  },
})
</script>

<style lang="scss">
@import 'list-attachments.scss';
</style>
