.pu-list-attachments {
  padding: 0.667rem 1.334rem;

  li {
    position: relative;
    border-bottom: 2px solid $gray-0-5;


    @include goingLarge(large) {
      .pu-icon-pin {
        display: none;
      }

      &:hover {
        .pu-icon-pin {
          display: block;
        }
      }
    }


    &.is-pinned {
      .pu-icon-pin {
        display: block;
        background-color: $white;
      }
    }
  }

  .pu-button-pin {
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 10;
    width: 30px;
    height: 30px;

    .pu-icon-pin {
      padding: 0.334rem;
    }

    .pu-progress-circular {
      height: 24px;
      width: 24px;
      color: $primary;
    }
  }


  .pu-link {
    display: block;
    position: relative;
    padding: 1rem 1rem 1rem 4rem;

    color: $black;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: rgba(255,255,255,0.2);
      text-decoration: none;

      h4 {
        border-bottom-color: $black;
      }
      span {
        color: $black;
      }
    }

    h4 {
      display: inline;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.334;
      border-bottom: 2px solid transparent;
      @include goingLarge(medium) { font-size: 1.2rem; }
    }

    span {
      display: block;
      margin-top: 0.5rem;
      color: $gray-6;
    }

    &::before {
      display: block;
      content: "";
      width: 3rem;
      height: 4rem;
      position: absolute;
      left: 0.334rem;
      top: 0;
      background-size: 3rem 4rem;
    }

    &.pu-file {
      &-onedrive::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='60' viewBox='-5.499 -15.999 45 60'%3E%3Cpath fill='none' d='M0 0h34v34H0z'/%3E%3Cpath fill='%230364B8' d='M20.125 17.75l6.192-5.922A9.374 9.374 0 009.405 9.003c.096-.003 10.72 8.747 10.72 8.747z'/%3E%3Cpath fill='%230078D4' d='M13.441 10.118A7.48 7.48 0 009.501 9l-.096.003a7.496 7.496 0 00-6.056 11.784l9.277-1.162 7.113-5.735-6.298-3.772z'/%3E%3Cpath fill='%231490DF' d='M26.317 11.828a6.059 6.059 0 00-2.826.484l-.001-.001-3.752 1.58L23.875 19l7.396 1.798a6.093 6.093 0 00-4.954-8.97z'/%3E%3Cpath fill='%2328A8EA' d='M3.349 20.787A7.489 7.489 0 009.501 24h16.405a6.089 6.089 0 005.364-3.202L19.738 13.89 3.349 20.787z'/%3E%3C/svg%3E");
      }
      &-google-docs::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='60' viewBox='-5.499 -15.999 45 60'%3E%3Cpath fill='none' d='M0 0h34v34H0z'/%3E%3Cpath fill='%234688F1' d='M16.001 14c0 1.1-.9 2-2 2h-11c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h11c1.1 0 2 .9 2 2v11z'/%3E%3Cpath fill='%23FFF' d='M4.251 4.188h8.5v1.75h-8.5zM4.251 7.479h8.5v1.75h-8.5zM4.251 10.771h5.916v1.75H4.251z'/%3E%3Cpath fill='%231D9C5A' d='M33.001 14c0 1.1-.9 2-2 2h-11c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h11c1.1 0 2 .9 2 2v11z'/%3E%3Cpath fill='%23FFF' d='M19.626 6.125h11.75v1.75h-11.75z'/%3E%3Cpath fill='%23FFF' d='M22.876 2.625h1.75v11.75h-1.75z'/%3E%3Cpath fill='%23673AB7' d='M33.001 31c0 1.1-.9 2-2 2h-11c-1.1 0-2-.9-2-2V20c0-1.1.9-2 2-2h11c1.1 0 2 .9 2 2v11z'/%3E%3Cpath fill='%23FFF' d='M23.647 21.188h6.916v1.75h-6.916zM23.647 24.479h6.916v1.75h-6.916zM23.647 27.771h6.916v1.75h-6.916zM20.438 21.188h1.583v1.75h-1.583zM20.438 24.479h1.583v1.75h-1.583zM20.438 27.771h1.583v1.75h-1.583z'/%3E%3Cpath fill='%23F2B32A' d='M16.001 31c0 1.1-.9 2-2 2h-11c-1.1 0-2-.9-2-2V20c0-1.1.9-2 2-2h11c1.1 0 2 .9 2 2v11z'/%3E%3Cpath fill='%23FFF' d='M2.751 22.044h11.5v6.621h-11.5z'/%3E%3C/svg%3E");
      }
      &-google-drive::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='60' viewBox='-5.499 -15.999 45 60'%3E%3Cpath fill='none' d='M0 0h34v34H0z'/%3E%3Cpath fill='%23FBCE4B' d='M11.698 2.369H22.44l9.561 16.704-12.695-3.921z'/%3E%3Cpath fill='%23DFB53D' d='M19.306 15.152l2.544 3.921h10.151z'/%3E%3Cpath fill='%233476DD' d='M32.001 19.073L26.93 28H7.296l9.696-8.927z'/%3E%3Cpath fill='%23055BD8' d='M12.556 19.073L7.296 28l9.696-8.927z'/%3E%3Cpath fill='%2315A864' d='M7.296 28l-5.295-8.927 9.697-16.704 3.135 12.811-2.277 3.893z'/%3E%3Cpath fill='%23129155' d='M11.698 2.369l3.135 12.811 2.159-3.914z'/%3E%3C/svg%3E");
      }
      &-dropbox::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='60' viewBox='-5.499 -15.999 45 60'%3E%3Cpath fill='none' d='M0 0h34v34H0z'/%3E%3Cpath fill='%23007EE5' d='M10.826 1.097L2.001 6.858l6.102 4.887 8.898-5.494zM2.001 16.632l8.825 5.762 6.175-5.155-8.898-5.494zM17.001 17.239l6.175 5.155 8.825-5.762-6.102-4.887zM32.001 6.858l-8.825-5.761-6.175 5.154 8.898 5.494z'/%3E%3Cpath fill='%23007EE5' d='M17.02 18.349l-6.194 5.138-2.65-1.73v1.94L17.02 29l8.842-5.303v-1.94l-2.65 1.73z'/%3E%3C/svg%3E");
      }
      &-slack::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='60' viewBox='-5.499 -15.999 45 60'%3E%3Cpath fill='none' d='M0 0h34v34H0z'/%3E%3Cpath fill='%23E01E5A' d='M8.884 20.693c0 1.619-1.323 2.942-2.941 2.942s-2.941-1.323-2.941-2.942a2.948 2.948 0 012.941-2.94h2.941v2.94zM10.366 20.693c0-1.618 1.323-2.94 2.941-2.94s2.941 1.322 2.941 2.94v7.365c0 1.619-1.323 2.941-2.941 2.941s-2.941-1.322-2.941-2.941v-7.365z'/%3E%3Cpath fill='%2336C5F0' d='M13.307 8.883c-1.619 0-2.941-1.323-2.941-2.941S11.688 3 13.307 3s2.941 1.323 2.941 2.941v2.941h-2.941zM13.307 10.365c1.619 0 2.941 1.323 2.941 2.941s-1.323 2.941-2.941 2.941H5.942c-1.619 0-2.941-1.322-2.941-2.941s1.323-2.941 2.941-2.941h7.365z'/%3E%3Cpath fill='%232EB67D' d='M25.118 13.306c0-1.619 1.322-2.941 2.941-2.941S31 11.688 31 13.306s-1.322 2.941-2.941 2.941h-2.941v-2.941zM23.637 13.306a2.949 2.949 0 01-2.942 2.941 2.948 2.948 0 01-2.94-2.941V5.941A2.948 2.948 0 0120.695 3a2.95 2.95 0 012.942 2.941v7.365z'/%3E%3Cpath fill='%23ECB22E' d='M20.694 25.117c1.619 0 2.942 1.322 2.942 2.941S22.313 31 20.694 31a2.948 2.948 0 01-2.94-2.941v-2.941h2.94zM20.694 23.636a2.948 2.948 0 01-2.94-2.942 2.947 2.947 0 012.94-2.94h7.365A2.948 2.948 0 0131 20.694a2.949 2.949 0 01-2.941 2.942h-7.365z'/%3E%3C/svg%3E");
      }
      &-other::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='60' viewBox='-5.499 -15.999 45 60'%3E%3Cpath fill='none' d='M0 0h34v34H0z'/%3E%3Cpath fill='%2355BEC8' d='M11.972 24.999a4.98 4.98 0 01-3.521-1.453 4.983 4.983 0 01-1.453-3.521 4.96 4.96 0 011.455-3.519l3.673-3.671a4.954 4.954 0 013.519-1.454c1.269 0 2.55.485 3.522 1.453a1.245 1.245 0 01-1.759 1.762 2.48 2.48 0 00-1.763-.725 2.471 2.471 0 00-1.76.725L10.21 18.27a2.476 2.476 0 00-.724 1.756c.002.646.24 1.276.724 1.76a2.486 2.486 0 001.762.725 2.475 2.475 0 001.762-.722l1.906-1.906h.002a1.243 1.243 0 011.76 1.757l-1.908 1.91A4.961 4.961 0 0111.983 25l-.011-.001z'/%3E%3Cpath fill='%2355BEC8' d='M14.835 17.168a1.243 1.243 0 01-.002-1.76 1.246 1.246 0 011.763 0 2.476 2.476 0 001.756.723 2.48 2.48 0 001.763-.723l3.671-3.67a2.474 2.474 0 00.725-1.762 2.485 2.485 0 00-.723-1.76 2.491 2.491 0 00-1.762-.727 2.478 2.478 0 00-1.761.727l-1.904 1.906a1.245 1.245 0 11-1.762-1.76l1.906-1.906a4.971 4.971 0 013.521-1.457c1.27 0 2.551.486 3.521 1.455a4.971 4.971 0 011.452 3.521 4.992 4.992 0 01-1.452 3.522l-3.672 3.671a4.991 4.991 0 01-3.522 1.451 4.972 4.972 0 01-3.518-1.451z'/%3E%3C/svg%3E");
      }
    }
  }
}
