<template>
  <li :class="attachmentPinnedClass">
    <pu-link
      :to="getAttachmentUrl(attachment)"
      :class="attachmentClass"
      :title="getAttachmentName(attachment)"
      external
    >
      <h4>{{ getAttachmentName(attachment) | truncateString('word', 6) }}</h4>

      <span>{{
        $t('attachment-types.' + getAttachmentProvider(attachment))
      }}</span>
    </pu-link>

    <pu-action :action="setPinned" @success="attachments.get">
      <template v-slot:default="{ trigger, pending }">
        <pu-button flat icon :loading="pending" class="pu-button-pin">
          <pu-icon
            name="pin"
            :color="pinStatusColor"
            size="20"
            @click="trigger"
          />
        </pu-button>
      </template>
    </pu-action>
  </li>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import updateAttachment from '@/data/partup/update-attachment'
import {
  getAttachmentName,
  getAttachmentProvider,
  getAttachmentType,
  getAttachmentUrl,
  isAttachmentPinned,
} from '@/lib/model/attachment'
import truncateString from '@/filters/truncateString'
import { Attachment } from '@/types/model'
import { Uuid } from '@/types'

export default Vue.extend({
  name: 'pu-list-item-attachment',

  inject: ['attachments'],

  filters: {
    truncateString,
  },

  props: {
    attachment: {
      type: Object as PropType<Attachment>,
      required: true,
    },
  },

  computed: {
    attachmentClass() {
      return 'pu-file-' + getAttachmentProvider(this.attachment)
    },
    attachmentPinnedClass() {
      return isAttachmentPinned(this.attachment) ? 'is-pinned' : ''
    },
    pinStatusColor() {
      return isAttachmentPinned(this.attachment) ? 'blue' : 'gray-2'
    },
  },

  methods: {
    getAttachmentName,
    getAttachmentProvider,
    getAttachmentType,
    getAttachmentUrl,
    isAttachmentPinned,

    async setPinned() {
      const pinned = !isAttachmentPinned(this.attachment)

      await updateAttachment(this.attachments.partupId, this.attachment.uuid, {
        data: {
          pinned,
        },
      })

      // this.attachments.get()
    },
  },
})
</script>

<i18n src="./list-item-attachment.nl.json"></i18n>

<style lang="scss">
@import 'list-item-attachment.scss';
</style>
