<template>
  <div class="pu-view-aside-admin">
    <h3 class="pu-list-nav-header">{{ $t('list.organization.header') }}</h3>
    <pu-list class="pu-list-nav">
      <li>
        <pu-link
          :to="{
            name: 'admin-organization-overview',
          }"
        >
          {{ $t('list.organization.item.overview') }}
        </pu-link>
      </li>
      <li>
        <pu-link
          :to="{
            name: 'admin-organization-form',
          }"
        >
          {{ $t('list.organization.item.create') }}
        </pu-link>
      </li>
    </pu-list>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-admin-aside',
})
</script>

<i18n>
{
  "nl": {
    "list": {
      "organization": {
        "header": "Organisaties",
        "item": {
          "overview": "Organisatie overzicht",
          "create": "Organisatie aanmaken"
        }
      }
    }
  }
}
</i18n>

<style lang="scss">
@import 'aside.scss';
</style>
