.pu-view-aside-admin {
  .pu-list-nav {
    $indent: 12px;

    &-header {
      margin: 1rem $indent;
    }

    > li {
      .pu-link {
        display: block;
        padding: 16px 0 16px $indent;

        &:hover,
        &.route-active-exact {
          background-color: scale-color($color: $primary, $lightness: -10%, $alpha: -90%);
        }
      }
    }
  }
}
