
.pu-picker-storage {
  justify-self: start;

  input[type="file"] {
    @include absoluteFullSize;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      + .pu-button {
        user-select: none;
      }
    }
  }

  .pu-button {
    pointer-events: none;
  }

  &.is-disabled {
    input[type="file"] {
      opacity: 0;

      &:hover {
        cursor: initial;
      }
    }
  }

  .pu-icon-error {
    display: block;
    width: 1.334rem;
    height: 1.334rem;
    left: 30px;
    top: 30px;
    right: auto;
    margin: -1rem -1rem;
    background-color: $white;
    padding: 0.334rem;
    border-radius: 1rem;
  }

  &.has-error {
    .pu-button {
      border-color: $red;
      color: $red;
    }
  }
}
