<template>
  <pu-action
    :action="onPicked"
    @error="$emit('error', $event)"
    @success="$emit('success')"
  >
    <template
      v-slot:default="{
        trigger,
        pending,
        error,
        success,
      }"
    >
      <div
        class="pu-input pu-picker pu-picker-storage"
        :class="
          rootClasses({
            'has-error': error,
          })
        "
      >
        <input
          :id="id"
          ref="input"
          type="file"
          :accept="accept"
          :disabled="disabled"
          @change="trigger"
        />
        <slot :error="error" :pending="pending" :success="success" />
        <slot
          name="activator"
          :error="error"
          :open="open"
          :pending="pending"
          :success="success"
        />
      </div>
    </template>
  </pu-action>
</template>

<script lang="ts">
import Vue from 'vue'
import api from '@/api'
import PuPicker from '@/components/base/picker/picker.js'
import preSign from '@/data/file/pre-sign'
import uploadToS3 from '@/data/file/upload-to-s3'
import postImageUrl from '@/data/file/post-image-url'

export default Vue.extend({
  name: 'pu-picker-storage',

  extends: PuPicker,

  props: {
    accept: {
      type: String,
      default: 'file/*',
    },
    level: {
      type: String,
      required: true,
      validator: (v) => ['public', 'protected', 'private'].includes(v),
    },
    path: {
      type: String,
      required: true,
    },
  },

  computed: {
    rootClasses() {
      return (responseClasses) => {
        return Object.assign(
          {
            'is-disabled': this.disabled,
          },
          responseClasses
        )
      }
    },
  },

  methods: {
    open() {
      if (this.$refs.input) {
        ;(this.$refs.input as any).click()
      }
    },
    async upload(this: any, file) {
      const path = this.path

      const {
        data: { url },
      } = await uploadToS3(path, {
        data: {
          file,
        },
      })

      await postImageUrl(path, {
        data: {
          // eslint-disable-next-line
          image_url: url,
        },
      })

      return url
    },
    async onPicked(this: any, e) {
      const file = e.target.files[0]

      if (file) {
        try {
          const url = await this.upload(file)
          this.internalValue = url
        } catch (error) {
          this.$logger.error(error)
          throw error
        }
      }
    },
  },
})
</script>

<style lang="scss">
@import 'storage';
</style>
