
.pu-progress-circular {
  stroke: currentColor;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  > svg {
    position: absolute;
    transform: rotate(-90deg);

    > circle {
      stroke: currentColor;

      &.underlay {
        opacity: .3;
      }
    }
  }

  &--indeterminate {
    > svg {
      > circle {
        &.overlay {
          animation: rotate 1.3s linear infinite;
          transform: rorate(0deg);
          transform-origin: 100% 100%;
        }
      }
    }
  }
}
