<template>
  <figure :class="rootClasses" :style="rootStyles">
    <svg xmlns="http://www.w3.org/2000/svg" :viewBox="calculatedViewbox">
      <circle
        class="underlay"
        v-bind="calculatedCircleAttributes"
        :stroke-dashoffset="0"
      />

      <circle
        class="overlay"
        v-bind="calculatedCircleAttributes"
        :stroke-dashoffset="strokeDashOffset"
      />
    </svg>

    <span v-if="!indeterminate" :style="textStyles">{{ value }}</span>
  </figure>
</template>

<script>
import colorable from '@/mixins/colorable'
import toStyleUnit from '@/util/css/to-style-unit'

export default {
  name: 'pu-progress-circular',

  mixins: [colorable],

  props: {
    indeterminate: {
      type: Boolean,
    },
    rotate: {
      type: Number,
      default: 0,
    },
    size: {
      type: [Number, String],
      default: 32,
    },
    width: {
      type: Number,
      default: 4,
    },
    value: {
      type: [Number, String],
      default: 0,
    },
  },

  data() {
    return {
      defaultColor: 'primary',
    }
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-progress-circular': true,
        'pu-progress-circular--indeterminate': this.indeterminate,
      })
    },
    rootStyles() {
      return {
        width: `${Number(this.size)}px`,
        height: `${Number(this.size)}px`,
      }
    },
    calculatedCircleAttributes() {
      return {
        fill: 'transparent',
        cx: 2 * this.viewboxSize,
        cy: 2 * this.viewboxSize,
        r: this.radius,
        'stroke-width': this.strokeWidth,
        'stroke-dasharray': this.strokeDashArray,
      }
    },
    normalizedValue() {
      return this.value < 0
        ? 0
        : this.value > 100
        ? 100
        : parseInt(this.value, 10)
    },
    calculatedViewbox() {
      return `${this.viewboxSize} ${this.viewboxSize} ${2 *
        this.viewboxSize} ${2 * this.viewboxSize}`
    },
    circumreference() {
      return 2 * Math.PI * this.radius
    },
    strokeDashArray() {
      return Math.round(this.circumreference * 1000) / 1000
    },
    strokeDashOffset() {
      const v = this.indeterminate ? 40 : this.normalizedValue

      return toStyleUnit(((100 - v) / 100) * this.circumreference)
    },
    strokeWidth() {
      return (this.width / +this.size) * this.viewboxSize * 2
    },
    viewboxSize() {
      return this.radius / (1 - this.width / +this.size)
    },
    radius() {
      return 20
    },
    textStyles() {
      return {
        'font-size': toStyleUnit(this.viewboxSize / 2),
      }
    },
  },
}
</script>

<style lang="scss">
@import 'circular.scss';
</style>
