.pu-form-forgot-password-submit {
  // INTRO AND ERROR SUMMARY
  // should be transferred to generic form scss file?
  .pu-form-intro {
    padding: 0.667rem 2.667rem;
    margin-bottom: 1rem;
    line-height: 1.33;

    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      color: $gray-7-0;
      line-height: 1.33;
    }
  }

  .pu-primary-action {
    .pu-button {
      margin-top: 0.667rem;
      float: right;
    }

    &:after {
      content: '';
      height: 0;
      display: table;
      clear: both;
    }
  }
}
