<template>
  <pu-form
    id="form-forgot-password-submit"
    :class="rootClasses"
    @submit="onSubmit"
  >
    <div v-if="(form.contains_errors != false) && form.errors.summary" class="pu-form-intro--error">
        {{form.errors.summary}}
    </div>
    <div v-if="!form.contains_errors.email && !form.contains_errors.password && !form.contains_errors.code" class="pu-form-intro">
        <p>Tijd voor een nieuw wachtwoord!</p>
    </div>

    <div class="pu-primary-action">
      <pu-label
        for="forgot-password-submit-code">{{form.labels.code}}</pu-label>
      <pu-form-control
        v-model="code"
        :error="resetCodeContainsError"
      >
        <pu-textfield
          id="forgot-password-submit-code"
          :value="code"
          :placeholder="form.placeholders.code"
        />
      </pu-form-control>

      <pu-label
        for="email-address">E-mail</pu-label>
      <pu-form-control
        v-model="email"
        :error="emailContainsError"
      >
        <pu-textfield
          :value="email"
          type="email"
          id="email-address"
          :placeholder="form.placeholders.email"
        />
      </pu-form-control>

      <pu-label for="user-password">{{form.labels.password}}</pu-label>
      <pu-form-control
        :error="passwordContainsError"
      >
        <pu-password
          id="forgot-password-submit-password"
          ref="password"
          :placeholder="form.placeholders.password"
        />
      </pu-form-control>

      <pu-button type="submit" color="secondary" class="pu-button--icon" :loading="isLoading">
        <span>Opslaan</span>
        <pu-icon name="arrow_right" />
      </pu-button>
    </div>
  </pu-form>
</template>

<script>
import PuForm from '@/components/base/form/form.vue'
import PuLabel from '@/components/base/label/label.vue'
import PuFormControl from '@/components/base/input/form-control.vue'
import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import PuPassword from '@/components/implementations/input/password/input-password.vue'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'pu-form-forgot-password-submit',

  components: {
    PuForm,
    PuLabel,
    PuFormControl,
    PuTextfield,
    PuPassword,
  },

  data() {
    return {
      form: {
        contains_errors: {
          email: false,
          password: false,
          reset_code: false,
        },
        errors: {
          summary: null,
        },
        errors_map: {
          'code cannot be empty': {
            message: 'Zonder code kunnen we niet valideren of jij het wel echt bent',
            fields: { email: false, password: false, reset_code: true },
          },
          'null failed with error': {
            message: 'Zonder wachtwoord kun je toch niet inloggen, gekkie!',
            fields: { email: false, password: true, reset_code: false },
          },
          'username cannot be empty': {
            message: 'Zonder jouw e-mailadres kun je niet inloggen.',
            fields: { email: true, password: false, reset_code: false },
          },
          'user does not exist': {
            message: 'Het lijkt erop dat je e-mailadres een typfout bevat.',
            fields: { email: true, password: false, reset_code: false },
          },
          'password cannot be empty': {
            message: 'Zonder wachtwoord kan je zometeen niet meer inloggen',
            fields: { email: false, password: true, reset_code: false },
          },
          'password must have uppercase': {
            message: 'Het wachtwoord moet 1 of meer hoofdletter bevatten.',
            fields: { email: false, password: true, reset_code: false },
          },
          'password must have numeric': {
            message: 'Het wachtwoord moet 1 of meer cijfers bevatten.',
            fields: { email: false, password: true, reset_code: false },
          },
          'password not long enough': {
            message: 'Het wachtwoord moet 8 of meer tekens bevatten.',
            fields: { email: false, password: true, reset_code: false },
          },
          'length greater than or equal to 6': {
            message: 'Het wachtwoord moet 8 of meer tekens bevatten.',
            fields: { email: false, password: true, reset_code: false },
          },
        },
        labels: {
          code: 'Resetcode',
          email: 'Je e-mailadres',
          password: 'Nieuw wachtwoord',
        },
        placeholders: {
          code: 'De code uit onze e-mail.',
          email: 'Bijvoorbeeld welkom@part-up.com',
          password: '8+ tekens, 1 cijfer en 1 hoofdletter',
        },
      },
    }
  },

  watch: {
    'success.forgotPasswordSubmit': {
      handler(newVal) {
        if (newVal) {
          this.$emit('success')
        }
      },
    },
    'errors.forgotPasswordSubmit': {
      handler(newVal) {
        if (newVal) {
          this.$emit('error', newVal)
        }
      },
    },
  },

  computed: {
    ...mapState('auth', [
      'errors',
      'loading',
      'success',
    ]),
    email: {
      get() {
        return this.$store.state.auth.email
      },
      set(v) {
        this.$store.commit('auth/setEmail', v)
      },
    },
    code: {
      get() {
        return this.$store.state.auth.code
      },
      set(v) {
        this.$store.commit('auth/setAuthCode', v)
      },
    },
    rootClasses() {
      return {
        'pu-form-forgot-password-submit': true,
        'pu-form-contains-errors': this.form.contains_errors.email || this.form.contains_errors.password,
      }
    },
    isLoading() {
      return this.loading.forgotPasswordSubmit
    },
    resetCodeContainsError() {
      return this.form.contains_errors.reset_code
    },
    emailContainsError() {
      return this.form.contains_errors.email
    },
    passwordContainsError() {
      return this.form.contains_errors.password
    },
  },

  methods: {
    ...mapActions('auth', [
      'forgotPasswordSubmit',
    ]),
    async onSubmit() {
      try {
        this.isSubmitting = true

        await this.forgotPasswordSubmit(this.$refs.password.getValue())
        this.$refs.password.clearValue()
        this.$emit('success')
      } catch (error) {
        this.parseError(error.message ? error.message : error)
        this.$logger.error(error)
      } finally {
        this.isSubmitting = false
        this.form.fields.password = null
      }
    },
    parseError(error) {
      var error_test_string = error.toLowerCase()
      var error_message = 'Je nieuwe wachtwoord is niet opgeslagen. Probeer het opnieuw.'
      var error_fields = { email: false, password: false, reset_code: false }

      for (var error_key in this.form.errors_map) {
        if (error_test_string.indexOf(error_key) > -1) {
          error_message = this.form.errors_map[error_key].message
          error_fields = this.form.errors_map[error_key].fields
        }
      }

      this.form.errors.summary = error_message
      this.form.contains_errors.reset_code = error_fields.reset_code
      this.form.contains_errors.email = error_fields.email
      this.form.contains_errors.password = error_fields.password
      //         this.$logger.error("Nu in error_fields: " + error_fields)
    },
  },
}
</script>

<style lang="scss">
@import "form-forgot-password-submit.scss";
</style>
