<template>
  <div class="pu-partup-chat">
    <pu-thread :messages="messages" />

    <div v-if="$can('partup_message_create') && zeroMessages && loaded" class="pu-form-tip">
      <p>{{ $t('form-tip') }}</p>
    </div>

    <pu-form-chat v-if="$can('partup_message_create')" :action="post" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import createForPartup from '@/data/message/create-for-partup'
import findForPartup from '@/data/message/find-for-partup'
import { ChatMessageFormData } from './types'
import {
  MessageCreateForPartupData,
  MessageFindForPartupQuery,
  MessageFindForPartupOptions,
} from '@/types'
import PuFormChat from './form.vue'
import PuThread from './thread.vue'

export default Vue.extend({
  name: 'pu-partup-chat',

  provide() {
    const plugins = this.plugins

    return {
      chat: Vue.observable({
        plugins,
      }),
    }
  },

  components: {
    PuFormChat,
    PuThread,
  },

  props: {
    activityUuid: {
      type: String,
      default: null,
    },
    partupUuid: {
      type: String,
      required: true,
    },
    solicitUuid: {
      type: String,
      default: null,
    },
  },

  data() {
    const loaded = false

    return {
      loaded,
    }
  },

  computed: {
    messages() {
      return this.$store.getters['chat/messagesForPartup'](this.partupUuid)
    },
    plugins() {
      const plugins = []

      if (!this.activityUuid) {
        plugins.push('activities')
      }

      return plugins
    },
    zeroMessages() {
      return this.messages && this.messages.length === 0
    },
  },

  watch: {
    partupUuid: {
      handler(newUuid, oldUuid) {
        if (newUuid !== oldUuid) {
          this.$nextTick(() => {
            this.get()
            this.$store.dispatch('chat/activateChat', newUuid)
          })
        }
      },
      immediate: true,
    },
    activityUuid: {
      handler() {
        this.$nextTick(() => {
          this.get()
        })
      },
    },
  },

  mounted() {
    this.$socket.subscribe(this._uid, 'new_message', this.newMessageEvent)
  },

  beforeDestroy() {
    this.$socket.unsubscribe(this._uid)
  },

  methods: {
    async post(message: ChatMessageFormData) {
      let created = false
      const data: MessageCreateForPartupData = message

      if (this.activityUuid) {
        data.activities = [this.activityUuid]
      }

      await createForPartup(this.partupUuid, { data })
      created = true

      if (created) {
        try {
          this.get()
        } catch (error) {
          this.$logger.error(error)
        }
      }
    },
    async get() {
      const options: MessageFindForPartupOptions = {}

      if (this.activityUuid) {
        if (!options.query) {
          options.query = {}
        }

        options.query.activity = this.activityUuid
      }

      if (this.solicitUuid) {
        if (!options.query) {
          options.query = {}
        }

        options.query.solicit = this.solicitUuid
      }

      const { data: messages } = await findForPartup(this.partupUuid, options)

      if (messages.length > 0) {
        this.$store.dispatch('chat/set', messages)
      } else {
        this.$store.dispatch('chat/clear', this.partupUuid)
      }
      this.loaded = true
    },
  },
})
</script>

<i18n src="./chat.nl.json"></i18n>

<style lang="scss">
@import 'chat.scss';
</style>
