.pu-partup-chat {
  height: 100%;
  padding: 1rem 0 3.33em;

  .pu-thread,
  .pu-list-message {
    overflow: auto;
  }

  .pu-thread,
  .list-message {
    transform: scale(1, -1);
  }

  .pu-thread {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem;
  }

  .pu-message {
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: flex-end;

    .aside {
      display: inline-block;

      .pu-avatar {
        margin-left: 6px;
      }

      .meta {
        font-size: 0.8rem;
        letter-spacing: 0.1em;
        margin-left: -20px;
        text-transform: uppercase;
        padding-top: 4px;
        position: absolute;
        left: 30px;
        bottom: 12px;
        display: flex;
        flex-flow: row nowrap;

        > * {
          flex: 1 0 auto;
        }
      }

      .name {
        color: $gray-8;
        float: left;
        margin-right: 10px;
      }

      .pu-date {
        color: $gray-4;
        display: inline-block;
      }
    }

    .content {
      background-color: $white;
      border-radius: $border-radius;
      display: inline-block;
      padding: .15rem .4rem;
      flex: 0 0 auto;
      max-width: 80%;

      p {
        line-height: 1.33;
        padding: .5rem .5rem;
        font-size: 0.9rem;
// Start fix for URL's in body text
        word-wrap: break-word;
        max-width: 18rem;
        @include goingLarge(medium) {
          max-width: 36rem;
        }
        @include goingLarge(large) {
          max-width: 18rem;
        }
// These previous lines form a nasty hack to prevent pasted URL's from ruining the layout.
// URL's and other formatted text should be fixed in the editor/form component where text is processed.
      }

      .pu-list + .pu-list {
        padding: 4px;
      }

      .list-activities,
      .list-attachments {
        border-bottom: 2px solid $gray-1;
        padding-bottom: 4px;
        text-align: start;

        > li {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
        }

        .pu-icon {
          flex: 0 0 auto;
          margin-right: 2px;
        }

        .pu-link {
          word-wrap: break-word;
          width: calc(100% - 28px);
          font-weight: 600;
        }
      }

      .list-activities {
        .pu-link {
          width: 100%;
          display: flex;

          .pu-icon {
            padding: 0;
            height: 1.1667rem;
            width: 1.1667rem;

            &-border-light {
              border: 1px solid $gray-2;
            }
            &-border-blue {
              border: 2px solid $blue;
            }
            &-border {
              border: 2px solid;
            }
          }

          > span {
            display: block;
            margin: 0;
            padding: .1rem 0 0 .5rem;
          }
        }
      }
    }

    &.is-mine {
      padding-left: 0;
      text-align: right;
      justify-content: flex-end;

      .aside {
        .pu-avatar,
        .name {
          display: none;
        }

        .meta {
          right: 0;
        }
      }

      .list-activities,
      .list-attachments {
        border-bottom: 2px solid #DCE8B8;
      }

      .pu-icon {
        &-border-light {
          border: 1px solid $green-gray;
        }
        &-border {
          border: 2px solid $orange-gray;
        }
      }

      .content {
        background-color: $green-messages;

        .attachments {
          border-bottom-color: $green-gray;

          .pu-icon,
          .pu-link {
            color: $orange-gray;
          }
        }

        p {
          text-align: left;
        }
      }
    }
  }

  &.is-active {
    box-shadow: none !important;
  }

  .pu-form-chat {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;

    .menu-actions {
      position: absolute;
      bottom: 10px;

      .content {
        bottom: 45px;
      }

      &-activator {
        background-color: $white !important;
        color: $blue;
//         padding: 4px 10px;
        width: 2.667rem;
        height: 2.667rem;
      }
    }

    .list-actions {
      > li {

        .pu-button {
          padding-left: 8px;
          white-space: nowrap;
          font-weight: normal;

          .pu-icon {
            margin-right: 6px;
          }
        }
      }
    }

    .control-wrapper {
      padding-left: 50px;

      .attachments {
        background-color: $white;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        position: relative;
        margin-bottom: -1px;
        padding-bottom: 2px;

        &:after {
          @include psuedo;
          // content: '';
          width: 95%;
          left: 2.5%;
          height: 2px;
          bottom: 1px;
          // position: absolute;
          background-color: $gray-0-5;
        }

        + .pu-form-control {
          textarea {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }

      .list-links {
        padding: .4rem;

        > li {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding: .3rem .3rem;

          .pu-link {
            flex: 1 1 auto;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 .3rem;
          }

          .pu-icon {
            flex: 0 0 auto;
            color: $secondary;
          }
        }
      }
    }

    .pu-button[type="submit"] {
      position: absolute;
      bottom: 15px;
      right: 20px;
      padding: 5px;
      background-color: $white;
      color: $blue;

      &.is-disabled {
//         background-color: $white;
        color: $gray-3;
      }
    }

    textarea {
      border: none !important;
      padding-right: 2.667rem;

      &:active,
      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .pu-form-tip {
    padding-left: 5rem;

    > *:first-child {
      &::before {
        left: 3rem;
      }
    }
  }
}
