<template>
  <pu-action :action="action" @success="onSuccess">
    <template
      v-slot:default="{
        trigger,
        pending,
      }"
    >
      <pu-form class="pu-form-chat" @submit="trigger(fields)">
        <pu-menu class="menu-actions">
          <template v-slot:activator="{ on }">
            <pu-button
              icon
              color="primary"
              class="menu-actions-activator"
              v-on="on"
            >
              <pu-icon name="add" />
            </pu-button>
          </template>

          <pu-list class="list-actions">
            <pu-modal-activator
              :for="$globals.modals.partupAttachment"
              :modal-props="{
                local: true,
              }"
              @success="addAttachment"
            >
              <li>
                <pu-button flat>
                  <pu-icon name="link" color="primary" />
                  {{ $t('attach-link') }}
                </pu-button>
              </li>
            </pu-modal-activator>
          </pu-list>
        </pu-menu>

        <div class="control-wrapper">
          <div v-if="fields.attachments.length > 0" class="attachments">
            <pu-list class="list-links">
              <li
                v-for="(attachment, index) in fields.attachments"
                :key="attachment.url"
              >
                <pu-icon name="link" color="secondary" :size="24" />
                <pu-link :to="attachment.url" external />
                <pu-icon
                  name="close"
                  color="secondary"
                  :size="24"
                  @click="removeAttachment(index)"
                />
              </li>
            </pu-list>
          </div>

          <pu-form-control v-model="fields.text">
            <pu-textarea
              ref="textarea"
              :rows="1"
              :max-rows="5"
              auto-grow
              no-resize
              @enter="trigger(fields)"
            />
          </pu-form-control>

          <pu-button
            type="submit"
            color="primary"
            icon
            small
            :loading="pending"
            :disabled="!fields.text"
          >
            <pu-icon name="enter" />
          </pu-button>
        </div>
      </pu-form>
    </template>
  </pu-action>
</template>

<script lang="ts">
import Vue from 'vue'

import { ChatMessageFormData } from './types'
import { Attachment } from '@/types/model'

export default Vue.extend({
  name: 'pu-form-chat',

  props: {
    action: {
      type: Function,
      default: () => void 0,
    },
  },

  data(this: any) {
    const fields: ChatMessageFormData = this.formFields()

    return {
      fields,
    }
  },

  methods: {
    addAttachment(attachment: Attachment) {
      this.fields.attachments.push(attachment)
    },
    removeAttachment(index: number) {
      this.fields.attachments.splice(index, 1)
    },
    onSuccess() {
      this.fields = this.formFields()

      if (this.$refs.textarea) {
        this.$refs.textarea.resetHeight()
      }
    },
    formFields(): ChatMessageFormData {
      const attachments: Attachment[] = []

      const fields = {
        attachments,
        text: null,
      }

      return fields
    },
  },
})
</script>

<i18n src="./form.nl.json"></i18n>
