<template>
  <article class="pu-message" :class="rootClasses">
    <div class="content">
      <div class="extra">
        <template v-if="hasPlugin('activities')">
          <pu-list v-if="activities.length > 0" class="list-activities">
            <li v-for="activity in activities" :key="activity.uuid">
              <pu-link
                :to="{
                  name: 'partup-activity',
                  params: { activityUuid: activity.uuid },
                }"
              >
                <pu-icon v-bind="getIconProps(activity.status)" />
                <span>{{ activity.name }}</span>
              </pu-link>
            </li>
          </pu-list>
        </template>
        <pu-list v-if="attachments.length > 0" class="list-attachments">
          <li v-for="attachment in attachments" :key="attachment.uuid">
            <pu-icon name="link" :size="24" />
            <pu-link :to="attachment.url" external>{{
              attachment.name | truncateUrl(25)
            }}</pu-link>
          </li>
        </pu-list>
      </div>

      <p>{{ value.text }}</p>
    </div>

    <aside class="aside">
      <pu-avatar :src="getAvatar(value.postedBy, 'small')" :size="36" />

      <p class="meta">
        <span class="name">{{ getName(value.postedBy) }}</span>
        <pu-date :date="value.postedAt" format="message" />
      </p>
    </aside>
  </article>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { mapGetters } from 'vuex'
import truncateUrl from '@/filters/truncateUrl'
import getAvatar from '@/lib/model/user/get-avatar'
import getName from '@/lib/model/user/get-name'
import { Message } from '@/types'
import { getIconProps } from '@/util/activity'

export default Vue.extend({
  name: 'pu-message',

  inject: ['chat'],

  components: {
    PuAvatar: () => import('@/components/base/avatar/avatar.vue'),
    PuDate: () => import('@/components/base/date/date.vue'),
  },

  filters: {
    truncateUrl,
  },

  props: {
    /**
     * message
     */
    value: {
      type: Object as PropType<Message>,
      required: true,
    },
  },

  computed: {
    ...mapGetters(['currentUser']),
    hasPlugin() {
      return (p) => this.chat.plugins.includes(p)
    },
    isMine() {
      return this.value.postedBy.uuid === this.currentUser.uuid
    },
    activities() {
      return this.value.activities || []
    },
    attachments() {
      return this.value.attachments || []
    },
    rootClasses() {
      return {
        'is-mine': this.isMine,
      }
    },
  },

  methods: {
    getAvatar,
    getName,
    getIconProps,
  },
})
</script>

<style lang="scss"></style>
