<template>
  <div ref="scrollContainer" class="pu-thread pu-scrollable">
    <pu-list class="list-message">
      <pu-message
        v-for="(message, index) in messages"
        :key="message.uuid"
        :value="message"
        :data-index="index"
      />

      <slot name="pending" />
    </pu-list>
  </div>
</template>

<script>
import PuMessage from './message'

export default {
  name: 'pu-thread',

  components: {
    PuMessage,
  },

  props: {
    messages: {
      type: Array,
      default: () => [],
    },
  },

  mounted() {
    this.$refs.scrollContainer.addEventListener('wheel', this.reverseScroll)
  },

  beforeDestroy() {
    this.$refs.scrollContainer.removeEventListener('wheel', this.reverseScroll)
  },

  methods: {
    reverseScroll(e) {
      if (e.deltaY) {
        e.preventDefault()
        e.currentTarget.scrollTop -=
          parseFloat(
            getComputedStyle(e.currentTarget).getPropertyValue('font-size')
          ) *
          (e.deltaY < 0 ? -1 : 1) *
          2
      }
    },
  },
}
</script>

<style lang="scss"></style>
