<template>
  <div class="pu-view-content-organization">
    <pu-organization-solicit
      v-if="organization"
      :organization="organization"
      @accept="solicitAccept"
      @reject="
        $router.push({
          name: 'dashboard',
        })
      "
      @request="
        getOrganization({
          slug: $route.params.organizationSlug,
        })
      "
    />

    <div class="pu-organization-involvement">
      <template v-if="$can('organization_user_activate_involvement')">
        <pu-action
          :action="activateInvolvement"
          @success="
            getOrganization({
              slug: $route.params.organizationSlug,
            })
          "
        >
          <template
            v-slot:default="{
              trigger,
            }"
          >
            <div>
              <pu-button
                small
                color="green"
                @click="trigger(organization.uuid)">
                {{ $t('button.enable-involvement') }}
              </pu-button>
              <span>
                {{ $t('button-suffix.enable-involvement') }}
              </span>
            </div>
          </template>
        </pu-action>
      </template>
      <template v-else-if="$can('organization_user_deactivate_involvement')">
        <pu-action
          :action="deactivateInvolvement"
          @success="
            getOrganization({
              slug: $route.params.organizationSlug,
            })
          "
        >
          <template
            v-slot:default="{
              trigger,
            }"
          >
            <div>
              <pu-button
                small
                color="red"
                @click="trigger(organization.uuid)">
                {{ $t('button.disable-involvement') }}
              </pu-button>
              <span>
                {{ $t('button-suffix.disable-involvement') }}
              </span>
            </div>
          </template>
        </pu-action>
      </template>
    </div>

    <pu-organization-members
      v-if="members"
      :organization="organization"
      :members="members"
    />

    <pu-organization-partups v-if="partups" :partups="partups" />
  </div>
</template>

<script lang="ts">
import PuOrganizationSolicit from './solicit/solicit.vue'
import PuOrganizationMembers from './members/members.vue'
import PuOrganizationPartups from './partups/partups.vue'

import hasRole from '@/lib/model/user/has-role'
import { ORGANIZATION_USER_ROLES } from '@/types'
import ability from '@/mixins/ability'
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import FEATURES from '@/lib/features'
import parseBrandingFromLocation from '@/util/url/parse-branding-from-location'
import switchBrandingLocation from '@/lib/branding/switch-branding-location'

import activateInvolvement from '@/data/user/activate-involvement'
import deactivateInvolvement from '@/data/user/deactivate-involvement'

export default Vue.extend({
  name: 'pu-view-organization',

  components: {
    PuOrganizationMembers,
    PuOrganizationPartups,
    PuOrganizationSolicit,
  },

  mixins: [
    ability({
      attribute: 'organization',
    }),
  ],

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.initialize({
        slug: to.params.organizationSlug,
        solicit: to.query.solicit,
      })
    })
  },

  beforeRouteUpdate(to, from, next) {
    this.initialize({
      slug: to.params.organizationSlug,
      solicit: to.query.solicit,
    })
    next()
  },

  data() {
    return {
      ORGANIZATION_USER_ROLES,
    }
  },

  beforeDestroy() {
    this.reset()
  },

  computed: {
    ...mapGetters(['currentUser']),
    ...mapGetters('user', ['userOrganizations']),
    ...mapGetters('views/organization', ['organization', 'members', 'partups']),
  },

  methods: {
    ...mapActions(['setCurrentOrganization']),
    ...mapActions('views/organization', [
      'initialize',
      'reset',
      'getOrganization',
    ]),
    ...mapActions('user', ['getUser']),
    hasRole,
    activateInvolvement,
    deactivateInvolvement,
    solicitAccept(solicit) {
      if (FEATURES.domainBranding) {
        const domain = parseBrandingFromLocation()

        if (domain !== this.organization.slug) {
          if (this.userOrganizations.length < 1) {
            switchBrandingLocation(this.organization.slug)
          }
        } else if (!this.currentOrganization) {
          this.setCurrentOrganization(this.organization)
          this.getUser()
          this.initialize({
            slug: this.$route.params.organizationSlug,
          })
        }
      } else {
        if (!this.currentOrganization) {
          this.setCurrentOrganization(this.organization)
        }

        this.getUser()
        this.initialize({
          slug: this.$route.params.organizationSlug,
        })
      }
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "button": {
      "change-role-to-member": "Maak user member",
      "change-role-to-admin": "Maak user admin",
      "disable-involvement": "Mijzelf verbergen",
      "enable-involvement": "Mijzelf vindbaar maken"
    },
    "button-suffix": {
      "disable-involvement": "voor activiteiten in deze organisatie",
      "enable-involvement": "voor activiteiten in deze organisatie"
    }
  }
}
</i18n>

<style lang="scss">
@import 'content.scss';
</style>
