.pu-view-content-organization {
  padding-top: 1rem;

  > header {
    @include goingLarge(720) {
      padding: 4vh 5vw 0;
    }
  }

  > section {
    margin: 0 1rem;

    @include goingLarge(960) {
      margin: 0 1.334rem;
    }
  }

  .pu-organization-involvement {
    padding: 2rem 1.334rem 1rem;
  }

  section {
    h2 {
      margin: 1.5rem 0 0;
    }

    > .pu-grid-list,
    > .pu-list-card-partup {
      @include gridList(100%);
      grid-row-gap: 1rem;
      padding: 1rem 0 2rem;

      .pu-card {
        flex: 1 1 auto;
      }

      @include goingLarge(700) {
        @include gridList(48.5%);
        grid-column-gap: 3%;
        grid-row-gap: 1.334rem;
      }

      @include goingLarge(960) {
        @include gridList(31%);
        grid-column-gap: 3.5%;
        grid-row-gap: 2rem;
      }

      @include goingLarge(1120) {
        @include gridList(23.65%);
        grid-column-gap: 1.8%;
        grid-row-gap: 2rem;
      }
    }
  }
}
