.pu-partup-activities {
  padding: 0 1rem;

  @include goingLarge(large) {
//     padding-right: 3rem;
    padding-bottom: 3rem;
  }

  .pu-list-activity-status {
    margin: 1rem 0;
    padding: 0 1.334rem 0 2.334rem;
  }

  > div {
    width: 100%;

    > h2 {
      margin-bottom: 1rem;
      font-size: 1rem;
      margin: .2rem 0rem .4rem;
    }

    .pu-filter-activities {
      margin-bottom: 1rem;
    }

    .pu-list {
      .pu-list-category-header {
        font-size: 1rem;
        font-weight: 600;
        margin: 0.4rem 0 0;
      }
    }

    .pu-list-item {
      &-activity {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    .show-all-activities {
      padding: 10px 0;
    }

    .pu-button-new-activity {
      margin-left: -0.9rem;

//       margin: 0px 0 0 -3.5rem;

      .pu-icon {
        border: 2px solid transparent;
        border-radius: 50%;
      }

      &:hover {
        .pu-icon {
          border-color: $black;
        }
      }
    }
  }
}
