<template>
  <div class="pu-partup-activities">
    <pu-partup-solicit
      @accept="solicitAccepted"
      @reject="solicitRejected"
      @request="solicitRequested"
    />

    <div>
      <h2>{{ $t('heading') }}</h2>
      <div class="pu-list-activities-header">
        <pu-activities-filter
          v-model="isFilterActive"
          @update="getActivities({ query: $event })"
        />
      </div>

      <pu-list-activity-status
        :filtered="isFiltered"
        :items="activities"
        :can-edit="$can('activity_edit')"
        @click="gotoActivityDetail"
        @status="
          updateActivity({
            fields: {
              status: $event.status,
            },
            uuid: $event.uuid,
          })
        "
      />

      <pu-list-item-activity-create
        v-if="partup && isCreating"
        @submit="createActivity"
        @close="isCreating = false"
      />

      <pu-button
        v-if="$can('partup_activity_create')"
        flat
        class="pu-button-new-activity"
        @click="isCreating = true"
      >
        <pu-icon name="add_small" size="24" />
        <span>{{ $t('button.activity-create') }}</span>
      </pu-button>
    </div>

    <router-view :key="$route.params.activityUuid"></router-view>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import PuActivitiesFilter from './filter/filter.vue'
import PuPartupSolicit from './solicit/solicit.vue'
import PuListActivityStatus from '@/components/implementations/list/activity/list-activity-status.vue'
import PuListItemActivityCreate from '@/components/implementations/list/activity/list-item-activity-create.vue'

export default Vue.extend({
  name: 'pu-view-partup-activities',

  components: {
    PuActivitiesFilter,
    PuListActivityStatus,
    PuListItemActivityCreate,
    PuPartupSolicit,
  },

  data(vm) {
    return {
      isCreating: false,
      isFilterActive: false,
    }
  },

  computed: {
    ...mapGetters('views/partup', ['partup', 'partupUuid']),
    ...mapGetters('views/partup/activities', ['activities', 'isFiltered']),
  },

  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$store.dispatch('layout/setSectionExpanded', {
        expanded: true,
        section: 'aside',
        preference: false,
      })
    })
  },

  watch: {
    partupUuid: {
      handler(newVal) {
        if (newVal) {
          this.getActivities()
        }
      },
      immediate: true,
    },
  },

  methods: {
    ...mapActions(['getEnvironment']),
    ...mapActions('solicit', ['getSolicitsForPartup']),
    ...mapActions('views/partup', ['getPartup']),
    ...mapActions('views/partup/activities', [
      'createActivity',
      'getActivities',
      'updateActivity',
    ]),
    gotoActivityDetail(this: any, activity) {
      this.$router.push({
        name: 'partup-activity',
        params: {
          activityUuid: activity.uuid,
          partupSlug: this.partup.slug,
        },
      })
    },
    solicitAccepted(this: any) {
      this.getPartup(this.partup)
      this.getSolicitsForPartup(this.partup.uuid)
    },
    solicitRejected(this: any) {
      this.getPartup(this.partup)
      this.getSolicitsForPartup(this.partup.uuid)
    },
    solicitRequested(this: any) {
      this.getPartup(this.partup)
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "heading": "Activiteiten in deze partup",
    "button": {
      "activity-create": "Nieuwe activiteit aanmaken"
    }
  }
}
</i18n>

<style lang="scss">
@import 'activities.scss';
</style>
