.pu-view-header-create-work {
  > div {
    padding: 0.5rem 1rem;

/*
    @include goingLarge(medium) {
      padding: 0.667rem 1.334rem;
    }
*/
    @include goingLarge(large) {
      padding: 1rem 2.334rem;
    }
  }

  h1 {
    color: $white; // TODO: maybe this should be in a more general sass file.
  }

  p.subheading {
    color: $white;
    margin-top: 0.2rem;
    font-weight: 600;
    @include goingLarge(medium) {
      font-size: 1.25rem;
    }
    @include goingLarge(large) {
      margin-top: 0.5rem;
    }
    @include goingSmall(small) {
      display: none;
    }
  }
}
