<template>
  <header class="pu-view-header-create-work">
    <div>
      <h1>{{ $t('heading') }}</h1>
      <p class="subheading">{{ $t('subheading') }}</p>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-header-create-work',
})
</script>

<i18n src="./locales/nl-header-create-work.json"></i18n>

<style lang="scss">
@import 'header-create-work';
</style>
