.pu-board {
  display: flex;
  overflow-x: auto;
  // border-left: 4px solid $white;

  scroll-snap-points-x: repeat(100vw);
  scroll-snap-destination: 0 0;
  scroll-snap-type-x: mandatory;
  scroll-snap-type: mandatory;

  .pu-lane {
    border-right: 4px solid $white;
    border-bottom: 4px solid $white;
    flex: 1 0 auto;
    width: 80vw;
    scroll-snap-align: start end;

    &:first-of-type {
      border-left: 4px solid $white;
    }
  }

  @include goingLarge(600) {
    scroll-snap-points-x: repeat(50vw);

    .pu-lane {
      width: 45vw;
      margin: 0;
    }
  }

  @include goingLarge(960) {
    scroll-snap-type: none;
    scroll-snap-points-x: repeat(33vw);

    .pu-lane {
      width: 25%;
    }
  }

  @include goingLarge(1200) {
    .pu-lane {
      width: 25%;
      max-width: 500px; // for apple's new 6k monitor :')
    }
  }
}
