<template>
  <draggable class="pu-board" v-bind="attributes">
    <slot />
  </draggable>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'pu-board',

  components: {
    draggable,
  },

  computed: {
    attributes() {
      return Object.assign(
        {},
        {
          chosenClass: 'pu-chosen',
          draggable: false,
          ghostClass: 'pu-ghost',
        },
        this.$attrs,
        {
          group: {
            name: 'board',
            pull: false,
            put: false,
          },
        }
      )
    },
  },
}
</script>

<style lang="scss">
@import 'board.scss';
</style>
