<template>
  <li class="pu-card pu-card-activity">
    <div class="activity-details">
      <h4>
        <pu-link
          :to="{
            name: 'partup-activity',
            params: {
              activityUuid: value.uuid,
            },
            query: {
              from: 'board',
            },
          }"
          color="accent"
        >
          {{ value.name }}
        </pu-link>
      </h4>

      <pu-date :date="value.end_date" />
    </div>

    <div v-if="hasContributors(value)" class="activity-contributors">
      <pu-list-avatar
        :users="value.contributors"
        :limit="5"
        :avatar-size="40"
      />
    </div>
  </li>
</template>

<script>
import PuListAvatar from '@/components/implementations/list/avatar/list-avatar.vue'
import PuDate from '@/components/base/date/date.vue'
import hasContributors from '@/lib/model/activity/has-contributors'
import get from 'lodash/get'

export default {
  name: 'pu-card-activity',

  components: {
    PuListAvatar,
    PuDate,
  },

  props: {
    value: {
      type: Object,
      required: true,
    },
  },

  methods: {
    hasContributors,
  },
}
</script>

<style lang="scss">
@import 'card.scss';
</style>
