.pu-card-activity {
  background-color: $white;
  border-radius: 5px;
  border: 2px solid transparent;

  > div {
    padding: 0.334rem 0.667rem;

    &.activity-contributors {
      border-top: 2px dotted $gray-0-5;
      padding: 0.5rem 0.667rem 0.334rem;
    }
  }

  cursor: move;
  margin: .667rem;

  &.pu-chosen {
    opacity: .6;
  }

  &.pu-ghost {
    border: 2px dashed $gray-2;

    * {
      opacity: 0;
    }
  }

  h4 {
    font-weight: 600;
    line-height: 1.334rem;
    padding: 0.2rem 0;

    .pu-link {
      @include truncateMultiline(40px, $line-height: 1.334rem);
      display: block;
      word-wrap: break-word;
      white-space: unset;
      
    }
  }

  time {
    color: $secondary;
  }
}
