.pu-lane {
  background-color: $gray-0-5;

  &-header {
    position: relative;
    padding: 1rem 1.334rem 0;
    background-color: $white;
    height: 3rem;

    h3 {
      font-size: 1.375rem;
      font-weight: 600;

      em {
        font-style: normal;
        color: $orange;
      }
    }

    &:before {
      @include psuedo;
      width: 4px;
      height: 1.667rem;
      left: -4px;
      top: 0.667rem;
      border-radius: 2px;
      background-color: $gray-0-5;
    }
  }

  > ul {
    height: calc(100% - 3rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
  }

  &:first-of-type {
    .pu-lane-header {
      &:before {
        display: none;
      }
    }
  }
}

@include goingLarge(medium) {
  .pu-lane {
    &-header {
      height: 4rem;
      padding-top: 1.334rem;

      &:before {
        height: 2.667rem;
      }
    }
    > ul {
      height: calc(100% - 4rem);
      padding-right: 0;
    }
  }
}


.t-flip-list-move {
  transition: transform .5s;
}
