<template>
  <div class="pu-lane">
    <slot name="header" />

    <draggable
      v-model="internalValue"
      v-bind="attributes"
      :data-lane="status"
      v-on="$listeners"
    >
      <slot />
    </draggable>

    <slot name="footer" />
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import lazyModel from '@/mixins/lazy-model'

export default {
  name: 'pu-lane',

  components: {
    draggable,
  },

  mixins: [lazyModel],

  inheritAttrs: false,

  props: {
    status: {
      type: String,
      required: true,
    },
  },

  computed: {
    attributes() {
      return Object.assign(
        {},
        {
          draggable: '.pu-card-activity',
          dragClass: 'pu-drag',
          chosenClass: 'pu-chosen',
          ghostClass: 'pu-ghost',
        },
        this.$attrs,
        {
          group: {
            name: 'lane',
            pull: true,
            put: true,
          },
          tag: 'ul',
          delay: 1000,
          delayOnTouchOnly: true,
          touchStartThreshold: 5,
          animation: 200,
        }
      )
    },
  },
}
</script>

<style lang="scss">
@import 'lane.scss';
</style>
