<template>
  <li :class="rootClasses" @click="$emit('click', activity)">
    <div class="border">
      <pu-picker-activity-status
        :value="activity.status"
        :items="activityPickerStatusItems"
        :disabled="!canEdit"
        @change="
          $emit('status', {
            ...activity,
            status: noneToNull($event),
          })
        "
      />
      <h3 class="title">
        {{ activity.name }}
      </h3>
      <span v-if="showPartupName" class="partup-name">
        {{ partupName }}
      </span>
      <pu-date :date="activity.end_date" />
    </div>
  </li>
</template>

<script>
import get from 'lodash/get'
import reduce from 'lodash/reduce'
import PuDate from '@/components/base/date/date.vue'
import PuPickerActivityStatus from '@/components/base/picker/activity-status/picker-activity-status'
import hasStatus from '@/lib/model/activity/has-status'
import { ACTIVITY_STATUS } from '@/types'
import { activityPickerStatusItems } from '@/util'
import { noneToNull } from '@/util/activity'

export default {
  name: 'pu-list-item-activity',

  components: {
    PuDate,
    PuPickerActivityStatus,
  },

  props: {
    activity: {
      type: Object,
      required: true,
    },
    showPartupName: {
      type: Boolean,
      default: false,
    },
    canEdit: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      activityPickerStatusItems,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-list-item': true,
        'pu-list-item-activity': true,
      }
    },
    hasStatus() {
      return (status) => {
        return hasStatus(this.activity, status)
      }
    },
    partupName() {
      return get(this.activity, 'partup_summary.name', null)
    },
  },

  methods: {
    noneToNull,
  },
}
</script>

<style lang="scss">
@import 'list-item-activity.scss';
</style>
