.pu-list-item-activity {
  cursor: pointer;

  .border {
    min-height: 2.6667rem;
    position: relative;
    margin: -2px 0 0;
    border-top: 2px solid $gray-0;
    border-bottom: 2px solid $gray-0;
    padding: 0.5rem 4rem 0.5rem 0;

    @include goingLarge(medium) {
      padding-right: 0;
      display: flex;
    }
  }
  .pu-picker-activity-status {
    position: absolute;
    top: 2px;
    left: -36px;

    @include goingLarge(large) {
      top: 4px;
    }
  }

  &:hover {
    .border {
      margin-right: -1.334rem;
      margin-left: -2.667rem;
      padding-right: 5.2rem;
      padding-left: 2.534rem;
      border: 2px solid $white;
      border-radius: 1.334rem;
      z-index: 10;

      @include goingLarge(medium) {
        padding-right: 1.2rem;
      }
    }

    .pu-picker-activity-status {
      left: 2px;
    }
  }

  // Base situation:
  // - 2px border under content (title / partup name / date
  // - small screen displays partup name under activity title
  // - current activity status visible left next to start of activity title



  // Hover state on desktops:
  // - 2px border with 1.334 border radius around content including status icon

  // Note:
  // - all content should stay in place during hover/status change





  .title {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .partup-name {
    display: block;
    margin-top: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    color: $gray-4;
  }

  .pu-date {
    display: block;
    position: absolute;
    top: 0.7rem;
    right: 0;
    font-weight: 500;
    font-size: .8rem;
    color: $orange;
    font-weight: 600;
  }
  &:hover {
    .pu-date {
      right: 1.2rem;
    }
  }

  @include goingLarge(medium) {
    .title {
      flex: 1 1 auto;
    }

    .partup-name {
      flex: 0 0 40%;
      margin-top: 0;
    }

    .pu-date {
      flex: 0 0 6rem;
      position: relative;
      top: .2rem;
      right: auto;
      text-align: right;
    }
    &:hover {
      .pu-date {
        right: auto;
      }
    }
  }

  &--ghost {
    cursor: initial;
    background: transparent;
    border: 2px dashed white;
    box-shadow: none;

    .title {
      font-weight: 400;
      color: $gray-3;
    }
  }

  &--create {
    cursor: initial;
  }

  &--status-done {
    .title {
      color: $gray-4;
      text-decoration: line-through;
    }
  }
}


// Colour schemes for activity lists on dashboard and partup overview.
.pu-partup-activities {
  .pu-list-item-activity {
    &:hover {
      .border {
        border-color: $gray-0-5;
      }
    }
  }
}
