.pu-list-item-activity-create {
  margin: 0 -1.334rem 0 0;

  .loader-small {
    display: none;
  }

  .pu-input-slot {
    &-prepend-inner {
      left: 9px;
      position: absolute;

      + input {
        padding-left: 40px;
      }
    }

    &-append-inner {
      position: absolute;
      right: 6px;
    }
  }

  @include goingSmall(768) {
    .loader-small {
      display: block;
    }

    .pu-input-slot-append-inner {
      .pu-button {
        display: none;
      }
    }
  }
}
