<template>
  <li :class="rootClasses">
    <pu-form @submit="$emit('submit', fields)">
      <pu-form-control v-model="fields.name">
        <pu-textfield
          :placeholder="placeholder('name')"
          @keydown.escape="$emit('close', $event)"
        >
          <template v-slot:prepend-inner>
            <pu-icon
              name="close"
              color="accent"
              :size="22"
              @click="$emit('close', $event)"
            />
          </template>

          <template v-slot:append-inner>
            <pu-progress-circular
              v-if="actionPending('create')"
              color="secondary"
              indeterminate
              :width="3"
              :size="24"
              class="loader-small"
            />

            <pu-button
              type="submit"
              small
              color="primary"
              :loading="actionPending('create')"
            >
              {{ $t('submit') }}
            </pu-button>
          </template>
        </pu-textfield>
      </pu-form-control>
    </pu-form>
  </li>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-list-item-activity-create',

  data() {
    return {
      fields: {},
    }
  },

  watch: {
    isSuccess: {
      handler(newVal) {
        if (newVal) {
          this.fields = {}
        }
      },
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-list-item': true,
        'pu-list-item-activity': true,
        'pu-list-item-activity-create': true,
      }
    },
    ...mapGetters('views/partup/activities', [
      'actionPending',
      'actionSuccess',
    ]),
    isSuccess() {
      return this.actionSuccess('create')
    },
    placeholder() {
      return (field) => {
        return this.$t(`placeholder.${field}`)
      }
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "placeholder": {
      "name": "Wat moet er gedaan worden?"
    },
    "submit": "Aanmaken"
  }
}
</i18n>

<style lang="scss">
@import 'list-item-activity-create.scss';
</style>
