<template>
  <pu-list class="pu-list-activity-status">
    <pu-list-item-activity
      v-for="activity in sortedItems.notDone"
      :key="activity.uuid"
      v-bind="getItemProps(activity)"
      :activity="activity"
      :can-edit="canEdit"
      @click="$emit('click', $event)"
      @status="emitStatus"
    />

    <li v-if="displayDone" key="seperator1" class="sep-1">
      <h3>Al afgerond</h3>
    </li>

    <pu-list-item-activity
      v-for="activity in sortedItems.shortDone"
      :key="activity.uuid"
      v-bind="getItemProps(activity)"
      :activity="activity"
      :can-edit="canEdit"
      @click="$emit('click', $event)"
      @status="emitStatus"
    />

    <pu-list-item-activity
      v-for="activity in sortedItems.longDone"
      v-show="isLongDoneVisible"
      :key="activity.uuid"
      v-bind="getItemProps(activity)"
      :activity="activity"
      :can-edit="canEdit"
      @click="$emit('click', $event)"
      @status="emitStatus"
    />

    <li v-if="hasLongDone" key="seperator2" class="sep-2">
      <pu-button
        color="accent"
        small
        @click="isLongDoneVisible = !isLongDoneVisible"
      >
        <template v-if="isLongDoneVisible">Verbergen</template>
        <template v-else>Alle afgeronde activiteiten</template>
      </pu-button>
    </li>
  </pu-list>
</template>

<script>
import { ACTIVITY_STATUS } from '@/types'
import isFunction from 'lodash/isFunction'
import reduce from 'lodash/reduce'
import hasStatus from '@/lib/model/activity/has-status'

import PuListItemActivity from './list-item-activity'

export default {
  name: 'pu-list-activity-status',

  components: {
    PuListItemActivity,
  },

  inheritAttrs: false,

  props: {
    items: {
      type: Array,
      default: () => [],
    },
    itemProps: {
      type: [Object, Function],
      default: () => ({}),
    },
    filtered: {
      type: Boolean,
      default: false,
    },
    canEdit: {
      type: Boolean,
      default: false,
    },
  },

  data(vm) {
    return {
      isLongDoneVisible: null,
      sortedItems: vm.sortItems(),
      shortDoneUuids: [],
    }
  },

  computed: {
    hasDoneActivities() {
      return this.hasShortDone || this.hasLongDone
    },
    hasShortDone() {
      return this.sortedItems.shortDone.length > 0
    },
    hasLongDone() {
      return this.sortedItems.longDone.length > 0
    },
    displayDone() {
      return this.hasShortDone || this.isLongDoneVisible
    },
  },

  watch: {
    items: {
      handler(newVal) {
        this.sortedItems = this.sortItems(newVal)
      },
      deep: true,
      immediate: true,
    },
    filtered: {
      handler(newVal) {
        if (newVal && !this.isLongDoneVisible) {
          this.isLongDoneVisible = true
        }
      },
      immediate: true,
    },
  },

  methods: {
    sortItems(items) {
      const sorted = {
        notDone: [],
        shortDone: [],
        longDone: [],
      }

      if (!items || !Array.isArray(items)) {
        return sorted
      }

      return reduce(
        items,
        (total, item) => {
          if (!hasStatus(item, ACTIVITY_STATUS.done)) {
            total.notDone.push(item)
          } else if (this.shortDoneUuids.includes(item.uuid)) {
            total.shortDone.push(item)
          } else {
            total.longDone.push(item)
          }

          return total
        },
        sorted
      )
    },
    getItemProps(activity) {
      return isFunction(this.itemProps)
        ? this.itemProps(activity)
        : this.itemProps
    },
    emitStatus(activity) {
      this.updateLocalStatus(activity)
      this.$emit('status', activity)
    },
    updateLocalStatus(activity) {
      const shortDoneIndex = this.shortDoneUuids.indexOf(activity.uuid)

      if (activity.status === ACTIVITY_STATUS.done) {
        if (shortDoneIndex < 0) {
          this.shortDoneUuids.push(activity.uuid)
        }
      } else if (shortDoneIndex > -1) {
        this.shortDoneUuids.splice(shortDoneIndex, 1)
      }
    },
  },
}
</script>

<style lang="scss">
@import 'list-activity-status.scss';
</style>
