<template>
  <component
    :is="tag"
    :class="computedClasses"
    v-bind="computedAttributes"
    v-on="$listeners"
  >
    <slot />
  </component>
</template>

<script>
import colorable from '@/mixins/colorable'
/**
 * label component commonly used with form inputs
 */
export default {
  name: 'pu-label',

  mixins: [colorable],

  props: {
    /**
     * The id for which this label is a label..
     * @prop for
     * @type {String} id of the input
     * @default void 0
     */
    for: {
      type: String,
      default: void 0,
    },
    /**
     * specify a custom html element, e.g. 'h1'
     * @prop tag
     * @type {String} html tag name
     * @default label
     */
    tag: {
      type: String,
      default: 'label',
    },
  },

  computed: {
    computedClasses() {
      return this.setTextColor({
        'pu-label': true,
      })
    },
    computedAttributes() {
      return {
        for: this.for,
        'aria-disabled': !this.for,
        role: this.tag !== 'label' && 'label',
      }
    },
  },
}
</script>

<style lang="scss">
@import 'label.scss';
</style>
