<template>
  <div class="pu-modal pu-modal-user-profile">
    <h1>{{ $t('header') }}</h1>
    <pu-form-user-profile @success="onSuccess" />
  </div>
</template>

<script>
import PuModal from '@/components/base/modal/modal.js'
import PuFormUserProfile from '@/components/implementations/form/user-profile/form-user-profile.vue'

export default {
  name: 'pu-modal-user-profile',

  components: {
    PuFormUserProfile,
  },

  extends: PuModal,

  created() {
    this.$emit('config', { persistent: true })
  },

  methods: {
    onSuccess() {
      this.success()
    },
  },
}
</script>

<i18n>
{
  "nl": {
    "header": "Leuk dat je er bent!"
  }
}
</i18n>

<style lang="scss">
@import 'modal-user-profile.scss';
</style>
