.pu-modal-user-profile {
  overflow-y: auto;
  flex: 1 1 auto;

  h1, h1 + p {
    margin: 0 2.6667rem 0.667rem;
  }
  h1 {
    padding-top: 1.334rem;
  }

/*
  .pu-form-control {
    .error-controls {
      display: none;
    }
  }
*/
}
