<template>
  <div class="pu-view-content-user-settings">
    <pu-user-setting-organization />
    <pu-user-support />
    <pu-user-setting-delete />
  </div>
</template>

<script lang="ts">
import PuUserSupport from './sections/support/support.vue'
import PuUserSettingDelete from './sections/delete/delete.vue'
import PuUserSettingOrganization from './sections/organization/organization.vue'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-user-settings',

  components: {
    PuUserSupport,
    PuUserSettingDelete,
    PuUserSettingOrganization,
  },
})
</script>

<style lang="scss">
@import 'content.scss';
</style>
