.pu-view-content-user-settings {
  height: 100%;

  > section[class^="pu-user"] {
    padding: 0 2rem;
    margin: 2rem 0 3rem;

    h3 {
    }

    p {
      line-height: 1.3;
      margin: 0.667rem 0;
    }

    > .pu-button {
      margin-top: 1rem;
    }

    &:first-of-type {
      padding-top: 2rem;
      margin-top: 0;
    }
  }
}
