<template>
  <div class="pu-view-content-search">
    <section>
      <h2>{{ $tc('result.partups', partupCount, { count: partupCount }) }}</h2>
      <pu-list>
        <li v-for="partup in partups" :key="partup.uuid">
          <pu-link
            :to="{
              name: 'partup',
              params: {
                partupSlug: partup.slug,
              },
            }"
            >{{ partup.name }}</pu-link
          >
        </li>
      </pu-list>
    </section>

    <section>
      <h2>
        {{ $tc('result.activities', activityCount, { count: activityCount }) }}
      </h2>
      <ul>
        <li v-for="activity in activities" :key="activity.uuid">
          <pu-link
            :to="{
              name: 'partup-activity',
              params: {
                activityUuid: activity.uuid,
                partupSlug: activity.partup_summary.slug,
              },
            }"
            >{{ activity.name }}</pu-link
          >
        </li>
      </ul>
    </section>

    <section>
      <h2>{{ $tc('result.users', userCount, { count: userCount }) }}</h2>
      <pu-list>
        <li v-for="user in users" :key="user.uuid">
          <pu-link
            :to="{
              name: 'user-profile',
              params: {
                userSlug: user.slug,
              },
            }"
            >{{ user.name }}</pu-link
          >
        </li>
      </pu-list>
    </section>
  </div>
</template>

<script lang="ts">
import get from 'lodash/get'
import Vue from 'vue'
import { mapActions, mapState, mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-view-content-search',

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      vm.executeSearch({ query: get(to, 'query.q') })
    })
  },

  beforeRouteUpdate(to, from, next) {
    this.executeSearch({ query: get(to, 'query.q') })
    next()
  },

  beforeRouteLeave(to, from, next) {
    next()
    this.$nextTick(() => {
      this.$store.dispatch('setSearchToolbarActive', false)
    })
  },

  computed: {
    ...mapState('views/search', ['query']),
    ...mapGetters('views/search', [
      'activities',
      'activityCount',
      'partups',
      'partupCount',
      'users',
      'userCount',
    ]),
  },

  methods: {
    ...mapActions('views/search', ['executeSearch']),
  },
})
</script>

<i18n>
{
  "nl": {
    "result": {
      "activities": "Niets in activiteiten | 1 in activiteiten | {count} in activiteiten",
      "partups": "Niets in partups | 1 in partups | {count} in partups",
      "users": "Niets in leden | 1 in leden | {count} in leden"
    }
  }
}
</i18n>

<style lang="scss">
@import 'content.scss';
</style>
