.pu-view-content-search {
  padding: 0 1.334rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > section {
    > h2 {
      margin-bottom: .667rem;
    }

    ul {
      border-bottom: 1px solid $gray-1;
      margin-bottom: 2rem;
    }

    li {
      border-top: 1px solid $gray-1;
    }

    span {
      display: block;
      padding: 0.667rem 0;
    }

    a {
      display: block;
      padding: 0.667rem 0;
      color: $blue-dark !important;

      &:hover,
      &:focus {
        background-color: $gray-0;
        text-decoration: none;
      }
    }

    @include goingLarge(large) {
      width: 30%;
      padding: 2rem 0;
    }
  }

}
