<template>
  <div class="pu-navigation-user">
    <template v-if="currentUser">
      <pu-avatar
        :src="getAvatar(currentUser, 'small')"
        :text="getName(currentUser)"
        @click="handleAvatarClick"
      >
        <template v-slot:badge>
          <pu-badge :value="unreadCount" color="error">
            <template v-slot:badge>
              {{ unreadCount }}
            </template>
          </pu-badge>
        </template>
      </pu-avatar>
    </template>

    <nav @click="isUserNavigationMobileExpanded = false">
      <pu-list class="list-actions-secondary">
        <li class="list-item-logout">
          <pu-button flat outline small color="blue" @click="logout">
            <span>{{ $t('button.logout') }}</span>
            <pu-icon name="arrow_right" />
          </pu-button>
        </li>
      </pu-list>

      <pu-list class="list-actions-primary">
        <li class="navigation">
          <pu-link
            :to="{
              name: 'dashboard',
            }"
          >
            <pu-icon name="home" />
            <span>{{ $t('button.dashboard') }}</span>
          </pu-link>
        </li>
        <li class="navigation">
          <pu-link
            :disabled="!getSlug(currentUser)"
            :to="{
              name: 'user-profile',
              params: {
                userSlug: getSlug(currentUser),
              },
            }"
          >
            <pu-icon name="person" />
            <span>{{ $t('button.profile') }}</span>
          </pu-link>
        </li>
        <li class="navigation">
          <pu-link
            flat
            :to="{
              name: 'user-settings',
            }"
          >
            <pu-icon name="settings" />
            <span>{{ $t('button.settings') }}</span>
          </pu-link>
        </li>
        <li v-if="$can('organization_super_list')" class="navigation">
          <pu-link
            flat
            :to="{
              name: 'admin',
            }"
          >
            <pu-icon name="warning" />
            <span>{{ $t('button.admin') }}</span>
          </pu-link>
        </li>
      </pu-list>

      <pu-user-partups />
    </nav>
  </div>
</template>

<script lang="ts">
import PuUserPartups from './user-partups.vue'
import findForSelf from '@/data/partup/find-for-self'
import getAvatar from '@/lib/model/user/get-avatar'
import getName from '@/lib/model/user/get-name'
import getSlug from '@/lib/model/user/get-slug'
import toggleable from '@/mixins/toggleable'
import { LAYOUT_DEFAULT_SECTIONS } from '@/types'
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default Vue.extend({
  name: 'pu-navigation-user',

  components: {
    PuUserPartups,
  },

  computed: {
    ...mapGetters(['currentUser']),
    ...mapGetters('chat', ['unreadCount']),
    isUserNavigationExpanded: {
      get() {
        return this.$store.getters['layout/isSectionExpanded'](
          LAYOUT_DEFAULT_SECTIONS.userNavigation
        )
      },
      set(v) {
        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          section: LAYOUT_DEFAULT_SECTIONS.userNavigation,
        })
      },
    },
    isUserNavigationMobileExpanded: {
      get() {
        return this.$store.getters['layout/isSectionExpanded'](
          LAYOUT_DEFAULT_SECTIONS.userNavigationMobile
        )
      },
      set(v) {
        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          section: LAYOUT_DEFAULT_SECTIONS.userNavigationMobile,
        })
      },
    },
  },

  methods: {
    ...mapActions('auth', ['logout']),
    getAvatar,
    getName,
    getSlug,
    handleAvatarClick() {
      this.isUserNavigationExpanded = !this.isUserNavigationExpanded
      this.isUserNavigationMobileExpanded = !this.isUserNavigationMobileExpanded
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "button": {
      "admin": "Super admin",
      "dashboard": "Dashboard",
      "logout": "Uitloggen",
      "profile": "Mijn profiel",
      "settings": "Mijn instellingen"
    }
  }
}
</i18n>

<style lang="scss">
@import 'user.scss';
</style>
