<template>
  <section class="section-user-partups">
    <h3>{{ $t('header') }}</h3>
    <pu-list>
      <li v-for="partup in userPartups" :key="partup.uuid" class="navigation">
        <pu-badge :value="unreadCountForPartup(partup.uuid) > 0" color="error">
          <template v-slot:badge>
            {{ unreadCountForPartup(partup.uuid) }}
          </template>
          <pu-link
            :to="{
              name: 'partup',
              params: {
                partupSlug: partup.slug,
              },
            }"
            >{{ partup.name }}</pu-link
          >
        </pu-badge>
      </li>
    </pu-list>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'

export default Vue.extend({
  name: 'pu-user-partups',

  watch: {
    currentUser: {
      handler(newVal) {
        if (newVal) {
          this.getUserPartups()
        } else {
          this.clearUserPartups()
        }
      },
    },
  },

  mounted() {
    this.getUserPartups()
  },

  computed: {
    ...mapGetters(['currentUser']),
    ...mapGetters('user', ['userPartups']),
    ...mapGetters('chat', ['unreadCountForPartup']),
  },

  methods: {
    ...mapActions('user', ['getUserPartups', 'clearUserPartups']),
  },
})
</script>

<i18n>
{
  "nl": {
    "header": "Mijn partups"
  }
}
</i18n>
