$border-width: 5px;

.pu-navigation-user {
//   background-color: $gray-0;
//   border-left: $border-width solid $white;

  li.navigation {
    border-bottom: 1px solid $white;

    .pu-link {
      color: $blue;
      display: flex;
      position: relative;

      .pu-icon {
        height: 20px;
        width: 20px;
        margin-right: 4px;
      }

      &:before {
        @include psuedo;
        background-color: $white;
        width: $border-width;
        left: -$border-width;
        top: 0;
        bottom: 0;
        transition: background-color .34s;
      }

      &:hover,
      &.route-active-exact {
        color: $text-color-dark;

        &:before {
          background-color: $blue;
        }
      }
    }
  }

  .list-actions {
    &-primary {
      font-weight: 600;

      .pu-link {
        align-items: center;
        padding: 11px;
        text-decoration: none;
      }
    }

    &-secondary {
      > li {
        padding: 10px 20px;
      }

      @include goingLarge('medium') {
        .list-item {
          &-logout {
            text-align: right;
          }
        }
      }
    }
  }

  .section-user-partups {
    > h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 1rem;
      padding: .4rem 20px;
    }

    li.navigation {
      .pu-link {
        min-height: 3.2rem;
        padding: .4rem 20px .4rem 12px;

        &.route-active + .badge {
          display: none;
        }
      }
    }
  }
}

@include goingSmall(large) {
  .section-user-partups {
    .badge {
      top: 0.8rem;
      right: 0.4rem;
    }
  }
}
@include goingLarge(large) {
  .section-user-partups {
    .badge {
      top: 0.8rem;
      right: -0.8rem;
    }
  }
}
