<template>
  <div id="app">
    <component :is="computedLayout">
      <template v-slot:header>
        <router-view name="header" />
      </template>

      <template v-slot:toolbar>
        <router-view name="toolbar" />
      </template>

      <router-view />

      <template v-slot:aside>
        <router-view name="aside" />
      </template>
    </component>

    <pu-portal-modal id="pu-dialog-portal" />
    <pu-portal-dialog id="pu-modal-portal" />
  </div>
</template>

<script>
import PuPortalModal from '@/components/modules/modal/portal/modal-portal.vue'
import PuPortalDialog from '@/components/modules/dialog/portal/dialog-portal.vue'
import ability from '@/mixins/ability'
import { mapGetters, mapActions } from 'vuex'
import mapContextBackend from '@/lib/model/chat/map-context-backend'

export default {
  name: 'pu-app',

  components: {
    PuPortalModal,
    PuPortalDialog,
  },

  mixins: [
    ability({
      attribute: 'currentUser',
    }),
  ],

  computed: {
    ...mapGetters(['currentUser', 'layout', 'branding']),
    computedLayout() {
      return this.layout ? `pu-layout-${this.layout}` : 'div'
    },
  },

  watch: {
    branding: {
      handler(newVal) {
        if (newVal && newVal.images.background) {
          document.body.style.setProperty(
            'background-image',
            `url(${newVal.images.background})`
          )
        }
      },
      immediate: true,
      deep: true,
    },
  },

  beforeCreate() {
    this.$socket.connect()
  },

  created() {
    this.$socket.subscribe(this._uid, 'new_message', this.receiveMessage)

    this.$socket.subscribe(
      this._uid,
      'update_environment',
      this.updateUserStateLocal
    )

    this.$socket.subscribe(
      this._uid,
      'add_bulletin',
      this.receiveBackendBulletins
    )

    this.$socket.subscribe(
      this._uid,
      'update_user_organizations',
      this.getEnvironment
    )

    this.$socket.subscribe(this._uid, 'solicit_pending', this.receiveSolicit)
    this.$socket.subscribe(this._uid, 'solicit_accept', this.removeSolicit)
    this.$socket.subscribe(this._uid, 'solicit_reject', this.removeSolicit)
    this.$socket.subscribe(this._uid, 'solicit_revoke', this.removeSolicit)
  },

  beforeDestroy() {
    this.$socket.dispose()
  },

  methods: {
    ...mapActions(['getEnvironment']),
    ...mapActions('chat', ['incrementUnreadCount']),
    ...mapActions('user', ['updateUserStateLocal']),
    ...mapActions('solicit', ['receiveSolicit', 'removeSolicit']),
    ...mapActions('bulletin', ['receiveBackendBulletins']),
    receiveMessage({ message }) {
      this.$store.dispatch('chat/receive', mapContextBackend(message))
    },
  },
}
</script>
