<template>
  <div v-show="isActive" :class="rootClasses" @keydown="onKeydown">
    <pu-modal-shell
      v-show="isActive"
      v-model="isActive"
      v-bind="shellConfig"
      :class="shellClasses"
      @cancel="close"
    >
      <component
        :is="component"
        v-if="isActive"
        v-bind="modal.props"
        @success="close($event, true)"
        @cancel="close"
        @config="configureShell"
      />
    </pu-modal-shell>
  </div>
</template>

<script>
import get from 'lodash/get'
import noop from 'lodash/noop'
import pick from 'lodash/pick'

import PuModalShell from '../shell/modal-shell'

export default {
  name: 'pu-portal-modal',

  components: {
    PuModalShell,
  },

  props: {
    activeClass: {
      type: String,
      default: 'is-active',
    },
    prefix: {
      type: String,
      default: 'pu-modal-',
    },
    importer: {
      type: Function,
      default: (name) => () =>
        import(
          /* webpackChunkName: "[request]" */ `@/components/implementations/modal/${name}/modal-${name}.vue`
        ),
    },
  },

  data() {
    return {
      modal: {},
      modals: [],
      isActive: null,
      isOpening: false,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-modal-portal': true,
        [this.activeClass]: this.isActive,
      }
    },
    shellClasses() {
      return {
        [this.activeClass]: this.isActive,
      }
    },
    shellConfig() {
      return this.modal.shellConfig
    },
    component() {
      return this.modal.name ? this.importer(this.modal.name) : null
    },
  },

  watch: {
    $route: {
      handler(newVal, oldVal) {
        if (newVal.name !== oldVal.name) {
          this.close()
        }
      },
    },
    modal: {
      handler(newVal, oldVal) {
        if (newVal.name === (oldVal && oldVal.name)) {
          return
        }

        this.isActive = Boolean(newVal.name)
        this.toggleOverflow(this.isActive)
      },
      deep: true,
      immediate: true,
    },
    modals: {
      handler(newVal, oldVal) {
        this.$set(this, 'modal', newVal[0] || {})
      },
    },
  },

  mounted() {
    this.$modal.on('open', this.open)
  },

  beforeDestroy() {
    this.dispose()
  },

  methods: {
    async open(name, { props = {}, shellConfig = {}, ...otherOptions } = {}) {
      if (this.modal.name === name || this.isOpening) {
        return
      }

      this.isOpening = true

      const modal = {
        name,
        props,
        shellConfig,
        listeners: pick(otherOptions, ['onOpen', 'onSuccess', 'onClose']),
      }

      if (this.isActive) {
        const current = this.modals.shift()
        get(current, 'listeners.onCancel', noop)()
      }

      this.modals.unshift(modal)

      this.$nextTick(() => {
        get(modal, 'listeners.onOpen', noop)()
      })

      setTimeout(() => {
        this.isOpening = false
      }, 0)
    },

    async close(payload, success = false) {
      if (this.isOpening) {
        return
      }

      const modal = this.modals.shift()
      if (!modal) {
        return
      }

      this.$nextTick(() => {
        get(
          modal,
          `listeners.${success ? 'onSuccess' : 'onCancel'}`,
          noop
        )(payload)
      })
    },

    configureShell(config, replace = false) {
      let newConfig

      if (!replace) {
        newConfig = {
          ...this.modal.shellConfig,
          ...config,
        }
      } else {
        newConfig = config
      }

      this.modal.shellConfig = newConfig
    },

    onKeydown(e) {
      switch (e.keyCode) {
        // escape
        case 27:
          this.close()
          break
        default:
          break
      }
    },

    dispose() {
      this.$modal.off('open', this.open)
    },

    // @TODO: sanity check
    // We need to set overflow to the body so cant use classes?
    toggleOverflow(val) {
      val
        ? document.body.style.setProperty('overflow-y', 'hidden')
        : document.body.style.removeProperty('overflow-y')
    },
  },
}
</script>

<style lang="scss">
@import 'modal-portal.scss';
</style>
