

.pu-modal-portal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  &.is-active {
    background-color: rgba(0,0,0, .3);
    transition: background-color .15s linear;
    z-index: 9999;
  }
}
