<template>
  <aside class="pu-view-aside-create-work">
    <div>
      <pu-button
        v-if="step === 1"
        :to="{
          name: 'create-work',
          query: {
            step: 2,
          },
        }"
        color="orange"
      >
        <span>{{ $t('step-1-button-next') }}</span>
        <pu-icon name="arrow_right" />
      </pu-button>

      <pu-button
        v-else-if="step === 2"
        color="orange"
        :loading="actionPending('createPartup')"
        @click="createPartup(partup)"
      >
        <span>{{ $t('step-2-button-next') }}</span>
        <pu-icon name="arrow_right" />
      </pu-button>
    </div>

    <div v-if="step === 1" class="pu-form-tip">
      <p>{{ $t('step-1-tip.p1') }}</p>
    </div>

    <div v-if="step === 2" class="pu-form-tip">
      <p>{{ $t('step-2-tip.p1') }}</p>
    </div>
  </aside>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState, mapActions, mapGetters } from 'vuex'
import getSlug from '@/lib/model/partup/get-slug'

export default Vue.extend({
  name: 'pu-view-aside-create-work',

  computed: {
    ...mapState('createWork', ['step', 'partup']),
    ...mapGetters('createWork', ['actionPending']),
  },

  methods: {
    ...mapActions('createWork', ['createPartup']),
    onPartupCreated(partup) {
      this.$router.push({
        name: 'partup',
        params: {
          partupSlug: getSlug(partup),
        },
      })
    },
  },
})
</script>

<i18n src="./aside-create-work.nl.json"></i18n>

<style lang="scss">
@import 'aside-create-work';
</style>
