.pu-view-aside-create-work {
  position: relative;
  height: auto;
  bottom: auto;
  padding: 0 0.334rem;
  background-color: $gray-0;

  @include goingLarge(medium) {
    background: linear-gradient(95deg, $gray-0-5 0%, $gray-0 15%, $gray-0 100%);
    padding: 3rem 2rem 0;

    .pu-view-form-contains-errors + & {
      padding-top: 7rem;
    }

  }
}

