<template>
  <header class="pu-view-header-dashboard">
    <div class="intro">
      <h1>{{ userWelcome }}</h1>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import getName from '@/lib/model/user/get-name'
import ability from '@/mixins/ability'
import sample from 'lodash/sample'

export default Vue.extend({
  name: 'pu-view-header-dashboard',

  mixins: [
    ability({
      attribute: 'currentOrganization',
    }),
  ],

  data() {
    return {
      welcome: sample([
        // '¡Hola%s!',
        // 'Hej%s',
        'Hallo%s',
        // 'Bonjour%s',
        // 'Buongiorno%s',
        // 'Konnichiwa%s',
      ]),
    }
  },

  watch: {
    isExpanded: {
      handler(newVal) {
        this.$store.commit('views/dashboard/isPartupsCollapsed', {
          value: !newVal,
        })
      },
      immediate: true,
    },
  },

  computed: {
    ...mapGetters(['currentUser', 'currentOrganization']),
    isExpanded: {
      get() {
        return this.$store.getters['layout/isSectionExpanded']('header')
      },
      set(v) {
        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          section: 'header',
          view: 'dashboard',
          preference: false,
        })
      },
    },
    userWelcome() {
      const user = this.currentUser
      const name = getName(user)
      return name ? this.welcome.replace(/%s/, ` ${name}`) : null
    },
  },
})
</script>

<style lang="scss">
@import 'header';
</style>
