<template>
  <pu-toolbar id="toolbar-app" class="pu-toolbar-app">
    <pu-link
      class="partup-logo"
      :to="{
        name: 'home',
      }"
    >
      <pu-svg file="logo_icon.svg" class="partup-logo-icon" />
      <pu-svg file="logo_name.svg" class="partup-logo-name" />
    </pu-link>

    <template v-if="brandedOrganizationUrl">
      <span class="organization-separator"><span /><span /></span>
      <pu-link
        class="organization-name"
        :to="{
          name: 'home',
        }"
      >
          {{ brandedOrganizationName }}
      </pu-link>
    </template>


<!--
    <template v-if="brandedOrganizationUrl">
      <span class="organization-separator"><span /><span /></span>
      <pu-link
        class="organization-name"
        :to="{
          name: 'organization',
          params: {
            organizationSlug: brandedOrganizationUrl,
          },
        }"
      >
        {{ brandedOrganizationName }}
      </pu-link>
    </template>
-->

    <div v-if="loggedIn" class="pu-button-group">
      <pu-button
        class="button-people"
        flat
        :to="{
          name: 'overview-user',
        }"
      >
        <pu-icon name="people" />
        <span>{{ $t('menu.button.people') }}</span>
      </pu-button>

      <pu-button
        class="button-work"
        flat
        :to="{
          name: 'find-awesome-work',
        }"
      >
        <pu-icon name="work" />
        <span>{{ $t('menu.button.work') }}</span>
      </pu-button>

      <pu-button class="button-search" flat @click="activateSearch">
        <pu-icon name="search" />
        <span>{{ $t('menu.button.search') }}</span>
      </pu-button>
    </div>
  </pu-toolbar>
</template>

<script lang="ts">
import getAvatar from '@/lib/model/user/get-avatar'
import getName from '@/lib/model/user/get-name'
import Vue from 'vue'
import { mapGetters, mapState } from 'vuex'
import FEATURES from '@/lib/features'
import parseBrandingFromLocation from '@/util/url/parse-branding-from-location'

export default Vue.extend({
  name: 'pu-toolbar-app',

  computed: {
    ...mapGetters(['currentOrganization', 'loggedIn', 'branding']),
    ...mapGetters('chat', ['unreadCount']),
    brandedOrganizationName() {
      if (FEATURES.domainBranding) {
        const domain = parseBrandingFromLocation()

        if (domain === 'app') {
          return null
        }

        return this.branding && this.branding.name
      } else {
        return this.currentOrganization && this.currentOrganization.name
      }
    },
    brandedOrganizationUrl() {
      if (FEATURES.domainBranding) {
        const domain = parseBrandingFromLocation()

        if (domain === 'app') {
          return null
        }

        return this.branding && this.branding.slug
      } else {
        return this.currentOrganization && this.currentOrganization.slug
      }
    },
  },

  methods: {
    getAvatar,
    getName,
    activateSearch() {
      this.$store.dispatch('setSearchToolbarActive', true)
    },
  },
})
</script>

<i18n src="./locales/nl-toolbar-app.json"></i18n>

<style lang="scss">
@import 'app.scss';
</style>
