// $toolbar-app-height: 60px;

/*
#toolbar-app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 2rem;
  width: 100vw;


  .partup-logo {
    &-icon,
    &-name {
      color: $white;
      height: 30px;
    }

    &-icon {
      display: none;
      width: 30px;
    }

    &-name {
      display: inline-block;
      width: 120px;
    }
  }

  .organization {
    &-seperator {
      margin: 0 .2rem 0 -.4rem;

      span {
        background-color: $blue-dark;
        display: block;
        height: 1px;
        transform: rotateZ(-45deg);
        width: 2.4rem;

        + span {
          transform: rotateZ(45deg);
        }
      }
    }

    &-name {
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .pu-button-group {
    font-weight: 600;
    font-size: 1rem;

    .pu-button {
      color: $white;
    }
  }
}
*/


/*  TOOLBAR NAVIGATION */

.pu-toolbar-app {
  color: $white;

  .partup-logo {
    &-icon,
    &-name {
      color: $white;
      height: 30px;
    }

    &-icon {
      display: none;
      width: 30px;
    }
    &-name {
      display: block;
      width: 120px;
    }
  }

  .organization-separator {
    margin: 0 0.2rem 0 -0.4rem;

    span {
      display: block;
      width: 2.4rem;
      height: 1px;
      background-color: $blue-dark;
      transform: rotateZ(-45deg);
    }
    span + span {
      transform: rotateZ(45deg);
    }
  }

  .organization-name {
    color: $white;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  .pu-button-group {
    .pu-button {
      color: inherit;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 6px;
      padding: 0 .4rem;

      .pu-icon {
        height: 22px;
        width: 22px;

        + span {
          margin-left: .4rem;
        }
      }

      &-menu,
      &-search {
        &:hover:after {
          display: none;
        }
      }

      &-menu {
        display: none;
      }
    }

    &:first-of-type {
      margin-left: auto;
    }
  }

  .pu-group {
    &-set {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;

      @include goingLarge(960) {
        justify-content: flex-end;
      }
    }

    &-auth-login {
      flex: 1 0 auto;

      .pu-button-login {
        float: right;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      flex-direction: row;

      .pu-button {
        display: flex;
        flex-direction: row;
        font-family: "proxima-nova", sans-serif;
        font-weight: 600;
        margin: 0px .24rem;
        padding: 0px .40rem;
        font-size: 1rem;
        color: $white !important;

        .pu-icon {
          height: 1.5rem;
          width: 1.5rem;
        }
        &-users {
          .pu-icon {
            width: 2.25rem;
          }
        }

        .pu-button-label {
          display: none;
        }

        &-dashboard,
        &-users,
        &-partups {
          display: none;
        }

        &-search,
        &-menu {
          &:after {
            display: none;
          }
        }

        @include goingLarge(medium) {
          margin: 0 6px;

          .pu-button-label {
            display: initial;
            margin-left: 6px;
          }

          &-dashboard,
          &-users,
          &-partups {
            display: flex;
          }
        }
      }

      .pu-route-exact-active {
        color: darken($accent, 22%);
      }

      &-people {
        width: 28px;
      }
    }

    &:hover,
    &.pu-route-exact-active {
      &:after {
        @include psuedo;
        background-color: $white;
        bottom: 0;
        height: 3px;
        left: 0;
        right: 0;
      }
    }
  }

  @include goingSmall(large) {
    padding: 0 1rem;

    .partup-logo {
      &-icon {
        display: block;
        margin-top: 1rem;
        margin-right: .4vw;
      }
      &-name {
        display: none;
      }
    }

    .organization-separator {
      display: none;
    }

    .organization-name {
      padding-top: 1rem;
      width: 8rem;
      font-size: 1rem;
    }

    .pu-button-group {
      margin-right: 4.5rem;
      .pu-button {
        margin: 0 .2rem;
        color: $white;
      }
    }
  }

  @include goingSmall(medium) {
    .pu-button {
      > span > span {
        display: none;
      }
    }
  }

  @include goingSmall(small) {
    .pu-button-group {
      margin-right: 4rem;
      .pu-button {
        margin: 0 .1rem 0 0;
      }
    }
  }

  @include goingLarge(large) {
//     background: linear-gradient(to bottom, rgba(85,190,200,0.5) 0, rgba(85,190,200,0) 20rem, transparent 100%);

    .partup-logo {
      padding-top: 1rem;
    }
    .organization-name {
      padding-top: 1.334rem;
    }
  }
}


// SITE-NAV USER
.pu-navigation-user {

  .pu-avatar {
    cursor: pointer;
  }

  .content {
    width: 16rem;
    right: -14px;
    top: 48px;
    z-index: 200;
    height: calc(100vh - 48px);
    background: linear-gradient(to right, $white 0, $white 8px, $gray-0 8px, $gray-0 100%);
    border-radius: 0;
    color: $black;

    &::before {
      @include psuedo;
      width: 1rem;
      height: 1rem;
      top: -0.5rem;
      right: 1.7rem;
      border-radius: 0.5rem;
      background-color: $gray-0;
    }
  }

  li {
    display: block;
    border-bottom: 1.5px solid $white;
  }

  a {
    display: block;
    padding: 1.5rem 20px 1.5rem 12px;
    border-left: 8px solid $white;
    border-radius: 0 !important;
    color: $blue;
    font-weight: 600;
    text-decoration: none;
    transition: border-color 0.35s;

    &:hover, &:focus {
      border-color: $blue;
      color: $black;
    }

    &.route-active-exact {
      border-color: $blue;
      color: $black;
      font-weight: 600;
      background-color: $white;
    }
  }

  .pu-section-logout {
    padding: 10px;
    text-align: right;

    .pu-button {
      background-color: $white;
      border: 1.5px solid $blue;
      color: $blue;
    }
  }

  .pu-user-menu {
    a.pu-button {
      padding: 11px;
    }
  }

  .pu-user-list-partups {
    ul {
      border-top: 1.5px solid $white;
    }

    li {
      border-bottom: 1.5px solid $white;
      display: block;
      position: relative;

      .pu-badge {
        position: relative;
      }

      .badge {
        width: 0.8rem;
        height: 0.8rem;
        right: 10px;
        top: 1.2rem;
        position: absolute;

        span {
          @extend %visually-hidden;
        }
      }

    }

    h3 {
      margin-top: 1rem;
      padding: 0.4rem 20px;
      font-weight: 600;
      font-size: 1.2rem;
    }

    a {
      display: block;
      min-height: 3.2rem;
      border-left: 8px solid $white;
      padding: 0.4rem 20px 0.4rem 12px;
      font-weight: 400;
      transition: border-color 0.35s;

      &:hover, &:focus {
        border-color: $blue;
      }

      &.route-active,
      &.pu-route-exact-active {
        border-color: $blue;
        color: $black;
        font-weight: 600;
        background-color: $white;
      }
    }

    .notification-new-messages {
      position: absolute;
      right: 0.4rem;
      top: 1rem;
      width: 1rem;
      height: 1rem;
      border: 2px solid $gray-0;
      border-radius: 0.5rem;
      background-color: $red;

      span {
        @extend %visually-hidden;
      }
    }
  }
}

