// Toolbar in partup views.
.pu-view-toolbar-partup {
    height: 2rem;
    z-index: 100;

    .pu-button-group {
        width: 80%;
        height: 2rem;
        padding: 0;
        background-color: $blue-lesssuperlight;
        display: flex;
    }
    .pu-button-group-aside {
        height: 2rem;
        width: 20%;
//         background-color: $blue-lesssuperlightslightlydarker;
        background-color: transparent;
//         background-color: $blue-lesssuperlight;
        display: block;
        position: relative;

        .pu-button {
          position: absolute;
          right: 0;
          top: 0;
          color: $blue-dark;

          &:visited {
            color: $blue-dark;
          }
        }
    }

    .pu-button {
        padding: 0.4rem 0.8rem;
        border-radius: 0;
        color: $blue-verydark;

        &:visited {
          color: $blue-verydark;
        }
    }

    @include goingLarge(medium) {
      height: 3rem;

      .pu-button-group {
          width: 70%;
          height: 3rem;
      }
      .pu-button-group-aside {
          height: 3rem;
          width: 30%;
      }

      .pu-button {
          padding: 0.4rem 1.334rem;
      }
    }


//     .route-active,
    .route-active-exact,
    .pu-button.is-active {
        font-weight: bold;
        color: $black;

        &:visited {
          color: $black;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: $gray-0;
            height: 0.4rem;
            width: 0.8rem;
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
            bottom: 0px;
            z-index: 10;
            left: calc(50% - 0.4rem);
        }
    }

    .pu-button-group {
        .pu-button.route-active-exact:nth-child(2) {
            &::after {
                background-color: $white;
            }
        }
    }

    .pu-button-group-aside .is-active {
        &::after {
            background-color: $gray-0-5;
        }
    }
}
