<template>
  <pu-toolbar class="pu-view-toolbar-partup">
    <div class="pu-button-group">
      <pu-button
        v-if="$can('partup_activity_list')"
        :to="{ name: 'partup', query: $route.query }"
        flat
        >{{ $t('button.overview') }}</pu-button
      >

      <pu-button
        v-if="$can('partup_activity_list')"
        :to="{ name: 'partup-board', query: $route.query }"
        flat
        >{{ $t('button.board') }}</pu-button
      >

      <pu-button
        v-if="$can('partup_partner_list')"
        flat
        :to="{ name: 'partup-partners', query: $route.query }"
        >{{ $t('button.team') }}</pu-button
      >
    </div>

    <div class="pu-button-group-aside">
      <pu-button
        v-if="isChatActive || isAttachmentsActive"
        flat
        color="primary"
        @click="$store.dispatch('views/partup/deactivateAsideModule')"
      >
        <pu-icon name="close" size="24" />
      </pu-button>
    </div>
  </pu-toolbar>
</template>

<script lang="ts">
import ability from '@/mixins/ability'
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-view-toolbar-partup',

  mixins: [
    ability({
      attribute: 'partup',
    }),
  ],

  computed: {
    ...mapGetters('chat', ['unreadCountForPartup']),
    ...mapGetters('views/partup', ['partup', 'isAsideModuleActive']),
    moduleButtonClasses() {
      return (partupModule) => {
        return {
          'is-active': this.isAsideModuleActive(partupModule),
        }
      }
    },
    isAttachmentsActive() {
      return this.isAsideModuleActive('attachments')
    },
    isChatActive() {
      return this.isAsideModuleActive('chat')
    },
    isAsideExpanded: {
      get() {
        return this.$store.getters['layout/isSectionExpanded']('aside')
      },
      set(v) {
        if (!this.partup || !this.partup.uuid) {
          return
        }

        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          layout: 'default',
          section: 'aside',
          view: 'partup',
          uuid: this.partup.uuid,
        })
      },
    },
  },

  methods: {
    ...mapActions('views/partup', [
      'activateAsideModule',
      'deactivateAsideModule',
    ]),
    toggleModule(asideModule) {
      const isActive = this.isAsideModuleActive(asideModule)

      if (isActive) {
        this.deactivateAsideModule(asideModule)
      } else {
        this.activateAsideModule(asideModule)
      }

      // this.isAsideExpanded = !isActive
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "button": {
      "board": "Kanban",
      "chat": "Berichten",
      "overview": "Overzicht",
      "team": "Team"
    }
  }
}
</i18n>

<style lang="scss">
@import 'toolbar.scss';
</style>
