<template>
  <pu-action :action="login" @error="onError" @success="onSuccess">
    <template
      v-slot:default="{
        trigger,
        pending,
      }"
    >
      <pu-form
        id="form-login"
        class="pu-auth-flow-login"
        @submit="trigger(email, $refs.password.getValue())"
      >
        <pu-alert-form
          v-if="errorSummary"
          :message="errorSummary"
          type="error"
        />
        <pu-alert-form v-else :message="$t('intro')" type="intro" />

        <fieldset>
          <pu-label for="form-login-email">
            {{ $t('form.label.email') }}
          </pu-label>
          <pu-form-control v-model="email" :error="errorField('email')">
            <pu-textfield
              id="form-login-email"
              type="email"
              :placeholder="$t('form.placeholder.email.login')"
              :disabled="pending"
            />
          </pu-form-control>

          <pu-label for="form-login-password">
            {{ $t('form.label.password.login') }}
          </pu-label>
          <pu-form-control :error="errorField('password')">
            <pu-password
              id="form-login-password"
              ref="password"
              :placeholder="$t('form.placeholder.password.login')"
              :disabled="pending"
            />
          </pu-form-control>
        </fieldset>

        <span
          class="forgot-password"
          @click="requestFlow(AUTH_ACTIONS.forgotPassword)"
        >
          {{ $t('link-forgot-password') }}
        </span>

        <div class="auth-actions">
          <pu-button type="submit" color="secondary" :loading="pending">
            <span>{{ $t('form.button.login') }}</span>
            <pu-icon name="arrow_right" />
          </pu-button>
        </div>

        <footer class="form-footer">
          <small>{{ $t('no-account') }}</small>
          <pu-button
            color="primary"
            flat
            outline
            @click="requestFlow(AUTH_ACTIONS.register)"
          >
            <span>{{ $t('form.button.register') }}</span>
            <pu-icon name="arrow_right" />
          </pu-button>
        </footer>
      </pu-form>
    </template>
  </pu-action>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapFields } from 'vuex-map-fields'

import login from '@/data/auth/login'
import { AUTH_ACTIONS } from '@/types'
import CognitoError from '@/util/error/cognito-error'

import authFlowBase from '../auth-flow-base'
import PuPassword from '@/components/implementations/input/password/input-password.vue'

export default Vue.extend({
  name: 'pu-auth-flow-login',

  components: {
    PuPassword,
  },

  extends: authFlowBase,

  computed: {
    ...mapFields({
      email: 'auth.email',
    }),
  },

  methods: {
    login,
    clearPassword() {
      if (this.$refs.password) {
        this.$refs.password.clearValue()
      }
    },
    onError(error: CognitoError) {
      this.$emit('error', error)

      if (error.key.includes('user-not-confirmed')) {
        this.requestFlow(AUTH_ACTIONS.registerResend)
      }
    },
    async onSuccess() {
      // important that the websocket get's instantiated first so that
      // the server can send messages that get triggered by the other calls in this handler.
      this.$socket.connect()

      await this.$store.dispatch('getEnvironment')
      await this.$store.dispatch('setDefaultOrganizationContext')

      this.$store.dispatch('auth/clearEmailCookie')
      this.$store.commit('auth/loggedIn', true)

      this.$emit('success')
      this.$nextTick(() => {
        this.clearPassword()
      })
    },
  },
})
</script>

<i18n src="./auth-flow-login.nl.json"></i18n>

<style lang="scss">
@import 'auth-flow-login';
</style>
