.pu-auth-flow-login {
  .forgot-password {
    color: $primary;
    cursor: pointer;
    display: block;
    margin-left: 40px;

    &:hover {
      text-decoration: underline;
    }
  }

  .form-footer {
    justify-content: flex-end;
  }
}