<template>
  <component :is="tag" class="pu-accordion">
    <slot />
  </component>
</template>

<script lang="ts">
import taggable from '@/mixins/taggable'
import findIndex from 'lodash/findIndex'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-accordion',

  mixins: [taggable],

  /**
   * The accordion gives full access to it's children
   */
  provide() {
    return {
      accordion: this,
    }
  },

  props: {
    expand: {
      type: Boolean,
      default: false,
    },
    value: {
      type: [Number, Array],
      default: () => null,
    },
  },

  data() {
    return {
      items: [],
      opened: [],
    }
  },

  computed: {
    isMultiple() {
      return this.expand && Array.isArray(this.value)
    },
  },

  watch: {
    expand: {
      handler(newVal) {
        let firstOpenIndex

        if (!newVal) {
          const opened = Array(this.items.length).fill(false)
          firstOpenIndex = this.opened.indexOf(true)

          if (firstOpenIndex > -1) {
            opened[firstOpenIndex] = true
          }

          this.opened = opened
        }

        this.$emit(
          'input',
          newVal ? this.opened : firstOpenIndex > -1 ? firstOpenIndex : null
        )
      },
    },
    value: {
      handler(newVal) {
        this.updateFromValue(newVal)
      },
    },
  },

  methods: {
    register(panelVNode) {
      const panelIndex = this.items.push(panelVNode) - 1

      this.opened[panelIndex] =
        Boolean(this.value) &&
        (this.isMultiple
          ? Boolean(this.value[panelIndex])
          : !!(Number.isInteger(this.value) && this.value === panelIndex))

      panelVNode.toggle(Boolean(this.opened[panelIndex]))
    },
    unregister(panelVNode) {
      const panelIndex = this.findPanelIndex(panelVNode._uid) // findIndex(this.items, (p) => p._uid === panelVNode._uid)
      this.items.splice(panelIndex, 1)
      this.opened.splice(panelIndex, 1)
    },

    updateFromValue(v) {
      if (!v) {
        return
      }

      let opened = Array(this.items.length).fill(false)

      if (this.isMultiple) {
        opened = v
      } else if (Number.isInteger(v)) {
        opened[v] = true
      }

      this.opened = opened
      this.updatePanels()
    },

    panelClick(uid) {
      const panelIndex = this.findPanelIndex(uid)

      if (!this.isMultiple) {
        const currentOpenedIndex = findIndex(this.opened, (bool) => bool)
        this.opened[currentOpenedIndex] = false
      }

      this.opened[panelIndex] = !this.opened[panelIndex]
      this.updatePanels()

      this.$emit('input', this.isMultiple ? this.opened : panelIndex || null)
    },

    findPanelIndex(uid) {
      return findIndex(this.items, (panel: any) => panel._uid === uid)
    },

    updatePanels(opened = this.opened) {
      for (let i = 0; i < this.items.length; i += 1) {
        this.items[i].toggle(Boolean(opened && opened[i]))
      }
    },
  },
})
</script>

<style lang="scss"></style>
