<template>
  <pu-form
    id="form-user-profile"
    class="pu-form-user-profile"
    @submit="updateUserProfile"
  >
    <p v-if="errorSummary" class="pu-form-alert-error">
      {{ errorSummary }}
    </p>
    <p v-else class="pu-form-alert">
      {{ $t('intro') }}
    </p>

    <div class="fieldset">
      <pu-label for="form-user-fullname">
        {{ $t('label.name') }}
      </pu-label>
      <pu-form-control
        v-model="fields.name"
        :error="errorField('name')"
        @change="clearErrorField('name')"
        @blur="
          ensureValid({
            name: fields.name,
          })
        "
      >
        <pu-textfield
          id="form-user-fullname"
          :placeholder="$t('placeholder.name')"
        />
      </pu-form-control>

      <pu-label for="form-user-description">
        {{ $t('label.description') }}
      </pu-label>
      <pu-form-control
        v-model="fields.description"
        :error="errorField('description')"
        @change="clearErrorField('description')"
        @blur="
          ensureValid({
            description: fields.description,
          })
        "
      >
        <pu-textarea
          id="form-user-description"
          :placeholder="$t('placeholder.description')"
          :rows="4"
          no-resize
        />
      </pu-form-control>

      <pu-label for="form-user-keywords">
        {{ $t('label.keywords') }} <em>{{ $t('optional') }}</em>
      </pu-label>
      <pu-form-control-tag
        id="form-user-keywords"
        v-model="fields.keywords"
        :placeholder="$t('placeholder.keywords')"
        :error="errorField('keywords')"
        @blur="
          ensureValid({
            keywords: fields.keywords,
          })
        "
      />

      <div class="pu-chooser-profile-avatar">
        <pu-label for="profile-image">
          {{ $t('label.image_url') }} <em>{{ $t('optional') }}</em>
        </pu-label>

        <pu-form-control v-model="fields.image_url">
          <pu-picker-storage
            id="profile-image"
            accept="image/jpg,image/jpeg,image/png,image/gif"
            level="public"
            path="user"
            @error="error = null"
          >
            <template v-slot:default="{ error }">
              <pu-avatar :class="avatarClasses" :src="imageUrl" :size="60" />
              <pu-icon v-if="error" name="error" color="error" :size="46" />
              <pu-tooltip v-if="error">
                {{ $t(error.key) }}
              </pu-tooltip>
            </template>

            <template v-slot:activator="{ pending }">
              <pu-button
                color="secondary"
                :loading="pending"
                outline
                tabindex="-1"
              >
                {{ $t('button.user-avatar') }}
              </pu-button>
            </template>
          </pu-picker-storage>
        </pu-form-control>
      </div>
    </div>

    <pu-button color="secondary" :loading="isSubmitting" type="submit">
      <span>{{ $t('button.submit') }}</span>
    </pu-button>
  </pu-form>
</template>
<script lang="ts">
import Vue from 'vue'
import PuFormControlTag from '@/components/implementations/input/tag/form-control-tag.vue'
import PuPickerStorage from '@/components/base/picker/file/storage.vue'
import PuTooltip from '@/components/base/tooltip/tooltip.vue'
import userUpdateSelf from '@/data/user/update-self'

export default Vue.extend({
  name: 'pu-form-user-profile',

  components: {
    PuFormControlTag,
    PuPickerStorage,
    PuTooltip,
  },

  data() {
    return {
      isSubmitting: false,
      // initialize to undefined so they will always be sent as data to the patch.
      fields: {
        name: undefined,
        description: undefined,
        keywords: undefined,
        // eslint-disable-next-line
        image_url: undefined,
      },
      error: null,
    }
  },

  computed: {
    avatarClasses() {
      return {
        placeholder: !this.fields.image_url,
      }
    },
    imageUrl() {
      return (
        this.fields.image_url ||
        this.$globals.images.getPublicImageUrl('placeholder_upload.svg')
      )
    },
    errorSummary() {
      if (!this.error || !this.error.fields) {
        return null
      }

      let message = null

      if (Object.keys(this.error.fields).length > 1) {
        message = 'error.request.combined'
      } else {
        for (const key in this.error.fields) {
          const value = this.error.fields[key]

          if (value) {
            message = `error.request.${key}.${value}`
            break
          }
        }
      }

      return this.$t(message)
    },
    errorField() {
      return (field) => {
        return Boolean(
          this.error && this.error.fields && this.error.fields[field]
        )
      }
    },
  },

  methods: {
    async updateUserProfile(e) {
      this.isSubmitting = true

      try {
        await this.ensureValid(this.fields)
        const { data } = await userUpdateSelf({
          data: this.fields,
        })

        await this.$store.dispatch('user/updateUserLocal', data)
        this.$emit('success')
      } catch (error) {
        this.$logger.debug(error)
        this.error = error
        this.$emit('error')
      } finally {
        this.isSubmitting = false
      }
    },
    async ensureValid(partialProfile) {
      try {
        await userUpdateSelf({
          query: {
            validateOnly: true,
          },
          data: partialProfile,
        })
      } catch (error) {
        this.error = error
        this.$emit('error')
      }
    },
    clearErrorField(field) {
      if (this.error && this.error.fields && this.error.fields[field]) {
        delete this.error.fields[field]
      }
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "intro": "Laat jij je toekomstige teamgenoten weten wie je bent?",
    "optional": "(optioneel)",
    "button": {
      "user-avatar": "Profielfoto kiezen",
      "submit": "Profiel aanmaken"
    },
    "label": {
      "name": "Hoe heet je?",
      "description": "Stel jezelf voor",
      "keywords": "Wat vind je leuk of kun je goed?",
      "image_url": "Hoe zie je eruit?"
    },
    "placeholder": {
      "name": "Liefst voor- én achternaam",
      "description": "Beschrijf wie je bent in een paar zinnen.",
      "keywords": "Typ je kernwoord",
      "image_url": "Mag nu al, maar hoeft niet."
    },
    "error": {
      "request": {
        "combined": "Er zijn velden die onjuist zijn ingevuld.",
        "name": {
          "value": {
            "empty": "Vul je even je naam in? Voor die verstrooide teamgenoot! ;-)",
            "invalid_alpha_str": "Je naam mag letters, een koppelteken en een apostrof bevatten."
          }
        },
        "description": {
          "value": {
            "empty": "Gun je ons die goede eerste indruk van wie je bent?"
          }
        },
        "image_url": {
          "value": {
            "empty": "Kies een afbeelding."
          }
        }
      },
      "value": {
        "image_error_decoding": "Dit type foto ondersteunen wij niet.",
        "image_cannot_identify": "Dit type foto ondersteunen wij niet.",
        "image_invalid_mime": "Dit type foto ondersteunen wij niet.",
        "image_resolution_too_big": "Je foto moet kleiner zijn dan 2000x2000 pixels.",
        "image_resolution_too_small": "Je foto moet groter zijn dan 200x200 pixels.",
        "image_size_too_big": "Je foto moet kleiner zijn dan 10Mb.",
        "image_size_too_small": "Je foto moet groter zijn dan 4Kb.",
        "image_type_not_supported": "Dit type foto ondersteunen wij niet",
        "no_such_object": "We konden je foto niet verwerken",
        "object_has_no_length": "We konden je foto niet verwerken",
        "object_has_no_mime": "We konden je foto niet verwerken",
        "object_too_large": "Je foto moet kleiner zijn dan 10Mb."
      }
    }
  }
}
</i18n>

<style lang="scss">
@import 'form-user-profile.scss';
</style>
