
.pu-form-user-profile {
  .pu-label {
    margin-top: 0.5rem;
    padding-bottom: 0.334rem;

    em {
      color: $blue-dark;
      font-style: normal;
      font-size: 0.8rem;
      letter-spacing: 0.02em;
    }
  }

  .pu-button[type="submit"] {
    margin-bottom: 1.334rem;
    margin-right: 1.667rem;
    float: right;
  }

  [class^="pu-form-alert"] {
    padding: .667rem 2.667rem;
    line-height: 1.33;
  }


  .pu-form-alert {
    &-error {
      background-color: $red-light;
    }
  }

  .fieldset {
    padding: 0.667rem 1.334rem;
  }

  .pu-form-control {
    margin-bottom: .6rem;
  }

  .pu-input-tag {
    input {
      width: 100%; // must check
    }
  }
  .pu-chooser-profile-avatar {
    .pu-form-control {
      display: flex;
      align-items: center;
    }
  }

  .pu-avatar {
    margin-right: 1.334rem;
  }

  .pu-picker {
    &-storage {
      margin: 0;
      position: relative;
      align-items: center;

      button,
      input {
        cursor: pointer;
      }

      .pu-label {
        margin: 0;
        padding: 0.667rem 1.334rem 0.334rem;

        &.pu-button--icon {
          align-items: flex-start;
        }
      }
    }
  }

  .pu-tooltip {
    min-width: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    background: $white;

    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 5; // TODO: set up system for modular z-axis stacking of content elements.
    padding: 1rem 1.334rem;
    margin-bottom: 0.8rem;
//       border-radius: $border-radius-small;
//       background: $white;
    color: $black;

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      bottom: -16px;
      left: 13px;
      border: 8px solid transparent;
      border-top-color: $white;
    }
  }

}
