<template>
  <span :class="rootClasses">
    <slot name="avatar">
      <pu-avatar v-if="avatar" :src="avatar" :text="text" :size="30" />
    </slot>

    <span class="pu-tag__slot">
      <slot>{{ text }}</slot>
    </span>

    <slot name="close">
      <pu-icon
        v-if="closeable"
        :name="closeIcon"
        :size="14"
        @click.stop.prevent="closeCallback"
      />
    </slot>
  </span>
</template>

<script>
import colorable from '@/mixins/colorable'

export default {
  name: 'pu-tag',

  mixins: [colorable],

  props: {
    avatar: {
      type: [Boolean, String],
    },
    text: {
      type: String,
    },
    closeable: {
      type: Boolean,
    },
    closeIcon: {
      type: String,
      default: 'close',
    },
    closeCallback: {
      type: Function,
      default: void 0,
    },
    small: {
      type: Boolean,
    },
  },

  computed: {
    rootClasses() {
      return this.setBackgroundColor(
        {
          'pu-tag': true,
          'pu-tag--avatar': this.avatar,
          'pu-tag--small': this.small,
        },
        this.color
      )
    },
  },
}
</script>

<style lang="scss">
@import 'tag.scss';
</style>
