.pu-tag {
  align-items: center;
  color: $gray-8;
  display: inline-flex;
  min-height: 2rem;

  margin: 4px 0;
  margin-right: 6px;

  background-color: $gray-1;
  border-top-right-radius: .6rem;
  border-bottom-right-radius: .6rem;

  font-weight: 600;
  font-size: 0.8rem;
  padding: 0 3px 0 0;

  &__slot {
    flex: 1 1 auto;
    margin: 0px 8px;
  }

  > .pu-icon {
    cursor: pointer;
    flex: 0 auto;
    padding: 2px 2px 2px 0px;
  }

  &.primary,
  &.accent {
    color: white;
  }
}
