.pu-filter-activities {
  height: 40px;
  position: relative;

  .pu-button {
    &.activator {
      position: absolute;
      right: 0;
    }
  }

  .pu-filter {
    position: absolute;

    .pu-select {
      height: 2.334rem;
    }
  }
}
