<template>
  <div :class="rootClasses">
    <pu-button
      class="activator"
      color="accent"
      flat
      icon
      @click="isActive = true"
    >
      <span>{{ $t('button.filter') }}</span>
      <pu-icon name="filter" :size="24" round outline />
    </pu-button>

    <transition name="t-fade">
      <pu-filter
        v-if="isActive"
        :transform="transform"
        closeable
        @change="$emit('update', $event)"
        @close="isActive = false"
      >
        <pu-filter-item name="q" class="pu-block-filter">
          <pu-search debounce hide-button />
        </pu-filter-item>

        <pu-filter-item name="status" class="pu-block-filter status">
          <pu-select :items="statusPickerItems" />
        </pu-filter-item>
      </pu-filter>
    </transition>
  </div>
</template>

<script>
import PuFilter from '@/components/base/filter/filter'
import PuFilterItem from '@/components/base/filter/filter-item'
import PuSearch from '@/components/implementations/input/search/search'
import PuSelect from '@/components/base/input/select/select'
import toggleable from '@/mixins/toggleable'
import { ACTIVITY_STATUS } from '@/types'
import { composeWithOptions } from '@/util/query'
import isNull from 'lodash/isNull'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'pu-activities-filter',

  components: {
    PuFilter,
    PuFilterItem,
    PuSearch,
    PuSelect,
  },

  mixins: [toggleable],

  computed: {
    rootClasses() {
      return {
        'pu-filter-activities': true,
        'is-active': this.isActive,
      }
    },
    statusPickerItems() {
      const items = [
        {
          text: this.$t('activity-status.all'),
          value: '',
        },
      ]

      for (const key in ACTIVITY_STATUS) {
        items.push({
          text: this.$t(`activity-status.${key}`),
          value: ACTIVITY_STATUS[key],
        })
      }

      return items
    },
  },

  methods: {
    transform: composeWithOptions({
      nullable: true,
      fields: {
        q: {
          exclude: [isNull],
        },
        status: {
          exclude: [isEmpty],
        },
      },
    }),
  },
}
</script>

<i18n>
{
  "nl": {
    "activity-status": {
      "all": "Alles",
      "doing": "Aan 't doen",
      "done": "Al gedaan",
      "none": "Werkvoorraad",
      "todo": "Te doen"
    },
    "button": {
      "filter": "Filteren"
    }
  }
}
</i18n>

<style lang="scss">
@import 'filter.scss';
</style>
