<template>
  <li
    :class="rootClasses"
    @click="onSelect"
  >
    <slot>
      <pu-checkbox
        v-if="multiple"
        :disabled="disabled"
        :value="isActive"
        hide-details
      />
      {{text}}
    </slot>
  </li>
</template>

<script>
import {
  get,
} from 'lodash'
import {
  colorable,
  selectable,
} from '@/mixins'

export default {
  name: 'pu-select-list-item',

  /** @mixins */
  mixins: [
    colorable,
    selectable,
  ],

  data() {
    return {
      defaultColor: 'primary',
    }
  },

  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-list-item': true,
        'is-disabled': this.isDisabled,
        'is-selected': this.isActive,
      }, this.isActive ? this.defaultColor : '')
    },
    isDisabled() {
      return this.disabled
    },
  },
}
</script>

<style lang="scss">
  @import "list-item.scss";
</style>
