<template>
  <ul class="pu-select-list">
    <pu-select-list-item
      v-for="(item, index) in calculatedItems"
      :key="(getValue(item) || index)"
      :disabled="getDisabled(item)"
      :value="item"
      :text="getText(item)"
      :multiple="multiple"
      :selected="isSelected(item)"
      @select="onItemSelected(item)"
    >
      <slot :item="item" />
    </pu-select-list-item>
  </ul>
</template>

<script>
import {
  findIndex,
  filter,
  get,
} from 'lodash'
import PuSelectListItem from './list-item.vue'
import {
  comparable,
} from '@/mixins'

export default {
  name: 'pu-select-list',

  mixins: [
    comparable,
  ],

  components: {
    PuSelectListItem,
  },

  // data() {
  //   return {
  //     testModel: [],
  //     listItems: [],
  //   }
  // },

  props: {
    hideSelected: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    selectedItems: {
      type: Array,
      default: () => [],
    },
    itemDisabled: {
      type: [String, Array, Function],
      default: 'disabled',
    },
    itemValue: {
      type: [String, Array, Function],
      default: 'value',
    },
    itemText: {
      type: [String, Array, Function],
      default: 'text',
    },
    multiple: {
      type: Boolean,
      default: false,
    }
  },

  computed: {
    calculatedItems() {
      return this.hideSelected ? filter(this.items, (item) => !this.isSelected(item)) : this.items
    },
  },

  methods: {
    getDisabled(item) {
      return get(item, `${this.itemDisabled}`, get(item, 'disabled', false))
    },
    getText(item) {
      return get(item, `${this.itemText}`, get(item, 'text', item))
    },
    getValue(item) {
      return get(item, `${this.itemValue}`, get(item, 'value', this.getText(item)))
    },
    isSelected(item) {
      return findIndex(this.selectedItems, (selected) => this.valueComparator(selected, item)) > -1
    },
    onItemSelected(item) {
      this.$emit('select', item)
    },
  }
}
</script>

<style lang="scss">
  @import "list.scss";
</style>
