
.pu-list-item {
  align-items: center;
  display: flex;
  cursor: pointer;

  padding: 8px 16px 8px 6px;
  list-style: none;

  background: white;
  color: currentColor;

  .pu-checkbox {
    pointer-events: none;
  }

  &:hover {
    background: rgba(0, 0, 0, .05);
  }
}