
.pu-form-register {
  display: flex;
  flex-direction: column;

  // INTRO AND ERROR SUMMARY
  // should be transferred to generic form scss file?
  .pu-form-intro {
    padding: 0.667rem 2.667rem;
    margin-bottom: 1rem;
    line-height: 1.33;

    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      line-height: 1.33;
    }
  }

  .pu-primary-action {
    min-height: 20rem;
    flex: 1 1 auto;

    .pu-button {
      margin: 1rem 0 1.667rem;
      float: right;
    }

    &:after {
      content: '';
      height: 0;
      display: table;
      clear: both;
    }

    .tos-wrapper {
      display: flex;
//       flex-direction: row-reverse;

      .pu-checkbox {
        margin-right: 0.667rem;
      }

      .pu-label {
        margin: 0 0 0.25rem;
      }
    }
  }
}
