<template>
  <pu-form
    id="form-register"
    :class="rootClasses"
    ref="form"
    @submit="register"
  >
    <div v-if="(form.contains_errors != false) && form.errors.summary" class="pu-form-intro--error">
        {{form.errors.summary}}
    </div>
    <div v-if="!form.contains_errors.email && !form.contains_errors.password && !form.contains_errors.tos && !form.errors.summary" class="pu-form-intro">
        <p>Tof dat je meedoet! Registreer jezelf in 2 minuten.</p>
    </div>

    <div class="pu-primary-action">
      <pu-label for="register-email">{{form.labels.email}}</pu-label>
      <pu-form-control
        v-model="form.fields.email"
        :error="emailContainsError"
      >
        <pu-textfield
          id="register-email"
          type="email"
          :value="form.fields.email"
          :placeholder="form.placeholders.email"
        />
      </pu-form-control>

      <pu-label for="register-email">{{form.labels.password}}</pu-label>
        <!-- v-model="form.fields.password" -->
      <pu-form-control
        :error="passwordContainsError"
      >
        <pu-password
          id="register-password"
          :placeholder="form.placeholders.password"
          ref="password"
        />
        <!-- <pu-textfield
          id="register-password"
          :type="computedPasswordType"
          :placeholder="form.placeholders.password"
        /> -->
      </pu-form-control>

      <div class="tos-wrapper">
        <pu-form-control
          v-model="form.fields.tos"
          :error="tosContainsError"
        >
          <pu-checkbox
            id="register-terms_and_privacy"
            :value="form.fields.tos"
          >
          </pu-checkbox>
        </pu-form-control>
        <pu-label for="register-terms_and_privacy"><small>Ja, ik accepteer de <pu-link color="primary" to="https://terms.part-up.com/2016-02-25/" external rel="external" target="_blank">algemene voorwaarden</pu-link> en het <pu-link color="primary" to="https://privacy.part-up.com/2018-10-19/" external rel="external" target="_blank">privacy statement</pu-link></small></pu-label>
      </div>

      <pu-button
        type="submit"
        color="secondary"
        class="pu-button--icon"
        :loading="isSubmitting"
        :disabled="!form.fields.tos"
      >
          <span>Account aanmaken</span>
          <pu-icon
              name="arrow_right"
          />
      </pu-button>
    </div>

    <div class="pu-secondary-action">
      <pu-button
        class="pu-button"
        color="primary"
        outline
        icon
        @click="onAccount"
      >
        <pu-icon
          name="arrow_left"
        />
        <span>Inloggen</span>
      </pu-button>
      <p>Al een account?</p>
    </div>
  </pu-form>
</template>

<script>
import PuForm from '@/components/base/form/form.vue'
import PuLabel from '@/components/base/label/label.vue'
import PuFormControl from '@/components/base/input/form-control.vue'
import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import PuCheckbox from '@/components/base/input/checkbox/checkbox.vue'
import PuPassword from '@/components/implementations/input/password/input-password.vue'

export default {
  name: 'pu-form-register',

  components: {
    PuForm,
    PuLabel,
    PuFormControl,
    PuTextfield,
    PuCheckbox,
    PuPassword,
  },

  data() {
    return {
      isSubmitting: false,
      passwordVisible: false,

      form: {
        contains_errors: {
          email: false,
          password: false,
          tos: false,
        },
        errors: {
          summary: null,
        },
        errors_map: {
          'null failed with error': {
            message: 'Zonder wachtwoord kun je niet registreren.',
            fields: { email: false, password: true, tos: false },
          },
          'username cannot be empty': {
            message: 'Geef het e-mailadres op waarmee je wilt registreren.',
            fields: { email: true, password: false, tos: false },
          },
          'username should be an email': {
            message: 'Het e-mailadres lijkt niet geldig te zijn.',
            fields: { email: true, password: false, tos: false },
          },
          'account with the given email already exists': {
            message: 'Registreren is niet gelukt. Misschien heb je al een account?',
            fields: { email: false, password: false, tos: false },
          },
          'password cannot be empty': {
            message: 'Zonder wachtwoord kun je niet registreren.',
            fields: { email: false, password: true, tos: false },
          },
          'password must have uppercase': {
            message: 'Het wachtwoord moet 1 of meer hoofdletters bevatten.',
            fields: { email: false, password: true, tos: false },
          },
          'password must have numeric': {
            message: 'Het wachtwoord moet 1 of meer cijfers bevatten.',
            fields: { email: false, password: true, tos: false },
          },
          'password not long enough': {
            message: 'Het wachtwoord moet 8 of meer tekens bevatten.',
            fields: { email: false, password: true, tos: false },
          },
          'length greater than or equal to 6': {
            message: 'Het wachtwoord moet 8 of meer tekens bevatten.',
            fields: { email: false, password: true, tos: false },
          },
        },
        fields: {
          email: null,
          // password: null,
          tos: false,
        },
        labels: {
          email: 'E-mailadres',
          password: 'Wachtwoord',
        },
        placeholders: {
          email: 'Bijvoorbeeld welkom@part-up.com',
          password: '8+ tekens, 1 cijfer en 1 hoofdletter',
        },
        validations: {
          form: [],
        },
      },
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-form': true,
        'pu-form-register': true,
        'pu-form-contains-errors': this.form.contains_errors.email || this.form.contains_errors.password,
      }
    },
    emailContainsError() {
      return this.form.contains_errors.email
    },
    passwordContainsError() {
      return this.form.contains_errors.password
    },
    tosContainsError() {
      return this.form.contains_errors.tos
    },
  },

  methods: {
    async register(e) {
      this.isSubmitting = true

      // Zet de Amazon Cognito json voor signup
      const cognito_credentials = {
        'email': this.form.fields.email,
        'password': this.$refs.password.getValue(),
        'attributes': {
          'custom:terms_of_use': this.form.fields.tos.toString(),
        },
      }

      try {
        const success = await this.$store.dispatch('user/register', cognito_credentials)
        this.$store.dispatch('auth/setCookie', this.form.fields.email)
        this.$refs.password.clearValue()
        this.$emit('success')
      } catch (error) {
        this.parseError(error.message ? error.message : error)
        this.$logger.error(error)
        this.$emit('error')
      } finally {
        this.isSubmitting = false
      }
    },
    onTogglePasswordVisibility() {
      this.passwordVisible = !this.passwordVisible
    },
    onAccount() {
      this.$emit('cancel', {
        type: 'login',
      })
    },
    parseError(error) {
      var error_test_string = error.toLowerCase()
      var error_message = 'Het registreren is niet gelukt. Probeer je het nog eens?'
      var error_fields = { email: false, password: false, tos: false }

      for (var error_key in this.form.errors_map) {
        if (error_test_string.indexOf(error_key) > -1) {
          error_message = this.form.errors_map[error_key].message
          error_fields = this.form.errors_map[error_key].fields
        }
      }

      // Summarize the error in intro of registration form.
      this.form.errors.summary = error_message

      // Set error classes on the appropriate fields
      this.form.contains_errors.email = error_fields.email
      this.form.contains_errors.password = error_fields.password
      this.form.contains_errors.tos = error_fields.tos

      // Log exact error message structure in console.
      //         this.$logger.error("Nu in error_fields: " + error_fields)
    },
  },
}
</script>

<style lang="scss">
  @import "form-register.scss";
</style>
