[class*="pu-toolbar"] {
  align-items: center;
  display: flex;
  height: $toolbar-height;

  .pu-button,
  .pu-button-group,
  .pu-link {
    height: 100%,
  }

  .pu-badge {
    height: 100%;
  }

  .pu-button {
    box-shadow: none !important;

    &.is-active {
      font-weight: 600;
    }

    &:not(.pu-button--small) {
      height: 100%;
    }
  }
}
