<template>
  <section class="pu-user-setting-organization">
    <h3 class="pu-section-header">{{ $t('heading') }}</h3>
    <p class="pu-section-description">{{ $t('description') }}</p>
    <pu-select
      :value="currentOrganization"
      :items="userOrganizations"
      item-value="uuid"
      item-text="name"
      @change="onSelect"
    />
  </section>
</template>

<script lang="ts">
import PuSelect from '@/components/base/input/select/select.vue'
import { mapGetters, mapActions } from 'vuex'
import Vue from 'vue'
import parseDomainFromLocation from '@/util/url/parse-domain-from-location'
import FEATURES from '@/lib/features'

export default Vue.extend({
  name: 'pu-user-setting-organization',

  components: {
    PuSelect,
  },

  computed: {
    ...mapGetters(['currentOrganization']),
    ...mapGetters('user', ['userOrganizations']),
  },

  methods: {
    ...mapActions(['setCurrentOrganization', 'getBranding']),
    onSelect(uuid) {
      const organization = this.userOrganizations.find((x) => x.uuid === uuid)

      if (FEATURES.domainBranding) {
        const url = `https://${organization.slug}.${parseDomainFromLocation()}`
        window.location.assign(url)
      } else {
        this.setCurrentOrganization(organization)
        this.getBranding(organization.slug)
      }
    },
  },
})
</script>

<i18n src="./locales/nl-user-settings-organization.json"></i18n>

<style lang="scss">
@import 'organization.scss';
</style>
