.pu-view-header-search {
  > div {
    padding: 1rem 1.334rem;
  }

  h1 {
    color: $white; // TODO: maybe this should be in a more general sass file.
  }

  .pu-progress-circular {
    display: inline-block;
    margin-right: 1rem;
  }
}


