<template>
  <header class="pu-view-header-search">
    <div>
      <h1>
        <template v-if="actionPending('search')">
          <pu-progress-circular
            color="secondary"
            :size="20"
            :width="2"
            indeterminate
          />
          {{ $t('loading') }}
        </template>
        <template v-else-if="query">
          {{ $tc('result', totalCount, { count: totalCount }) }} voor &lsquo;{{
            query
          }}&rsquo;
        </template>
      </h1>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState, mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-view-header-search',

  computed: {
    ...mapState('views/search', ['query']),
    ...mapGetters('views/search', ['actionPending', 'totalCount']),
  },
})
</script>

<i18n>
{
  "nl": {
    "loading": "Resultaten laden",
    "result": "Geen resultaten | {count} resultaat | {count} resultaten"
  }
}
</i18n>

<style lang="scss">
@import 'header.scss';
</style>
