<template>
  <div :class="rootClasses">
    <textarea
      ref="input"
      v-bind="inputAttributes"
      @blur="onBlur"
      @focus="onFocus"
      @input="onInput"
      @keydown.enter="onEnter"
    ></textarea>
  </div>
</template>

<script>
import PuInputBase from '@/components/base/input/_base/input-base'
import toStyleUnit from '@/util/css/to-style-unit'

/**
 * Textarea component
 * @component pu-textarea
 * @extends PuInputBase @see See [PuInputBase](../_base/input-base)
 */
export default {
  name: 'pu-textarea',

  extends: PuInputBase,

  props: {
    /**
     * automatically resize the textarea
     * @prop auto-grow
     * @type {Boolean}
     * @default true
     */
    autoGrow: {
      type: Boolean,
      default: true,
    },
    /**
     * set the max rows the autoGrow prop can use to resize
     * @prop max-rows
     * @type {Boolean}
     * @default 20
     */
    maxRows: {
      type: Number,
      default: 20,
    },
    /**
     * disable the resize handler on the textarea to prevent user resizing
     * @prop no-resize
     * @type {Boolean}
     * @default false
     */
    noResize: {
      type: Boolean,
      default: false,
    },
    /**
     * placeholder text
     * @prop placeholder
     * @type {String}
     * @default void 0
     */
    placeholder: {
      type: String,
      default: void 0,
    },
    /**
     * set the rowheight used to calculate the textarea height
     * @prop row-height
     * @type {Number}
     * @default 20
     */
    rowHeight: {
      type: Number,
      default: 20,
    },
    /**
     * the amount of rows for initializing the textarea
     * @prop rows
     * @type {Number}
     * @default 5
     */
    rows: {
      type: Number,
      default: 5,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-input': true,
        'pu-textarea': true,
        'pu-textarea--readonly': this.readonly,
        'pu-textarea--auto-grow': this.autoGrow,
        'pu-textarea--no-resize': this.noResize,
      }
    },
    inputAttributes() {
      return {
        id: this.id,
        placeholder: this.placeholder,
        readonly: this.readonly,
        disabled: this.disabled,
        value: this.internalValue,
        style: {
          resize: this.noResize ? 'none' : null,
        },
      }
    },
    autoResize() {
      return Boolean(this.autoGrow)
    },
  },

  watch: {
    value: {
      handler(newVal) {
        if (newVal === undefined || newVal === null || newVal.length === 0) {
          if (this.autoResize) {
            this.resetHeight()
          }
        }
      },
    },
  },

  mounted() {
    if (this.autoResize) {
      this.$nextTick(() => {
        this.updateTextAreaHeight()
      })
    }
  },

  methods: {
    getTextareaPadding() {
      let padding = 0

      if (this.$refs.input && getComputedStyle) {
        const style = getComputedStyle(this.$refs.input)
        padding = parseFloat(style.paddingBottom) + parseFloat(style.paddingTop)
      }

      return padding
    },
    /**
     * updateTextAreaHeight based on props
     * @private
     */
    updateTextAreaHeight() {
      const input = this.$refs.input

      if (input) {
        input.style.height = 0

        const inputPadding = this.getTextareaPadding()
        const inputHeight = input.scrollHeight - inputPadding
        const minHeight = parseInt(this.rows, 10) * parseFloat(this.rowHeight)
        const maxHeight =
          parseInt(this.maxRows, 10) * parseFloat(this.rowHeight)

        const height = inputHeight > maxHeight ? maxHeight : inputHeight
        const parsed = toStyleUnit(Math.max(minHeight, height))

        input.style.height = parsed
      }
    },
    resetHeight() {
      const input = this.$refs.input

      if (input) {
        input.style.height = 0

        const minHeight = parseInt(this.rows, 10) * parseFloat(this.rowHeight)
        const parsed = toStyleUnit(minHeight)

        input.style.height = parsed
      }
    },
    /**
     * onInput event handler
     * @private
     * @description overrides the virtual base handler
     */
    onInput(e) {
      if (this.autoResize) {
        this.updateTextAreaHeight()
      }

      this.internalValue = e.target.value
    },

    onEnter(e) {
      if (e.shiftKey) {
        return
      }
      e.preventDefault()
      this.$emit('enter', e)
    },
  },
}
</script>

<style lang="scss">
@import 'textarea.scss';
</style>
