<template>
  <section class="pu-section pu-organization-partups">
    <h2>{{ $t('heading') }}</h2>
    <div class="pu-grid-list">
      <pu-card-partup
        v-for="partup in partups"
        :key="partup.uuid"
        :partup="partup"
      />
    </div>
  </section>
</template>

<script lang="ts">
import PuCardPartup from '@/components/implementations/card/partup/card-partup.vue'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-organization-partups',

  components: {
    PuCardPartup,
  },

  props: {
    partups: {
      type: Array,
      required: true,
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "heading": "Partups"
  }
}
</i18n>

<style lang="scss">
@import 'partups.scss';
</style>
