<template>
  <div class="pu-view-content-admin">
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-admin-content',
})
</script>

<style lang="scss">
@import 'content.scss';
</style>
