<template>
  <div v-html="html" />
</template>

<script lang="ts">
import Vue from 'vue'

/**
 * This component signals that the html rendered is coming from the API
 * and should be considered sanitized.
 */
export default Vue.extend({
  name: 'pu-api-html',

  props: {
    html: {
      type: String,
    },
  },

  computed: {
    safeHTML() {
      const dangerousHTML = this.html
      return dangerousHTML
    },
  },
})
</script>

<style lang="scss"></style>
