<template>
  <div v-html="safeHTML" />
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-client-html',

  props: {
    html: {
      type: String,
      required: true,
    },
  },

  computed: {
    safeHTML() {
      const dangerousHTML = this.html
      return dangerousHTML
    },
  },
})
</script>

<style lang="scss"></style>
