.pu-form {
  &-intro {
    padding: 0.667rem 2.667rem;
    margin-bottom: 1rem;
    line-height: 1.33;

    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      color: $gray-7-0;
      line-height: 1.33;
    }
  }

  .title {
    font-size: 1.6rem;
    flex: 1 1 auto;
    padding-left: 0;
    margin-bottom: 16px;
  }

  // .pu-input {
  //   margin-bottom: 16px;
  // }

  .pu-content-editable {
    .pu-input {
      margin-bottom: 0;
    }
  }

  .pu-button {
    &[type="submit"] {
      font-weight: 600;
    }
    &-action {
      align-self: flex-end;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}
