<template>
  <form
    class="pu-form"
    v-bind="rootAttributes"
    @submit.stop.prevent="$emit('submit', $event)"
  >
    <slot />
  </form>
</template>

<script>
import remove from 'lodash/remove'
import { registerableProvide } from '@/mixins/registerable'

export default {
  name: 'pu-form',

  inheritAttrs: false,

  mixins: [registerableProvide('form')],

  props: {
    autofocus: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      inputs: [],
    }
  },

  computed: {
    rootAttributes() {
      return Object.assign(
        {
          novalidate: true,
        },
        this.$attrs
      )
    },
  },

  mounted() {
    if (this.autofocus && this.inputs.length) {
      this.$nextTick(() => {
        this.inputs[0].focus()
      })
    }
  },

  methods: {
    register(input) {
      this.inputs.push(input)
    },

    unregister(input) {
      remove(this.inputs, (x) => x._uid === input._uid)
    },
  },
}
</script>

<style lang="scss">
@import 'form.scss';
</style>
