.pu-form-message {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  &.is-type-error {
    background-color: $red-light;

    .pu-icon-error {
      color: $error;
    }
  }

  &-content {
    display: inline-flex;
    flex: 1;
  }

}