<template>
  <transition :name="transition" :mode="mode">
    <div v-if="internalValue" class="pu-form-message" :class="classes">
      <pu-icon :name="type" :size="26" />
      <div class="pu-form-message-content">
        <slot>
          {{ message }}
        </slot>
      </div>
      <pu-icon v-if="dismissable" name="close" :size="24" @click="dismiss" />
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from 'vue'
import { lazyModelFactory } from '@/mixins/lazy-model'
import transitionable from '@/mixins/transitionable'
import mixins from '@/util/vue/mixins'

import isObject from 'lodash/isObject'
import isString from 'lodash/isString'

enum MessageTypes {
  error = 'error',
}

export default mixins(lazyModelFactory('change'), transitionable).extend({
  name: 'pu-form-message',

  props: {
    dismissable: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'error',
      validator: (v) => ['error'].includes(v),
    },
  },

  computed: {
    classes() {
      return {
        'is-type-error': this.type === MessageTypes.error,
      }
    },
    message() {
      const v = this.internalValue

      if (v) {
        if (isObject(v)) {
          return this.$t((v as any).key)
        } else if (isString(v)) {
          return this.$t(v)
        }
      }

      return null
    },
  },

  methods: {
    dismiss() {
      this.internalValue = null
      this.$emit('dismiss')
    },
  },
})
</script>

<style lang="scss">
@import 'message';
</style>
