<template>
  <section class="pu-user-profile-partups">
    <h2>
      {{ userName }}
      {{ $tc('partup-count', partupCount, { count: partupCount }) }}
    </h2>
    <div class="pu-grid-list">
      <pu-card-partup
        v-for="partup in partups"
        :key="partup.uuid"
        :partup="partup"
      >
        <template
          v-if="isProfileOf(user, currentUser)"
          v-slot:options="{ deactivate }"
        >
          <pu-list>
            <li>
              <pu-modal-activator
                for="partup-leave"
                :modal-props="{ partup }"
                @success="getPartups"
              >
                <pu-button flat>
                  {{ $t('button-open-modal-partup-leave') }}
                </pu-button>
              </pu-modal-activator>
            </li>
          </pu-list>
        </template>
      </pu-card-partup>
    </div>
  </section>
</template>

<script lang="ts">
import PuCardPartup from '@/components/implementations/card/partup/card-partup.vue'
import isProfileOf from '@/lib/model/user/is-profile-of'
import get from 'lodash/get'
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'

export default Vue.extend({
  name: 'pu-user-tiles-partup',

  components: {
    PuCardPartup,
  },

  props: {
    partups: {
      type: Array,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },

  computed: {
    ...mapGetters(['currentUser']),
    userName() {
      return get(this.user, 'name', null)
    },
    partupCount() {
      return this.partups.length
    },
  },

  methods: {
    ...mapActions('views/userProfile', ['getPartups']),
    isProfileOf,
  },
})
</script>

<i18n>
{
  "nl": {
    "partup-count": "zit nog niet in een partup | zit in 1 partup | zit in {count} partups",
    "button-open-modal-partup-leave": "Uit deze partup stappen"
  }
}
</i18n>

<style lang="scss">
@import 'partups.scss';
</style>
