.pu-user-profile-partups {
  padding: 1rem;

  @include goingLarge(large) {
    padding: 1rem 2rem;
  }

  > h2 {
    font-size: 1.33rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 2rem;
  }

  .pu-grid-list {
    display: grid;
    overflow-x: scroll;
    grid-auto-columns: 78%;
    grid-column-gap: 5%;
    grid-auto-flow: column;

    .pu-tile-partup {
      &:first-child {
        margin-left: 5%;
      }
      &:last-child {
        margin-right: 5%;
      }
    }

    @include goingLarge(960) {
      overflow-x: initial;
      grid-auto-flow: unset;
      grid-template-columns: repeat(auto-fill, 24%);
      grid-column-gap: 1.26%;
      grid-row-gap: 24px;

      .pu-tile-partup {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @include goingLarge(960) {
    > h2 {
      margin-left: 0;
    }
  }
}
