.pu-dashboard-activities {
  padding: 0 1rem 1rem 1.334rem;

  @include goingLarge(large) {
    padding: 0 6rem 3rem 2rem;
  }

  .pu-list-activity-status {
    padding-left: 36px;
    padding-right: 1.334rem;
  }


  > h2 {
    margin: 0 0 -2rem;
    padding-top: 2rem;
    font-size: 1.2rem;

    @include goingLarge(large) {
      font-size: 1.7rem;
    }
  }

  > .pu-list {
    margin-top: 1rem;
  }
}
