<template>
  <div class="pu-dashboard-activities">
    <h2>{{ $t('heading') }}</h2>

    <pu-filter-search
      :query-map="{
        search: 'q',
      }"
      :transform="transform"
      @change="
        getActivities({
          query: $event,
        })
      "
    />

    <pu-list-activity-status
      :items="activities"
      :item-props="activityListItemProps"
      :filtered="isActivitiesFiltered"
      :can-edit="true"
      @click="gotoActivityView"
      @status="updateActivityStatus"
    />
  </div>
</template>

<script lang="ts">
import PuFilterSearch from '@/components/implementations/filter/search/filter-search.vue'
import PuListActivityStatus from '@/components/implementations/list/activity/list-activity-status.vue'
import { composeWithOptions } from '@/util/query'
import lengthBelow from '@/util/query/rules/length-below'
import isNull from 'lodash/isNull'
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-dashboard-activities',

  components: {
    PuFilterSearch,
    PuListActivityStatus,
  },

  props: {
    activities: {
      type: Array,
      required: true,
    },
  },

  computed: {
    ...mapGetters('views/dashboard', ['isActivitiesFiltered']),
    activityListItemProps() {
      return {
        showPartupName: true,
      }
    },
  },

  methods: {
    ...mapActions('views/dashboard', ['getActivities', 'updateActivityStatus']),
    gotoActivityView(activity) {
      this.$router.push({
        name: 'partup-activity',
        params: {
          activityUuid: activity.uuid,
          partupSlug: activity.partup_summary.slug,
        },
      })
    },
    transform: composeWithOptions({
      nullable: true,
      fields: {
        q: {
          exclude: [isNull, lengthBelow(1)],
        },
      },
    }),
  },
})
</script>

<i18n>
{
  "nl": {
    "heading": "Jouw activiteiten"
  }
}
</i18n>

<style lang="scss">
@import 'activities.scss';
</style>
