.pu-view-admin-organization-overview {
  height: 100%;

  .pu-list-organization {
    margin-left: 1vw;
    padding-right: 4px;

    > li {
      $seperator: 1px solid $accent;

      align-items: center;
      border-bottom: $seperator;
      display: flex;

      .pu-link {
        flex: 1;
        padding: 16px 4px 16px 4px;

        &:hover {
          background-color: scale-color($color: $primary, $lightness: -10%, $alpha: -90%);
        }
      }

      .pu-button-action {
        color: $gray-8;
        margin: 0 6px;

        &:hover {
          color: $secondary;
        }
      }

      &:first-of-type {
        border-top: $seperator;
      }
    }
  }

  .pu-menu-invite {
    .content {
      right: 0;
      padding: 8px;

      .pu-label {
        margin-bottom: 10px;
        margin-left: 4px;
      }
    }
  }
}