<template>
  <div class="pu-view-admin-organization-overview">
    <h1>{{ $t('header') }}</h1>

    <div class="pu-scrollable">
      <pu-list class="pu-list-organization">
        <pu-organization-list-item
          v-for="organization in organizations"
          :key="organization.uuid"
          :organization="organization"
        />
      </pu-list>
    </div>
  </div>
</template>

<script lang="ts">
import find from '@/data/admin/organization/find'
import PuOrganizationListItem from './list/list-item.vue'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-admin-organization-overview',

  components: {
    PuOrganizationListItem,
  },

  data() {
    return {
      organizations: [],
    }
  },

  created() {
    this.getOrganizations()
  },

  methods: {
    async getOrganizations() {
      try {
        const { data } = await find()
        this.organizations = data
      } catch (error) {
        window.alert(error.message)
      }
    },
  },
})
</script>

<i18n>
{
  "nl": {
    "header": "Organisatie overzicht voor admins"
  }
}
</i18n>

<style lang="scss">
@import 'content.scss';
</style>
