<template>
  <li :class="rootClasses">
    <pu-action
      :action="createItem"
      :disabled="!create"
      @success="clearFormValues"
      @error="handleError"
    >
      <template
        v-slot:default="{
          trigger,
          pending,
        }"
      >
        <pu-form
          :id="`form-${uid}`"
          :autofocus="create"
          @submit="trigger(internalValue)"
        >
          <pu-action
            :action="updateItem"
            :disabled="create"
            @error="handleError"
          >
            <template
              v-slot:default="{
                trigger,
              }"
            >
              <pu-content-editable
                :id="`form-${uid}-field-name`"
                v-model="internalValue.name"
                class="field-name"
                tag="span"
                :editing="create"
                :can-edit="create"
                :force-edit="create"
                :error-messages="errorField('name')"
                @change="resolveErrorField('name')"
                @save="
                  trigger({
                    uuid: internalValue.uuid,
                    key: 'name',
                    ...$event,
                  })
                "
              >
                <pu-textfield :placeholder="$t('placeholder.name')" />
              </pu-content-editable>
            </template>
          </pu-action>

          <pu-action :action="updateItem" :disabled="create">
            <template
              v-slot:default="{
                trigger,
              }"
            >
              <pu-content-editable
                :id="`form-${uid}-field-end_date`"
                v-model="internalValue.end_date"
                class="field-end_date"
                tag="span"
                :editing="create"
                :can-edit="create"
                :force-edit="create"
                @save="
                  trigger({
                    uuid: internalValue.uuid,
                    key: 'end_date',
                    ...$event,
                  })
                "
              >
                <pu-datepicker
                  :placeholder="$t('placeholder.end_date')"
                  open-on-focus
                />

                <template v-slot:content>
                  <pu-date :date="internalValue.end_date" />
                </template>
              </pu-content-editable>
            </template>
          </pu-action>

          <div class="pu-form-actions">
            <pu-button v-if="create" type="submit" :loading="pending" flat>
              <pu-icon name="enter" :size="24" />
            </pu-button>
            <template v-else-if="!create">
              <pu-action v-if="isIdentifiable" :action="deleteItem">
                <template
                  v-slot:default="{
                    trigger,
                    pending,
                  }"
                >
                  <pu-button :loading="pending" @click="trigger(internalValue)">
                    <pu-icon name="close" />
                  </pu-button>
                </template>
              </pu-action>
            </template>
          </div>
        </pu-form>
      </template>
    </pu-action>
  </li>
</template>

<script lang="ts">
import { PropType } from 'vue'
import { PropValidator } from 'vue/types/options'
import { mapActions } from 'vuex'
import { lazyModelFactory } from '@/mixins/lazy-model'
import mixins from '@/util/vue/mixins'
import { BacklogFormData } from '../../types'

import PuDatepicker from '@/components/base/picker/date/date-picker.vue'
import isString from 'lodash/isString'

/* eslint-disable camelcase */

export default mixins(lazyModelFactory('change')).extend({
  name: 'pu-list-item-backlog',

  components: {
    PuDatepicker,
  },

  props: {
    create: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Object as PropType<FormData>,
      default: null,
    } as PropValidator<FormData>,
  },

  data(vm) {
    const lazyValue: FormData = vm.formValue(vm.value)

    return {
      lazyValue,
      error: null,
    }
  },

  computed: {
    /**
     * Vue instance uid to ensure unique html form ids
     */
    uid() {
      return this._uid
    },
    isIdentifiable() {
      return isString(this.internalValue.uuid)
    },
    rootClasses() {
      return {
        'pu-list-item-backlog': true,
        'pu-list-item-backlog-add': this.create,
      }
    },
    errorField() {
      return (field) => this.error && this.$t(this.error.field(field))
    },
  },

  methods: {
    ...mapActions('createWork', ['createItem', 'updateItem', 'deleteItem']),
    clearFormValues(this: any) {
      this.lazyValue = this.formValue()
    },
    formValue(data?: BacklogFormData) {
      let val: BacklogFormData

      if (data) {
        val = data
      } else {
        val = {
          name: null,
          // eslint-disable-next-line
          end_date: null,
        }
      }

      return val
    },
    handleError(this: any, error) {
      this.error = error
      this.$emit('error', error)
    },
    resolveErrorField(this: any, field) {
      if (this.error) {
        delete this.error.fields[field]
      }
    },
  },
})
</script>

<i18n src="./locales/nl-list-item.json"></i18n>

<style lang="scss">
@import 'list-item';
</style>
