<template>
  <transition-group tag="pu-list" name="t-list-move" class="pu-list-backlog">
    <pu-list-item-backlog
      v-if="form"
      key="create"
      :create="true"
      @error="$emit('error', $event)"
    />
    <pu-list-item-backlog
      v-for="item in items"
      :key="item.uuid"
      :value="item"
      :create="false"
      @error="$emit('error', $event)"
    />
  </transition-group>
</template>

<script lang="ts">
import Vue from 'vue'
import PuListItemBacklog from './list-item.vue'

export default Vue.extend({
  name: 'pu-list-backlog',

  components: {
    PuListItemBacklog,
  },

  props: {
    /**
     * enable creating new backlog items
     * @prop form
     * @type boolean
     * @default false
     */
    form: {
      type: Boolean,
      default: false,
    },
    /**
     * list items
     */
    items: {
      type: [Object, Array],
      default: () => [],
    },
  },
})
</script>

<style lang="scss">
@import 'list';
</style>
