.pu-list-item-backlog {
  position: relative;

  &::after {
    content: "";
    height: 0;
    position: absolute;
    bottom: 0;
    left: 1.334rem;
    right: 1.334rem;
    border-bottom: 2px solid $white;
  }

  .pu-form {
    display: flex;
    flex-flow: row nowrap;

    .field {
      &-name {
        flex: 0 1 100%;
      }
      &-end_date {
        display: none;
      }
    }

    @include goingLarge(large) {
      .field {
        &-name {
          flex: 0 1 66%;
        }

        &-end_date {
          flex: 0 1 33%;
          display: block;
        }
      }
    }

    // Hide and disable remove action on a backlog item
    .pu-form-actions {
      opacity: 0;
      pointer-events: none;
    }

    // Round icon-only remove item button
    .pu-button {
      height: 38px;
      margin-right: 0.334rem;
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      background: transparent;
      color: $gray-3;

      &:focus,
      &:hover {
        color: $blue;
      }
    }
  }

  // If item is hovered over or has focus, show and enable remove item action
  &:focus,
  &:hover {
    .pu-form {
      .pu-form-actions {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }



  // The backlog form is visually a sister of the filter form.
  // So inspired on the code in filter component:
  //
  &-add {
    width: 100%;
    transition: .4s ease;

    &::after {
      display: none; // Prevent white separator from showing in form.
    }

    .pu-form {
      width: 100%;
      background-color: $white;
      border: 2px solid $blue;
      border-radius: $border-radius;
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 1 1 auto;

      .pu-content-editable {
        position: relative;

        .component {
          .pu-input {
            border-color: transparent;
            margin: 0;
            width: 100%;

            input {
              padding: 0.5rem 1.3rem 0.6rem;
              margin-bottom: 1px; // Nasty fix to ensure inputs not falling over form border.
              border: 0; // No border on inputs themselves, is covered by surrounding filter box.

              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }

      .pu-content-editable + .pu-content-editable {
        z-index: 100; // Make sure the date picker gets rendered on top of the task list dates.

        &:before {
          content: '';
          position: absolute;
          height: 8px;
          width: 2px;
          bottom: 0;
          left: 0;
          background-color: $blue;
        }
      }

      // Always show and enable form action to add item
      .pu-form-actions {
        opacity: 1;
        pointer-events: auto;
      }

      .pu-button {
        color: $blue;
        margin-right: 0;
      }
    }
  }
}
