<template>
  <div :class="rootClasses">
    <slot>
      <p>{{ message }}</p>
    </slot>
  </div>
</template>

<script lang="ts">
import colorable from '@/mixins/colorable'
import Vue, { PropType } from 'vue'
import { PropValidator } from 'vue/types/options'

enum ALERT_FORM_TYPES {
  intro = 'intro',
  info = 'info',
  error = 'error',
}

export default Vue.extend({
  name: 'pu-alert-form',

  mixins: [colorable],

  props: {
    message: {
      type: String,
    },
    type: {
      type: String as PropType<ALERT_FORM_TYPES>,
      required: true,
    },
  },

  computed: {
    rootClasses() {
      return {
        [`pu-alert-form-${this.type}`]: true,
      }
    },
  },
})
</script>

<style lang="scss">
@import 'alert-form.scss';
</style>
