<template>
  <div class="partup">
    <slot name="header">
      <h3>{{ headerMessage }}</h3>
      <p v-if="link">
        <pu-link
          :to="{
            name: 'partup',
            params: {
              partupSlug: value.partup.slug,
            },
            query: {
              solicit: value.uuid,
            },
          }"
          >{{ value.partup.name }}</pu-link
        >
      </p>
    </slot>

    <slot />
  </div>
</template>

<script>
import contentBase from './content-base'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-solicit-content-partup',

  extends: contentBase,
})
</script>
