<template>
  <div class="organization">
    <slot name="header">
      <h3>{{ headerMessage }}</h3>
      <p v-if="link">
        <pu-link
          :to="{
            name: 'organization',
            params: {
              organizationSlug: value.organization.slug,
            },
            query: {
              solicit: value.uuid,
            },
          }"
          >{{ value.organization.name }}</pu-link
        >
      </p>
    </slot>

    <slot />
  </div>
</template>

<script lang="ts">
import contentBase from './content-base'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-solicit-content-organization',

  extends: contentBase,
})
</script>
