<template>
  <div class="activity">
    <slot name="header">
      <h3>{{ $t(i18nHeader) }}</h3>

      <template v-if="displayContext">
        <pu-link :to="route" :disabled="isLinkDisabled">{{
          value.activity.name
        }}</pu-link>
        <pu-date :date="getEndDate(activity)" />
      </template>
    </slot>

    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import contentBase from './content-base'
import getSlug from '@/lib/model/partup/get-slug'
import getEndDate from '@/lib/model/activity/get-end-date'

export default Vue.extend({
  name: 'pu-solicit-content-activity',

  extends: contentBase,

  computed: {
    activity() {
      return this.value.activity
    },
    i18nHeader() {
      return this.displayContext
        ? `header-${this.value.type}${this.isMine ? '-self' : ''}`
        : `header-${this.value.type}-self-no-context`
    },
    route() {
      return {
        name: 'partup-activity',
        params: {
          activityUuid: this.activity?.uuid,
          partupSlug: getSlug(this.value?.partup),
        },
        query: {
          // signal the route it's visited from a solicit
          solicit: this.value.uuid,
        },
      }
    },
    isLinkDisabled() {
      return !this.link || !getSlug(this.value.partup)
    },
  },

  methods: {
    getSlug,
    getEndDate,
  },
})
</script>

<i18n src="./content-activity.nl.json"></i18n>
