.pu-view-header-user-profile {
  .profile-not-visible {
    margin: 1rem;
    color: $white;
  }

  .content-editable-controls {
/*
    align-self: flex-start;
    justify-self: flex-end;
*/
    grid-row: 1;
    grid-column: 3;
//     padding: .6rem;
    display: flex;
    flex-wrap: nowrap;

    .control {
      .pu-icon {
        border-radius: 50%;
        border: 2px solid $white;
        color: $white;
        padding: .44rem;
      }
    }

    .pu-icon-arrow_up {
      transition: transform .2s linear;
      transform: rotate(180deg);
      padding: 4px;
    }
  }

  @include goingLarge(large) {
    .pu-icon-arrow_up {
      display: none; // Temporarily disabled, while user profile header on desktop has a single height for now.
    }
  }

  .pu-form {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: repeat(2, 1fr) min-content;

    .pu-input {
      margin: 0;
    }

    .profile-share {
      align-self: center;
      grid-column: 1 / 4;
      grid-row: 2;
      justify-self: center;
      left: 6.2rem;
      z-index: 30;
    }

    .pu-send-email {
      grid-column: 1 / 4;
      grid-row: 2;
      position: relative;

      .pu-button {
        background-color: $orange;
        border-radius: 1.334rem;
        color: $white;
        text-decoration: none;
        padding: 0.4rem 1.334rem;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1.334rem;
      }
    }

    .field {
      &-image_url {
        grid-column: 1 / 4;
        grid-row: 2;
        padding: 0 1rem;
        justify-self: center;

        .pu-picker-storage {
          align-items: center;
          justify-content: center;
        }

        .pu-progress-circular {
          position: absolute;
        }

        .pu-avatar {
          height: 80px;
          width: 80px;
        }
      }

      &-name {
        grid-column: 1 / 4;
        grid-row: 3;
//         margin: .6rem 1.667rem 0;

        .component__content {
          align-self: center;
        }
      }

      &-description {
        grid-column: 1 / 4;
        grid-row: 5;
        min-height: 104px;
//         margin: 1rem 1.667rem 0;
      }

      &-visibility {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      &-keywords {
        align-self: flex-start;
        grid-column: 1 / 4;
        grid-row: 6;
        margin: 0 1.304rem;
        margin-top: 1rem;
      }

      &-headline {
        grid-column: 1 / 4;
        grid-row: 4;
        margin: 0 1.304rem;
        margin-top: 1rem;
      }

      &-phonenumber {
        grid-column: 1 / 4;
        grid-row: 7;
        margin: 0 1.304rem;
        margin-top: 1rem;

        p.component__content {
          font-size: 1.25rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  &.is-editing {
    .pu-form {
      .content-editable-controls {
        .control {
          .pu-icon {
            border-color: transparent;
          }
        }
      }
    }
  }

  @include goingLarge(large) {
    .pu-form {
//       border-radius: 2rem;
      padding: 1rem;

      grid-template-rows: repeat(3, min-content);
      grid-template-columns: 340px 6fr 4fr min-content;

      .content-editable-controls {
        top: -8px;
        right: -8px;
        position: relative;
        grid-column: 4;
        display: flex;

        .control:not(:first-of-type) {
          margin-lefT: 6px;
        }
      }

      .profile-share {
        grid-column: 1;
        grid-row: 2;
//         margin-left: 1rem;
//         justify-self: flex-start;
//         left: auto;
      }

      .pu-send-email {
        grid-column: 1;
        grid-row: 2;
      }

      .field {
        &-image_url {
          justify-self: center;
          align-self: center;
          grid-column: 1;

          .pu-avatar {
            height: 120px;
            width: 120px;
          }
        }

        &-name {
          grid-column: 1;
          margin: .6rem;
        }

        &-description {
          grid-column: 2;
          grid-row: 2;
          margin: .6rem 1rem;
        }

        &-visibility {
          grid-column: 1 / 4;

          .pu-radio-group {
            max-width: 50rem;
          }
        }

        &-keywords {
          grid-column: 3;
          grid-row: 2 / 5;
          margin-top: 0;
        }

        &-headline {
          grid-column: 2;
          grid-row: 3;
          margin: 0 1rem;
        }

        &-phonenumber {
          grid-column: 3;
          grid-row: 3;
          margin: 0 1rem;
        }
      }
    }
  }
}

.header-is-expanded {
  .pu-view-header-user-profile {
    .pu-icon-arrow_up {
      transform: rotate(0);
    }
  }
}

