<template>
  <header :class="rootClasses">
    <div>
      <div class="content-editable-frame">
        <template v-if="hasError">
          <h1 class="profile-not-visible">Dit profiel is niet zichtbaar.</h1>
        </template>

        <template v-else>
          <pu-form id="form-user-profile">
            <div class="content-editable-controls">
              <div v-if="isOwnProfile" class="control">
                <pu-button icon color="white" @click="isEditing = !isEditing">
                  <pu-icon :name="isEditing ? 'close' : 'edit'" :size="20" />
                </pu-button>
              </div>

              <div class="control">
                <pu-button icon color="white" @click="isExpanded = !isExpanded">
                  <pu-icon name="arrow_up" :size="20" />
                </pu-button>
              </div>
            </div>

            <pu-form-control
              class="field-image_url"
              @change="
                updateField({
                  value: $event,
                  field: 'image_url',
                })
              "
            >
              <pu-picker-storage
                accept="image/jpg,image/jpeg,image/png,image/gif"
                path="user"
                level="public"
                :disabled="!canEdit"
              >
                <template v-slot:activator="{ pending }">
                  <pu-progress-circular
                    v-if="pending"
                    color="secondary"
                    indeterminate
                  />
                  <pu-avatar :src="fields.image_url" />
                </template>
              </pu-picker-storage>
            </pu-form-control>

            <pu-content-editable
              tag="h1"
              class="field-name"
              :value="fields.name"
              :placeholder="placeholder('name')"
              :can-edit="canEdit"
              :editing="isEditing"
              :force-edit="isEditing"
              @save="
                updateField({
                  ...$event,
                  field: 'name',
                })
              "
            >
              <pu-textfield
                id="user-fullname"
                :placeholder="placeholder('name')"
              />
            </pu-content-editable>

            <pu-content-editable
              tag="p"
              class="field-headline"
              :value="fields.headline"
              :placeholder="placeholder('headline')"
              :can-edit="canEdit"
              :editing="isEditing"
              :force-edit="isEditing"
              @save="
                updateField({
                  ...$event,
                  field: 'headline',
                })
              "
            >
              <pu-label for="user-headline" v-if="isEditing">
                Rol of functie
              </pu-label>
              <pu-textfield
                id="user-headline"
                :placeholder="placeholder('headline')"
              />
            </pu-content-editable>

            <pu-content-editable
              tag="p"
              class="field-description"
              :value="fields.description"
              :placeholder="placeholder('description')"
              :can-edit="canEdit"
              :editing="isEditing"
              :force-edit="isEditing"
              @save="
                updateField({
                  ...$event,
                  field: 'description',
                })
              "
            >
              <pu-textarea
                id="user-description"
                :placeholder="placeholder('description')"
                :max-rows="6"
                no-resize
              />
            </pu-content-editable>

            <pu-modal-activator
              v-if="!isEditing && $can('user_profile_share')"
              for="share-user-profile"
              :modal-props="{
                title: 'Met wie wil je dit profiel delen?',
                profile: user,
              }"
            >
              <pu-button color="secondary" class="profile-share">{{
                $t('button.share')
              }}</pu-button>
            </pu-modal-activator>

            <div class="pu-send-email" v-if="!isEditing">
              <a class="pu-button" :href="emailLink">Stuur e-mail</a>
            </div>

            <pu-picker-visibility
              v-if="user"
              class="field-visibility"
              :disabled="!canEdit"
              :value="fields.visibility"
              :items="visibilityOptions"
              self-closing
              @change="
                updateField({
                  value: $event,
                  field: 'visibility',
                })
              "
            />

            <pu-content-editable-tag
              tag="div"
              class="field-keywords"
              :value="fields.keywords"
              :can-edit="canEdit"
              :editing="isEditing"
              :force-edit="isEditing"
              @change="
                updateField({
                  value: $event,
                  field: 'keywords',
                })
              "
            />

            <pu-content-editable
              tag="p"
              class="field-phonenumber"
              :value="fields.phonenumber"
              :can-edit="canEdit"
              :editing="isEditing"
              :force-edit="isEditing"
              @save="
                updateField({
                  ...$event,
                  field: 'phonenumber',
                })
              "
            >
              <pu-label for="user-phonenumber" v-if="isEditing">
                Telefoonnummer
              </pu-label>
              <pu-textfield
                id="user-phonenumber"
                :placeholder="placeholder('phonenumber')"
                type="tel"
              />
            </pu-content-editable>

<!--             <p>{{ user.email }}</p> -->
          </pu-form>
        </template>
      </div>
    </div>
  </header>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import PuPickerStorage from '@/components/base/picker/file/storage.vue'
import PuContentEditableTag from '@/components/implementations/input/tag/content-editable-tag.vue'
import PuPickerVisibility from '@/components/base/picker/visibility/picker-visibility'
import isProfileOf from '@/lib/model/user/is-profile-of'
import getAvatar from '@/lib/model/user/get-avatar'
import ability from '@/mixins/ability'
import { USER_VISIBILITY } from '@/types'
import { visibilityOptions } from '@/util'
import pick from 'lodash/pick'
import defaults from 'lodash/defaults'

export default {
  name: 'pu-view-header-user-profile',

  components: {
    PuContentEditableTag,
    PuPickerStorage,
    PuPickerVisibility,
  },

  mixins: [
    ability({
      attribute: 'user',
    }),
  ],

  data() {
    return {
      fields: {},
      isEditing: false,
      visibilityOptions: visibilityOptions('user', USER_VISIBILITY),
    }
  },

  watch: {
    user: {
      handler(newVal) {
        this.fields = this.formFields(newVal)
      },
    },
    isEditing: {
      handler(newVal) {
        if (newVal) {
          if (!this.isExpanded) {
            this.isExpanded = true
          }
        } else {
          this.isExpanded = false
        }
      },
    },
  },

  computed: {
    ...mapGetters(['currentUser']),
    ...mapGetters('views/userProfile', ['actionError', 'user']),
    canEdit() {
      return this.isEditing && this.isOwnProfile
    },
    canShare() {
      return this.user && this.$can('user_profile_share')
    },
    hasError() {
      return !!this.actionError('getProfile')
    },
    isOwnProfile() {
      return (
        this.user &&
        this.currentUser &&
        isProfileOf(this.user, this.currentUser)
      )
    },
    emailLink() {
      return 'mailto:' + this.user.email
    },
    placeholder() {
      return (field) => {
        return this.isOwnProfile ? this.$t(`placeholder.${field}`) : null
      }
    },
    rootClasses() {
      return {
        'pu-view-header-user-profile': true,
        'is-editing': this.isEditing,
      }
    },
    isExpanded: {
      get() {
        return this.$store.getters['layout/isSectionExpanded']('header')
      },
      set(v) {
        this.$store.dispatch('layout/setSectionExpanded', {
          expanded: v,
          section: 'header',
          view: 'userProfile',
          preference: false,
        })
      },
    },
  },

  methods: {
    ...mapActions('views/userProfile', ['updateField']),
    formFields(user) {
      let fields = {}

      if (user) {
        fields = pick(user, [
          'name',
          'description',
          'headline',
          'keywords',
          'phonenumber',
          'visibility',
        ])

        // eslint-disable-next-line
        fields.image_url = getAvatar(user, 'medium')
      }

      fields = defaults(fields, {
        keywords: [],
      })

      return fields
    },
  },
}
</script>

<i18n>
{
  "nl": {
    "button": {
      "share": "Delen"
    },
    "placeholder": {
      "name": "Naam",
      "description": "Omschrijving",
      "headline": "In één woord",
      "phonenumber": "0687654321"
    }
  }
}
</i18n>

<style lang="scss">
@import 'header.scss';
</style>
