<template>
  <span :class="rootClasses">{{ computedValue }}</span>
</template>

<script>
import colorable from '@/mixins/colorable'

export default {
  name: 'pu-counter',

  mixins: [
    colorable,
  ],

  props: {
    value: {
      type: [Number, String],
      default: '',
    },
    max: {
      type: [Number, String],
      default: 25,
    },
  },

  computed: {
    rootClasses() {
      return this.setTextColor({
        'pu-counter': true,
      }, this.isGreater ? 'error' : '')
    },
    isGreater() {
      return parseInt(this.value, 10) > parseInt(this.max, 10)
    },
    computedValue() {
      const max = parseInt(this.max, 10)
      const value = parseInt(this.value, 10)

      return max ? `${value} / ${max}` : value
    },
  },
}
</script>

<style lang="scss">
  @import "counter.scss";
</style>
