<template>
  <ul
    :class="rootClasses"
  >
    <slot />
  </ul>
</template>

<script>
import {
  registerableProvide
} from '@/mixins'

export default {
  name: 'pu-list',

  mixins: [
    registerableProvide('list')
  ],

  data() {
    return {
      groups: [],
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-list': true,
      }
    }
  },

  methods: {
    register(vnode, callback) {
      this.groups.push({
        _uid: vnode._uid,
        callback,
      })
    },
    unregister(vnode) {
      remove(this.groups, (item) => item._uid === vnode._uid)
    }
  }
}
</script>

<style lang="scss">
  @import "list.scss";
</style>
