.pu-list-selectable {
  background: white;
  border: 1px solid grey;
  border-radius: .334rem;

  .pu-list-item {
    padding: 12px 20px;
    cursor: pointer;

    &:hover {
      background: lightgrey;
    }

    &.is-selected {
      background: green;
    }
  }
}