<template>
  <li :class="rootClasses">
    <slot />
  </li>
</template>

<script>
export default {
  name: 'pu-list-item',

  props: {
    ghost: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-list-item': true,
        'pu-list-item--ghost': this.ghost,
      }
    },
  },
}
</script>

<style>

</style>
