<template>
  <ul
    :class="rootClasses"
  >
    <slot />
  </ul>
</template>

<script>
import PuList from './list.vue'
import {
  selectable,
} from '@/mixins'

export default {
  name: 'pu-list-selectable',

  extends: PuList,

  mixins: [
    selectable,
  ],

  computed: {
    rootClasses() {
      return {
        'pu-list': true,
        'pu-list-selectable': true,
      }
    }
  }
}
</script>

<style lang="scss">
  @import "list-selectable.scss";
</style>
