<template>
  <div
  class="pu-input pu-autocomplete"
  >
    <!-- :clas="rootClasses" -->
    <pu-label
      :color="validationState"
      :for="id"
    >
      <slot name="label">{{label}}</slot>
    </pu-label>

    <div class="control">

    <pu-dropdown
      v-model="isDropdownActive"
      :open-on-click="false"
    >
      <div
        slot="activator"
        class="pu-autocomplete__activator"
      >
        <!-- <div
          :class="controlClasses"
        > -->
          <!-- class="control" -->
            <!-- v-bind="extendedInputAttributes" -->
          <input
            ref="input"
            :value="internalSearch"
            :placeholder="placeholder"
            @blur="onBlur"
            @focus="onFocus"
            @input="onInput"
            @keydown="onEnterDown"
          >
      </div>
      <!-- </div> -->

      <ul
        class="pu-autocomplete-list"
      >
        <pu-select-list-item
          v-for="(item, index) in items"
          v-model="internalValue"
          :key="index"
          :text="getText(item)"
          :value="item"
          :multiple="multiple"
          @selected="onItemSelected"
        >
          <slot name="list-item" :item="item" />
        </pu-select-list-item>
      </ul>
    </pu-dropdown>

    <figure
      v-if="hasPrependIcon"
      :class="prependIconClasses"
      @click="onPrependIcon"
    >
      <slot name="prepend-icon">
        <pu-icon
          :name="prependIcon"
          :size="24"
        />
      </slot>
    </figure>

    <figure
      v-if="hasAppendIcon"
      :class="appendIconClasses"
      @click="onAppendIcon"
    >
      <slot name="append-icon">
        <pu-icon
          :name="appendIcon"
          :size="24"
        />
      </slot>
    </figure>

    </div>

    <div
      v-show="hasDetails"
      class="details"
    >
      <pu-input-messages
        :value="computedMessages"
        :color="validationState"
      />
      <pu-counter
        v-if="hasCounter"
        :max="maxCount"
        :value="counterValue"
      />
    </div>

    <div
      v-if="isMultiple && !inline && !hideResults"
      class="results"
    >
      <template
        v-for="(selection) in internalValue"
      >
        <slot name="selection" :item="selection">
          <pu-tag
            :text="getText(selection)"
            :closeable="true"
            :close-callback="() => onRemoveItem(selection)"
          />
        </slot>
      </template>
    </div>

    <!-- <figure
      v-if="hasPrependIcon"
      :class="prependIconClasses"
      @click="onPrependIcon"
    >
      <slot name="prepend-icon">
        <pu-icon
          :name="prependIcon"
          :size="24"
        />
      </slot>
    </figure> -->

    <!-- <figure
      v-if="hasAppendIcon"
      :class="appendIconClasses"
      @click="onAppendIcon"
    >
      <slot name="append-icon">
        <pu-icon
          :name="appendIcon"
          :size="24"
        />
      </slot>
    </figure> -->

    
  </div>
</template>

<script>
import {
  assign,
  debounce,
  filter,
  get,
  throttle,
  isFunction,
  isString,
  includes,
  map,
} from 'lodash'

import PuSelect from '@/components/base/input/select/select.vue'
import PuInput from '@/components/base/input/input.js'

import PuDropdown from '@/components/base/dropdown/dropdown.vue'
import PuCounter from '@/components/base/counter/counter.vue'
import PuInputMessages from '@/components/base/input/_children/messages/messages.vue'

import PuSelectListItem from '@/components/base/input/select/_children/list-item.vue'
import PuTag from '@/components/base/tag/tag.vue'

import {
  comparable,
  // focusable,
} from '@/mixins'

export default {
  name: 'pu-autocomplete',

  /** @extends */
  extends: PuSelect,
  // extends: PuInput,

  components: {
    PuDropdown,
    PuCounter,
    PuInputMessages,
    PuSelectListItem,
    PuTag,
  },

  mixins: [
    comparable,
    // focusable,
  ],

  data() {
    return {
      isDropdownActive: false,
      loading: false,
      results: get(this, 'items', []),
      lazySearch: '',
    }
  },

  props: {
    async: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      default: () => [],
    },
    inline: {
      type: Boolean,
      default: null,
    },
    min: {
      type: [String, Number],
      default: 2,
    },
    tags: {
      type: Boolean,
      default: null,
    },
    filter: {
      type: Function,
      default(item, text) {
        return this.valueComparator(this.getValue(item), text)
      },
    },
    hideResults: {
      type: Boolean,
      default: false,
    },
    closeOnSelect: {
      type: Boolean,
      default: true,
    }
  },

  watch: {
    items: {
      handler(newVal) {
        if (!this.valueComparator(this.results, newVal)) {
          // in the case of async the results are already filtered
          if (this.isAsync) {
            this.results = newVal
            this.loading = false
          } else {
            // Immediatly filter the results by applying the given filter
            this.filterItems()
          }
        }
      },
      deep: true,
    },
    results: {
      handler(newVal, oldVal) {
        if (!this.valueComparator(oldVal, newVal)) {
          this.isDropdownActive = true
        }
      },
      deep: true,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-autocomplete': true,
      }
    },
    extendedInputAttributes() {
      return assign({},
        this.inputAttributes,
        {
          value: this.internalSearch
        }
      )
    },
    internalSearch: {
      get() {
        return this.lazySearch
      },
      set(newVal) {
        this.lazySearch = newVal
        this.$emit('update:searchInput', newVal)
      }
    },
    isAsync() {
      return this.async
    }
  },

  beforeMount() {
    const onInputChange = (e) => {
      this.internalSearch = e.target.value
      this.$emit('search', this.internalSearch)

      if (this.isAsync) {
        this.loading = true
      } else {
        this.filterItems()
      }
    }

    this.onInput = Boolean(this.throttle) ? debounce(onInputChange, isNan(this.throttle) ? this.throttle : 200) : onInputChange
  },

  methods: {
    getText(item) {
      return get(item, `${this.itemText}`, get(item, 'text', item))
    },
    // getValue(item) {
    //   return get(item, 'name', get(item, 'text', item))
    // },
    filterItems() {
      this.results = filter(this.items, (item) => !this.filter(item, this.internalSearch))
    },
    onEnterDown(e) {
      const val = e.target.value
      switch (e.keyCode) {
        case 13:
          e.preventDefault()
          this.emitAdd(val)
          break
        default:
          break
      }
    },
    onItemSelected() {
      this.isDropdownActive = false
    },
    onRemoveItem(item) {
      this.internalValue = filter(this.internalValue, (x) => x !== item)
    },

    onPrependIcon(e) {
      if (isFunction(this.prependIconCallback)) {
        this.prependIconCallback(this.lazySearch, e)
      }
    },
    onAppendIcon(e) {
      if (isFunction(this.appendIconCallback)) {
        this.appendIconCallback(this.lazySearch, e)
      }
    },

    emitAdd(keyword) {
      if (
        (isString(keyword) && keyword.length)
        && !this.hasItem(keyword)
      ) {
        this.$emit('add', keyword)
        this.lazySearch = null
      }
    },

    hasItem(text) {
      return includes(map(get(this, 'internalValue', []), this.getText), text)
    },


  }
}
</script>

<style lang="scss">
  @import "autocomplete.scss";
</style>
