
.pu-autocomplete {

  .pu-dropdown {
    .content {
      width: 100%;
    }
  }

  .control {
    div {
      width: 100%;
      input {
        width: 100%;
      }
    }

    &.prepend-inner-icon {
      padding-left: 37px;

      input {
        padding-left: 4px;
      }
    }

    &.append-inner-icon {
      padding-right: 37px;

      input {
        padding-right: 4px;
      }
    }
  }

  .icon {
    grid-row: 2;

    > svg {
      padding: 6px;
    }

    &-prepend {
      &-inner {
        grid-column: 2;
        justify-self: start;
        padding-left: 4px;
        z-index: 1;
      }

      &-outer {
        grid-column: 1;
      }
    }

    &-append {
      &-inner {
        grid-column: 2;
        justify-self: end;
        padding-right: 4px;
        z-index: 1;
      }

      &-outer {
        grid-column: 3;
      }
    }

    > svg {
      display: block;
    }

    &.clickable {
      cursor: pointer;
    }
  }

  .details {
    + .results {
      grid-row: 4;
    }
  }

  .results {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;

    margin-top: 6px;

    .pu-tag {
      margin-right: 8px;
      margin-bottom: 4px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

}