<template>
  <transition :name="transition" :mode="mode">
    <div v-show="isActive" :class="rootClasses">
      <slot name="icon">
        <pu-icon v-if="computedIcon" :name="computedIcon" :size="26" />
      </slot>

      <div class="pu-alert__content">
        <slot>
          <span>{{ message }}</span>
        </slot>
      </div>

      <pu-icon v-if="dismissable" name="close" :size="24" @click="onClose" />
    </div>
  </transition>
</template>

<script>
import colorable from '@/mixins/colorable'
import transitionable from '@/mixins/transitionable'
import toggleable from '@/mixins/toggleable'

export default {
  name: 'pu-alert',

  mixins: [colorable, transitionable, toggleable],

  props: {
    border: {
      type: String,
      validator: (v) => ['top', 'right', 'bottom', 'left'].includes(v),
    },
    dismissable: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: void 0,
    },
    message: {
      type: String,
    },
    outline: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'info',
      validator: (v) => ['info', 'error', 'success', 'warning'].includes(v),
    },
  },

  computed: {
    rootClasses() {
      const color = this.type && !this.color ? this.type : this.computedColor

      const classes = {
        'pu-alert': true,
        [`pu-alert-${this.type}`]: Boolean(this.type),
        outline: this.outline,
        [`border--${this.border}`]: Boolean(this.border),
        'is-active': this.isActive,
      }

      return this.outline
        ? this.setTextColor(classes, color)
        : this.setBackgroundColor(classes, color)
    },
    computedIcon() {
      return this.icon || this.type
    },
  },

  methods: {
    onClose(e) {
      this.$emit('change', !this.isActive)
      this.$emit('close', e)
    },
  },
}
</script>

<style lang="scss">
@import 'alert.scss';
</style>
