.pu-alert {
  border-top: 2px solid $white;
  display: flex;
  align-items: center;
  padding: 0.667rem 2.5%;

  &__content {
    flex: 1 1 auto;
    color: $gray-8;
    margin-left: 6px;
  }

  .pu-icon {
    flex: 0 0 auto;

    &-close {
      color: $black;
      cursor: pointer;
      height: 20px;
      width: 20px;
    }
  }

  &.outline {
    border-color: currentColor;

    .pu-icon:not(.pu-icon-close) {
      color: currentColor;
    }
  }

  &.error--text {
    color: $gray-8;
  }
}

