.pu-user-support {
  max-width: 40rem;

  .pu-send-email {
    position: relative;

    .pu-button {
      background-color: $orange;
      border-radius: 1.334rem;
      color: $white;
      text-decoration: none;
      padding: 0.4rem 1.334rem;
    }
  }
}
