<template>
  <section class="pu-user-support">
    <h3 class="pu-section-header">{{ $t('support.heading') }}</h3>

    <p>
{{ $t('support.main-copy') }}
    </p>

    <div class="pu-send-email">
      <a href="mailto:team@part-up.com" class="pu-button">
{{ $t('support.button') }}
      </a>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-user-support',

  computed: {
  },

  methods: {
  },
})
</script>

<i18n src="./support.nl.json"></i18n>

<style lang="scss">
@import 'support.scss';
</style>
