<template>
  <transition :name="transition" :mode="transitionMode" appear>
    <div class="pu-notification">
      <slot name="icon">
        <pu-icon v-if="icon" :name="icon" />
      </slot>

      <slot />

      <pu-icon v-if="dismissable" name="close" @click="$emit('close')" />
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-notification',

  props: {
    transition: {
      type: String,
      required: false,
      default: null,
    },
    transitionMode: {
      type: String,
      required: false,
      default: null,
    },
    dismissable: {
      type: Boolean,
      default: true,
    },
    icon: {
      type: String,
    },
  },
})
</script>

<style lang="scss">
@import 'notification.scss';
</style>
