[class*='pu-bulletin-organization'] {
  display: flex;
  flex-direction: column;
//   background-color: $blue-superlight;
  background-color: #a4e6e9;
  padding: 0;

  > div {
    flex: 0 0 100%;
  }

  h2 {
    padding-right: 4rem;
  }

  p {
    line-height: 1.3;
  }

  .pu-notification {
    background-color: #a4e6e9;
  }

  .pu-organization-content {
    position: relative;
    padding: 0.5rem 2rem 1.5rem;
  }

  .pu-organization-visual {
    background-size: cover;
    background-position: bottom center;

    .pu-gradient-overlay {
      height: 100%;
      background: linear-gradient(105deg, #a4e6e9 0, #a4e6e9 10%, transparent 90%, transparent 100%);
      display: flex;
      justify-content: center;
    }

    .pu-organization-logo {
      flex: 0 0 auto;
      align-self: center;
      max-height: 10rem;
    }
  }

  @include goingLarge(large) {
    // Setup for medium and large screen sizes...

    flex-direction: row;
    align-items: stretch;

    > div {
      flex: 0 0 50%;
    }
  }
}

