<template>
  <div class="pu-bulletin-organization-involvement">
    <div class="pu-notification">
      <pu-icon name="notification_bell" :size="20" />
    </div>

    <div class="pu-organization-content">
      <h2>
        {{ $t('heading') }}
        {{ organization.name }}!
      </h2>

      <pu-client-html :html="$t('message')" />
    </div>

    <div
      class="pu-organization-visual"
      :style="organizationBackgroundImageStyle"
    >
      <div class="pu-gradient-overlay">
        <img class="pu-organization-logo" :src="organizationLogoURI" />
      </div>
    </div>

<!--
    <pu-action :action="deactivateInvolvement">
      <template
        v-slot:default="{
          trigger,
          pending,
        }"
      >
        <pu-button :loading="pending" @click="trigger(organization.uuid)">
          {{ $t('deactivate-involvement') }}
        </pu-button>
      </template>
    </pu-action>
-->

    <pu-action :action="resolve">
      <template
        v-slot:default="{
          trigger,
          pending,
        }"
      >
        <pu-button
          color="primary"
          icon
          flat
          :loading="pending"
          @click="trigger(bulletin)"
        >
          <pu-icon name="close" :size="20" />
        </pu-button>
      </template>
    </pu-action>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import PuClientHtml from '@/components/base/html/client-html.vue'
import deactivateInvolvement from '@/data/user/deactivate-involvement'
import baseTemplate from '../base-template'

export default Vue.extend({
  name: 'pu-bulletin-branded-registration',

  components: {
    PuClientHtml,
  },

  extends: baseTemplate,

  computed: {
    organization() {
      return this.bulletin.params.organization
    },
    organizationBackgroundImageStyle() {
      return (
        'background-image:url(' +
        this.bulletin?.params.organization.images.background +
        ');'
      )
    },
    organizationLogoURI() {
      return this.bulletin?.params.organization.images.logo
    },
    organizationName() {
      return this.bulletin?.params.organization.name
    },
  },

  methods: {
    deactivateInvolvement,
  },
})
</script>

<i18n src="./involvement.nl.json"></i18n>

<style lang="scss">
@import '../../bulletin';
@import 'common.scss';
@import 'involvement.scss';
</style>
