<template>
  <div class="pu-bulletin-organization-welcome">
    <div class="pu-notification">
      <pu-icon name="notification_bell" :size="20" />
    </div>

    <div class="pu-organization-content">
      <h2>Gefeliciteerd!</h2>

      <pu-api-html :html="userWelcomeHTML" class="pu-markdown" />
    </div>

    <div
      class="pu-organization-visual"
      :style="organizationBackgroundImageStyle"
    >
      <div class="pu-gradient-overlay">
        <img class="pu-organization-logo" :src="organizationLogoURI" />
      </div>
    </div>

    <pu-action :action="resolve">
      <template
        v-slot:default="{
          trigger,
          pending,
        }"
      >
        <pu-button
          color="primary"
          icon
          flat
          :loading="pending"
          @click="trigger(bulletin)"
        >
          <pu-icon name="close" size="20" />
        </pu-button>
      </template>
    </pu-action>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import PuApiHtml from '@/components/base/html/api-html.vue'
import baseTemplate from '../base-template'

export default Vue.extend({
  name: 'pu-bulletin-organization-welcome',

  components: {
    PuApiHtml,
  },

  extends: baseTemplate,

  computed: {
    userWelcomeHTML() {
      return this.bulletin?.params.organization.user_welcome_html
    },
    organizationBackgroundImageStyle() {
      return (
        'background-image:url(' +
        this.bulletin?.params.organization.images.background +
        ');'
      )
    },
    organizationLogoURI() {
      return this.bulletin?.params.organization.images.logo
    },
    organizationName() {
      return this.bulletin?.params.organization.name
    },
  },
})
</script>

<style lang="scss">
@import '../../bulletin';
@import 'common';
@import 'welcome';
</style>
