<template>
  <pu-list class="pu-pending-solicits">
    <pu-list-item-solicit
      v-for="solicit in invites"
      :key="solicit.uuid"
      :value="solicit"
      link
      v-bind="$attrs"
      v-on="$listeners"
    />
  </pu-list>
</template>

<script lang="ts">
import Vue from 'vue'
import PuListItemSolicit from '@/components/implementations/list/solicit/list-item-solicit.vue'
import { isForActivity, isForPartup } from '@/lib/model/solicit/is-for-entity'
import filterOr from '@/util/array/filter-or'

export default Vue.extend({
  name: 'pu-dashboard-solicits',

  components: {
    PuListItemSolicit,
  },

  inheritAttrs: false,

  computed: {
    invites() {
      return this.$store.getters['solicit/myInvites'].filter(
        filterOr(
          (s) => isForActivity(s),
          (s) => isForPartup(s)
        )
      )
    },
  },
})
</script>

<style lang="scss">
@import 'solicit.scss';
</style>
