<template>
  <div class="pu-modal pu-modal-share-profile">
    <h1>{{ title }}</h1>

    <section class="content">
      <pu-card-user v-for="user in users" :key="user.uuid" :user="user">
        <template slot="actions">
          <pu-button
            v-if="!isShared(user)"
            class="pu-button-invite"
            color="secondary"
            outline
            :loading="isSharing(user)"
            @click="shareUserProfile(user)"
            ><pu-icon name="share" :size="24" /> <span>Delen</span></pu-button
          >
          <pu-button
            v-if="isShared(user)"
            class="pu-button-invite"
            color="success"
            outline
            disabled
            ><pu-icon name="success" :size="24" />
            <span>Gedeeld</span></pu-button
          >
        </template>
      </pu-card-user>
    </section>
  </div>
</template>

<script>
import get from 'lodash/get'
import filter from 'lodash/filter'
import remove from 'lodash/remove'

import userFind from '@/data/user/find'
import userShare from '@/data/user/share'

import PuModal from '@/components/base/modal/modal.js'
import PuCardUser from '@/components/implementations/card/user/card-user.vue'

export default {
  name: 'pu-modal-share-user-profile',

  components: {
    PuCardUser,
  },

  extends: PuModal,

  props: {
    title: {
      type: String,
    },
    profile: {
      type: Object,
      required: true,
    },
  },

  data(vm) {
    return {
      users: [],
      isSharingUsers: [],
    }
  },

  computed: {
    isShared() {
      return (user) => {
        return user.shared
      }
    },
    isSharing: {
      get() {
        return (user) => {
          return this.isSharingUsers.includes(user.uuid)
        }
      },
      set(val) {
        if (this.isSharingUsers.includes(val)) {
          this.isSharingUsers = filter(
            this.isSharingUsers,
            (uuid) => uuid !== val
          )
        } else {
          this.isSharingUsers.push(val)
        }
      },
    },
  },

  created() {
    this.getRecommendations()
  },

  methods: {
    async getRecommendations() {
      try {
        const { data } = await userFind()
        this.users = data
      } catch (error) {
        this.$logger.error(error)
      }
    },
    async shareUserProfile(user) {
      if (this.isSharing(user)) {
        return
      }

      this.isSharing = user.uuid
      try {
        const { data } = await userShare(this.profile, {
          data: {
            // eslint-disable-next-line
            user_to: user.uuid,
          },
        })

        if (!data) {
          throw new Error('Sharing failed')
        }

        Object.assign(user, {
          shared: true,
        })
        this.isSharing = false
      } catch (error) {
        this.$logger.error(`cannot share user ${user.name}`)
      }
    },
  },
}
</script>

<style lang="scss">
@import 'modal-share-user-profile.scss';
</style>
