
.pu-modal-share-profile {
  display: flex;
  flex-flow: column nowrap;
  max-height: 95vh;
  padding-top: 0;

  > h1 {
    padding: 1rem 1.334rem;
    flex: 0 0 auto;
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .6rem;

    .pu-card-user {
      margin-bottom: 2rem;

      .pu-button.is-disabled {
        color: $success;
      }

      @include goingLarge(600) {
        width: 48%;
      }
    }
  }

  @include goingLarge(600) {
    width: 40rem;
  }

  @include goingLarge(960) {
    max-width: 800px;

    width: 60rem;
  }
}
