.pu-view-content-create-work {
  position: relative;
  z-index: 2;
  height: auto;

  .pu-form-message {
    min-height: 4rem;
    padding: 0.667rem 1.334rem 0.667rem 2.334rem;

    .pu-icon-error {
      margin-right: 0.667rem;
    }
  }

  .pu-create-work-form-wrapper {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;

    @include goingLarge(medium) {
      padding: 3rem 3rem 0 1rem;
    }
    @include goingLarge(large) {
      padding-right: 8rem;
    }
  }

  .step-header {
    @include goingLarge(medium) { padding-left: 1.334rem; }
    margin-bottom: 1rem;

    &::before {
      content: "";
      width: 0.5rem;
      position: absolute;
      top: 3.5rem;
      bottom: 0;
      left: 1.334rem;
      border-left: 2px solid $orange;
    }
  }

  h2 {
    span {
      display: block;
    }
    .step-counter {
      color: $orange;
      font-weight: 600;
      font-size: 2rem;
    }
    .step-label {
      font-weight: 600;
    }

    @include goingSmall(medium) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .step-counter {
        position: relative;
        left: -1.2rem;
        margin-right: -0.4rem;
      }
      .step-label {
        font-size: 1.4rem;
      }
    }
  }

  .backlog-tasklist-header {
    margin: 1.334rem 1.334rem 0.334rem;
    @include goingLarge(medium) { margin-top: 4rem; }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    h3 {
      font-size: 1.7rem;
      @include goingSmall(medium) { font-size: 1.4rem; }
      font-weight: 600;
      margin-right: 0.667rem;
    }

    .pu-link {
      font-weight: 600;
      border-bottom: 1px solid $blue;
      &:hover,
      &:focus {
        text-decoration: none; // No regulare underline on hover, as we have the bottom border set.
      }
    }
  }

  .pu-list-backlog {
    min-height: 5.667rem;
  }

  @include goingLarge(medium) {

    .step-header {
      min-height: 5rem;

      &::before {
        width: calc(100% - 4rem);
        bottom: auto;
        top: 4.25rem;
        left: 6.334rem;
        border-left: 0;
        border-top: 3px solid $orange;
      }
    }

    h2 {
      span {
        display: block;
      }
      .step-counter {
        font-size: 3rem;
      }
      .step-label {
        margin-top: 0.5rem;
      }
    }

  }

  .t-op-04 {
    transition: opacity .4s;
  }

  .pu-form-tip {
    position: relative;
    margin-top: 1.667rem;
    @include goingLarge(medium) { margin-top: 2.667rem; }

    > *:first-child {
      &::before {
      content: "";
      display: block;
      width: 25px;
      height: 75px;
      position: absolute;
      z-index: 20;
      top: -60px;
      left: -25px;
      @include goingLarge(medium) {
        width: 30px;
        left: -32px;
        top: -75px;
      }

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 75'%3E%3Cpath fill='none' d='M0 0h30v75H0z'/%3E%3Cpath fill='%23999' d='M25.843 73.641C10.001 68.434 2.505 56.663 2.524 43.196c.006-13.9 7.879-29.596 22.4-42.076a.498.498 0 11.65.758C11.227 14.204 3.519 29.678 3.525 43.196c.019 13.092 7.142 24.365 22.631 29.495a.501.501 0 01.318.632.497.497 0 01-.631.318z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      }
    }
  }

  &.pu-hide-form-tip {
    .pu-form-tip {
      > *:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
}

// Should go to its own component, someday, maybe...
.pu-form-tip {
  margin: 1rem 1.334rem;
  line-height: 1.5;
  font-style: italic;

  p {
    max-width: 30rem;
  }
  ul {
    li {
      position: relative;
      padding-left: 1.334rem;
      &:before {
        content: "—";
        position: absolute;
        left: 0;
      }
    }
  }
}
