<template>
  <div :class="rootClasses">
    <pu-form-message v-model="backlogError" dismissable />

    <div class="pu-create-work-form-wrapper">
      <div id="step-header" class="step-header">
        <transition name="t-fade" mode="out-in" appear>
          <h2 v-if="step === 1" key="step1">
            <span class="step-counter">1.</span>
            <span class="step-label">
              {{ $t('step-1-heading') }}
            </span>
          </h2>
          <h2 v-else-if="step === 2" key="step2" class="t-op-04">
            <span class="step-counter">2.</span>
            <span class="step-label">
              {{ $t('step-2-heading') }}
            </span>
          </h2>
        </transition>
      </div>

      <div v-if="step === 2">
        <pu-form-partup-backlog v-model="partup" />
      </div>

      <div v-if="step === 2" class="backlog-tasklist-header">
        <h3>{{ $t('step-2-list-backlog-description') }}</h3>
        <pu-link
          :to="{
            name: 'create-work',
            query: {
              step: 1,
            },
          }"
          color="primary"
        >
          {{ $t('step-2-link-back-to-step-1') }}
        </pu-link>
      </div>

      <pu-list-backlog
        :items="backlog"
        :form="step === 1"
        @error="backlogError = $event"
      />

      <div v-if="step === 1" class="pu-form-tip">
        <p>
          Schrijf de taken klein en concreet op:
        </p>
        <ul>
          <li>Iemand moet de taak in korte tijd kunnen afronden.</li>
          <li>
            Kort en bondig is beter dan lang; een beschrijving kun je later
            toevoegen.
          </li>
          <li>
            Gebruik actieve werkwoorden en vermijd &lsquo;worden&rsquo;,
            &lsquo;hebben&rsquo; en &lsquo;zijn&rsquo;.
          </li>
        </ul>
        <p>
          Een goed voorbeeld is: &lsquo;Maandrapport februari printen&rsquo;.
        </p>
      </div>
    </div>
    <!-- END form and backlog list container -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapState, mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import createWorkModule from '@/components/views/create-work/store'
import dynamicStoreModule from '@/mixins/dynamic-store-module'
import mixins from '@/util/vue/mixins'

import PuListBacklog from './list-backlog/list.vue'
import PuFormPartupBacklog from './form-partup-backlog/form.vue'
import PuFormMessage from '@/components/base/form/message.vue'

import parseQueryStep from '../parse-query-step'
import getSlug from '@/lib/model/partup/get-slug'

const storeModuleName = 'createWork'

export default mixins(
  dynamicStoreModule(storeModuleName, createWorkModule)
).extend({
  name: 'pu-view-content-create-work',

  components: {
    PuFormPartupBacklog,
    PuListBacklog,
    PuFormMessage,
  },

  beforeRouteEnter(to, from, next) {
    next(async (vm: any) => {
      const targetStep = parseQueryStep(to.query.step)

      // The user may have bookmarked step 2 (or any other reason) without having any backlog items
      // when entering with step 2 we must wait to check if the user is allowed for this step
      if (targetStep === 2) {
        await vm.$store.dispatch('createWork/getItems')
        await vm.$nextTick()

        if (vm.backlog.length > 0) {
          vm.$store.dispatch('createWork/step', targetStep)
        } else {
          vm.$router.replace({ query: { step: 1 } })
        }
        // the user may still have existing items without completing step 2 from a previous visit
      } else if (targetStep === 1) {
        vm.$store.dispatch('createWork/getItems')
      }
    })
  },

  beforeRouteUpdate(to, from, next) {
    const targetStep = parseQueryStep(to.query.step)

    if (targetStep !== this.step) {
      this.$store.dispatch('createWork/step', targetStep)
    }

    next()
  },

  data() {
    return {
      backlogError: null,
    }
  },

  watch: {
    isPartupCreated: {
      handler(newVal) {
        if (newVal) {
          this.$nextTick(() => {
            this.$router.push({
              name: 'partup',
              params: {
                partupSlug: getSlug(this.partup),
              },
            })
            this.$store.dispatch('createWork/resolveAction', 'createPartup')
          })
        }
      },
    },
  },

  computed: {
    ...mapState('createWork', ['step']),
    ...mapGetters('createWork', ['backlog']),
    ...mapFields({
      partup: 'createWork.partup',
    }),
    hideFormTip() {
      return this.backlog && this.backlog.length > 1
    },
    rootClasses() {
      return {
        'pu-view-content-create-work': true,
        'pu-hide-form-tip': this.hideFormTip,
        'pu-view-form-contains-errors': this.backlogError !== null,
      }
    },
    isPartupCreated() {
      return this.$store.getters['createWork/actionSuccess']('createPartup')
    },
  },
})
</script>

<i18n src="./locales/nl-content-create-work.json"></i18n>

<style lang="scss">
@import 'content-create-work';
</style>
