.pu-button {
  align-items: center;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-flex;
  font-family: $font-family;
  font-size: .9334rem;
  font-size: 1rem;
  height: 40px;
  justify-content: center;
  line-height: 1;
  padding: .4rem 1.334rem;
  position: relative;
  transition: box-shadow .1s linear;
  text-decoration: none;

  /**
  * Children
  */
  > span {
    max-height: 100%;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;

    > .pu-icon {
      flex: 0 0 auto;
      height: 20px;
      width: 20px;
    }

    .pu-icon + span,
    span + .pu-icon {
      margin-left: .24rem;
    }
  }

  &:active,
  &:focus {
    // So this is a temporary measure to prevent the unstyled, rough browser outlines on focus.
    // TODO: design and implement a nicer *and* human-friendly way to allow keyboard users to
    //       know what element has focus while interacting with the platform!
    outline: none;
  }

  /**
  * Variants
  */
  &.--small {
    height: 30px;
    padding:.2rem 1.2rem;
    font-size: .867rem;
    font-weight: 400;
  }

  /**
  * Modifiers
  */
  &[class*="--flat"] {
    background-color: transparent;
    box-shadow: none;
  }

  &[class*="--outline"] {
    border: 2px solid currentColor;
    background-color: $white;

    &.primary {
      border: 2px solid $blue;
      color: $blue;
    }
    &.secondary {
      border: 2px solid $orange;
      color: $orange;
    }
    &.success {
      border: 2px solid $green;
      color: $green;
    }
  }

  &[class*="--icon"] {
    border-radius: 50%;
    height: auto;
    padding: 3px;
    background-color: transparent;

    .pu-icon {
      border-radius: 50%;
    }
  }

  /**
  * State
  */
  &.is-disabled,
  &.is-loading {
    cursor: default;
    pointer-events: none;

    &:before,
    &:after {
      box-shadow: none;
    }
  }

  &.is-loading {
    > *:not(.pu-progress-circular) {
      opacity: 0;
    }

    .pu-progress-circular {
      position: absolute;
      color: $text-color-dark;

      > svg {
        height: 70%;
      }
    }

    &.is-disabled {
      .pu-progress-circular {
        color: $gray-0;
      }
    }
  }

  &.is-disabled:not(.success) {
    background-color: $gray-2;
    color: $white;
    border: none !important;
  }

  @include colorable($theme-color-map) using ($color) {
    &.is-loading {
      .pu-progress-circular {
        color: color-yiq($color, $light: $white, $tolerance: 200);
      }

      &[class*="--outline"] {
        .pu-progress-circular {
          color: $color;
        }
      }
    }
  }
}
