<template>
  <component
    :is="tag"
    :class="rootClasses"
    v-bind="rootAttributes"
    v-on="rootListeners"
  >
    <pu-progress-circular v-if="loading" indeterminate />
    <span>
      <slot />
    </span>
  </component>
</template>

<script lang="ts">
import PuProgressCircular from '@/components/base/progress/circular/circular.vue'
import colorable from '@/mixins/colorable'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-button',

  components: {
    PuProgressCircular,
  },

  mixins: [colorable],

  props: {
    /**
     * @prop disabled
     * @description state modifier
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * @prop flat
     * @description style modifier
     */
    flat: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: Boolean,
      default: false,
    },
    /**
     * @prop loading
     * @description state modifier
     */
    loading: {
      type: Boolean,
      default: false,
    },
    /**
     * @prop outline
     * @description style modifier
     */
    outline: {
      type: Boolean,
      default: false,
    },
    /**
     * @prop small
     * @description style modifier
     */
    small: {
      type: Boolean,
      default: false,
    },
    /**
     * @prop to
     * @description make this button a link
     */
    to: {
      type: [Object, String],
      default: void 0,
    },
    /**
     * @prop type
     * @description button type
     */
    type: {
      type: String,
      default: 'button',
    },
  },

  computed: {
    rootClasses() {
      const base = {
        'pu-button': true,
        '--flat': this.flat,
        '--icon': this.icon,
        '--outline': this.outline,
        '--small': this.small && !this.large,
        'is-disabled': this.disabled,
        'is-loading': this.loading,
      }

      return this.outline || this.flat
        ? this.setTextColor(base)
        : this.setBackgroundColor(base)
    },
    rootAttributes() {
      const attributes: any = {
        disabled: this.disabled,
      }

      if (this.to) {
        attributes.to = this.to
      } else {
        attributes.type = this.type
      }

      return attributes
    },
    rootListeners() {
      const listeners = {
        ...this.$listeners,
      }

      if (this.disabled) {
        delete listeners.click
      }

      return listeners
    },
    tag() {
      return this.to ? 'router-link' : 'button'
    },
  },
})
</script>

<style lang="scss">
@import 'button.scss';
</style>
