.pu-navigation-drawer {
  position: absolute;
  transition: transform .2s linear;
  will-change: transform;

  > .pu-icon-close {
    top: 0;
    right: 0;
  }

  &.right {
    > .pu-icon-close {
      left: 0;
      right: auto;
    }
  }

  &.is-active {
    box-shadow: 10px 0 30px 0 rgba(0,0,0,.3);
  }

  &.stateless {
    box-shadow: none;
    position: relative;
  }
}
