<template>
  <aside :class="rootClasses" :style="rootStyles">
    <!-- v-click-outside="clickOutsideDirective" -->
    <slot />

    <pu-icon
      v-if="!stateless && closeIcon"
      class="menu-close"
      name="close"
      :size="30"
      absolute
      @click="isActive = false"
    />
  </aside>
</template>

<script>
import get from 'lodash/get'
import clickOutside from '@/directives/click-outside'
import toggleable from '@/mixins/toggleable'
import toStyleUnit from '@/util/css/to-style-unit'

export default {
  name: 'pu-navigation-drawer',

  directives: {
    clickOutside,
  },

  mixins: [toggleable],

  props: {
    width: {
      type: [Boolean, Number],
      default: 320,
      validator: (v) => v === false || typeof v === 'number',
    },
    stateless: {
      type: Boolean,
      default: null,
    },
    right: {
      type: Boolean,
      default: null,
    },
    closeIcon: {
      type: Boolean,
      default: true,
    },
  },

  data(vm) {
    return {
      lazyWidth: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-navigation-drawer': true,
        right: this.right,
        'is-active': this.isActive,
        stateless: this.stateless,
      }
    },
    rootStyles() {
      return this.stateless
        ? {}
        : {
            transform: `translateX(${this.computedTransform}%)`,
            width: this.width && toStyleUnit(this.width),
          }
    },
    computedTransform() {
      return this.isActive ? 0 : this.right ? 100 : -100
    },
    // clickOutsideDirective() {
    //   return {
    //     include: () => [this.$el],
    //     condition: () => this.isActive,
    //     handler: () => this.isActive = false,
    //   }
    // },
    // touchDirective() {
    //   return {
    //     target: () => document.getElementById('app'),
    //     left: this.onSwipeLeft,
    //     right: this.onSwipeRight,
    //   }
    // },
  },

  beforeMount() {
    if (this.stateless !== null) {
      this.isActive = this.stateless
    }
  },

  methods: {
    getWidth() {
      return this.width || get(this.$el, 'clientWidth', null)
    },
    /*
    onSwipeLeft(e) {
      if (!this.isActive) {
        return
      }

      if (Math.abs(e.touchendX - e.touchstartX) > 100) {
        this.isActive = false
      }
    },
    onSwipeRight(e) {
      if (this.isActive) {
        return
      }

      if (Math.abs(e.touchstartX - e.touchendX) > 100) {
        this.isActive = true
      }
    },
*/
  },
}
</script>

<style lang="scss">
@import 'navigation-drawer.scss';
</style>
