<template>
  <pu-stepper v-model="step" class="pu-auth-flow-forgot-password-submit">
    <div class="pu-stepper__content">
      <pu-stepper-content :step="1" transition="t-fade">
        <pu-action
          :action="forgotPasswordSubmit"
          @error="onError"
          @success="onSuccess"
        >
          <template
            v-slot:default="{
              trigger,
              pending,
            }"
          >
            <pu-form
              id="form-forgot-password-submit"
              @submit="
                trigger(email, verificationCode, $refs.password.getValue())
              "
            >
              <pu-alert-form
                v-if="errorSummary"
                :message="errorSummary"
                type="error"
              />
              <pu-alert-form v-else :message="$t('intro')" type="intro" />

              <fieldset>
                <pu-label for="forgot-password-submit-code">
                  {{ $t('form.label.verification-code') }}
                </pu-label>
                <pu-form-control
                  v-model="verificationCode"
                  :error="errorField('code')"
                >
                  <pu-textfield
                    id="forgot-password-submit-code"
                    :placeholder="$t('form.placeholder.verification-code')"
                  />
                </pu-form-control>

                <pu-label for="forgot-password-submit-email">
                  {{ $t('form.label.email') }}
                </pu-label>
                <pu-form-control v-model="email" :error="errorField('email')">
                  <pu-textfield
                    id="forgot-password-submit-email"
                    type="email"
                    :placeholder="$t('form.placeholder.email.forgot')"
                  />
                </pu-form-control>

                <pu-label>
                  {{ $t('form.label.password.forgot') }}
                </pu-label>
                <pu-form-control :error="errorField('password')">
                  <pu-password
                    id="forgot-password-submit-password"
                    ref="password"
                    :placeholder="$t('form.placeholder.password.forgot')"
                  />
                </pu-form-control>
                <p class="password-hint">
                  {{ $t('form.hint.password.forgot') }}
                </p>
              </fieldset>

              <div class="auth-actions">
                <pu-button type="submit" color="secondary" :loading="pending">
                  <span>{{ $t('button.submit') }}</span>
                  <pu-icon name="arrow_right" />
                </pu-button>
              </div>
            </pu-form>
          </template>
        </pu-action>
      </pu-stepper-content>

      <pu-stepper-content :step="2" transition="t-fade">
        <pu-alert-form
          type="success"
          color="primary"
          :message="$t('description.success')"
        />
        <pu-button
          class="auth-primary-action"
          color="primary"
          flat
          outline
          @click="requestFlow(AUTH_ACTIONS.login)"
        >
          <!--           <pu-icon name="arrow_left" /> -->
          <span>{{ $t('form.button.login') }}</span>
        </pu-button>
      </pu-stepper-content>

      <pu-stepper-content :step="3" transition="t-fade">
        <pu-alert-form type="error" :message="errorSummary" />
        <pu-button
          color="primary"
          outline
          flat
          class="auth-primary-action"
          @click="requestFlow(AUTH_ACTIONS.forgotPassword)"
        >
          <span>{{ $t('button.invalid-code') }}</span>
        </pu-button>
      </pu-stepper-content>
    </div>
  </pu-stepper>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapFields } from 'vuex-map-fields'

import forgotPasswordSubmit from '@/data/auth/forgot-password-submit'

import authFlowBase from '../auth-flow-base'
import PuPassword from '@/components/implementations/input/password/input-password.vue'
import PuStepper from '@/components/base/stepper/stepper.vue'
import PuStepperContent from '@/components/base/stepper/stepper-content.vue'
import CognitoError from '@/util/error/cognito-error'

export default Vue.extend({
  name: 'pu-auth-flow-forgot-password-submit',

  components: {
    PuPassword,
    PuStepper,
    PuStepperContent,
  },

  extends: authFlowBase,

  data() {
    return {
      step: 1,
    }
  },

  computed: {
    ...mapFields({
      email: 'auth.email',
      verificationCode: 'auth.verificationCode',
    }),
  },

  methods: {
    forgotPasswordSubmit,

    onError(this: any, error: CognitoError) {
      if (error.key.includes('code-expired')) {
        this.step = 3
      }

      this.$emit('error', error)
    },
    onSuccess(this: any) {
      this.$store.dispatch('auth/error', null)
      this.step = 2

      this.$emit('success')
      this.$nextTick(() => {
        this.email = null
        this.verificationCode = null
      })
    },
    resetLocalState(this: any) {
      this.step = 1
    },
  },
})
</script>

<i18n src="./auth-flow-forgot-password-submit.nl.json"></i18n>

<style lang="scss">
@import 'auth-flow-forgot-password-submit';
</style>
