.pu-auth-flow-forgot-password-submit {
  // INTRO AND ERROR SUMMARY
  // should be transferred to generic form scss file?
  .pu-form-intro {
    padding: 0.667rem 2.667rem;
    margin-bottom: 1rem;
    line-height: 1.33;

    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      line-height: 1.33;
    }
  }

  .pu-button--to-login {
    margin-top: 1.667rem;
//     border: 2px solid $orange;
  }

  .password-hint {
    margin: -0.334rem 1.334rem 2rem;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.4;
    color: $gray-6;
  }
}
