.pu-toolbar-search {
  background-color: $accent;
  border-bottom: 2px solid $blue;
  height: 80px;
  padding: 0 5%;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 900;
  align-items: center;
  display: flex;
  transition: transform .16s linear;

  .pu-form {
    position: relative;
    flex: 1 1 auto;

    .pu-search {
      margin-bottom: 0;
      margin-right: 3rem;
      flex: 1 1 auto;

      input {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        font-size: 1.5rem;
        line-height: normal;
        padding: 5px 92px 5px 20px;

        &:focus {
          box-shadow: none;
        }
      }

      &-submit {
        color: $blue-dark;
        background-color: $white;
        right: 5px;
        top: 4px;
      }
    }

    .pu-button {
      position: absolute;
      height: 2rem;

      &-close {
        color: $white;
        padding: 0;
        right: 0;
        top: 0.2rem;

        .pu-icon {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  @include goingLarge(960) {
    padding: 0 10%;
  }
}
