<template>
  <transition name="t-slide-y">
    <div v-if="isActive" :class="rootClasses">
      <pu-form id="form-global-search" @submit="onSearch">
        <pu-search
          id="input-global-search"
          ref="search"
          v-model="search"
          @keyup.escape="onEscape"
        />

        <pu-button flat icon class="pu-button-close" @click="isActive = false">
          <pu-icon name="close" />
        </pu-button>
      </pu-form>
    </div>
  </transition>
</template>

<script>
import PuSearch from '@/components/implementations/input/search/search.vue'

import toggleable from '@/mixins/toggleable'

export default {
  name: 'pu-toolbar-search',

  components: {
    PuSearch,
  },

  mixins: [toggleable],

  data() {
    return {
      search: null,
    }
  },

  computed: {
    rootClasses() {
      return {
        'pu-toolbar': true,
        'pu-toolbar-search': true,
        'is-active': this.isActive,
      }
    },
  },

  watch: {
    isActive: {
      handler(newVal) {
        if (newVal) {
          this.$nextTick(() => {
            this.$refs.search.focus()
          })
        }
      },
      immediate: true,
    },
  },

  methods: {
    onClose() {
      this.$emit('close')
    },
    onEscape() {
      if (!this.search || this.search.length < 1) {
        this.isActive = false
      }
    },
    onSearch() {
      if (this.search && this.search.length > 0) {
        this.$router.push({
          name: 'search',
          query: {
            q: this.search,
          },
        })
      }
    },
  },
}
</script>

<style lang="scss">
@import 'search.scss';
</style>
