.pu-card-partner {
  background-color: $white;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  header {
    position: relative;
  }

  section {
    margin: 0;
  }

  .pu-headline {
    margin: 0.5rem 0;

    span {
      display: inline-block;
      padding: 0.334rem 1rem;
      background-color: $green-lighter;
      color: $white;
      font-weight: 600;
    }
  }

  .pu-actions {
    padding: 0 1rem 0.667rem 7.5rem;

    .pu-button--flat {
      padding: 0;
      font-size: 0.8rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .pu-icon-fika_24x30 {
      height: 2rem;
    }
  }

  h1 {
    padding: 1rem 1rem 0.667rem 7.5rem;
    font-weight: 600;
    font-size: 1.334rem;
    line-height: 1.2rem;

    .pu-avatar {
      width: 96px;
      height: 96px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
