<template>
  <article :class="rootClasses">
    <!--    <pu-link :to="{ name: 'user-profile', params: { userSlug: user.slug } }"> -->
    <header>
      <h1>
        <pu-avatar
          :size="96"
          :src="getAvatar(user, 'medium')"
          :text="getName(user)"
        />
        {{ getName(user) }}
      </h1>
    </header>
    <!--    </pu-link> -->

    <section class="pu-actions">
      <slot name="actions" />
    </section>
  </article>
</template>

<script lang="ts">
import PuAvatar from '@/components/base/avatar/avatar.vue'
import getAvatar from '@/lib/model/user/get-avatar'
import getName from '@/lib/model/user/get-name'
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-card-partner',

  components: {
    PuAvatar,
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
    recommendation: {
      type: Boolean,
      default: false,
    },
    role: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    rootClasses() {
      return {
        'pu-card': true,
        'pu-card-partner': true,
      }
    },
  },

  methods: {
    getAvatar,
    getName,
  },
})
</script>

<style lang="scss">
@import 'card-partner.scss';
</style>
