<template>
  <header class="pu-view-header-find-awesome-work">
    <div>
      <i18n path="heading" tag="h1">
        <template v-if="currentOrganization">
          {{
            $t('heading-organization', {
              organization: currentOrganization.name,
            })
          }}
        </template>
      </i18n>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-view-header-find-awesome-work',

  computed: {
    ...mapGetters(['currentOrganization']),
  },
})
</script>

<i18n>
{
  "nl": {
    "heading": "Vind leuk werk",
    "heading-organization": "binnen {organization}"
  }
}
</i18n>

<style lang="scss">
@import 'header.scss';
</style>
