.pu-form-forgot-password {

  // INTRO AND ERROR SUMMARY
  // should be transferred to generic form scss file?
  .pu-form-intro {
    padding: 0.667rem 2.667rem;
    margin-bottom: 1rem;
    line-height: 1.33;

    &--error {
      padding: 0.667rem 2.667rem;
      margin-bottom: 1rem;
      background-color: $red-light;
      line-height: 1.33;
    }
  }

  .pu-primary-action {
    .pu-button {
      margin-top: 1rem;
      float: right;
    }

    &:after {
      content: '';
      height: 0;
      display: table;
      clear: both;
    }
  }

  .pu-secondary-action {
//     background-color: $white;
    margin-top: 3.334rem;

    .pu-button {
//       margin-left: 1.334rem;
      border: 2px solid $blue;
    }
  }

}
