<template>
  <pu-form
    id="form-forgot-password"
    class="pu-form-forgot-password"
    @submit="onSubmit"
  >
    <div v-if="(form.contains_errors.email) && form.errors.summary" class="pu-form-intro--error">
        {{form.errors.summary}}
    </div>
    <div v-if="!form.contains_errors.email && !form.errors.summary" class="pu-form-intro">
        <p>Wachtwoord even kwijt? Geen probleem, je kunt hier een nieuwe maken.</p>
    </div>
    <div class="pu-primary-action">
      <pu-label for="forgot-password-email">{{form.labels.email}}</pu-label>
      <pu-form-control
        v-model="email"
      >
        <pu-textfield
          id="forgot-password-email"
          :value="email"
          :placeholder="form.placeholders.email"
        />
      </pu-form-control>

      <pu-button
        type="submit"
        color="secondary"
        class="pu-button--icon"
        :loading="isLoading"
      >
        <span>Volgende stap</span>
        <pu-icon name="arrow_right" />
      </pu-button>
    </div>

    <div class="pu-secondary-action">
        <pu-button
          color="primary"
          outline
          class="pu-button--icon"
          @click="$emit('cancel', { type: 'login' })"
        >
            <pu-icon name="arrow_left" />
            <span>Inloggen</span>
        </pu-button>
    </div>
  </pu-form>
</template>

<script>
import PuForm from '@/components/base/form/form.vue'
import PuLabel from '@/components/base/label/label.vue'
import PuFormControl from '@/components/base/input/form-control.vue'
import PuTextfield from '@/components/base/input/textfield/textfield.vue'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'pu-form-forgot-password',

  components: {
    PuForm,
    PuLabel,
    PuFormControl,
    PuTextfield,
  },

  data() {
    return {
      form: {
        contains_errors: {
          email: false,
          password: false,
          tos: false,
        },
        errors: {
          summary: null,
        },
        errors_map: {
          'username/client id combination not found': {
            message: 'Dit e-mailadres konden we niet vinden.',
            fields: { email: true, password: false, tos: false },
          },
          'username cannot be empty': {
            message: 'Geef een e-mailadres op om je wachtwoord te resetten.',
            fields: { email: true, password: false, tos: false },
          },
          'username should be an email': {
            message: 'Het e-mailadres lijkt niet geldig te zijn.',
            fields: { email: true, password: false, tos: false },
          },
        },
        labels: {
          email: 'E-mailadres',
        },
        placeholders: {
          email: 'Bijvoorbeeld welkom@part-up.com',
        },
      },
    }
  },

  watch: {
    'success.forgotPassword'(newVal) {
      this.$emit('success')
    },
  },

  computed: {
    ...mapState('auth', [
      'errors',
      'loading',
      'success',
    ]),
    email: {
      get() {
        return this.$store.state.auth.email
      },
      set(v) {
        this.$store.commit('auth/setEmail', v)
      },
    },
    isLoading() {
      return this.loading.forgotPassword
    },
    rootClasses() {
      return {
        'pu-form': true,
        'pu-form-forgot-password': true,
        'pu-form-contains-errors': this.form.contains_errors.email,
      }
    },
    emailContainsError() {
      return this.form.contains_errors.email
    },
  },

  methods: {
    ...mapActions('auth', [
      'forgotPassword',
    ]),
    async onSubmit() {
      try {
        this.isSubmitting = true

        await this.forgotPassword()
        this.$emit('success')
      } catch (error) {
        //         this.$snotify.error(error.message)
        this.parseError(error.message || error)
        //         this.$logger.error(error)
        this.$emit('error', error)
      } finally {
        this.isSubmitting = false
      }
    },
    parseError(error) {
      var error_test_string = error.toLowerCase()
      var error_message = 'Het registreren is niet gelukt. Probeer je het nog eens?'
      var error_fields = { email: false }

      for (var error_key in this.form.errors_map) {
        if (error_test_string.indexOf(error_key) > -1) {
          error_message = this.form.errors_map[error_key].message
          error_fields = this.form.errors_map[error_key].fields
        }
      }

      // Summarize the error in intro of registration form.
      this.form.errors.summary = error_message

      // Set error classes on the appropriate fields
      this.form.contains_errors.email = error_fields.email
    },
  },
}
</script>

<style lang="scss">
@import "form-forgot-password.scss";
</style>
