<template>
  <pu-stepper v-model="step" class="pu-auth-flow-register-resend">
    <div class="pu-stepper__content">
      <pu-stepper-content :step="1">
        <pu-action
          :action="registerResend"
          @error="onError"
          @success="onSuccess"
        >
          <template
            v-slot:default="{
              trigger,
              pending,
            }"
          >
            <pu-form id="form-register-resend" @submit="trigger(email)">
              <pu-alert-form
                v-if="errorSummary"
                :message="errorSummary"
                type="error"
              />
              <pu-alert-form v-else :message="$t('intro')" type="intro" />

              <fieldset>
                <pu-label for="register-resend-email">
                  {{ $t('form.label.email') }}
                </pu-label>
                <pu-form-control v-model="email" :error="errorField('email')">
                  <pu-textfield id="form-register-resend-email" type="email" />
                </pu-form-control>
              </fieldset>

              <div class="auth-actions">
                <pu-button color="secondary" :loading="pending" type="submit">
                  <span>{{ $t('submit') }}</span>
                  <pu-icon name="arrow_right" />
                </pu-button>
              </div>
            </pu-form>
          </template>
        </pu-action>
      </pu-stepper-content>
      <pu-stepper-content :step="2">
        <pu-svg class="auth-envelope" file="auth_envelope.svg" />
        <p class="auth-success-description">{{ $t('success-description') }}</p>
      </pu-stepper-content>
    </div>
  </pu-stepper>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapFields } from 'vuex-map-fields'

import registerResend from '@/data/auth/register-resend'

import authFlowBase from '../auth-flow-base'
import PuStepper from '@/components/base/stepper/stepper.vue'
import PuStepperContent from '@/components/base/stepper/stepper-content.vue'
import { AUTH_ACTIONS } from '@/types'
import CognitoError from '@/util/error/cognito-error'

export default Vue.extend({
  name: 'pu-auth-flow-register-resend',

  components: {
    PuStepper,
    PuStepperContent,
  },

  extends: authFlowBase,

  data() {
    return {
      step: 1,
    }
  },

  computed: {
    ...mapFields({
      email: 'auth.email',
    }),
  },

  watch: {
    flow: {
      handler(toFlow) {
        if (toFlow === AUTH_ACTIONS.registerResend && this.step !== 1) {
          this.step = 1
        }
      },
      immediate: true,
    },
  },

  methods: {
    registerResend,

    onError(error: CognitoError) {
      this.$emit('error', error)

      if (error.key.includes('already-confirmed')) {
        this.requestFlow(AUTH_ACTIONS.login)
      }
    },
    onSuccess() {
      this.step = 2
      this.$emit('success')
    },
  },
})
</script>

<i18n src="./auth-flow-register-resend.nl.json"></i18n>
