@keyframes aroundtheblock {
  0%   { transform: translate(0,0); }
  20%  { transform: translate(0,0); }
  40%  { transform: translate(-10px,4px); }
  60%  { transform: translate(-2px,-10px); }
  80%  { transform: translate(0,0); }
  100% { transform: translate(0,0); }
}

.pu-dashboard-journeys {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  padding: 2rem $side-spacing;

  @include goingLarge(large) {
    padding: 3rem 2rem 4rem;
  }

  .pu-tip {
    margin: 1rem 0 0;
    color: $blue-info;

    strong {
      background-color: $blue-info;
      color: $white;
    }

    span {
      color: $blue-info;
    }
  }

  h2.pu-heading-journey {
    margin-bottom: 1rem;

    span {
      display: block;
    }
    .step-counter {
      color: $orange;
      font-weight: 600;
      font-size: 3rem;
    }
    .step-label {
      margin-top: 0.5rem;
      font-weight: 600;
    }

    @include goingSmall(medium) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .step-counter {
        position: relative;
        left: -2rem;
        margin-right: -1.2rem;
        font-size: 2rem;
      }
      .step-label {
        font-size: 1.4rem;
        margin-top: 0;
      }
    }
  }

  [class^="pu-journey"] {
    display: block;
    position: relative;
    flex: 0 0 100%;

    padding-left: 2.334rem;
    @include goingLarge(medium) {
      padding-left: 0;
      padding-right: 1rem;
    }

    a {
      display: block;
      position: relative;
      padding-left: 125px;
      width: 100%;
      min-height: 135px;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none !important;
      }

      span:not(.pu-tip-text) {
        display: block;
        max-width: 13.5rem;
        font-size: 1rem;
        line-height: 1.25;
        color: $gray-6;
      }
    }

    .journey-heading {
      display: block;
      font-size: 1.2rem;
      // This line-height forces journey tile headings on same baseline, with or without an icon
      line-height: 2;
      color: $black;

      .pu-icon {
        display: inline-block;
        position: relative;
        top: 0.334rem;
      }
    }

    .pu-illustration {
      height: 105px;
      width: auto;
      position: absolute;
      left: 0.5rem;
      top: 0;

      img, svg {
        transform-origin: top left;
        height: 105px;
      }
    }

    @include goingLarge(medium) {
      flex: 0 0 48%;
      margin-right: 4%;
      padding-right: 2rem;
      padding-bottom: 0;

      &:before {
        @include psuedo;
        height: 66%;
        width: 0;
        bottom: 0;
        left: 0;
        margin-left: -11%;
        border-left: 2px solid $gray-0-5;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a {
//         padding-left: 150px;
        padding-top: 1.334rem;
      }

      .pu-illustration {
        height: 120px;
        top: 1rem;
        left: 0;

        img, svg {
          height: 120px;
        }
      }
    }
  }


  // Set up 'find cool work' journey illustration
  // to respond to statuses 'empty' and 'looking'
  // with appropriate version/animation.
  .pu-journey-work {
    &.is-empty {
      #looking-glass {
        display: none;
      }
    }

    &.is-pending {
      #looking-glass {
        #SVGID_1_,
        .handle {
          animation: aroundtheblock 3s ease infinite;
        }
      }
    }
  }

  // Show orange connecting line when 'create work'
  // is available within the current user's permission
  .pu-journey-partup-create {
    &::after {
      content: "";
      height: 135px;
      width: 0.5rem;
      position: absolute;
      bottom: 100%;
      left: 1rem;
      margin-bottom: 0.667rem;
      border-left: 2px solid $orange;
    }

    @include goingLarge(medium) {
      &::after {
        width: calc(100% - 2rem);
        height: 1px;
        bottom: auto;
        top: 1.334rem;
        left: auto;
        right: 100%;
        margin-right: 1rem;
        margin-bottom: 0;
        border-left: 0;
        border-top: 3px solid $orange;
      }
    }
  }
}
