<template>
  <div class="pu-dashboard-journeys">
    <pu-journey-work />
    <!--
    <pu-journey-talents />
    <pu-journey-profile />
-->
    <pu-journey-create-partup />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import PuJourneyCreatePartup from './partup-create.vue'
// import PuJourneyProfile from './profile.vue'
// import PuJourneyTalents from './talents.vue'
import PuJourneyWork from './work.vue'

export default Vue.extend({
  name: 'pu-journeys',

  components: {
    PuJourneyCreatePartup,
    // PuJourneyProfile,
    // PuJourneyTalents,
    PuJourneyWork,
  },
})
</script>

<style lang="scss">
@import 'journeys';
</style>
