<template>
  <div
    v-if="canCreateBacklogCurrentOrganization"
    class="pu-journey-partup-create"
  >
    <h2 class="pu-heading-journey">
      <span class="step-counter">{{ $t('heading-counter') }}</span>
      <span class="step-label">{{ $t('heading-question') }}</span>
    </h2>

    <pu-link
      :to="{
        name: 'create-work',
      }"
    >
      <pu-svg
        file="illustration-journey-create-partup.svg"
        :symbol="false"
        class="pu-illustration"
      />

      <span>
        <strong class="journey-heading">
          {{ $t('status') }}
          <pu-icon name="arrow_right" :size="20" />
        </strong>
        {{ $t('status-description') }}
      </span>
    </pu-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-journey-partup-create',

  computed: {
    canCreateBacklogCurrentOrganization() {
      // For now, we have to check whether this user can create a partup within the current organization
      // Checking for the permission organization_create_partup does exactly that for the time being
      // Should be improved in a later iteration
      return (
        this.$can('backlog_create') && this.$can('organization_partup_create')
      )
    },
  },
})
</script>

<style lang="scss"></style>

<i18n>
{
  "nl": {
    "heading-counter": "B.",
    "heading-question": "Of heb je werk te delen met collega’s?",
    "status": "Maak werk aan",
    "status-description": "en bundel kleine taken tot een nieuw project."
  }
}
</i18n>
