<template>
  <pu-link
    :to="{
      name: 'user-profile',
      params: {
        userSlug: currentUser.slug,
      },
    }"
    class="pu-journey-profile"
  >
    <pu-svg
      file="illustration-journey-profile.svg"
      :symbol="false"
      class="pu-illustration"
    />

    <span>
      <strong class="journey-heading">
        {{ $t('status') }}
        <pu-icon name="arrow_right" :size="20" />
      </strong>
      {{ $t('status-description') }}
    </span>
  </pu-link>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-journey-profile',

  computed: {
    ...mapGetters(['currentUser']),
  },
})
</script>

<style lang="scss"></style>

<i18n>
{
  "nl": {
    "status": "Bouw je profiel",
    "status-description": "en krijg matches waarvan je hart sneller gaat kloppen"
  }
}
</i18n>
