<template>
  <pu-link
    :to="{
      name: 'overview-user',
    }"
    class="pu-journey-talents"
  >
    <pu-svg
      file="illustration-journey-talents.svg"
      :symbol="false"
      class="pu-illustration"
    />

    <span>
      <strong class="journey-heading">
        {{ $t('status') }}
        <pu-icon name="arrow_right" :size="20" />
      </strong>
      {{ $t('status-description') }}
    </span>
  </pu-link>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-journey-talents',
})
</script>

<style lang="scss"></style>

<i18n>
{
  "nl": {
    "status": "Ontdek talenten",
    "status-description": "om mee te verbinden en in teams samen te werken"
  }
}
</i18n>
