<template>
  <div
    class="pu-journey-work"
    :class="{
      'is-pending': isPending,
      'is-empty': !hasWork,
    }"
  >
    <h2 class="pu-heading-journey">
      <span class="step-counter">{{ $t('heading-counter') }}</span>
      <span class="step-label">{{ $t('heading-question') }}</span>
    </h2>
    <pu-link
      :to="{
        name: 'find-awesome-work-journey',
      }"
      :disabled="!hasWork"
    >
      <figure class="pu-illustration">
        <pu-illustration-journey-work />
      </figure>

      <span>
        <strong class="journey-heading">
          {{ $tc('status', status) }}
          <pu-icon v-if="status === 2" name="arrow_right" :size="20" />
        </strong>
        {{ $tc('status-description', status) }}
      </span>

      <pu-tip v-if="tipCount">
        {{ $t('tip', { count: tipCount }) }}
      </pu-tip>
    </pu-link>
  </div>
</template>

<script lang="ts">
import PuIllustrationJourneyWork from './work-illustration.vue'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  name: 'pu-journey-work',

  components: {
    PuIllustrationJourneyWork,
  },

  computed: {
    ...mapGetters('user', ['matchingState']),
    matching() {
      return this.matchingState('activities')
    },
    isPending() {
      return this.matching.status === 'updating'
    },
    hasWork() {
      return !!this.matching.has_work
    },
    status() {
      return this.isPending ? 1 : this.hasWork ? 2 : 0
    },
    tipCount() {
      return this.matching.tips
    },
  },
})
</script>

<style lang="scss"></style>

<i18n>
{
  "nl": {
    "heading-counter": "A.",
    "heading-question": "Heb je ruimte in je agenda?",
    "status": "Niets te doen | Aan het zoeken... | Vind leuk werk",
    "status-description": "helaas, we hebben even geen nieuw werk voor je | naar toffe activiteiten die je kunt doen binnen de organisatie. | in activiteiten en partups binnen de organisatie.",
    "tip": "{count} Nieuw voor jou!"
  }
}
</i18n>
