<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="100px"
    height="120px"
    viewBox="0 0 100 120"
    xml:space="preserve"
  >
    <rect style="fill:#FFFFFF;" width="100" height="120" />
    <path
      style="fill:#DDDDDD;"
      d="M1.058,87.518c-0.264,0-0.52-0.107-0.708-0.293l0,0c-0.186-0.188-0.293-0.445-0.293-0.707l0,0V61.393c0-0.264,0.107-0.521,0.293-0.707l0,0c0.186-0.188,0.443-0.292,0.708-0.292l0,0h39.915c0.262,0,0.52,0.107,0.705,0.292l0,0c0.188,0.186,0.293,0.443,0.293,0.707l0,0v25.125c0,0.266-0.103,0.518-0.293,0.705l0,0c-0.188,0.189-0.439,0.295-0.705,0.295l0,0H1.058L1.058,87.518z M40.973,86.518v-1.001V86.518L40.973,86.518z M2.056,85.517h37.917V62.392H2.056V85.517L2.056,85.517z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M29.813,50.897H12.215c-1.657,0.004-2.997,1.344-3,3v7.656h2v-7.656c0-0.545,0.457-1,1-1h17.598c0.543,0,0.998,0.455,1,1v7.656h1.998v-7.656C32.809,52.241,31.467,50.901,29.813,50.897z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M87.781,50.896H70.184c-1.657,0.004-2.996,1.343-3,3.001v7.656h1.998v-7.656c0.002-0.545,0.459-1,1.002-1.002h17.598c0.541,0.002,0.997,0.457,1,1.002v7.656h1.999v-7.656C90.776,52.239,89.438,50.9,87.781,50.896z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M59.027,87.517c-0.265,0-0.521-0.107-0.71-0.293l0,0c-0.184-0.187-0.291-0.443-0.291-0.706l0,0V61.392c0-0.263,0.107-0.521,0.291-0.707l0,0c0.188-0.187,0.445-0.292,0.71-0.292l0,0h39.914c0.267,0,0.518,0.104,0.707,0.292l0,0c0.188,0.19,0.292,0.44,0.292,0.707l0,0v25.126c0,0.266-0.104,0.518-0.292,0.706l0,0c-0.189,0.19-0.44,0.293-0.707,0.293l0,0H59.027L59.027,87.517z M98.941,86.518v-1.001V86.518L98.941,86.518z M60.026,85.517H97.94V62.391H60.026V85.517L60.026,85.517z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M1.059,39.652c-0.263,0-0.522-0.106-0.708-0.292l0,0c-0.185-0.187-0.292-0.443-0.292-0.708l0,0V13.527c0-0.263,0.107-0.521,0.292-0.707l0,0c0.187-0.187,0.445-0.293,0.708-0.293l0,0h39.915c0.263,0,0.52,0.107,0.707,0.293l0,0c0.187,0.187,0.292,0.444,0.292,0.707l0,0v25.125c0,0.267-0.103,0.518-0.292,0.707l0,0c-0.189,0.189-0.439,0.293-0.707,0.293l0,0H1.059L1.059,39.652z M40.973,38.652v-1V38.652L40.973,38.652z M2.057,37.652h37.917V14.527H2.057V37.652L2.057,37.652z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M29.812,3.032H12.214c-1.656,0.002-2.995,1.344-2.999,3v7.657h2V6.031c0-0.544,0.455-0.999,0.999-1.001l17.599,0.002c0.543,0,0.999,0.455,0.999,0.999v7.657h2V6.031C32.81,4.375,31.468,3.034,29.812,3.032z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M87.781,3.031H70.184c-1.657,0.004-2.996,1.343-3,3v7.657h1.998V6.031c0.002-0.543,0.459-0.998,1.002-1h17.598c0.541,0.002,0.997,0.457,1,1v7.657h1.999V6.031C90.776,4.374,89.438,3.035,87.781,3.031z"
    />
    <path
      style="fill:#DDDDDD;"
      d="M59.027,39.653c-0.265,0-0.521-0.107-0.71-0.294l0,0c-0.184-0.186-0.291-0.444-0.291-0.707l0,0V13.528c0-0.265,0.107-0.521,0.291-0.708l0,0c0.188-0.186,0.445-0.293,0.71-0.293l0,0h39.914c0.267,0,0.518,0.105,0.707,0.293l0,0c0.188,0.19,0.292,0.44,0.292,0.708l0,0v25.125c0,0.267-0.104,0.517-0.292,0.707l0,0c-0.189,0.188-0.44,0.294-0.707,0.294l0,0H59.027L59.027,39.653z M98.941,38.652v-1.001V38.652L98.941,38.652z M60.026,37.651H97.94V14.527H60.026V37.651L60.026,37.651z"
    />
    <g id="looking-glass">
      <defs>
        <circle id="SVGID_1_" cx="34.234" cy="85.584" r="16.152" />
      </defs>
      <clipPath id="SVGID_2_">
        <use xlink:href="#SVGID_1_" style="overflow:visible;" />
      </clipPath>
      <path
        style="clip-path:url(#SVGID_2_);fill:#FDA724;"
        d="M2.5,91.51c-0.264,0-0.522-0.107-0.708-0.293l0,0c-0.186-0.188-0.293-0.445-0.293-0.708l0,0V57.385c0-0.264,0.107-0.522,0.293-0.708l0,0c0.186-0.186,0.444-0.293,0.708-0.293l0,0h42.823c0.262,0,0.52,0.107,0.706,0.293l0,0c0.188,0.188,0.293,0.443,0.293,0.708l0,0v33.124c0,0.267-0.104,0.519-0.293,0.706l0,0c-0.188,0.19-0.44,0.295-0.706,0.295l0,0H2.5L2.5,91.51z"
      />
      <polygon
        style="clip-path:url(#SVGID_2_);fill:#FFFFFF;"
        points="3.499,89.509 44.323,89.509 44.323,58.384 3.499,58.3843.499,89.509"
      />
      <use
        xlink:href="#SVGID_1_"
        style="overflow:visible;fill:none;stroke:#55BEC8;stroke-width:2;"
      />
      <line
        class="handle"
        style="fill:none;stroke:#55BEC8;stroke-width:2;stroke-linecap:round;"
        x1="10.582"
        y1="110.448"
        x2="23.014"
        y2="98.016"
      />
    </g>
  </svg>
</template>

<script lang="ts">
export default {
  name: 'pu-illustration-journey-work',
}
</script>
