<template>
  <component
    :is="tag"
    v-html="computedHtml"
  />
</template>

<script>
import sanitizeHTML from 'sanitize-html'

/**
 * This component can be used to safely render html
 */
export default {
  name: 'pu-dangerous-html',

  props: {
    /**
     * The html tag to be used, this must be a native html tag!
     * @prop tag
     */
    tag: {
      type: String,
      required: true,
    },
    /**
     * The html to be rendered
     * @prop html
     */
    html: {
      type: String,
      required: true,
    },
  },

  computed: {
    computedHtml() {
      return sanitizeHTML(this.html)
    },
  },
}
</script>
