<template>
  <header class="pu-view-header-user-settings">
    <div>
      <h1>{{ $t('heading') }}</h1>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-view-header-user-settings',
})
</script>

<i18n>
{
  "nl": {
    "heading": "Mijn instellingen"
  }
}
</i18n>

<style lang="scss">
@import 'header.scss';
</style>
