<template>
  <pu-form
    id="form-organization"
    class="pu-super-admin-organization-form"
    @submit="$emit('submit', fields)"
  >
    <fieldset>
      <h2>{{ $t('grp-core-h2') }}</h2>

      <div class="field-name">
        <pu-label for="organization-name">{{ $t('label.name') }}</pu-label>
        <pu-form-control v-model="fields.name">
          <pu-textfield id="organization-name" />
        </pu-form-control>
      </div>

      <div class="field-slug">
        <pu-label for="organization-slug">{{ $t('label.slug') }}</pu-label>
        <pu-form-control v-model="fields.slug">
          <pu-textfield id="organization-slug" />
        </pu-form-control>
      </div>

      <div class="field-visibility">
        <pu-label for="organization-visibility">{{
          $t('label.visibility')
        }}</pu-label>
        <pu-form-control>
          <pu-picker-visibility
            v-model="fields.visibility"
            :items="visibilityOptions"
            self-closing
          />
        </pu-form-control>
      </div>
    </fieldset>

    <fieldset>
      <h2>{{ $t('grp-profile-h2') }}</h2>

      <div class="field-introduction">
        <pu-label for="organization-introduction">{{
          $t('label.introduction')
        }}</pu-label>
        <pu-form-control v-model="fields.introduction">
          <pu-textarea id="organization-introduction" />
        </pu-form-control>
      </div>
    </fieldset>

    <fieldset>
      <h2>{{ $t('grp-branding-h2') }}</h2>

      <div class="field-payoff">
        <pu-label for="organization-payoff">{{ $t('label.payoff') }}</pu-label>
        <pu-form-control v-model="fields.payoff">
          <pu-textfield id="organization-payoff" />
        </pu-form-control>
      </div>
    </fieldset>

    <fieldset>
      <h2>{{ $t('grp-images-h2') }}</h2>

      <div class="field-logo-url">
        <pu-label for="organization-logo-url">{{
          $t('label.logo-url')
        }}</pu-label>
        <pu-form-control v-model="fields.logoUrl">
          <img v-if="fields.logoUrl" :src="fields.logoUrl" />

          <pu-picker-storage
            id="organization-logo-url"
            path="super_powers/organization"
            level="public"
            accept=".svg"
          >
            <template v-slot:default="{ pending }">
              <pu-button :loading="pending" color="blue">
                {{ $t('picker.logo-url.button') }}
              </pu-button>
            </template>
          </pu-picker-storage>
        </pu-form-control>
      </div>

      <div class="field-background-url">
        <pu-label for="organization-background-url">{{
          $t('label.background-url')
        }}</pu-label>
        <pu-form-control v-model="fields.backgroundUrl">
          <img v-if="fields.backgroundUrl" :src="fields.backgroundUrl" />

          <pu-picker-storage
            id="organization-background-url"
            path="super_powers/organization"
            level="public"
            accept=".jpg,.jpeg"
          >
            <template v-slot:default="{ pending }">
              <pu-button :loading="pending" color="blue">{{
                $t('picker.background-url.button')
              }}</pu-button>
              <span>{{ $t('picker.background-url.info') }}</span>
            </template>
          </pu-picker-storage>
        </pu-form-control>
      </div>
    </fieldset>

    <fieldset>
      <h2>{{ $t('grp-onboarding-h2') }}</h2>

      <div class="field-domains">
        <pu-label for="organization-domains">{{
          $t('label.domains')
        }}</pu-label>
        <pu-form-control v-model="fields.domains">
          <pu-textarea
            id="organization-domains"
            :placeholder="$t('placeholder.domains')"
          />
        </pu-form-control>
      </div>

      <div class="field-auto-add-user">
        <pu-form-control v-model="fields.autoAddNewUserWithMatchingEmail">
          <pu-checkbox id="organization-auto-add-user" />
          <pu-label for="organization-auto-add-user">{{
            $t('label.auto-add-user')
          }}</pu-label>
        </pu-form-control>
      </div>

      <div class="field-user-welcome-message">
        <pu-form-control v-model="fields.userWelcomeMessage">
          <pu-label for="organization-user-welcome-message">{{
            $t('label.user-welcome-message')
          }}</pu-label>
          <pu-textarea id="organization-user-welcome-message" />
        </pu-form-control>
      </div>

      <div class="field-user-invitation-message">
        <pu-form-control v-model="fields.userInvitationMessage">
          <pu-label for="organization-user-invitation-message">{{
            $t('label.user-invitation-message')
          }}</pu-label>
          <pu-textarea id="organization-user-invitation-message" />
        </pu-form-control>
      </div>
    </fieldset>

    <pu-button type="submit" color="orange">
      <template v-if="isExistingOrganization">{{ $t('btn-edit') }}</template>
      <template v-else>{{ $t('btn-create') }}</template>
    </pu-button>
  </pu-form>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { PropValidator } from 'vue/types/options'
import { ORGANIZATION_VISIBILITY } from '@/types'
import { visibilityOptions as createVisibilityOptions } from '@/util'
import { AdminOrganizationFormData, AdminOrganization } from './types'
import organizationToFormData from './organization-to-form-data'

import PuPickerStorage from '@/components/base/picker/file/storage.vue'
import PuPickerVisibility from '@/components/base/picker/visibility/picker-visibility.vue'

export default Vue.extend({
  name: 'pu-admin-organization-form',

  components: {
    PuPickerStorage,
    PuPickerVisibility,
  },

  props: {
    organization: {
      default: null,
      required: false,
      type: Object as PropType<AdminOrganization>,
    } as PropValidator<AdminOrganization>,
  },

  data(vm) {
    const fields: AdminOrganizationFormData = organizationToFormData(
      vm.organization
    )
    const visibilityOptions = createVisibilityOptions(
      'organization',
      ORGANIZATION_VISIBILITY
    )

    fields.userInvitationMessage =
      fields.userInvitationMessage ||
      this.$t('prefilled-content.user-invitation-message')
    fields.userWelcomeMessage =
      fields.userWelcomeMessage ||
      this.$t('prefilled-content.user-welcome-message')

    return {
      fields,
      visibilityOptions,
    }
  },

  computed: {
    isExistingOrganization() {
      return this.organization && this.organization.uuid
    },
  },

  watch: {
    organization: {
      handler(newVal) {
        this.fields = organizationToFormData(newVal)
      },
    },
  },
})
</script>

<i18n src="./admin-organization-form.nl.json"></i18n>

<style lang="scss">
@import 'admin-organization-form.scss';
</style>
