.pu-super-admin-organization-form {
  margin: 2rem;

  fieldset > h2 {
    margin-bottom: 1rem;
  }

  label {
    font-weight: 600;
  }

  .field {
    &-background-url,
    &-logo-url {
      img {
        max-width: 100%;
      }
    }

    &-logo-url {
      max-width: 200px;
    }
  }

  .pu-button + span {
    align-self: center;
    margin-left: 20px;
  }

}