<template>
  <div class="pu-view-admin-organization-form">
    <h1>
      <template v-if="organizationUuid">{{ $t('header.edit') }}</template>
      <template v-else>{{ $t('header.create') }}</template>
    </h1>

    <pu-organization-form :organization="organization" @submit="submit" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { ComponentData, AdminOrganizationFormData } from './types'

import create from '@/data/admin/organization/create'
import findOne from '@/data/admin/organization/find-one'
import update from '@/data/admin/organization/update'
import difference from '@/util/object/difference'
import flatten from '@/util/object/flatten'
import replaceKeys from '@/util/object/replace-keys'
import isEmpty from 'lodash/isEmpty'

import formDataToOrganization from './form-data-to-organization'
import { OrganizationData } from '@/types'
import PuOrganizationForm from './admin-organization-form.vue'

const toApiData = (fields): OrganizationData =>
  replaceKeys(flatten(fields), {
    background: 'background_url',
    logo: 'logo_url',
  })

export default Vue.extend({
  name: 'pu-view-admin-organizations-form',

  components: {
    PuOrganizationForm,
  },

  data() {
    const data: ComponentData = {
      organization: null,
    }

    return data
  },

  beforeRouteEnter(to, from, next) {
    next((vm: any) => {
      const { organizationUuid } = to.params

      if (organizationUuid) {
        vm.getByUuid(organizationUuid)
      }
    })
  },

  beforeRouteUpdate(to, from, next) {
    const { organizationUuid } = to.params

    if (organizationUuid) {
      this.getByUuid(organizationUuid)
    }

    next()
  },

  computed: {
    organizationUuid() {
      const { organizationUuid } = this.$route.params
      return organizationUuid
    },
  },

  methods: {
    ...mapActions('user', ['getUser']),
    async getByUuid(uuid: string) {
      if (!uuid) {
        this.$logger.error(
          'AdminOrganizationForm cannot get organization without uuid'
        )
        return
      }

      try {
        const { data: organization } = await findOne({ uuid })

        this.organization = organization
      } catch (error) {
        window.alert(error.message)
      }
    },
    async submit(fields: AdminOrganizationFormData) {
      const uuid = this.organizationUuid

      try {
        if (uuid) {
          const fieldsForPatch = difference(
            formDataToOrganization(fields),
            this.organization
          )
          if (isEmpty(fieldsForPatch)) {
            return
          }

          const data: OrganizationData = toApiData(fieldsForPatch)

          const { data: organization } = await update({ uuid }, { data })
          this.organization = organization
        } else {
          const data: OrganizationData = toApiData(
            formDataToOrganization(fields)
          )
          const { data: organization } = await create({ data })

          // @TODO: waarom moet dit? wordt admin ook member?
          this.getUser()

          this.$router.push({
            name: 'admin-organization-overview',
          })
        }

        const successMessage = this.$t(`heading.${uuid ? 'edit' : 'create'}`)
        window.alert(successMessage)
      } catch (error) {
        window.alert(error.summary)
      }
    },
  },
})
</script>

<i18n src="./content-admin-organization-form.nl.json"></i18n>

<style lang="scss">
@import 'content-admin-organization-form.scss';
</style>
