$slide-border-radius: 1.334rem;

// Force height en width of content section for now.
// We must find better solution to this -> 3 level deep 100% height divsoup?
.pu-route-find-awesome-work-journey > section {
  height: 100%;

  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

@include goingLarge(large) {
  .pu-tile-intermission {
    position: absolute;
    bottom: 0;
    z-index: 0;

    &:hover {
      z-index: 100;
    }
  }
}

.pu-carousel-journey {
  &-content,
  .pu-slide {
    width: 20rem;
    height: 28rem;

    @include goingLarge(small) {
      width: 24rem;
      height: 34rem;
    }

    @include goingLarge(medium) {
      width: 26rem;
      height: 32rem;
    }
  }


//   padding: 20px;

  .pu-slide {
    transition: all .4s linear;
  }


}

.pu-tile-intermission {
  opacity: 0;
  pointer-events: none;
}


@include goingLarge(large) {
  .pu-tile-intermission {
    position: absolute;
    bottom: 0;
    z-index: 0;
    opacity: 1;


    &:hover {
      z-index: 100;
    }
  }
}

