<template>
  <div class="pu-carousel-journey">
    <div class="pu-carousel-journey-content">
      <transition name="t-carousel-journey" mode="out-in">
        <pu-slide v-if="item" :key="counter">
          <slot :item="item" />
        </pu-slide>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import PuSlide from './slide.vue'
import Vue from 'vue'

import { lazyModelFactory } from '@/mixins/lazy-model'

export default Vue.extend({
  name: 'pu-carousel-journey',

  components: {
    PuSlide,
  },

  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      // used as key for transitions
      // and is incremented each time the getter changes.
      counter: 0,
    }
  },

  computed: {
    item() {
      // eslint-disable-next-line
      this.counter += 1
      return this.items[0]
    },
  },
})
</script>

<style lang="scss">
@import 'carousel.scss';
</style>
