<template>
  <div class="pu-slide">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'pu-carousel-slide',
})
</script>

<style lang="scss"></style>
